[2015-04-27 12:14] Mykhailo-Shtabaliuk-SoftServe commented on #287
@RudDaryna Дякую, за розяснення. Закриваю

[2015-04-27 12:14] #287 closed, assigned to nobody

[2015-04-27 12:54] Mykhailo-Shtabaliuk-SoftServe commented on #254
@maksimmaksimov Стосовно статусу:
Я правильно розумію, що користувач має підтвердити реєстрацію тільки на елетронній пошті ?
Чи це має відбутись іншим чином ?

[2015-04-27 12:56] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe вы правильно понимаете, пользователь когда переходит по ссылке на форму ввода пароля тем самым подтверждает регистрацию в системе.

[2015-04-27 13:06] Mykhailo-Shtabaliuk-SoftServe commented on #254
@maksimmaksimov В мене виникла наступна ситуація:
1. Залогуйтесь за користувача:
login: misha.multi@meta.ua
password: Password1
2. Перейдіть в Мій кабінет та натисніть Мої Організації
3. Розгорніть детальну інформацію про організацію
Зараз Організація цього користувача в статусі Неактивний, хоча користувач вже й підтвердив себе, при встановленні паролю.
Перегляньте будь-ласка цей випадок і скажіть

[2015-04-27 13:10] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe очень странно, я сегодня регистрировал нового пользователя с новой организацией, и до того момента, пока пользователь не подтвердил регистрацию, статус организации был Неактивна, а после того как пользователь подтвердил регистрацию, статус организации поменялся на Тимчасова.
А вы регистрировали договор с существующей организацией?

[2015-04-27 13:11] Mykhailo-Shtabaliuk-SoftServe commented on #254
@maksimmaksimov Ні, я зареєстрував нову організацію.

[2015-04-27 13:15] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe ясно, сейчас попробую воспроизвести ситуацию.

[2015-04-27 13:34] Mykhailo-Shtabaliuk-SoftServe opened #289 "Аукціон. Локалізація, тултіп не локалізований."
![image](https://cloud.githubusercontent.com/assets/11783631/7348553/3b47a6ee-ecfb-11e4-85e9-74466817a67c.png)

[2015-04-27 13:56] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe ситуация подтвердилась, статус организации остался Неактивна. Обсудим данную ситуацию с аналитиками.

[2015-04-27 14:14] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe Исправлено, просьба проверить. Статус организации должен быть "Тимчасова".

[2015-04-27 14:16] maksimmaksimov commented on #281
Исправлена, просьба проверить.

[2015-04-27 14:18] maksimmaksimov commented on #277
Исправлено, просьба проверить.

[2015-04-27 15:04] Mykhailo-Shtabaliuk-SoftServe commented on #254
@maksimmaksimov Підтверджую, тепер статус організації "Тимчасова". Я правильно розумію, що тепер по сценарію цей статус має змінити адміністратор ?

[2015-04-27 15:27] Mykhailo-Shtabaliuk-SoftServe commented on #282
Тепер зявляється повідомлення з наступним текстом:
'10.....1' має бути знаковим десятковим числом (дробове з роздільником . або ,). Приклад: 198.23
Питання: чи коректний текст повідомлення, оскільки не дуже зрозуміло, що означає знакове число?

[2015-04-27 15:30] #280 closed, assigned to nobody

[2015-04-27 15:34] #281 closed, assigned to nobody

[2015-04-27 15:35] #279 closed, assigned to nobody

[2015-04-27 15:41] MaryanaDemtsyukh-SoftServe commented on #277
Дефект виправлено.

[2015-04-27 15:41] #277 closed, assigned to nobody

[2015-04-27 16:02] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe Да, все верно, пользователь связывается с администратором вне системы, и администратор меняет статус организации/договора и пользователя.

[2015-04-28 00:32] prozorro-support opened #290 "Пропозиції всіх учасників тендера"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [81](https://prozorro.zendesk.com/agent/#/tickets/81)
**Priority:** high
**Zendesk assignee:** Служба підтримки/Мирослав

**Original ticket content:**

http://e-tender.biz/#/tenderDetailes/bcfd5df24a274eb982638d86d3c95ef1 відображає інформацію тільки про претендента, а має відображати про всіх учасників (разом з їх документаці

[2015-04-28 00:32] prozorro-support commented on #290
_Comment from Zendesk by myroslav@quintagroup.com at 2015-04-27 15:18:33 UTC:_

<p><a href="http://e-tender.biz/#/tenderDetailes/bcfd5df24a274eb982638d86d3c95ef1" rel="nofollow noreferrer" target="_blank">http://e-tender.biz/#/tenderDetailes/bcfd5df24a274eb982638d86d3c95ef1</a> відображає інформацію тільки про претендента, а має відображати про всіх учасників (разом з їх документацією).</p>

<p>Ми

[2015-04-28 07:08] maksimmaksimov commented on #231
Ошибка исправлена. Уведомления при добавлении и рассмотрении жалоб ходят. Уведомление о рассмотрении жалобы будет доработано.

[2015-04-28 08:40] Mykhailo-Shtabaliuk-SoftServe commented on #227
@maksimmaksimov Проблема досі відтворюється і я не можу з'ясувати різницю між двома браузерами однакової версії. Прошу добавити мене в скайпі Mykhailo Shtabaliuk для подальшого зв'язку (можливо ремоут сесії)

[2015-04-28 08:42] maksimmaksimov commented on #227
@Mykhailo-Shtabaliuk-SoftServe дело в том, что повторить ошибку пытался не я, а разработчик, и он мне сообщил, что не может воспроизвести

[2015-04-28 08:44] Mykhailo-Shtabaliuk-SoftServe commented on #227
@maksimmaksimov якщо є можливість, то хотілось би звязатись з ним, можливо він зясує в чому проблема.

[2015-04-28 08:45] maksimmaksimov commented on #227
@Mykhailo-Shtabaliuk-SoftServe Попробую посодействовать

[2015-04-28 09:04] Mykhailo-Shtabaliuk-SoftServe opened #291 "Public-bid, Користувач який належить до організації в статусі Неактивний, може створювати та оголошувати закупівлі"
1. Перейдіть за посиланням https://public-bid.com.ua/
2. Залогуйтесь за користувача:
   login: misha.a@meta.ua
   password: Password3
3. Зайдіть в Мій кабінет та переконайтесь, що організація "МІШААМЕТАЮА" в статусі Неактивний
   ![image](https://cloud.githubusercontent.com/assets/11783631/7366048/2d2d8f1c-ed9e-11e4-921e-213823a55ac6.png)
4. Перейдіть на Закупівлі, та оберіть фільтр Мої закупівлі

[2015-04-28 09:08] maksimmaksimov commented on #291
@Mykhailo-Shtabaliuk-SoftServe Подскажите, пожалуйста код угоди и какой статус угоди? Статус организации не влияет на возможность создания и объявления закупок. Проверяется статус угоди

[2015-04-28 09:09] Mykhailo-Shtabaliuk-SoftServe commented on #291
@maksimmaksimov номер угоди 440, статус угоди Підтверджений

[2015-04-28 09:09] w-be opened #292 "Public-bid. Створення закупівлі. В додатковому предметі закупівлі повідомлення про обов'язкові поля містить лишній текст."
![image](https://cloud.githubusercontent.com/assets/11888281/7366224/54f6b144-ed9f-11e4-8e60-dc53cc09e96f.png)
1. Натиснути Нова закупівля.
2. Натиснути в Деталях закупівлі Додати предмет
3. Заповнити обов"язкові поля до Додаткового предмету
4. Натиснути Зберегти

Очікувано: З'являються повідомлення: "Поле обов'язкове для заповненя".

Фактично: З'являються повідомлення типу: "mForm:data:j_idt1912:

[2015-04-28 09:10] maksimmaksimov commented on #292
@w-be Ошибка известна. Будет исправлена.

[2015-04-28 09:11] maksimmaksimov commented on #291
@Mykhailo-Shtabaliuk-SoftServe угода подтверждена - объявление закупок разрешено.

[2015-04-28 09:12] Mykhailo-Shtabaliuk-SoftServe commented on #291
@maksimmaksimov добре, дякую за розяснення. Закриваю.

[2015-04-28 09:12] #291 closed, assigned to nobody

[2015-04-28 09:22] Mykhailo-Shtabaliuk-SoftServe opened #293 "Public-bid, При спробі оновоити прикріплений файл до закупівлі в періоді уточнень, відображається некоректне ім'я файлу"
1. Перейдіть за посиланням https://public-bid.com.ua
2. Залогуйтесь за користувача з можливістю створювати закупівлі
3. Створіть закупівлю та дочекайтесь до статусу Період уточнень
4. Зайдіть на картку закупівлі та оновіть прикріплений файл, файлом з іншим іменем.

Очікуваний результат:
4.Попередньо прикріплений файл буде відображено, як перекреслений, а імя нового файлу буде відображатись.
Фактич

[2015-04-28 09:25] maksimmaksimov commented on #293
@Mykhailo-Shtabaliuk-SoftServe Не является ошибкой, первый файл, который был загружен, попадает в ЦБД, и при обновлении изменить название уже нет возможности, т.к. в ЦБД отсутствует возможность удаления файлов.

[2015-04-28 09:26] Mykhailo-Shtabaliuk-SoftServe commented on #293
@maksimmaksimov тобто, якщо я спершу завантажив файл, з розширення *.doc, а потім почались запитання і я замінив файл на *.xls де добавив уточняючі параметри, то файл для всіх буде видимий як *.doc і ніхто його просто непрочитає.
Це коректна поведінка ?

[2015-04-28 09:28] maksimmaksimov commented on #293
Уточню у разработчиков.

[2015-04-28 09:34] maksimmaksimov commented on #293
Ошибка. Будет исправлена.

[2015-04-28 09:35] MaryanaDemtsyukh-SoftServe opened #294 "[Public-bid] [Оцінка учасника] Кандидат немає можливості додати кваліфікаційні документи через відсутність контролів"
Веб-браузер: Google Chrome v.42.0.2311.90; Mozilla Firefox 37.0.2
Передумови: користувач зареєстрований і авторизаний у системі (pavlo.ukrop@outlook.com <Password1>), подав пропозицію на участь в аукціоні, успішно відбувся аукціон, користувач зареєстрований як кандидат на перемогу, відповідний електронний лист прийшов на адресу користувача
Кроки для відтворення:
1. Відкрити електронний лист про ре

[2015-04-28 09:37] maksimmaksimov commented on #294
@MaryanaDemtsyukh-SoftServe ссылки из уведомлений ведут на форму предложения без авторизации. Для того чтобы добавить предложение надо авторизоваться и найти свое предложение.

[2015-04-28 10:34] MaryanaDemtsyukh-SoftServe opened #295 "[Public-bid] [Оцінка учасника] Замовник не може дискваліфікувати або присвоїти звання переможця аукціону якщо попередньо не додав рішення тендерного комітету"
Веб-браузер: Google Chrome v.42.0.2311.90; Mozilla Firefox 37.0.2
Передумови: користувач зареєстрований і авторизаний у системі Замовником (petro.ukrop@outlook.com <Password1>), оголосив закупівлю, учасники подали пропозиції, успішно відбувся аукціон, закупівля перебуває в статусі Кваліфікація переможця
Кроки для відтворення:
1. Перейти в Мій кабінет
2. Вибрати Мої закупівлі
3. Знайди закупівлю №

[2015-04-28 10:37] maksimmaksimov commented on #295
@MaryanaDemtsyukh-SoftServe Загальна помилка - это проблема нехватки места на сервере БД, сейчас решаем эту проблему.

[2015-04-28 10:57] maksimmaksimov commented on #295
@MaryanaDemtsyukh-SoftServe По сценарию оценки кандидатов заказчиком, в нашей системе реализовано следующим образом:
1.Если необходимо дисквалифицировать участника, необходимо а) открыть форму "Результаты оценки"; б) прикрепить документ в) нажать кнопку "Дискваліфікувати учасника"; г) выбрать причину (причины) дисквалификации; д) сохранить изменения.
2.Для присвоения звания победителя, необходимо

[2015-04-28 10:57] maksimmaksimov commented on #295
@MaryanaDemtsyukh-SoftServe а ещё вопрос, откуда такое требование:
Очікуваний результат 2: Замовник не повинен мати змоги зберігати оцінку якщо учасник не дикваліфікований або не призначений переможцем аукціону.
?
По описанному мной сценарию, пользователь либо выбирает победителя, либо дисквалифицирует участника - и он должен иметь возможность сохранить оценку.

[2015-04-28 11:10] maksimmaksimov commented on #295
@MaryanaDemtsyukh-SoftServe Загальной помилки уже быть не должно.

[2015-04-28 11:25] maksimmaksimov commented on #282
Сообщение поменяем.

[2015-04-28 12:03] MaryanaDemtsyukh-SoftServe commented on #295
Дякую за уточнення сценарію оцінки учасників Замовником.
Суть дефекту полягає в певній невідповідності:  форма оцінки учасників не дозволяє користувачеві продовжити наступнії дії щодо оцінки якщо не доданий обов'язковий файл (так як кнопки неактивні), а натомість форми реєстрації користувачів та створення закупівель дозволяють "повертатись" щоб заповнити/редагувати обов'язкові поля і дозволяють за

[2015-04-28 12:26] maksimmaksimov commented on #295
Не совсем так, если вы при оценке кандидата нажали на кнопку "Дискваліфікувати учасника" или "Присвоїти звання переможця" и перед этим не добавили документ - вы можете документ добавить, после чего сохранить результаты оценки.
Т.е. форма оценки позволяет пользователю продолжить следующие действия по оценке, если не был добавлен обязательный файл - кнопки перестают быть активными, т.к. мы уже переш

[2015-04-28 12:58] Mykhailo-Shtabaliuk-SoftServe commented on #227
Пофіксано, перевірено. Дякую за плідну роботу, Закриваю.

[2015-04-28 12:58] #227 closed, assigned to nobody

[2015-04-28 12:59] #217 closed, assigned to nobody

[2015-04-28 13:10] maksimmaksimov commented on #272
@Mykhailo-Shtabaliuk-SoftServe Ошибка исправлена

[2015-04-28 13:13] maksimmaksimov commented on #213
Ошибка исправлена

[2015-04-28 13:27] Mykhailo-Shtabaliuk-SoftServe commented on #272
Перевірено, тепер спец символи латинської мови підтримуються полем пароль.
Підтвердіть будь ласка, що кириличні спецсимволи та й загалом кирилиця неповинна підтримуватись цим полем

[2015-04-28 13:28] #213 closed, assigned to nobody

[2015-04-28 13:57] maksimmaksimov commented on #272
Кириллица поддерживается для паролей, я успешно изменил пользователю пароль на "Парольq1"

[2015-04-28 13:59] Mykhailo-Shtabaliuk-SoftServe commented on #272
Я пробую змінити пароль на "Пароль№№" - у мене зявляється повідомлення:
"Довжина паролю має бути 8-20 символів і містити нелітеральні знаки та латинські літери"

[2015-04-28 14:00] maksimmaksimov commented on #272
Покажите, пожалуйста, где в слове "Пароль№№" латинские буквы?

[2015-04-28 14:01] Mykhailo-Shtabaliuk-SoftServe commented on #272
Перепрошую, зрозумів свою помилку. Закриваю.

[2015-04-28 14:01] #272 closed, assigned to nobody

[2015-04-28 14:01] maksimmaksimov commented on #272
ничего, :)

[2015-04-28 14:25] Mykhailo-Shtabaliuk-SoftServe opened #296 "Public-bid, Мій кабінет, Зміна паролю, з'являється незрозуміле повідомлення про помилку"
1. Залогуйтесь в систему https://public-bid.com.ua
2. Перейдіть в Мій кабінет > Натисніть змінити пароль
3. Заповніть поля:

Поточний пароль: "Password1" - має бути недійсним паролем
Новий пароль: "Password2"
Підтвердження пароля: "Password3"
Натисніть кнопку змінити пароль (Зявляється повідомлення про те що паролі не співпадають)
4. Заповінть поля:

Поточний пароль: "Password1"
Новий пароль: "Pas

[2015-04-28 14:33] maksimmaksimov commented on #296
Ошибка известна, на данный момент проводятся работы по устранению.

[2015-04-28 15:18] Mykhailo-Shtabaliuk-SoftServe commented on #283
![image](https://cloud.githubusercontent.com/assets/11783631/7373004/ab438742-edd2-11e4-984f-8238c2bcdf81.png)
@maksimmaksimov також прошу розглянути наступний кейс:
Користувач при реєстрації вказує своє подвійне ім'я через дефіс наприклад "Анна-Марія" але в процесі проходження реєстрації тільки перша буква залишається з великої літери.
Погоджуюсь, що загалом людей з подвійним ім'ям небагато але в

[2015-04-29 06:54] maksimmaksimov commented on #283
Данное поведение ошибочное. Будет исправлено.

[2015-04-29 07:11] maksimmaksimov commented on #288
Знак вопроса добавили.

[2015-04-29 07:11] maksimmaksimov commented on #286
Исправлена.

[2015-04-29 07:22] maksimmaksimov commented on #296
Ошибка исправлена.

[2015-04-29 08:07] maksimmaksimov commented on #249
Исправлено, ЕДРПОУ подсвечивается цветом.

[2015-04-29 08:14] #264 closed, assigned to nobody

[2015-04-29 08:14] maksimmaksimov commented on #295
Данное замечание не является ошибкой, просьба закрыть.

[2015-04-29 08:14] maksimmaksimov commented on #294
Данное замечание не является ошибкой, просьба закрыть.

[2015-04-29 08:15] #296 closed, assigned to nobody

[2015-04-29 08:18] #288 closed, assigned to nobody

[2015-04-29 08:22] #294 closed, assigned to nobody

[2015-04-29 08:25] #249 closed, assigned to nobody

[2015-04-29 08:37] maksimmaksimov commented on #275
Исправлено.

[2015-04-29 08:41] #295 closed, assigned to nobody

[2015-04-29 08:43] MaryanaDemtsyukh-SoftServe commented on #275
Дефект виправлено

[2015-04-29 08:43] #275 closed, assigned to nobody

[2015-04-29 09:00] maksimmaksimov commented on #233
Данное замечание не является ошибкой, к закупке UA-2015-04-16-000049 не было добавлено жалоб, соответственно и истории жалоб нет.

[2015-04-29 09:03] maksimmaksimov commented on #253
Исправлено. Сообщение пользователю поменяли.

[2015-04-29 09:03] maksimmaksimov commented on #254
Можно закрывать issue

[2015-04-29 09:04] maksimmaksimov commented on #260
Исправлено

[2015-04-29 09:08] Mykhailo-Shtabaliuk-SoftServe commented on #254
@maksimmaksimov досі відтворюється, чи вважати це коректною поведінкою ?
![image](https://cloud.githubusercontent.com/assets/11783631/7387744/570fe90e-ee68-11e4-8ab7-bf1c9ef8fd74.png)

[2015-04-29 09:10] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe я не обратил на это внимание, пока исправляется.

[2015-04-29 09:15] #286 closed, assigned to nobody

[2015-04-29 09:24] maksimmaksimov commented on #283
Исправлено, убрали перевод значений в верхний регистр.

[2015-04-29 09:26] Mykhailo-Shtabaliuk-SoftServe commented on #260
![image](https://cloud.githubusercontent.com/assets/11783631/7388043/db312fde-ee6a-11e4-92a8-4a760d888300.png)
@maksimmaksimov підтвердіть будь ласка, що дане повідомлення про максимальну кількість користувачів реалізовано і відображається вірно.

[2015-04-29 09:27] maksimmaksimov commented on #260
Да, реализовано верно

[2015-04-29 09:27] Mykhailo-Shtabaliuk-SoftServe commented on #260
дякую, Закриваю.

[2015-04-29 09:27] #260 closed, assigned to nobody

[2015-04-29 10:05] Mykhailo-Shtabaliuk-SoftServe opened #297 "Public-bid, Підтвердіть будь ласка, що користувач при реєстрації має мати можливість вибрати Неактивну організацію та продовжити реєстрацію"
1. Перейдіть на https://public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач
3. Введіть валідні дані та натисніть Далі
4. Введіть код ЄДРПОУ організації зі статусом "Неактивний"
5. Натисніть Продовжити реєстрацію

Фактичний результат:
5. Користувачеві з'являється повідомлення про те що "Угоду успішно зареєстровано. Ключ надіслано на Вашу електронну адресу!"

[2015-04-29 11:06] maksimmaksimov commented on #297
Пользователь может выбирать неактивную организацию. Требованиями это не запрещено.

[2015-04-29 11:56] w-be commented on #233
Закриваю, як не баг.

[2015-04-29 11:56] #233 closed, assigned to nobody

[2015-04-29 11:59] Mykhailo-Shtabaliuk-SoftServe commented on #297
@maksimmaksimov якщо я правильно розумію, то такі угоди в подальшому має заблокувати або просто не підтвердити адміністратор ?

[2015-04-29 12:00] maksimmaksimov commented on #297
@Mykhailo-Shtabaliuk-SoftServe все верно, так и есть

[2015-04-29 12:01] Mykhailo-Shtabaliuk-SoftServe commented on #297
Дякую, зрозуміло. Закриваю

[2015-04-29 12:01] #297 closed, assigned to nobody

[2015-04-29 14:09] Mykhailo-Shtabaliuk-SoftServe opened #298 "Public-bid, Якщо користувач спочатку зареєструвався, як спостерігач, а потім дореєстрував Мульти Угоду то він має можливість створювати і оголошувати закупівлі без будь-яких підтверджень Адміністратора"
Пройдіть тест сценарій який показано на скріншотах:
1. Перейдіть по посиланню https://public-bid.com.ua/
2. Натисніть кнопку Реєстрація/Вхід
3. Заповніть поля:
Ваш унікальний e-mail: misha.observer@meta.ua
Прзівище, Ім'я та по батькові: Споглядач Михайло УгодоСпостерігачович
Тип угоди: Угода спостерігача
4. Натисніть Далі
5. З отриманого листа візьміть ключ-доступу та завершіть реєстрацію
6. Зайді

[2015-04-29 14:16] Mykhailo-Shtabaliuk-SoftServe opened #299 "Public-bid, Створення закупівлі. Використання іноземного слова на формі закупівлі"
![image](https://cloud.githubusercontent.com/assets/11783631/7392903/7b2d0210-ee93-11e4-9c5d-0f2474bdb88a.png)

[2015-04-29 14:37] maksimmaksimov commented on #298
@Mykhailo-Shtabaliuk-SoftServe По требованиям к системе:
1) Пользователь может иметь сколько угодно договоров с площадкой паблик-бид;
2) Тимчасовий пользователь имеет право создавать закупки. Объявлять не может - и я это проверил, действительно объявление закупки запрещено.

[2015-04-29 14:39] Mykhailo-Shtabaliuk-SoftServe commented on #298
@maksimmaksimov
Так у тому то й справа, що користувач який спостерігач зразу заходить в систему і він має статус підтвердженого, а не Тимачсового.

[2015-04-29 14:39] maksimmaksimov commented on #298
@Mykhailo-Shtabaliuk-SoftServe Такое требование у нас к системе

[2015-04-29 14:41] Mykhailo-Shtabaliuk-SoftServe commented on #298
@maksimmaksimov Через цю вимогу, з'являється діра в системі, користувач стає підтвердженим бо він спостерігач, реєструє собі додаткову мульти-угоду і при тому залишається підтвердженим і може створювати і оголошувати закупівлі.

[2015-04-29 14:42] maksimmaksimov commented on #298
@Mykhailo-Shtabaliuk-SoftServe проверю эту дыру.

[2015-04-29 14:54] maksimmaksimov commented on #298
@Mykhailo-Shtabaliuk-SoftServe  Также добавлю по этому пункту:
"4. Після реєстрації, директор не розуміє, чому йому не прийшов лист "
От вас уже поступало подобное замечание и на данный момент проводятся работы по исправлению.

[2015-04-29 14:55] Mykhailo-Shtabaliuk-SoftServe commented on #298
@maksimmaksimov так, я вже заводив цю помилку і нагадую про неї ще раз оскільки в окремому питанні https://github.com/openprocurement/frontend/issues/253 останній комент каже, що вона виправлена.

[2015-04-29 14:56] maksimmaksimov commented on #298
@Mykhailo-Shtabaliuk-SoftServe мы помним

[2015-04-29 15:38] Mykhailo-Shtabaliuk-SoftServe commented on #283
Перевірено, більше не відображається все верхнім регістром.
![image](https://cloud.githubusercontent.com/assets/11783631/7394864/f3fd6e86-ee9e-11e4-89c8-31ca94863a22.png)
Бага з подвійним ім'ям все ще відтворюється

[2015-04-29 16:08] maksimmaksimov commented on #283
@Mykhailo-Shtabaliuk-SoftServe Да, ошибку с двойным именем ещё не исправили

[2015-04-30 06:48] maksimmaksimov commented on #283
@Mykhailo-Shtabaliuk-SoftServe Ошибку с двойным именем исправили.

[2015-04-30 06:50] maksimmaksimov commented on #282
Сообщение для поля "Кількість" поменяли на:
"Не вірний формат поля, допускаються цілі числа, або дробові (роздільник крапка)"

[2015-04-30 06:50] maksimmaksimov commented on #299
Исправлено.

[2015-04-30 06:52] maksimmaksimov commented on #293
Исправлено

[2015-04-30 10:30] Mykhailo-Shtabaliuk-SoftServe opened #300 "Public-bid, Скажіть будь ласка, якщо закупівля в статусі "Завершена закупівля" чи повинна бути реалізована перевірка на коректніть дати підписання договору ?"
![image](https://cloud.githubusercontent.com/assets/11783631/7410846/4d416014-ef3b-11e4-85e5-65c09f0f8af1.png)
На даний момент така перевірка відсутня і гіпотетично замовник може переплутати день підписання договору і поставити там дату, на тиждень раніше від сьогоднішнього дня.
Також скажіть будь-ласка чи повинна бути реалізована нотифікація переможця через емейл, з приблизним текстом: "Вам призн

[2015-04-30 10:34] #254 closed, assigned to nobody

[2015-04-30 10:37] #282 closed, assigned to nobody

[2015-04-30 10:40] #299 closed, assigned to nobody

[2015-04-30 10:48] Mykhailo-Shtabaliuk-SoftServe commented on #252
Перевірено, Тепер з'являється повідомлення з наступним текстом: "Поштовий індекс має бути введений у форматі 00000". Закриваю

[2015-04-30 10:48] #252 closed, assigned to nobody

[2015-04-30 10:57] Mykhailo-Shtabaliuk-SoftServe opened #301 "Public-bid, Реєстрація користувача. Користувач зависає на другому етапі реєстрації з ключем доступу, без жодних повідомлень про помилку"
1. Перейдіть за посиланням https://public-bid.com.ua/
2. Натисніть кнопку Реєстрація/Вхід
3. Пройдіть процедуру реєстрації до отримання ключа доступу
4. Введіть всі дані як показано на скріншоті та настисніть кнопку Продовжити реєстрацію
   ![image](https://cloud.githubusercontent.com/assets/11783631/7411418/8695db1a-ef40-11e4-82b6-300d5eb97e04.png)

Очікуваний результат:
4. Користувач продовжить

[2015-04-30 11:00] maksimmaksimov commented on #300
@Mykhailo-Shtabaliuk-SoftServe Требованиями к системе не предусмотрены подобные нотификации.
Проверка даты подписания договора, также не предусмотрена требованиями.

[2015-04-30 11:01] Mykhailo-Shtabaliuk-SoftServe commented on #300
@maksimmaksimov Дякую за відповідь. Закриваю.

[2015-04-30 11:01] #300 closed, assigned to nobody

[2015-04-30 11:13] maksimmaksimov commented on #301
@Mykhailo-Shtabaliuk-SoftServe Просьба повторно выполнить регистрацию, должна работать.

[2015-04-30 12:01] Mykhailo-Shtabaliuk-SoftServe commented on #301
@maksimmaksimov перевірено, вже пропускає далі. Закриваю

[2015-04-30 12:01] #301 closed, assigned to nobody

[2015-04-30 12:07] #283 closed, assigned to nobody

[2015-04-30 12:50] maksimmaksimov commented on #298
@Mykhailo-Shtabaliuk-SoftServe По данному замечанию:
1) Ситуацию, когда пользователь зарегистрировался как наблюдатель, а потом зарегистрировал мульти-договор поправили, теперь объявлять закупки нет возможности.
2) По поводу того, что во втором договоре указано ФИО первого пользователя - такая логика работы нашей системы, в таблице пользователей создается запись, в приведенном вами примере это: mi

[2015-04-30 13:00] maksimmaksimov commented on #253
Ошибка на доработке.

[2015-04-30 13:01] maksimmaksimov commented on #292
Были переделаны сообщения пользователю. Ошибка исправлена.

[2015-04-30 13:07] Mykhailo-Shtabaliuk-SoftServe opened #302 "Public-bid, Період уточнень. Якщо завантажити файл, та одразу ж оновити старий файл. Завантажений файл зникає без попереджень/повідомлень"
1. Залогуйтесь в систему за користувача:
   login:  misha.uch@meta.ua
   password: Password1
2. Перейдіть до закупівлі UA-2015-04-30-000040
3. Завантажте файл будь-якого формату - не натискаючи кнопку Зберегти
4. Оновіть файл який існував раніше, а не був тільки но завантажений
5. Натисніть кнопку Зберегти

Очікуваний результат:
5. Файл який було завантажено, та файл який було оновлено повинно від

[2015-04-30 13:34] #293 closed, assigned to nobody

[2015-04-30 14:55] Mykhailo-Shtabaliuk-SoftServe commented on #298
@maksimmaksimov стосовно першого зауваження:
1. Перевірено, тепер користувач який був Підтвердженим добавивши нову угоду стає знову Тимчасовим. - це виправило ситуацію.
2. Перевірено також, якщо користувач був спостерігачем, а потім був запрошеним в Мульти-угоду також стає Тимчасовим, після того його призначили куратором.
3. Користувач який тільки но став куратором видаляє з угоди людину яка, взял

[2015-05-05 07:36] Mykhailo-Shtabaliuk-SoftServe opened #303 "Public-bid, Неможливо переглянути результати аукціону з розгорнутої картки закупівлі"
1. Залогуйтесь в систему https://public-bid.com.ua/

login: misha.uch@meta.ua
password: Password1
2. Знайдіть аукціон UA-2015-04-30-000049
3. Розгорніть аукціон та натисніть кнопку Відкрити детальну інформацію
4. На картці закупівлі натисніть кнопку Результати аукціону
![image](https://cloud.githubusercontent.com/assets/11783631/7468527/65726e14-f312-11e4-964b-62ffdf95b826.png)

Очікуваний результ

[2015-05-05 09:51] S-Shevchenko commented on #248
@MaryanaDemtsyukh-SoftServe Спасибо, взяли в работу.

[2015-05-05 09:57] S-Shevchenko commented on #245
@MaryanaDemtsyukh-SoftServe  Спасибо. Исправили.  Проверьте пожалуйста.

[2015-05-05 09:58] S-Shevchenko commented on #243
@MaryanaDemtsyukh-SoftServe Спасибо. Исправили. Проверьте пожалуйста.

[2015-05-05 10:06] S-Shevchenko commented on #199
Спасибо. Задача на рассмотрении.

[2015-05-05 12:09] Mykhailo-Shtabaliuk-SoftServe opened #304 "Public-bid, Сторінка авторизації. Підтвердіть будь ласка, що функціонал цих кнопок ще не реалізовано"
![image](https://cloud.githubusercontent.com/assets/11783631/7472209/ad0bfcb0-f338-11e4-8da9-4d6e65888c9b.png)

[2015-05-05 12:13] MaryanaDemtsyukh-SoftServe commented on #243
Дефект виправлено.

[2015-05-05 12:13] #243 closed, assigned to lerich

[2015-05-05 12:32] w-be opened #305 "Неткаст. Кабінет Редагуваня Профіля. Неможливо завантажити лого компанії."
http://www.dz2.byustudio.in.ua/cabinet/profile
1. Залогінитись
2. Натиснути профіль
3. Прокрутити сторінку в низ
4. Натиснути Додати файл
5. Вибрати невеликий графічний файл (jpeg)
6. Натиснути кнопку Зберегти

Очікувано: В контролі Аватар залишається завантажена картинка.

Фактично: В контролі Аватар стандартна картинка порожнього аватару. Ще й активна функція видаленя аватару.
![image](https://c

[2015-05-05 13:55] w-be opened #306 "Неткаст. Кабінет та Логін. Лишні символои на панелі головного меню."
http://www.dz2.byustudio.in.ua/cabinet/notices
1. Залогуйтесь
2. Перейдіть до сторінки Повідомлення

Очікувано: На панелі меню Повідомлення під заголовком: а) порожньо; або б) знаходиться пояснювальний текст.

Фактично: На панелі меню Повідомлення під заголовком знаходяться лишні символи: "ві"
![image](https://cloud.githubusercontent.com/assets/11888281/7473638/4fa8440e-f345-11e4-9513-d483d01e0139

[2015-05-05 14:00] w-be opened #307 "Неткаст. Кабінет. Повідомлення. Некоректний текст про відсутність повідомлень."
http://www.dz2.byustudio.in.ua/cabinet/notices

Передумова: У користувача не повинно бути повідомлень.
1. Залогінтесь
2. Перейдіть повідомлень
Очікувано:
Як і на їнших сторінках відображено текст:"Наразі немає записів, що відповідали б критеріям пошуку"

Фактично:
відображено код фрази: "?:no notice"
![image](https://cloud.githubusercontent.com/assets/11888281/7474111/f23b13f2-f347-11e4-90a6-be54d

[2015-05-05 14:40] Mykhailo-Shtabaliuk-SoftServe opened #308 "NewTend, Створення тендера, некоректна поведінка дейтпікерів"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть на сторінку створення закупівлі http://dev23.newtend.com/openprocurement/#/create-tender
3. Натисніть по дейтпікерах знизу до верху

Очікуваний результат:
Вибравши дейтпікер який відповідає за: "Конец регистрации пр

[2015-05-05 14:53] Mykhailo-Shtabaliuk-SoftServe opened #309 "NewTend, Створення тендера, незвичний функціонал меню вибору класифікатора"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть на сторінку створення закупівлі http://dev23.newtend.com/openprocurement/#/create-tender
3. Натисніть по будь-якому полі класифікатор

Очікуваний результат:
Зправа з'являється поле з великим чорним хрестиком в право

[2015-05-05 14:58] Mykhailo-Shtabaliuk-SoftServe opened #310 "NewTend, Створення тендера, одиниці виміру"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть на сторінку створення закупівлі http://dev23.newtend.com/openprocurement/#/create-tender
3. Відкрийте дроп-даун меню для поля одиниці виміру:

Очікуваний результат:
Оскільки слово "Пачка" провідміняли і в нас присут

[2015-05-05 15:00] w-be opened #311 "Неткаст. Головне меню. Підтвердіть будь-ласка необхідність 2-х виходів на формі."
http://www.dz2.byustudio.in.ua/cabinet/notices

![image](https://cloud.githubusercontent.com/assets/11888281/7475082/2bf8ec58-f34e-11e4-9b45-28633dc8511e.png)

Прошу розглянути пропозицію видалити іконку виходу (найлівіший контрол в меню).
1. Цей контрол вже є продубльований досить зручним і звичним чином - напис "ВИХІД" найправіший контрол в меню.
2. Зазвичай такі контроли ставлять один справа в

[2015-05-05 15:04] Mykhailo-Shtabaliuk-SoftServe opened #312 "NewTend, Створення тендера > Відміна створення тендеру"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть на сторінку створення закупівлі http://dev23.newtend.com/openprocurement/#/create-tender
3. Натисніть кнопку Отменить

Очікуваний результат:
Користувач буде перенаправлений на головну сторінку

Фактичний результат:

[2015-05-05 15:47] Mykhailo-Shtabaliuk-SoftServe opened #313 "NewTend, Створення тендера, Обрізаний скрол бар"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть на сторінку створення закупівлі http://dev23.newtend.com/openprocurement/#/create-tender

Очікуваний результат:
Скрол бар повинен бути повністю видимий

Фактичний результат:
Скрол бар зправа обрізаний і зображений н

[2015-05-06 06:22] maksimmaksimov commented on #304
Подтверждаем, данные кнопки пока что в виде заглушек

[2015-05-06 06:26] maksimmaksimov commented on #303
По неизвестным причинам кнопка "сломалась". Ошибка будет исправлена.

[2015-05-06 06:30] maksimmaksimov commented on #302
Ошибка будет исправлена.

[2015-05-06 06:37] maksimmaksimov commented on #298
@Mykhailo-Shtabaliuk-SoftServe на самом деле в этой ситуации только пользователь является Тимчасовим, его договор является Підтвердженим. А подтверждать пользователя может только администратор.

[2015-05-06 08:00] Mykhailo-Shtabaliuk-SoftServe opened #314 "NewTend, Перегляд тендера. Описка у слові "Классификатор""
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до перегляду вже існуючих тендерів
3. Відкрийте для перегляду будь-який

Очікуваний результат:
При російській локалізації мав би бути "Классификатор"
Фактичний результат:
При створені тендеру, поле без описки, а при перегляді

[2015-05-06 08:07] maksimmaksimov commented on #253
Ошибка исправлена. Если пользователь регистрируется второй и т.д. раз - он получает сообщение: "Вітаємо, реєстрацію завершено, бажаємо приємного користування"

[2015-05-06 08:33] Mykhailo-Shtabaliuk-SoftServe commented on #253
![image](https://cloud.githubusercontent.com/assets/11783631/7489812/8841f9ce-f3e3-11e4-981b-9188528db357.png)
Перевірено, тепер з'являється таке повідомлення. При реєстрації додаткового договору.

[2015-05-06 08:33] #253 closed, assigned to nobody

[2015-05-06 09:14] Mykhailo-Shtabaliuk-SoftServe opened #315 "NewTend, Кваліфікація переможця при натисканні кнопки "Отказать" з'являється вікно з некоректним текстом або функціоналом."
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до тендера, аукціон якого вже завершився
3. Виберіть кандидата в статусі "Ожидает решения"
4. Натисніть кнопку "Отказать"
5. Натисніть контрол "Загрузите документы" та завантажте будь-який файл
6. Натисніть повторно на цей кон

[2015-05-06 09:22] Mykhailo-Shtabaliuk-SoftServe opened #316 "NewTend, Кваліфікація переможця. Незрозуміло чому на цьому етапі внизу екрану відображається можливість зробити ставку"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до тендера, аукціон якого вже завершився

Очікуваний результат:
Користувач не повинен бачити можливість робити ставку оскільки аукціон вже відбувся
Фактичний результат:
Користувач бачить можливість зробити ставку по завершенні

[2015-05-06 09:25] maksimmaksimov commented on #284
@Mykhailo-Shtabaliuk-SoftServe Ошибка исправлена.

[2015-05-06 09:25] Mykhailo-Shtabaliuk-SoftServe opened #317 "NewTend, Кваліфікація переможця. Відсутня можливість видалити випадково прикріплений документ"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до тендера, аукціон якого вже завершився
3. Призначте переможця
4. Натисніть кнопку "Загрузить договор" та прикріпіть файл
5. Спробуйте видалити випадково прикріплений файл

Очікуваний результат:
5. Користувач повинен мати мож

[2015-05-06 09:29] Mykhailo-Shtabaliuk-SoftServe opened #318 "NewTend, Кваліфікація переможця. Підтвердіть будь ласка, що файл audit.yaml повинен відображатись в тендерній документції після аукціону"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до тендера, аукціон якого вже завершився
3. Перегляньте документи тендера
![image](https://cloud.githubusercontent.com/assets/11783631/7490713/81047ef4-f3eb-11e4-9153-e9570f61b8f2.png)

[2015-05-06 10:31] MaryanaDemtsyukh-SoftServe commented on #245
Для даних користувачів (логін: tester пароль: 012345678 або логін: victor_qc пароль: 12345678) дефект відтворюється і результат залишається незмінним - ці користувачі не можуть авторизуватись у систему. Однак для нових зареєстрованих користувачів цієї проблеми немає.
Підтвердіть будь ласка що вище згадані користувачі присутні в базі даних користувачів цього майданчику.

[2015-05-06 12:24] w-be opened #319 "Неткаст. Логін. Не зрозумілий підпис поля підтверження при введені некоректного пароля."
http://www.dz2.byustudio.in.ua/cabinet
1. На формі логіна ввести неправильний пароль і правельний логін
2. Натиснути кнопку Вхід в кабінет
3. Повторити 3 рази

Очікувано: З'являється поле, яке допомагає залогінитись(нагадати пароль)

Фактично: З'являється поле, яке має підпис-заглушку: "?:u check"
![image](https://cloud.githubusercontent.com/assets/11888281/7492755/f26b5d0c-f403-11e4-88b6-f4da28d7

[2015-05-06 12:35] #298 closed, assigned to nobody

[2015-05-06 12:41] #292 closed, assigned to nobody

[2015-05-06 12:50] #284 closed, assigned to nobody

[2015-05-06 12:58] w-be opened #320 "Неткаст. Не реалізована функція зміни пароля, якщо користувач забув пароль."
http://www.dz2.byustudio.in.ua/cabinet/profile

Загальна практика: надати користувачу тимчасову лінку з можливістю встановленя нового пароля.

Фактично:
У випадку якщо користувач забув пароль йому надається можливість залогінитись з особистою лінкою. Що впринципі ніяк не допомагає згадати пароль, а просто заміняє спосіб входженя в систему.

Основним недоліком є те що пароль важче скопіювати - він

[2015-05-06 13:15] Mykhailo-Shtabaliuk-SoftServe opened #321 "NewTend, Кабінет замовника, підтвердіть будь ласка, що функціонал кабінету ще в розробці"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть за посиланням http://dev23.newtend.com/cabinet/customer
![image](https://cloud.githubusercontent.com/assets/11783631/7493582/e8fc3244-f40a-11e4-82cc-c83a3d1678ce.png)

Очікуваний результат:
Контроли зображені на скріншоті, пов

[2015-05-06 13:17] w-be opened #322 "Неткаст. Деталі закупівлі. Сервіс LiveTex накладається на контроли Скарги."
http://www.dz2.byustudio.in.ua/tenders/3381
1. Залогінтесь в систему
2. Натисніть на Закупівлі
3. Відкрийти деталі закіпівлі

Очікувано: Контроли не перекривають один одного.

Фактично: LiveTex сервіс перекриває те місце де розміщена інформація про скарги.
![image](https://cloud.githubusercontent.com/assets/11888281/7493602/134b323e-f40b-11e4-8b61-cde60d657d05.png)

[2015-05-06 14:37] w-be opened #323 "Неткаст. Закупівлі. Фільтрація по ДКПП, CPV. Пропоную додати можливість фільтрації по розділах включно з підрозділами."
http://www.dz2.byustudio.in.ua/tenders?filter%5Bobject%5D=dkpp&filter%5Bsearch%5D=17&filter%5Bstatus%5D=&formname=filter
1. Залогінтесь в систему як закупівельник
2. Натисніть закупівлі.
3. Натиснісь на поле фільтрації по ДКПП

Було б добре надати можливість фільтрації по групі споріднених товарів вниз по дереву ДКПП(CPV). Наприклад пошук по ДКПП 17.12.1 повертає всі закупівлі з ДКПП 17.12.1 і 17.

[2015-05-06 15:12] w-be opened #324 "Неткаст. Картка Закупівлі.При наведені курсора на вкладку Закупівлі вказівник не перетворюється на руку."
http://www.dz2.byustudio.in.ua/tenders/3381
1. Залогуйтесь як постачальник
2. Натисніть на Закупівлі
3. Відкрийте будьяку закупівлю
4. Наведіть курсор на Закупівлі.

Очікувано: вказівник курсора перетворюється на руку, як і на інших меню, що повідомляє, що при натисканю буде перехід на іншу сторінку.

Фактично: З"являється вертикальна раска як при редагуванні текстових полів.

![image](https://clo

[2015-05-06 17:10] andriykucherenko opened #325 "Неткаст. Незрозуміла обов"язковість заповнення факсу і веб-сайту замовника"
У багатьох дрібних замовників сайту нема. Навіщо його вимагати?
Те ж саме про факс. Ви збираєтесь надсилати їм факси?

[2015-05-06 17:24] andriykucherenko opened #326 "Неткаст. Не виписані правила оплати"
![netcast-1- -](https://cloud.githubusercontent.com/assets/9398532/7499048/d76407c8-f42d-11e4-9840-f0be584e8e03.png)

[2015-05-06 17:26] andriykucherenko opened #327 "Неткаст. При реєстрації постачальника виводиться "Примірне положення" замовника"
Тут варто замість примірного положення виводити регламент роботи ВАШОГО майданчика

[2015-05-06 17:28] andriykucherenko opened #328 "Неткаст. Недопрацьоване виставлення рахунку"
Як з точки зору повідомлення для користувача, так і з точки зору документу, що завантажується.
![netcast-2- -](https://cloud.githubusercontent.com/assets/9398532/7499163/770aa0a2-f42e-11e4-8662-b14ae959a767.png)

[2015-05-07 07:04] maksimmaksimov commented on #231
Ошибка исправлена, все уведомления доработаны

[2015-05-07 08:53] hkhim opened #329 "Неткаст. Реєстрація користувача. Граматична помилка у слові "реєструєтесь""
![_](https://cloud.githubusercontent.com/assets/12292248/7511690/899dbf0c-f4af-11e4-9d07-fecbdc84f967.png)
Перейти до http://www.dz2.byustudio.in.ua/registration

[2015-05-07 09:00] Mykhailo-Shtabaliuk-SoftServe opened #330 "NewTend, Підтвердіть будь ласка що під час створення тендеру, не має бути можливості видалити прикріплений файл"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до створення тендера
3. Створіть тендер, та перейдіть до прикріплення файлів
4. Прикріпіть файл
5. Спробуйте замінити прикріплений файл

Очікуваний результат:
Попередня версія файлу, мала б бути видалена, оскільки ми ще тільки

[2015-05-07 09:04] hkhim commented on #306
Також на сторінці реєстрації: http://www.dz2.byustudio.in.ua/registration
![_ 2](https://cloud.githubusercontent.com/assets/12292248/7511892/400e33f6-f4b1-11e4-8a95-f7ac0b8c3e30.png)

[2015-05-07 09:05] Mykhailo-Shtabaliuk-SoftServe opened #331 "NewTend, Створення тендера. Після прикріплення файлу, напис про те що "до тендеру не прикріплений жоден документ" не зникає"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Створіть тендер, та перейдіть до прикріплення документів
3. Прикріпіть хоча б один документ

Очікуваний результат:
Напис що зображений та підкреслений на скріншоті повинен зникати
![image](https://cloud.githubusercontent.com/assets/1178

[2015-05-07 09:31] hkhim commented on #329
Також на сторінці кабінету користувача, коли відправлене зауваження до договору: Договір №1236478907052015-1 на уточнеННі
![_ _](https://cloud.githubusercontent.com/assets/12292248/7512334/f06ff4ca-f4b4-11e4-97d1-04d57f80c9d0.png)

[2015-05-07 09:32] Mykhailo-Shtabaliuk-SoftServe opened #332 "NewTend, Тендер > Період уточнень > Оновлені файли через NewTend не відображаються для інших майданчиків"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Створіть тендер, та прикріпіть до нього два будь-яких файли
3. Перейдіть на https://public-bid.com.ua/ та знайдіть свій тендер по номеру закупівлі > переконайтесь що файли прикріплені через нютенд видимі і доступні
4. Перейдіть на http:

[2015-05-07 09:34] YuraOvramets-SoftServe opened #333 "NewTend. Тендер не змінює статус з "Опубликовано""
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
1. Створіть тендер з валідними даними
2. Дочекайтесь початку періоду уточнень

Очікуваний результат:
Статус тендера змінився на "Период Уточнений".

Фактичний результат:
Статус тендера завжди "Опубликовано".
![image](https://cloud.githubus

[2015-05-07 09:35] w-be opened #334 "Неткаст. Домашня сторінка. Кнопки ВЗЯТИ УЧАСТЬ та ОГОЛОСИТИ АУКЦІОН не працюють для зареєстрованого користувача."
http://www.dz2.byustudio.in.ua/

![image](https://cloud.githubusercontent.com/assets/11888281/7512149/754f1f42-f4b3-11e4-9951-2fec7a28bbac.png)
1. Залогінтесь зареєстрованим користувачем(наприклад учасником)
2. Натисніть на "ДЕРЖЗАКУПІВЛІ.ОНЛАЙН"
3. Натисніть кнопку ВЗЯТИ УЧАСТЬ

Очікувано: Користувача перекидає на список аукціонів - пропускаючи реєстрацію.
Фактично: Відкривається порожня форма ре

[2015-05-07 09:43] hkhim commented on #329
Також подвійна кома у листі підтвердження реєстрації користувача:
![_ _ _](https://cloud.githubusercontent.com/assets/12292248/7512579/acf92a98-f4b6-11e4-80cd-e1ab3acbf165.png)

[2015-05-07 09:47] w-be opened #335 "Неткаст. Форма Реєстрації. Блок погодженя з умовами користування. Замість лінки на правила сайту - заглушка."
http://www.dz2.byustudio.in.ua/registration
![image](https://cloud.githubusercontent.com/assets/11888281/7512565/943ca520-f4b6-11e4-8f36-f08c570a5441.png)
1. Зайти на сторінку.
2. Натиснути ВЗЯТИ УЧАСТЬ В АУКЦІОНІ
3. Проскролити вниз до блоку погодженя

Очікувано:
Я погоджуюсь з усіма правилами користування Сайтом <лінка на правила з гарним підписом: наприклад "правила сайта">
Фактично:
Я погоджую

[2015-05-07 09:49] w-be commented on #335
Працює, просто підпис лінки не гарний.

[2015-05-07 09:55] YuraOvramets-SoftServe opened #336 "NewTend. Один і той самий тендер зберігається безліч разів"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть до форми створення нового тендера
3. Заповніть поля валідними даними
4. Клікніть по кнопці "Опубликовать"
5. Коли з’явилось діалогове вікно з запитом на прикріплення документів, клікніть по будь-якому місці на формі

[2015-05-07 10:01] w-be opened #337 "Неткаст. Реєстрація. Перехід по лінці з правилами та назад стирає всю введену інформацію на формі."
http://www.dz2.byustudio.in.ua/registration
1. Зайдіть на сайт
2. Натисніть ОГОЛОСИТИ АУКЦІОН
3. Заповніть усі поля
4. Натисніть лянку в "Я погоджуюсь з усіма правилами користування Сайтом ?:confirm all rules2" щоб подивитись правила.
5. Натисніть кнопку бравзера назад.

Очікувано:
З"являється форма еєстрації з внесиною користувачем інформацією.
Фактично:
З"являється порожня форма еєстрації.

[2015-05-07 10:04] hkhim opened #338 "Неткаст. Немає можливості завантажити на сервер підписаний договір"
1. Зареєструватися як Покупець.
   Актуальний результат:
   На сторінці кабінету немає можливості завантажити на сайт підписаний договір
   ![default](https://cloud.githubusercontent.com/assets/12292248/7512984/7b9acf12-f4b9-11e4-8c82-955571fd321e.png)

Очікуваний результат:
Має бути можливість завантажити підписаний договір

[2015-05-07 10:48] hkhim commented on #329
Також граматична помилка у слові "ОпублікУвати" на сторінці створення закупівлі:
![_](https://cloud.githubusercontent.com/assets/12292248/7513801/bfa7bec6-f4bf-11e4-9462-99a6f368247d.png)

[2015-05-07 10:56] hkhim opened #339 "Неткаст. Неправильний діалог у вікні відміни закупівлі"
1. Перейти на http://dz2.byustudio.in.ua
2. Залогуватися як Покупець
3. Оголосити закупівлю
4. Зайти на вкладку "Мої Закупівлі" > вибрати закупівлю > проскролити вниз по сторінці > Відмінити закупівлю

Актуальний результат:
З*являється діалогове вікно з неправильним написом (доданий скріншот)

Очікуваний результат:
З*являється діалогове вікно із написом: "Ви впевнені, що хочете відмінити закупівлю

[2015-05-07 10:58] w-be opened #340 "Неткаст. Реєстрація. Незачекані чекбокси погодженя з умовама не завжди підсвічуються."
http://www.dz2.byustudio.in.ua/registration
1. Зайдіть на сторінку.
2. Заповніть всю інформацію крім контактного телефона (не чіпайте чекбокси)
3. Натисніть Зареєструватись (контактний телефон та чекбокси стануть помаранчевими)
4. Введіть підходящий телефон
5. Натисніть Зареєструватись

Очікувано: Контактний телефон стане чорним а чекбокси:
"Я підтверджую коректність наданої мною інформації
Я нада

[2015-05-07 11:18] hkhim commented on #339
Те саме для наступного вікна, яке з*являється після підтвердження діалогу відміни закупівлі:
![_ _ 2](https://cloud.githubusercontent.com/assets/12292248/7514194/e87b9eae-f4c3-11e4-87ae-25cb5ebb22ac.png)

[2015-05-07 12:03] hkhim opened #341 "Неткаст. Неправильна назва лінки на сторінці відміненої закупівлі"
1. Залогуватися на http://dz2.byustudio.in.ua як Покупець
2. Зайти на вкладку "Мої Закупівлі" (треба щоб була хоча б одна відмінена закупівля, якщо такої нема, то створити і відмінити закупівлю)
3. Вибрати закупівлю зі статусом "Відмінений"
4. Зайти на сторінку відміненої закупівлі > проскролити вниз, де є лінка, яка відкриває вікно з інформацією про закупівлю.
5. Клікнути на лінку

Актуальний рез

[2015-05-07 12:43] Mykhailo-Shtabaliuk-SoftServe opened #342 "NewTend, Тендер > Період уточнень > Запитання до тендеру"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Знайдіть аукціон в періоді уточнень (в ню тенді зараз він відображається як період "опубликовано")
3. Перейдіть до уточнень та відкрийте форму для подання запитання
![image](https://cloud.githubusercontent.com/assets/11783631/7515361/f0

[2015-05-07 12:46] YuraOvramets-SoftServe opened #343 "NewTend. Поля "Бюджет" і "Шаг" дозволяють ввести значення, яке починається з крапки"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть до форми створення нового тендера
3. В поля "Бюджет" і "Шаг" введіть значення, яке починається з крапки (н-д: ".3")
4. Решту полів заповніть валідними даними і опублікуйте тендер

Очікуваний результат:
Поля "Бюджет"

[2015-05-07 12:52] hkhim commented on #329
Зайвий пробіл перед комою у повідомленні після редагування закупки.
1. Перейти на http://dz2.byustudio.in.ua
2. Залогуватися як покупець.
3. Зайти на вкладку "Мої Закупівлі"
4. Вибрати закупівлю > Проскролити сторінку донизу > Редагувати
5. Зробити зміни і зберегти

Актуальний результат:
Пробіл перед комою у повідомленні:
![_ _](https://cloud.githubusercontent.com/assets/12292248/7515607/132901c0-

[2015-05-07 13:02] Mykhailo-Shtabaliuk-SoftServe opened #344 "NewTend, ІЕ11 при спробі залогуватись браузер пропонує завантажити файл"
1. Перейдіть за посиланням http://dev23.newtend.com/openprocurement
2. Спробуйте залогуватись :

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123

Очікуваний результат:
Користувач буде успішно залогований
Фактичний результат:
Користувачеві пропонується завантажити json файл і відкрити самостійно
![image](https://cloud.githubusercontent.com/assets/117836

[2015-05-07 13:14] hkhim opened #345 "Неткаст. Неправильна поведінка і відсутні конроли у вікні відміни закупівлі"
1. Перейти на http://dz2.byustudio.in.ua
2. Залогуватися як Покупець
3. Перейти на вкладку "Мої Закупівлі"
4. Вибрати закупівлю > Відмінити > підтвердити відміну у діалогому вікні
5. У вікні, яке відкриється, ввести назву документа і перший текст бокс, натиснути на інший текст бокс

Актуальний результат:
При кліканні на текст бокс "оберіть файл" з_являється діалогове вікно, яке дозволяє завантажит

[2015-05-07 13:34] Mykhailo-Shtabaliuk-SoftServe commented on #344
Поведінка змінилась, тепер відображається наступний скріншот
![image](https://cloud.githubusercontent.com/assets/11783631/7516288/e459ddaa-f4d6-11e4-933a-57f20be36e75.png)

[2015-05-07 13:36] S-Shevchenko commented on #245
@MaryanaDemtsyukh-SoftServe Немає.

[2015-05-07 13:47] hkhim commented on #329
Пропущена буква у мітці на сторінці створення закупівлі
![_ _ _ _](https://cloud.githubusercontent.com/assets/12292248/7516531/ba98a1ac-f4d8-11e4-8766-db9f6e5b2a65.png)

[2015-05-07 13:49] YuraOvramets-SoftServe opened #346 "NewTend. Некоректне сповіщення про невалідний ввід дати"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть до форми створення нового тендера
3. Оберіть дату або час меншу, ніж поточна для будь-якого дата/час поля
4. Решту полів заповніть валідними даними
5. Натисніть "Опубликовать"

Очікуваний результат:
Поле з некоректн

[2015-05-07 13:53] Mykhailo-Shtabaliuk-SoftServe opened #347 "Public-bid, Період Уточнень. Користувач який задав своє питання не бачить відповіді, отриманої через NewTend"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Створіть тендер, та дочекайтесь періоду уточнень
3. Залогуйтесь на https://public-bid.com.ua

login: misha.mul@meta.ua
password: Password1
4. Задайте запитання до тендера створеного через нютенд майданчик
5. Дайте собі відповідь через н

[2015-05-07 13:58] Mykhailo-Shtabaliuk-SoftServe opened #348 "NewTend, Період уточнень. Відповіді на запитання. Користувач може відповісти на одне запитання декілька раз"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до свого тендеру, якому задали запитання та натисніть кнопку "Ответить"
3. Дайте відповідь та ще раз натисніть Ответить
4. Повторно натисніть кнопку "Ответить"
5. Повторно дайте відповідь та натисніть "Ответить"
![image](https

[2015-05-07 14:13] Mykhailo-Shtabaliuk-SoftServe opened #349 "Public-bid, Картка закупівлі відображає некоректно прикріплені файли через NewTend"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Створіть закупівлю через нютенд майданчик та прикріпіть до неї, хоча б два документи(файли)
3. Залогуйтесь в https://public-bid.com.ua/
login: misha.mul@meta.ua
password: Password1
Відкрийте вікна, як зображено на скріншоті

Очікуваний

[2015-05-07 14:13] MaryanaDemtsyukh-SoftServe commented on #245
Дефект вже невалідний

[2015-05-07 14:13] #245 closed, assigned to lerich

[2015-05-07 14:25] hkhim opened #350 "Неткаст. Лінка на скаргу не працює із сторінки Повідомлень"
1. Перейти на http://dz2.byustudio.in.ua
2. Залогуватися як Покупець.
3. Перейти на сторінку повідомлень (попередньо створити скаргу)
4. Розгорнути скаргу, натиснувши "Детальніше" і клікнути на "Перейти"

Актуальний результат:
Лінка "Перейти" не працює.
Адреса змінюється з http://www.dz2.byustudio.in.ua/cabinet/notices на http://www.dz2.byustudio.in.ua/cabinet/notices#
![_ _](https://cloud.githubu

[2015-05-07 14:26] maksimmaksimov commented on #349
Будет исправлена

[2015-05-07 14:33] maksimmaksimov commented on #347
Будет исправлено

[2015-05-07 14:46] hkhim commented on #345
Те саме для вікон задоволення скарги і відхилення скарги:
![_ _](https://cloud.githubusercontent.com/assets/12292248/7517993/ecc63be6-f4e0-11e4-9a46-c1bf9abcba7e.png)

[2015-05-07 15:20] hkhim opened #351 "Неткаст. Помилки локалізації."
1. Перейти на http://dz2.byustudio.in.ua
2. Залогуватися як Покупець
3. Перейти на сторінку "Мої Закупівлі" > вибрати закупівлю, до якої є скарга > проскролити сторінку вниз > Скарги
4. Проскролити скаргу вниз

Актуальний результат:
Контроли є не одного типу (один контрол виглядає як кнопка, інші два - як лінки) і мають неправильні назви.

Очікуваний результат:
Контроли мають бути одного типу.
Кон

[2015-05-07 15:29] hkhim commented on #351
Те саме із відповідями на скарги:
Зайти сторінку, де є скарги на закупівлю > задоволити або відхилити існуючу скаргу (при цьому прикріпити до відповіді документ > зберегти)

Актуальний результат:
Лінка на відповідь має неправильну назву
![_ _ _](https://cloud.githubusercontent.com/assets/12292248/7518897/771913fe-f4e6-11e4-8bfc-8029ed5fb2ec.png)

Очікуваний результат:
Лінка має мати українську наз

[2015-05-07 15:29] w-be opened #352 "Неткаст. Деталі закупівлі. Обговорення. Контрол скарги зміщується в низ. Тільки ГуглХром та ІЕ11"
http://www.dz2.byustudio.in.ua/tenders/3385/questions
1. Зайдіть в систему
2. Натисніть на Закупівлі
3. Відкрийте будьяку закупавлю
4. Натисніть на Обговорення

Очікувано: Контрол Скарги залишиться на місці поруч з контролом Обговорення

Фактично: Контрол Скарги переміщується нижче контрола Обговорення
![image](https://cloud.githubusercontent.com/assets/11888281/7518875/47d75218-f4e6-11e4-9503-d3d

[2015-05-07 15:30] Mykhailo-Shtabaliuk-SoftServe opened #353 "Public-bid, назва тендера створеного через NewTend не відображається в Public-bid"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до тенедера UA-2015-05-01-000007
3. Залогуйтесь в https://public-bid.com.ua/
login: misha.mul@meta.ua
password: Password1
4. Перейдіть до закупівлі UA-2015-05-01-000007

Очікуваний результат:
Значення з полів: "Название", "Опи

[2015-05-07 16:07] w-be opened #354 "Неткаст. ІЕ10. Некоректне повідомлення при спробі зайти з ІЕ10"
http://www.dz2.byustudio.in.ua/
1. Спробуйте на сайт майданчику з ІЕ10

Очікувано: а) ІЕ10 не підтримується - відображене повідомленя накшталт: "Ви використовуєте застарілу версію IE. Будьласка встановіть версію 11, або вижче".
б) IE10 підтримується - Сайт відкривається добре.

Фактично:
Сайт не відкривається, з"являється повідомлення що ІЕ7 не підтримується (на англійскій).

[2015-05-07 16:07] w-be commented on #354
![image](https://cloud.githubusercontent.com/assets/11888281/7519994/5040a3b8-f4ec-11e4-998b-2dbbd119da12.png)

[2015-05-08 07:13] kvskkvsk commented on #354
Исправлено

[2015-05-08 08:26] YuraOvramets-SoftServe opened #355 "Public-bid. Список класифікаторів ДКПП створених через NewTend не відображається коректно в Public-bid"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Створіть новий тендер з валідними даними і в списку Класифікаторів ДКПП додайте більше, ніж один класифікатор
3. Залогуйтесь в https://public-bid.com.ua/
   login: misha.mul@meta.ua
   password: Password1
4. Перейдіть до ново

[2015-05-08 08:38] hkhim opened #356 "Неткаст. Чи буде реалізована мультифільтрація у фільтруванні закупівель?"
1. Залогуватися http://dz2.byustudio.in.ua як Покупець
2. Зайти на сторінку Мої Закупівлі > Поточні Тендери
3. Створити фільтр, наприклад, за кодом ДКПП

Актуальний результат:
Виглядає так, що користувач має можливість застосувати декілька умов для фільтрування завдяки боксу з умовою.
![_](https://cloud.githubusercontent.com/assets/12292248/7533050/935df3d2-f576-11e4-9061-75a4dfd03d06.png)
Підтвер

[2015-05-08 08:41] YuraOvramets-SoftServe opened #357 "NewTend. Тултіп для списку класифікаторів ДКПП не відображається (коли класифікаторів більше, ніж 1)"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть до створення нового тендера і в списку Класифікаторів ДКПП додайте більше, ніж один класифікатор
3. Наведіть мишкою на поле Класифікаторів ДКПП і впевніться, що тултіп з повним спиком вибраних ДКПП відобразився
4. З

[2015-05-08 08:46] kvskkvsk commented on #350
Исправлено для последующих уведомлений

[2015-05-08 08:48] kvskkvsk commented on #340
Исправлено

[2015-05-08 08:52] maksimmaksimov commented on #303
Ошибка исправлена.

[2015-05-08 08:52] Mykhailo-Shtabaliuk-SoftServe opened #358 "NewTend, Функціонал кнопки "Закончить торги" неімплементований/невідомий"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до тендера UA-2015-05-05-000029
3. Перейдіть на вкладку Торги

Очікуваний результат:
Кнопка "Закончить торги" повинна нести якийсь функціонал

Фактичний результат:
На даний момент кнопка не функціонує або виконує функції без б

[2015-05-08 08:52] kvskkvsk commented on #325
Эти поля не обязательные. А адрес сайта не компании, а контактного лица (http://api-docs.openprocurement.org/uk_UA/latest/standard/organization.html#contactpoint)

[2015-05-08 08:53] maksimmaksimov commented on #349
Ошибка исправлена

[2015-05-08 09:14] hkhim opened #359 "Неткаст. Не працює пошук по чернетках на сторінці Мої Закупівлі"
1. Залогуватися у http://dz2.byustudio.in.ua як Покупець.
2. Зайти на сторінку Мої Закупівлі > Поточні Тендери
3. Налаштувати фільтр за статусом "Чернетка" > зробити пошук.
4. Налаштувати фільтр за всіма статусами і ключовим словом > ввести назву закупівлі, яка знаходиться у вкладці "План Закупівель" і має статус "Чернетка"

Актуальний результат:
Пошук за статусом "Чернетка" не виводить значень.
П

[2015-05-08 09:16] YuraOvramets-SoftServe opened #360 "NewTend. Несвоєчасне відображення нового тендера в списку тендерів"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть до створення нового тендера і заповніть поля валідними даними
3. Натисніть кнопку "Опубликовать"
4. В діалоговому вікні з питанням про додання документів натисніть на Х
5. Перейдіть до списку тендерів

Очікуваний ре

[2015-05-08 09:32] Mykhailo-Shtabaliuk-SoftServe opened #361 "NewTend, Public-bid, ЕЛЕГ, Запитання та відповіді в періоді уточнень"
1. Залогуйтесь в будь-який вище згаданий майданчик та створіть закупівлю
2. Дочекайтесь поки закупівля перейде в статус Період уточнень
3. Задайте питання та напишіть відповідь, яка буде містити більше, ніж одну стрічку тексту, наприклад як на скрнішоті
   ![image](https://cloud.githubusercontent.com/assets/11783631/7533889/d7670c10-f57d-11e4-94da-bf19ab41631a.png)

Очікуваний результат:
Повідомле

[2015-05-08 10:00] hkhim opened #362 "Неткаст. Неткаст не комунікує з іншими майданчиками"
1. Залогуватися на http://dz2.byustudio.in.ua як Покупець
2. Створити закупівлю.
3. Залогуватися на http://uat.e-tender.biz/ і зробити пошук за номером створеної закупівлі
4. Залогуватися на https://public-bid.com.ua/ і зробити пошук за номером створеної закупівлі.

Актуальний результат:
Закупівля не відображається на інших майданчиках. Натомість існує інша закупівля під таким же номером і пошук в

[2015-05-08 10:49] Mykhailo-Shtabaliuk-SoftServe opened #363 "NewTend, Створення тендера. При розгортанні дейтпікера, користувачу відображається неповний функціонал дейтпікера"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть на сторінку створення тендеру
3. Натисніть на дейтпікер який обирає дату для поля "Конец регистрации предложений"
![image](https://cloud.githubusercontent.com/assets/11783631/7535005/0b8cbd40-f589-11e4-8da3-db032f9313d5.png)

[2015-05-08 11:06] hkhim opened #364 "Неткаст. Чи планується впровадити для користувача можливість вказувати крім дати публікацій і т.п. ще й годину?"
1. Залогуватися http://dz2.byustudio.in.ua як Покупець.
2. Оголосити Закупівлю > перейти до блоку "Дати та Терміни"

Актуальний результат:
Користувач може вибирати дати, але не має можливості вибирати години.
![_](https://cloud.githubusercontent.com/assets/12292248/7535199/619424f6-f58b-11e4-854a-812abd4ef017.png)
Чи буде реалізована можливість вибирати ще й час, а не лише дати?

[2015-05-08 11:11] #350 closed, assigned to nobody

[2015-05-08 11:19] Mykhailo-Shtabaliuk-SoftServe opened #365 "NewTend, Створення тендера, Поле кількість обрізає дробові числа відкидаючи все що знаходиться після крапки/коми"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Перейдіть до створення тендеру
3. Створіть закупівлю та в полі "Количество" введіть 1.5 або 1,5 гектарів

Очікуваний результат:
З'явиться повідомлення про те, що в цьому полі можна вводити тільки цілі числа (на інших майданчиках, це пол

[2015-05-08 11:21] maksimmaksimov commented on #347
Исправлено, просьба проверить.

[2015-05-08 11:40] YuraOvramets-SoftServe opened #366 "NewTend, Public-bid, E-Tender. Одиниці виміру не стандартизовані між площадками"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть до створення нового тендера
3. В полі "Единицы Измерения" виберіть "ящик"
4. Заповніть решту полів валідними даними і опублікуйте тендер
5. Залогуйтесь в https://public-bid.com.ua/
   login: misha.mul@meta.ua
   pas

[2015-05-08 11:44] kvskkvsk commented on #362
Интересно, а эти 2 другие площадки на какой версии ЦБД работаю?
www.dz2.byustudio.in.ua на 08.05.2015 работает с версией 0.8, и на локальной копии все приходит.

[2015-05-08 11:46] kvskkvsk commented on #364
Нет, так как согласно правилам ЦБД в рабочем режиме время для всех дат необходимо устанавливать в 16:00

[2015-05-08 12:11] hkhim commented on #362
@myroslav підкажи, будь ласка, на якій версії ЦБД працюють ці два майданчики?

[2015-05-08 12:31] hkhim opened #367 "Неткаст. Не працює пошук за номером у вікні визначення класу за ДКПП"
1. Залогуватися на http://dz2.byustudio.in.ua як Покупець.
2. Зайти на сторінку "Мої Закупівлі" > Поточні Тендери
3. Налаштувати фільтр даних за кодом ДКПП (або CРV) > натиснути на текстбокс "визначте класи ДКПП" > в рядку пошуку ввести номер ДКПП

Актуальний результат:
Пошук за номером не видає результатів.
![_ _ _](https://cloud.githubusercontent.com/assets/12292248/7536271/18a89554-f597-11e4-8c

[2015-05-08 12:33] #303 closed, assigned to nobody

[2015-05-08 12:51] YuraOvramets-SoftServe opened #368 "ЦБД. Уточніть, будь ласка, який статус має бути у Тендера, коли попередній період закінчився, а наступний ще не почався"
@myroslav , уточніть, будь ласка, який статус має бути у Тендера, коли попередній період закінчився, а наступний ще не почався, н-д:

Період Уточнень закінчується в 15:30, а період реєстрації пропозицій починається в 15:45.

Наразі статус залишається "Період уточнень", але фактично ми вже не можемо задавати питань і ще не можемо вносити пропозицій.

Питання стосується всіх майданчиків.

[2015-05-08 12:52] S-Shevchenko commented on #158
Исправлено.Можно закрывать.

[2015-05-08 12:55] Mykhailo-Shtabaliuk-SoftServe commented on #347
Перевірено, закриваю. Тепер відповіді видимі для користувача, який їх задав.

[2015-05-08 12:55] #347 closed, assigned to nobody

[2015-05-08 13:02] #349 closed, assigned to nobody

[2015-05-08 13:04] hkhim opened #369 "Неткаст. Сторінка вантажиться, коли користувач зберігає закупівлю, не заповнивши всі обов'язкові поля."
1. Залогуватися на http://dz2.byustudio.in.ua як Покупець.
2. Зайти на сторінку "Мої Закупівлі" > вибрати закупівлю і редагувати її.
3. Видалити деякі значення з обов*язкових полів > зберегти

Актуальний результат:
Сторінка вантажиться, зміни не зберігаються.
![_ _](https://cloud.githubusercontent.com/assets/12292248/7536807/c01d242c-f59b-11e4-8a55-01b66bde32cc.png)

[2015-05-08 13:20] hkhim commented on #364
На інших майданчиках є можливість встановлювати час, який хоче користувач:
![etender_ _ _](https://cloud.githubusercontent.com/assets/12292248/7537030/21ef9e62-f59e-11e4-81b4-7657ec04d5fe.png)

![publicbid_date_time](https://cloud.githubusercontent.com/assets/12292248/7537032/27cb0db2-f59e-11e4-803e-53fce26a6243.png)

[2015-05-08 13:33] Mykhailo-Shtabaliuk-SoftServe opened #370 "Public-bid, Відображає некоректно файли закупівлі, які були завантажені та оновлені через NewTend"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Створіть тендер, прикріпіть до нього два документи
3. Один з них обновіть декілька разів
4. Залогуйтесь в систему https://public-bid.com.ua/
login: misha.mul@meta.ua
password: Password1
5. Відкрийте цей тендер наприклад UA-2015-05-08-00

[2015-05-08 13:34] YuraOvramets-SoftServe opened #371 "Public-bid. Поле "Замовник", для тендера створеного через NewTend, пусте в Public-Bid"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Створіть новий тендер з валідними даними
3. Залогуйтесь в https://public-bid.com.ua/
   login: misha.mul@meta.ua
   password: Password1
4. Перейдіть до новоствореного тендера і перегляньте детальну інформацію

Очікуваний резу

[2015-05-08 13:44] #290 closed, assigned to lerich

[2015-05-08 14:09] myroslav commented on #368
Це все ще період уточнень, оскільки в цей час замовник відповідає на заппитання, що були задані в останній момент, і все ще має право вносити зміни в умови тендера (тому це ще називається "період уточнень", оскільки можливі уточнення умов).

[2015-05-08 14:09] #368 closed, assigned to myroslav

[2015-05-08 14:10] #171 closed, assigned to lerich

[2015-05-08 14:10] #169 closed, assigned to lerich

[2015-05-08 14:12] #112 closed, assigned to lerich

[2015-05-08 14:12] #101 closed, assigned to lerich

[2015-05-08 14:33] S-Shevchenko commented on #141
Можно, закрывать.

[2015-05-08 14:33] #141 closed, assigned to lerich

[2015-05-08 14:33] hkhim opened #372 "Неткаст. Поштовий індекс користувача повинен містити лише 5 цифр"
1. Зайти на http://dz2.byustudio.in.ua
2. Зареєструвати нового користувача, ввести більше, ніж 5 цифр у поле "Індекс"

Очікуваний результат:
Користувач не може ввести більше, ніж 5 цифр у поле "Індекс". З*являється повідомлення, що  Iндекс повинен містити 5 цифр. Користувач не може зареєструватися з невалідними даними.
Те саме при редагуванні профіля існуючого користувача.

Актуальний результат:
К

[2015-05-08 14:36] S-Shevchenko commented on #46
Создано ряд задач  для проверки загружаемых файлов.

[2015-05-08 14:37] lerich commented on #46
с

[2015-05-08 14:37] #46 closed, assigned to lerich

[2015-05-08 14:38] S-Shevchenko commented on #81
Исправлено. Можно закрывать(изменен функционал)

[2015-05-08 14:38] #81 closed, assigned to lerich

[2015-05-08 15:22] YuraOvramets-SoftServe opened #373 "NewTend->Створення тендера. Клік по найменуванню поля "Классификатор" відкриває список класифікаторів ДКПП"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Перейдіть до створення нового тендера
3. Клікніть по найменуванню поля "Классификатор"

Очікуваний результат:
Нічого не відбувається, напис не повинен реагувати на клік по ньому

Фактичний результат:
Відкривається список клас

[2015-05-08 15:24] Mykhailo-Shtabaliuk-SoftServe opened #374 "NewTend, Закупівля в періоді уточнень. Відсутня можливість редагування самої закупівлі."
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement

login: openprocurement
pass: test
Пользователь: openprocurement@mailinator.com
пароль: 123123
2. Створіть тендер, та дочекайтесь періоду уточнень

Очікуваний результат:
Повинна бути реалізована можливість редагування закупівлі в періоді уточнень
Фактичний результат:
Фактично реалізована тільки можливість додавання та заміни прикріп

[2015-05-08 15:24] hkhim opened #375 "Неткаст. Реєстрація. У деякі поля при реєстрації користувача можливо ввести невалідні дані."
1. Зайти на http://dz2.byustudio.in.ua > Зареєструватись
2. Заповнити поля пробілами, цифрами або спецсимволами

Очікуваний результат:
Користувач не має змоги ввести на зберегти невалідні дані.
Висвітлюється повідомлення, що введені некоректні дані.

Актуальний результат:
Користувач може ввести невалідні дані (пробіл, цифри і спецсимволи) у наступні поля і вони пройдуть перевірку на валідність:

З

[2015-05-08 16:00] hkhim opened #376 "Неткаст. Кабінет. Профіль. Користувач може вводити невалідні дані у деякі поля на сторінці зміни профілю."
1. Залогуватися як Покупець у http://dz2.byustudio.in.ua
2. Зайти на сторінку "Профіль"
3. Ввести цифри або спецсимволи у деякі текстові поля та зберегти зміни.

Очікуваний результат:
Некоректні дані не проходять валідацію і користувач не може зберегти зміни.

Актуальний результат:
Користувач може ввести невалідні дані у наступні поля і зберегти зміни:

Замітка:
Якщо у деякі поля ввести пробіли, т

[2015-05-09 01:15] myroslav commented on #362
В п'ятницю в обід я просив продуктивні майданчики перемкнути свої Acceptance Testing портали на 0.8. Нажаль я не маю він них feedback-у, чи вони перемкнулися, і щоб це вияснити, треба оголошувати закупівлю через кожен і тоді підглядати, в яку версію вони "пішли"...

[2015-05-09 07:53] lerich commented on #362
Мы вчера переключились и почистили uat. Создали тестовые тендеры. Тестируем.

[2015-05-12 06:56] maksimmaksimov commented on #355
Данная ситуация связана с ограничением ЦБД, из ЦБД к нам приходит следующая информация по ДКПП данной закупки:
В ЦБД инф-я записана так:

additionalClassifications":[ {
"scheme":"ДКПП",
"id":"01",
"description":"Продукція сільського господарства, мисливства та пов’язані з цим послуги"
}
]

[2015-05-12 07:02] maksimmaksimov commented on #302
Ошибка исправлена

[2015-05-12 07:51] kvskkvsk commented on #369
Исправлено

[2015-05-12 07:56] YuraOvramets-SoftServe commented on #355
@myroslav , це можливо пофіксати з вашої сторони? Або підкажіть Максиму як це пофіксати, бо не дуже добре, коли користувач Public-bid не бачить усього переліку ДКПП.

[2015-05-12 08:00] kvskkvsk commented on #359
Исправлено.
Черновики только в черновиках.
Все запланированные тендера тоже являются ченовиками и публикуются автоматом после указанной даты и переходят из плана в текущие.

[2015-05-12 08:05] kvskkvsk commented on #338
Не должо быть.

[2015-05-12 08:06] kvskkvsk commented on #334
Работают. Только для зарегистрированных эти страницы выдают 403ю страницу, которая не заполнена текстом.

[2015-05-12 08:36] YuraOvramets-SoftServe opened #377 "NewTend->Створення тендера. UI дейтпікера у FF"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement login: openprocurement pass: test Пользователь: openprocurement@mailinator.com пароль: 123123
2. Перейдіть до створення нового тендеру і клікніть по іконці вибору дати
3. Клікніть по кнопці з назвою місяця і роком

Очікуваний результат:
Замість чисел з’явився перелік місяців, UI дефекти відсутні

Фактичний результат:
Замість чисел з

[2015-05-12 08:50] #369 closed, assigned to nobody

[2015-05-12 09:21] hkhim opened #378 "Неткаст. Подання пропозиції. Нелокалізоване повідомлення у діалоговому вікні після подання пропозиції"
1. Залогуватися у http://dz2.byustudio.in.ua як Постачальник.
2. Вибрати закупівлю із статусом "Прийом пропозицій" та подати пропозицію.

Очікуваний результат:
З'являється повідомлення, що пропозиція подана.

Актуальний результат:
З'являється діалогове вікно із нелокалізованим повідомленням:
![_ _](https://cloud.githubusercontent.com/assets/12292248/7583809/692537be-f8a1-11e4-97b2-25ba65ecf2ca.png

[2015-05-12 09:38] hkhim opened #379 "Неткаст. Подання пропозиції. Нелокалізоване повідомлення при видаленні доданого документа"
1. Залогуватися у http://dz2.byustudio.in.ua як Постачальник.
2. Вибрати закупівлю із статусом "Подання пропозицій"
3. Проскролити меню до панелі подання пропозиції > Документи > Додати документ > завантажити документ
4. Натиснути іконку видалення завантаженого документа:
   ![_ _ 1](https://cloud.githubusercontent.com/assets/12292248/7584016/17bbaf96-f8a3-11e4-931f-721c86df1324.png)

Очікуваний р

[2015-05-12 09:48] PaulBoroday commented on #379
Fixed

[2015-05-12 09:49] PaulBoroday commented on #378
Fixed

[2015-05-12 09:53] PaulBoroday commented on #341
Fixed

[2015-05-12 09:53] hkhim commented on #379
Не весь тест локалізований:
![_ _ 2](https://cloud.githubusercontent.com/assets/12292248/7584397/e464b4be-f8a5-11e4-9732-fccd7ec0ef62.png)

[2015-05-12 09:54] PaulBoroday commented on #339
Fixed

[2015-05-12 09:55] PaulBoroday commented on #338
Это наш внутренний документооборот. Он не имеет никакого отношения ни к ЦБД ни к работе с ней.

[2015-05-12 09:58] PaulBoroday commented on #329
Fixed

[2015-05-12 10:01] PaulBoroday commented on #320
Реализовано в ЛК пользователя - http://prntscr.com/74bbiq (/cabinet/settings)

[2015-05-12 10:06] PaulBoroday commented on #307
Fixed

[2015-05-12 10:11] kvskkvsk commented on #379
Эти кнопки принадлежат браузеру

[2015-05-12 10:32] #379 closed, assigned to nobody

[2015-05-12 10:48] #378 closed, assigned to nobody

[2015-05-12 11:31] hkhim opened #380 "Неткаст.Реєстрація. Неможливо зареєструвати користувача із апострофом в імені"
1. Зайти на http://dz2.byustudio.in.ua
2. Відкрити сторінку реєстрації > ввести дані з апострофом у поля "Прізвище", "Ім'я", "По-батькові"

Очікуваний результат:
Введені дані проходять валідацію і користувач може бути зареєстрованим.

Актуальний результат:
Дані не проходять валідацію
![_](https://cloud.githubusercontent.com/assets/12292248/7586244/a378a178-f8b3-11e4-8a86-83c180953d68.png)

[2015-05-12 11:55] hkhim commented on #362
Створила закупівлю UA-2015-05-12-000039
Закупівлі немає на https://public-bid.com.ua/

[2015-05-12 12:02] kvskkvsk commented on #380
Исправлено

[2015-05-12 12:31] myroslav commented on #362
Тендер потрапив на 0.8 версію з ID `420a888fc3794855a72df464c15e109b`, і доступний на http://uat.e-tender.biz/#/tenderDetailes/420a888fc3794855a72df464c15e109b (який працює з sandbox v0.8).

[2015-05-12 12:36] myroslav commented on #362
На PublicBid я бачу тендер `UA-2015-05-12-000038` з `3ad61af7c73848f3b7c32328000e389c` id, який розміщено в sandbox 0.7

[2015-05-12 13:35] Mykhailo-Shtabaliuk-SoftServe commented on #302
Бага описана в першому сценарії вже пофіксана. Перевірено.
Виникла наступна бага:
1. Створіть тендер і дочекайтесь до періоду уточнень
2. Завантажте 1 документ та збережіть
3. Завантажте ще 1 документ
4. Оновіть перший файл який був завантажений, та спробуйте оновити другий

Очікуваний результат:
Файл буде оновлено або проніформовано мене, як користувача, що я повинен спочатку зберегти закупівлю,

[2015-05-12 14:00] w-be commented on #354
Відтворюється, ще на 2-х робочих станціях, але з 11 версією:
![untitled 4](https://cloud.githubusercontent.com/assets/11888281/7588852/3a8233ae-f8c8-11e4-9542-69a522d6cec5.png)

[2015-05-12 14:04] hkhim opened #381 "Неткаст. Кваліфікація учасників. Неможливо відкрити прикріплений постачальником документ"
1. Залогуватися на http://dz2.byustudio.in.ua як Покупець.
2. Зайти на сторінку Мої Закупівлі > вибрати закупівлю із статусом "Кваліфікація"
3. У стовпчику "Документи" вибрати документ з пропозицією:
   ![_](https://cloud.githubusercontent.com/assets/12292248/7588954/ba04add2-f8c8-11e4-87ff-eac389118cd8.png)

Очікуваний результат:
Користувач може відкрити прикріплений документ.

Актуальний результ

[2015-05-12 14:09] YuraOvramets-SoftServe opened #382 "Неткаст->Додавання документації. Некоректне ім’я доданого файла"
1. Залогуватись, як покупець в http://dz2.byustudio.in.ua
2. Перейти до сторінки оголошення закупівлі
3. У секції "Тендерна документація" додати .doc файл (н-д: Test)
4. Заповнити решту полів валідними даними і оголосити закупівлю
5. Поредагуйте закупівлю і в секції "Тендерна документація" замість існуючого файлу додайте інший документ (н-д: Test2) і збережіть зміни
6. Впевніться, що назви доданих

[2015-05-12 14:10] hkhim commented on #381
Те саме, коли користувач натискає на "Дискваліфікувати" і "Визнати переможцем"

[2015-05-12 14:14] #380 closed, assigned to nobody

[2015-05-12 14:58] hkhim opened #383 "Неткаст. Зміна статусу закупівлі. Не міняється статус для тестових закупівель кожні 10 хвилин"
1. Залогуватися на http://dz2.byustudio.in.ua як Закупівельник.
2. Створити закупівлю > проставити всі однакові дати (Дата публікації, Завершення періоду обговорення, Завершення періоду прийому пропозицій, Кінцева дата поставки)
3. На майданчику http://uat.e-tender.biz/ знайти створену закупівлю, перевірити її статус.
4. Почекати 10 хв, перевірити статус закупівлі на Неткасті, на Е-Тендері.

Актуа

[2015-05-12 15:21] #359 closed, assigned to nobody

[2015-05-12 15:21] #338 closed, assigned to nobody

[2015-05-12 15:24] #341 closed, assigned to nobody

[2015-05-12 15:25] kvskkvsk commented on #382
Исправлено

[2015-05-12 15:25] #339 closed, assigned to nobody

[2015-05-12 15:35] #329 closed, assigned to nobody

[2015-05-12 15:42] kvskkvsk commented on #383
А на что должно поменяться, если "Завершення періоду обговорення" 13.05.2015, сейчас только 12.05.2015?

[2015-05-12 15:50] #382 closed, assigned to nobody

[2015-05-12 16:00] #383 closed, assigned to nobody

[2015-05-13 07:58] kvskkvsk commented on #381
Исправлено.

ПС: если вы авторизованы, то необходимо выйти и авторизоваться заново.

[2015-05-13 08:03] kvskkvsk commented on #354
У нас в IE11 все работает (http://prntscr.com/74nqjm)
Есть ли у вас возможность в вашем IE11 узнать, какие заголовки запроса он отправляет?

[2015-05-13 08:36] w-be commented on #362
@maksimmaksimov Чи плануєти ви перевести Public-Bid на sandbox 0.8? Коли?

[2015-05-13 08:37] Mykhailo-Shtabaliuk-SoftServe commented on #354
![image](https://cloud.githubusercontent.com/assets/11783631/7606743/500cf3e8-f964-11e4-96ef-a4fb7e2bc591.png)
@kvskkvsk якщо ви мали на увазі, інші заголовки то уточніть, будь ласка які саме

[2015-05-13 08:39] #381 closed, assigned to nobody

[2015-05-13 08:52] YuraOvramets-SoftServe opened #384 "Неткаст->Питання/Відповідь. У питаннях і відповідях не відображається текст в кутових дужках"
1. Залогуватись, як Постачальник в http://dz2.byustudio.in.ua
2. Перейти до закупівлі в статусі "Обговорення"
3. Перейти до секції обговорення
4. В полях "Суть вашого запитання" і "Зміст запитання" введіть текст в кутових дужках "<>" і надішліть запитання

Очікуваний результат:
Увесь введений текст відображається коректно.

Фактичний результат:
Текст, який міститься у кутових дужках - не відобража

[2015-05-13 09:20] YuraOvramets-SoftServe opened #385 "Неткаст->Створення тендера. Непередбачена можливість вибору бюджету без урахування ПДВ"
1. Залогуйтесь, як Покупець в http://dz2.byustudio.in.ua
2. Перейдіть до створення нового тендера
3. В секції "Параметри торгів" у полі Максимальний бюджет введіть валідне значення
4. Клікніть по випадаючому списку "з ПДВ"

Очікуваний результат:
У випадаючому списку є можливість вибрати опцію "без ПДВ"

Фактичний результат:
Випадаючий список ніяк не реагує на клік по ньому і змінити значення з "з

[2015-05-13 09:37] hkhim opened #386 "Неткаст. Кваліфікація. При завантаженні більше одного документа на етапі дискваліфікації або визнання переможцем відображається лише перший документ."
1. Залогуватися на http://dz2.byustudio.in.ua як Закупівельник.
   2.На етапі Кваліфікації вибрати учасника > Дискваліфікувати (або Визнати Переможцем) > Прикріпити більше ніж один документ.

Очікуваний результат:
При перегляді Протоколу всі додані документи можна переглянути.

Актуальний результат:
Видимий лише перший завантажений документ:
![_ _](https://cloud.githubusercontent.com/assets/122922

[2015-05-13 09:45] kvskkvsk commented on #384
Политика безопасности:
Текст в "<>" для браузеров это тег. А поля эти предназначены для текста.
А если вписать < img alt="" src="http://www.mydomain.com/spacer.png" onload="..." > то в onload можно вписать команду, которая передаст мне информацию необходимую для взлома той или иной площадки.

[2015-05-13 09:55] kvskkvsk commented on #386
По базе в этой квалификации лишь 1 документ
и в ЦБД тоже
https://api-sandbox.openprocurement.org/api/0.8/tenders/885a5aecf07d400989aa471ebfb7face

[2015-05-13 10:04] kvskkvsk commented on #372
Исправлено

[2015-05-13 10:08] kvskkvsk commented on #354
Именно эти
Только вот (на первой фотке) в строке User-Agent указано, что у вас MSIE 7.0
Ваш браузер не переведен ли в режим совместимости с ИЕ7?

[2015-05-13 10:20] PaulBoroday commented on #385
Такая была договоренность с Прозорро - цен без НДС нет и быть не может в бюджете закупки

[2015-05-13 10:29] Mykhailo-Shtabaliuk-SoftServe commented on #354
![image](https://cloud.githubusercontent.com/assets/11783631/7608638/00d63d4c-f974-11e4-8a18-5ae784355c75.png)
ні, в звичайному режимі

[2015-05-13 10:31] Mykhailo-Shtabaliuk-SoftServe commented on #354
@kvskkvsk якщо добавите мене в скайп (Mykhailo Shtabaliuk - там таких більше небуло по імені мало б знаходити) тоді зможу надати вам прямий доступ до віртуалки, де це репродюситься

[2015-05-13 10:38] #372 closed, assigned to nobody

[2015-05-13 10:45] kvskkvsk commented on #354
режим для 11 версии нужен Edge (https://msdn.microsoft.com/ru-ru/library/dn255001%28v=vs.85%29.aspx), а у вас 5я

[2015-05-13 10:54] kvskkvsk commented on #352
Исправлено

[2015-05-13 11:14] S-Shevchenko commented on #167
Наступні поля:
Назва закупівлі
Детальний опис закупівлі
Максимальна сума закупівлі, грн.
Мінімальний крок аукціону, грн.
Дата завершення прийому запитань
Період прийому пропозицій
Детальний опис предмету закупівлі
Кількість
Одиниця виміру
Класифікатор CPV
Класифікатор ДКПП

[2015-05-13 11:27] #354 closed, assigned to nobody

[2015-05-13 11:32] YuraOvramets-SoftServe commented on #167
Уточніть, будь ласка, на рахунок періоду прийому пропозицій - мається на увазі початкова дата прийому пропозицій і кінцева чи тільки кінцева?
Ці поля є обов’язковими тільки для ЕЛЕГ чи вони актуальні для всіх майданчиків?

[2015-05-13 11:44] S-Shevchenko commented on #167
На малюнку 1 - початкова дата, 2 - кінецева дата.
![screenshot_15](https://cloud.githubusercontent.com/assets/10655287/7609647/b6a3e5e4-f97d-11e4-94a1-a9d282009b76.jpg)
Поля обовязкові згідно ЦБД, назви можуть відрізнятися.

[2015-05-13 11:51] kvskkvsk commented on #305
Исправлено

[2015-05-13 11:53] #384 closed, assigned to nobody

[2015-05-13 11:55] S-Shevchenko commented on #166
Реалізовано:
![screenshot_16](https://cloud.githubusercontent.com/assets/10655287/7609852/14602bf0-f980-11e4-8cdf-c8bcfec5d5f3.jpg)

[2015-05-13 11:58] hkhim opened #387 "Неткаст. Прийом пропозицій. На етапі прийому пропозицій змінюється задана закупівельником кількість товару"
1. Залогуватися на http://dz2.byustudio.in.ua як закупівельник.
2. Створити пропозицію > задати кількість одиниць товару (я задавала 1000 шт.)
3. На етапі прийому пропозицій перевірити кількість одиниць товару.

Очікуваний результат:
Кількість одиниць товару не змінилася.

Актуальний результат:
Кількість одиниць товару зменшилася:
![_ _](https://cloud.githubusercontent.com/assets/12292248/7609884/

[2015-05-13 12:26] S-Shevchenko commented on #152
Проверьте пожалуйста.

[2015-05-13 12:28] S-Shevchenko commented on #147
Исправили.

[2015-05-13 12:29] #147 closed, assigned to lerich

[2015-05-13 12:44] Mykhailo-Shtabaliuk-SoftServe opened #388 "НетКаст, Скажіть будь ласка, де можна отримати "?:tender auction code""
1. Залогуйтесь в систему http://www.dz2.byustudio.in.ua
2. Створіть аукціон
3. Зареєструйтесь на аукціон подавши пропозицію
4. Перейдіть до етапу отримання лінки на аукціон

Очікуваний результат:
Лінка "АУКЦІОН МІЖ УЧАСНИКАМИ ТЕНДЕРУ" повинна переадресовувати на аукціон в ролі учасника аукціону

Фактичний результат:
Лінка "АУКЦІОН МІЖ УЧАСНИКАМИ ТЕНДЕРУ" переадресовує на аукціон в ролі спостерігач

[2015-05-13 12:50] kvskkvsk commented on #387
Исправлено

[2015-05-13 12:56] kvskkvsk commented on #388
Задумано заказчиком:
Получить ссылку можно после ввода СМС-кода, который отправляется на мобильный телефон участника. Правда, сам СМС сервис не оплаченный и смс-ки не отправляются.

Был второй вариант еще на почту, но его отключили.

[2015-05-13 13:00] Mykhailo-Shtabaliuk-SoftServe commented on #388
@kvskkvsk я правильно розумію, що зараз потрапити на аукціон в ролі учасника поки тимчасово неможливо?

[2015-05-13 13:07] kvskkvsk commented on #388
Да. Временно невозможно.

[2015-05-13 13:10] YuraOvramets-SoftServe opened #389 "Неткаст->Визначення переможця. Некоректний фунціонал вікна для оскарження дискваліфікації"
1. Створіть новий тендер в http://dz2.byustudio.in.ua
2. На етапі подання пропозицій подайте пропозицію
3. Дочекайтесь етапу Визначення переможця і дискваліфікуйте учасника
4. Залогуйтесь під дискваліфікованим учасником і перейдіть до заявки
5. Клікніть по кнопці "?:TENDER BID QUALIFICATION COMPLAINT"

Очікуваний результат:
З’являється форма для подачі скарги, яка містить текстове поле і кнопку, я

[2015-05-13 13:11] #387 closed, assigned to nobody

[2015-05-13 13:19] kvskkvsk commented on #389
Этот функционал еще неясен на уровне самой ЦБД.
У нас это лишь заготовка.

[2015-05-13 13:34] #386 closed, assigned to nobody

[2015-05-13 13:56] Mykhailo-Shtabaliuk-SoftServe opened #390 "НетКаст, Підтверідть будь ласка, що файл audit.yaml повинен бути доданий до тендерної документації, та оновлений"
1. Залогуйтесь в систему http://www.dz2.byustudio.in.ua/
2. Перейдіть до закупівлі http://www.dz2.byustudio.in.ua/tenders/3459
3. Або знайдіть закупівлю за імям: "Предмет закупівлі Tester@dz2.byustudio.in.ua оголошений"

Фактичний результат:
До закупівлі прикріплений та оновлений файл audit.yaml

[2015-05-13 14:02] kvskkvsk commented on #390
Это вопрос к ЦБД. автоматом добавляется.

[2015-05-13 14:03] #158 closed, assigned to nobody

[2015-05-13 14:04] Mykhailo-Shtabaliuk-SoftServe opened #391 "НетКаст, користувачі які мають зареєстровану електронну пошту на сайті meta.ua не отримують жодних емейлів"
1. Зареєструйте екаунт використовуючи пошту ****@meta.ua
2. Перевірте пошту, чи отримали ви лист з паролем

Очікуваний результат:
Користувачі які користуються сервісами пошти meta.ua повинні мати можливість користуватись сервісами НетКаст ресурсу.

Фактичний результат:
Мною було зареєстровано два екаунти :
misha.mul@meta.ua
misha.invited@meta.ua
password: Password1
![image](https://cloud.githubuse

[2015-05-13 14:28] kvskkvsk commented on #391
Попробуйте еще раз, т.к. все письма отправлялись от рамлеровской почты, которая находится в черном списке www.spamcop.net
Сейчас сменили адрес отправителя

[2015-05-13 14:47] w-be commented on #345
Учасник (постачальник) в періоді кваліфікації переможця не має кнопки ЗБЕРЕГТИ. Працює добре.
![image](https://cloud.githubusercontent.com/assets/11888281/7613062/1bde866c-f997-11e4-9b5e-35eec67ae95a.png)
Тобто в різних частинах аплікації реалізовано по різному.

[2015-05-13 15:17] YuraOvramets-SoftServe opened #392 "Неткаст->Визначення переможця. При дискваліфікації всіх учасників статус закупівлі переходить на "Підписання договору""
1. Створіть новий тендер в http://dz2.byustudio.in.ua
2. На етапі подання пропозицій подайте пропозицію
3. Дочекайтесь етапу Визначення переможця і дискваліфікуйте всіх учасників

Очікуваний результат:
Закупівля переходить в статус "Невдалий"

Фактичний результат:
Закупівля переходить в статус "Підписання договору", хоча по факту немає з ким підписувати договір

![image](https://cloud.githubuserco

[2015-05-13 15:18] Mykhailo-Shtabaliuk-SoftServe commented on #391
@kvskkvsk
Перевірив знову з поштою:
 misha.a@meta.ua
Password1
Лист реєстрації не прийшов

[2015-05-14 07:18] kvskkvsk commented on #392
Статусы меняет ЦБД

[2015-05-14 07:50] YuraOvramets-SoftServe commented on #392
@myroslav , можеш перевірити в ЦБД? Статус для даної закупівлі повинен бути "Невдалий", а в Неткасті він відображається, як "Підписання договору", що є не коректним.

[2015-05-14 07:51] kvskkvsk commented on #391
Проверил на misha.a@meta.ua через кнопку "Забули пароль?". Уже все приходит, но в спам.

[2015-05-14 08:03] kvskkvsk commented on #392
ЦБД возвращает статус 'active.awarded' что означает "пройден этап квалификации", но нет разделения на есть ли победитель или всех отклонили.
В статус "Невдалий" ЦБД переводит через сутки для тестового режима и через 10 для рабочего режима
https://api-sandbox.openprocurement.org/api/0.8/tenders/8c0e2ba199bd49b9bac1841de2669452

[2015-05-14 08:43] neretin commented on #373
This is expected behavior.
http://stackoverflow.com/questions/18432376/what-does-for-attribute-do-in-label-tags
http://www.w3schools.com/tags/att_label_for.asp

[2015-05-14 08:55] YuraOvramets-SoftServe commented on #373
Якщо це очікувана поведінка, тоді було б правильно добавити такий же самий напис і для поля Класифікатор CPV, бо якось не логічно, що текстовий напис знаходиться біля поля вибору Класифікатора CPV, а по кліку відкривається список Класифікаторів ДКПП.
Пропозиція поредагувати існуючий текстовий напис "Классификатор" на "Классификатор CPV" і добавити ще один напис для Класифікаторів ДКПП - "Классифик

[2015-05-14 08:57] kvskkvsk commented on #345
@w-be
В этом окне и не должно быть кнопки "ЗБЕРЕГТИ", т.к. поставщик может лишь догружать свою документацию, а для этого действия есть явная кнопка "ДОДАТИ"

[2015-05-14 11:26] #166 closed, assigned to lerich

[2015-05-14 11:58] S-Shevchenko commented on #163
Функционал поменялся.  Можно закрывать.
![image](https://cloud.githubusercontent.com/assets/10655287/7631352/9f42aca6-fa49-11e4-98f8-9f723a500561.png)

[2015-05-14 11:58] #163 closed, assigned to lerich

[2015-05-14 12:00] S-Shevchenko commented on #165
Бага воспроизводится.

[2015-05-14 12:56] S-Shevchenko commented on #164
Задача в работе

[2015-05-14 13:02] S-Shevchenko commented on #162
не воспроизводится.можно закрывать

[2015-05-14 13:02] #162 closed, assigned to lerich

[2015-05-14 13:29] S-Shevchenko commented on #145
исправлено.

[2015-05-14 13:29] #145 closed, assigned to lerich

[2015-05-14 13:49] lerich commented on #150
задачка в работе.

[2015-05-14 14:22] S-Shevchenko commented on #126
Исправлено. Можно закрывать.

[2015-05-14 14:22] #126 closed, assigned to lerich

[2015-05-14 14:25] S-Shevchenko commented on #150
Символ является допустимым , согласно тех. задания.

[2015-05-14 14:25] #150 closed, assigned to lerich

[2015-05-14 14:45] maksimmaksimov commented on #371
@YuraOvramets-SoftServe У нас по требованиям к системе, поле "Замовник" - это составное значение атрибутов [Фамилия] + [Имя] + [Отчество] из таблицы "Пользователи". Но так как это не наша закупка, в таблице "Пользователи" нет записи о пользователе openprocurement, соответственно в этом поле пусто.
У нас есть только данные, которые приходят от ЦБД:
"contactPoint":{
"telephone":"openprocurement",
"n

[2015-05-14 14:48] hkhim opened #393 "Неткаст. Відміна закупівлі. Неможливо відкрити причину відміни закупівлі на Неткасті, якщо закупівля створена на e-тендері."
1. Залогуватися на http://dz2.byustudio.in.ua як Постачальник.
2. Створити закупівлю на http://uat.e-tender.biz/
3. Подати пропозицію з Неткасту.
4. На Е-тендері відмінити закупівлю.

Очікуваний результат:
Закупівля на Неткасті має статус "Відмінений".
Користувач може переглянути причини відміни закупівлі.

Актуальний результат:
Коли користувач клікає на лінку "Причина відміни закупівлі" з'являєть

[2015-05-14 15:03] #371 closed, assigned to nobody

[2015-05-14 15:11] kvskkvsk commented on #393
## Выполнено согласно вот этому:

Змінений функціонал відміни тендерів (необхідність вказання причини, і можливість долучення протоколів та ін. документації) доступний на пісочниці API 0.8 за адресою https://api-sandbox.openprocurement.org/api/0.8

Документація: http://api-docs.openprocurement.org/en/latest/tutorial.html#canceling-tender

Опис в ТЗ: https://docs.google.com/document/d/1uriNzZ554Kbs

[2015-05-14 15:25] YuraOvramets-SoftServe commented on #392
Після 24-ох годин статус змінився на "Невдалий".

[2015-05-14 15:25] #392 closed, assigned to nobody

[2015-05-14 16:02] Mykhailo-Shtabaliuk-SoftServe commented on #391
Вже приходять, закриваю

[2015-05-14 16:02] #391 closed, assigned to nobody

[2015-05-15 10:46] #364 closed, assigned to nobody

[2015-05-15 12:05] PaulBoroday commented on #306
Недоработанное исправили. Остальное - это "заглушки" под контент, который сейчас пишется

[2015-05-15 12:06] PaulBoroday commented on #311
Підтверджую

[2015-05-15 12:07] PaulBoroday commented on #319
Fixed

[2015-05-15 12:11] PaulBoroday commented on #324
Fixed

[2015-05-15 12:14] PaulBoroday commented on #337
Fixed

[2015-05-15 12:16] PaulBoroday commented on #337
Fixed

[2015-05-15 12:17] PaulBoroday commented on #375
Fixed

[2015-05-15 15:00] #231 closed, assigned to nobody

[2015-05-15 15:12] hkhim commented on #375
Поля "Назва юридичної особи" та "Адреса" проходять валідацію на пробіли та спецсимволи.
Дані з спецсимволами та цифрами у цих полях можуть бути збережені.

[2015-05-15 15:14] PaulBoroday commented on #375
Адрес и название компании - поля, в которых могут быть и пробелы и спецсимволы. Именно эти два поля мы оставляем "на откуп" регистрирующемуся, рассчитвая, что название и адрес он знает лучше нас. Поэтому в этой части считаю валидацию настроенной корректно

[2015-05-15 15:16] #375 closed, assigned to nobody

[2015-05-18 06:39] maksimmaksimov commented on #370
Ошибка исправлена.

[2015-05-18 06:51] maksimmaksimov commented on #302
@Mykhailo-Shtabaliuk-SoftServe ошибку с "Загальной помилкой" исправили.

[2015-05-18 10:06] Mykhailo-Shtabaliuk-SoftServe commented on #344
Потрбіно зняти конфігурацію сумісності барузерів і все працює. Закриваю

[2015-05-18 10:06] #344 closed, assigned to nobody

[2015-05-18 13:33] YuraOvramets-SoftServe opened #394 "NewTend. Не відображається ім’я учасника аукціону, якщо ставка зроблена через Неткаст."
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement login: openprocurement pass: test Пользователь: openprocurement@mailinator.com пароль: 123123
2. Створіть новий тендер з валідними даними
3. В періоді очікування пропозиції залогіньтесь в Неткаст і зробіть пропозицію для створеного тендера (http://dz2.byustudio.in.ua login: admin pass: uStudio Email: yovr@softserveinc.com Пароль: Pa

[2015-05-18 15:04] znakharenko commented on #366
Seems label should be changed to other client. We are syncing unit names with CDB.

[2015-05-18 15:51] znakharenko commented on #332
Are you sure that sync was performed by other clients?
Please check actual data at CDB.

If CDB contains correct data then that's not Newtend issue and it should be reassigned.

[2015-05-18 16:01] znakharenko commented on #330
As I know, files couldn't be deleted in any case. You are able to replace it with blank file or something like that. This is requirement from CDB.

[2015-05-18 16:03] znakharenko commented on #321
This is our "commercial" part. We really appreciate if you are willing to test it for us but I don't think you should :)

[2015-05-18 16:07] znakharenko commented on #318
Why it shouldn't be displayed? Documents tab contains all docs uploaded by user (customer), tender docs, qualification docs, contacts etc.

[2015-05-18 16:09] znakharenko commented on #317
Same as Issue #330

[2015-05-18 16:10] znakharenko commented on #316
This input was there for testing purposes. Should be fixed now

[2015-05-18 16:48] myroslav opened #395 ""тони" -> "тонни""
в одиницях виміру

[2015-05-18 16:54] myroslav commented on #395
Задача виплила з #310 а http://standards.openprocurement.org/unit_codes/recommended/uk.json має `TNE` з помилкою

[2015-05-18 18:21] PaulBoroday commented on #394
Ну вот почему в аукционе на стороне ЦБД все отображается (http://auction-sandbox.openprocurement.org/tenders/b68745ad379e48c28dfb894375e970db), а на внутренней реализации аукциона конкретной площадки (http://dev23.newtend.com/openprocurement/#/tender/b68745ad379e48c28dfb894375e970db/auction) - нет, я не могу знать... :)

[2015-05-18 18:24] PaulBoroday commented on #376
Fixed

[2015-05-18 18:25] PaulBoroday commented on #367
Поиск по номеру не предусмотрен функционалом

[2015-05-19 08:30] znakharenko commented on #394
We are going to show name instead of legalName (per our discussion with Myroslav).

[2015-05-19 08:58] znakharenko commented on #336
Backdrop is disabled, so you are forced to select action in modal dialog.

[2015-05-19 09:10] #352 closed, assigned to nobody

[2015-05-19 09:11] #340 closed, assigned to nobody

[2015-05-19 09:13] #337 closed, assigned to nobody

[2015-05-19 09:15] w-be commented on #335
Тепер підпис гарний
![image](https://cloud.githubusercontent.com/assets/11888281/7699450/a908e8e2-fe20-11e4-9ae4-d47915f929d5.png)

[2015-05-19 09:15] #335 closed, assigned to nobody

[2015-05-19 09:18] #324 closed, assigned to nobody

[2015-05-19 09:23] #376 closed, assigned to nobody

[2015-05-19 09:47] YuraOvramets-SoftServe opened #396 "NewTend->Стрес тестінг. Некоректна поведінка при оголошенні закупівлі"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement login: openprocurement pass: test Пользователь: openprocurement@mailinator.com пароль: 123123
2. Перейдіть до створення закупівлі
3. Заповніть усі поля валідними даними і натисніть "Опубликовать"

Очікуваний результат:
З"являється повідомлення, накшталт: "ЦБД тимчасово не доступна, спробуйте пізніше"; або закупівля створена без ЦБД

[2015-05-19 09:52] w-be opened #397 "Неткаст.Стрес тест. Створення закупівлі. При оголошені зберігає в чернетку з недостатнім поясненям."
1. ЦБД вимкнена.
   1.Залогуйтесь закупівельником
2. Натисніть Оголосити закупівлю.
   3.Заповніть всі обов"язкові поля
3. Натисніть Оголосити

Очікувано: Система зберігає закупівлю до чернеток і повідомляє. чому вона це робить. Накшталт: "ЗМІНИ ЗБЕРЕЖЕНО В ЧЕРНЕТКИ. ЦБД ТИМЧАСОВО НЕДОСТУПНА"

Фактично: Система зберігає закупівлю до чернеток, повідомляючи тільки: "ЗМІНИ ЗБЕРЕЖЕНО, ?:NOT PUBLICATED

[2015-05-19 10:44] YuraOvramets-SoftServe opened #398 "NewTend->Стрес тестінг. Відсутня кнопка додання документації для постачальника"
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement login: openprocurement pass: test Пользователь: openprocurement@mailinator.com пароль: 123123
2. Створіть тендер з валідними даними
3. Дочекайтесть періоду подання пропозицій
4. Залогіньтесь в систему як Пользователь: qtest@mailinator.com Пароль: 123123
5. Перейдіть по посиланню http://dev23.newtend.com/openprocurement/provider/#/ho

[2015-05-19 12:28] w-be opened #399 "Неткаст. Стрес тест. Кваліфікація переможця. Неможливо додати документ до пропозиції."
Передумови:
ЦБД зависла.
Закупівля в стані Кваліфікація Переможця.
1. Залогуйтесь як постачальник
2. Перейдіть до своїх пропозицій
3. Відкрийте пропозицію/закупівлю в стані Кваліфікація переможця
4. Додайте документ до пропозиції

Очікувано: Замість відкриття діалога додавання документа з"являється повідомлення назразок "Наразі неможливо додати документ". Або кнопка взагалі не доступна, як Зробити

[2015-05-19 12:42] w-be opened #400 "Неткаст. Стрес тест. Кваліфікація переможця. Помилка 403 при впробі відкрити інформацію про Постачальника."
Передумови:
Закупівля в стані Кваліфікація Переможця.
ЦБД зависла
1. Залогінтесь замовником
2. Перейдіть до своїх закупівель
3. Відкрийте інформацію про кандидата

Очікувано: Інформація відкривається (замовник з того самого майданчика). Або повідомляється, що інформація тимчасово недоступна.

Фактично: З"являється помилка "403".
![image](https://cloud.githubusercontent.com/assets/11888281/7703055/

[2015-05-19 12:59] kvskkvsk commented on #400
Нажмите выход и войдите заново. все будет работать

[2015-05-19 13:04] w-be opened #401 "Неткаст. Стрес тест. Головне меню. Не інформативне повідомлення про недоступність ЦБД."
Передумови:
ЦБД зависла.
1. Залогінтесь Закупівельником/Продавцем

Очікувано: Користувачу показане повідомлення на укріїнській, + список неможливих дій, + вибачте за тимчасові незручності.
Наприклад: "ЦБД не підєднана. Тимчасово неможливі: створення/зміна закупівеь, оглошення/редагування пропозицій, робота з запитаннями, робота з скаргами. Вибачте за незручності."

Факктично: Користувачу показуєть

[2015-05-19 13:10] kvskkvsk commented on #399
Уточните, пожалуйста, т.к. проверено из-под вашего аккаунта и все выдает
![1](https://cloud.githubusercontent.com/assets/11290871/7703564/73b3a17a-fe41-11e4-9520-b6a0fad0c979.jpg)

[2015-05-19 13:35] w-be opened #402 "Неткаст. Стрес тест. Необроблені повідомлення при роботі з Питанням та скаргами."
Передумови:
Існує закупка в періоді уточнень з питанням і скаргою на які можна надати відповідь.
ЦБД Зависла
1. Залогінтесь як Закупник(Постачальник)
2. Зайдіть закупівлю
3. Дайте відповідь на питання(задайте питання)
4. Дайте відповідь на скаргу (створіть скаргу)

Очікувано: Коли ЦБД зависла, робота з скаргами/питаннями, так само не доступна як і закупівлею та пропозицією.

Фактично:
Коли ЦБД зав

[2015-05-19 13:45] w-be commented on #402
Такі ж повідомлення на підтверження переможця та відхилення переможця.

[2015-05-19 14:48] hkhim opened #403 "NewTend > Stress Testing. Некоректна поведінка та втрачені дані при "завислій" ЦБД"
Передумови:
1. ЦБД в "завислому" стані.
2. Є деякі закупівлі у періоді уточнень, кваліфікації та підписання договору.

Сценарії:
1. Залогуватися як Продавець (qtest@mailinator.com) > Задати запитання до Закупівлі у періоді уточнень.
2. Залогуватися як Закупівельник (openprocurement@mailinator.com) і відповісти на задане питання до закупівлі у періоді уточнень.
3. Залогуватися як Закупівельник (ope

[2015-05-19 15:06] w-be commented on #399
Перепровірив на іншому бравзурі/компі - тільки в мене відтворюється!
В мне ІЕ10.
На FF та ІЕ11 все ок.

Підтвердіть, що можна закрити (якщо ІЕ10 не підтримується).

[2015-05-19 15:07] hkhim opened #404 "NewTend > Stress Testing. Запитання. Чи правильне повідомлення, яке відображається користувачеві, коли він зберігає зміни при вимкненій ЦБД?"
Передумови:
1. ЦБД вимкнена.

Кроки:
1. Залогуватися на http://dev23.newtend.com/openprocurement/#/home/page/1 як Закупівельник (openprocurement@mailinator.com)
2. Створити закупівлю > Опублікувати

Актуальний результат:
З*являється повідомлення про помилку:
![2015-05-19 18_00_40-mozilla firefox](https://cloud.githubusercontent.com/assets/12292248/7706204/9e6c8584-fe51-11e4-9ef6-9c9d48a8610a.png)

[2015-05-19 15:23] znakharenko commented on #404
This error message looks fine :) We are going to improve messages later.
Look at this issue number, it is so symbolic :) #404

[2015-05-19 15:23] #404 closed, assigned to nobody

[2015-05-19 15:26] YuraOvramets-SoftServe commented on #403
Така сама поведінка і при "покладеній" ЦБД - зміни не зберігаються, файли не додаються і повідомлення про проблеми з БД не виводиться.

[2015-05-19 15:33] YuraOvramets-SoftServe commented on #398
Заведено помилково

[2015-05-19 15:33] #398 closed, assigned to nobody

[2015-05-19 15:51] YuraOvramets-SoftServe commented on #385
Дивно, що усі майданчики працюють з однією ЦБД і у одних можна виставляти ціну без ПДВ (NewTend i Public-bid), а у Неткаст - ні. Якщо була така угода з Прозорро, тоді було б коректним забрати з усіх майданчиків можливіть вибору ціну з/без ПДВ.

Уточніть, будь ласка, чи коректно те, що на NewTend i Public-bid є можливість вибору ціни (з/без ПДВ), а на Неткаст - ні

[2015-05-20 08:16] #367 closed, assigned to nobody

[2015-05-20 10:15] hkhim opened #405 "NewTend. Створення закупівлі. UI. Неправильна нумерація тижнів на назви місяців у випадаючому календарі."
1. Залогуватися на http://dev23.newtend.com/cabinet/customer як Закупівельник.
2. Перейти на сторінку Оголошення Закупівлі http://dev23.newtend.com/openprocurement/#/create-tender
3. Клікнути по іконці вибору дати > перейти до січня

Очікуваний результат:
Назви місяців, днів та назви кнопок є локалізовані.
Нумерація тижнів починається з початку січня.
![2015-05-20 13_06_24- 2016](https://cloud.git

[2015-05-20 10:39] YuraOvramets-SoftServe opened #406 "NewTend->Реєстрація контракту. Підтвердіть, будь ласка, чи правильною є можливість додавати декілька контрактів при визначенні переможця."
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Оголосіть тендер з валідними даними
3. В періоді "Очікування пропозицій" зробіть хоча б одну пропозицію
4. В періоді "Кваліфікація" виберіть переможця
5. Використовуючи функціонал "Загрузить договор" додайте декілька файлів

[2015-05-20 10:46] hkhim opened #407 "NewTend. Оголошення закупівлі. Відсутність повідомлення про введення невалідних даних."
1. Залогуватися на http://dev23.newtend.com/cabinet/customer як Закупівельник.
2. Перейти на сторінку Оголошення Закупівлі http://dev23.newtend.com/openprocurement/#/create-tender
3. Ввести невалідні дані у деякі поля (наприклад, Бюджет, Шаг, Количество) > Опублікувати

Очікуваний результат:
З'являється повідомлення про неправильно заповнені поля і ті поля підсвічуються червоним.

Актуальний резул

[2015-05-20 10:51] znakharenko commented on #407
They are marked with red, look at your own screenshot. Are you issue about text error message absence? If so, please improve description "але немає жодного повідомлення про те, що якісь поля заповнені неправильно"

[2015-05-20 12:11] maksimmaksimov commented on #353
@Mykhailo-Shtabaliuk-SoftServe ошибка исправлена, проверить можно будет только на новых закупках.

[2015-05-20 12:14] YuraOvramets-SoftServe opened #408 "NewTend->Кваліфікація. Статус учасника, якого визнали переможцем не змінюється з "Ожидает решения""
1. Залогуйтесь в систему http://dev23.newtend.com/openprocurement
   login: openprocurement
   pass: test
   Пользователь: openprocurement@mailinator.com
   пароль: 123123
2. Створіть тендер з валідними даними
3. На етапі "Прийом пропозицій" зробіть хоча б одну пропозицію
4. На етапі "Кваліфікація" визнайте якогось з учасників переможцем

Очікуваний результат:
Статус учасника змінюється на "Победи

[2015-05-20 12:29] hkhim opened #409 "NewTend. Задання запитання. Відсутній скролбар у вікні запитання і відповідно, текст запитання накладається на інші контроли."
1. Залогуватися на http://dev23.newtend.com/cabinet/customer як Постачальник.
2. Вибрати закупівлю в періоді Уточнення і задати довге запитання (від 654 символів)

Очікуваний результат:
З'являється скролбар, текст запитання залишається в межах текстового вікна.

Актуальний результат:
Текст запитання накладається на кнопку і виходить поза межі вікна.
![2015-05-20 14_58_16-](https://cloud.githubuser

[2015-05-20 12:51] hkhim commented on #409
Те саме і для відповідей:
![2015-05-20 15_50_51-mozilla firefox](https://cloud.githubusercontent.com/assets/12292248/7726026/0c3d30f2-ff08-11e4-8977-bc98955e98cb.png)

[2015-05-20 13:18] kvskkvsk commented on #399
Исправили. Особенности ИЕ8-10

[2015-05-20 15:35] YuraOvramets-SoftServe commented on #353
Створив нову закупівлю, тепер в Public-bid Назва закупівлі завжди "Без назви".

![image](https://cloud.githubusercontent.com/assets/12292125/7729705/ec6633ac-ff1e-11e4-9d3c-23113422c455.png)

[2015-05-20 15:48] hkhim opened #410 "NewTend. Кваліфікація переможця. Зміщені контроли на сторінці."
1. Залогуватися на http://dev23.newtend.com/cabinet/customer як Закупівельник.
2. Перейти на закупівлю зі статусом "Кваліфікація" > вибрати пропозицію, яка перемогла в аукціоні.

Очікуваний результат:
Всі контроли розміщені на однаковій відстані один від одного. При зміні розміру сторінки вони не зміщуються.

Актуальний результат:
В Мозілі при максимізованій сторінці конроли зміщені.
![2015-05-20

[2015-05-20 15:56] YuraOvramets-SoftServe commented on #370
З’явилась нова проблема:
1. Створити нову закупівлю на NewTend
2. Прикріпити до неї 1 файл
3. Впевнитись, що на Public-bid відображається доданий документ
4. Вернутись на NewTend і замінити існуючий

Очікуваний результат:
Всі зміни відображаються на Public-bid

Фактичний результат:
На Public-bid не відображаються зміни до вже існуючого файла

Зміни відображаються тільки у випадку, коли замінювати

[2015-05-20 16:13] #302 closed, assigned to nobody

[2015-05-20 16:23] maksimmaksimov commented on #353
Исправим

[2015-05-20 17:05] znakharenko commented on #310
Units are syncing with http://opendata.org.ua/dataset/recommended-units-of-measure

[2015-05-21 05:57] maksimmaksimov commented on #353
Ошибка исправлена, название закупки отображается

[2015-05-21 06:54] maksimmaksimov commented on #370
Ошибка исправлена. Уточнение: обновление файла в закупке, созданной на площадке NewTend в Public-bid будет видно не сразу, время ожидания, при тестировании, составило 8-10 минут.

[2015-05-21 09:25] S-Shevchenko commented on #161
Задача не актуальна, функционал по сообщениям будет реализован в другом формате. может закрывать.

[2015-05-21 09:25] #161 closed, assigned to lerich

[2015-05-21 09:28] S-Shevchenko commented on #152
Исправлено.

[2015-05-21 09:28] #152 closed, assigned to lerich

[2015-05-21 09:34] YuraOvramets-SoftServe opened #411 "NewTend->Подання пропозиції. Нема валідації на введені дані в полі "Ваше предложение""
1. Залогуйтесь в NewTend як Закупівельник
2. Оголосіть тендер з валідними даними
3. Дочекайтесь періоду "Предложения" і залогіньтесь як Постачальник
4. Знайдіть створений трендер і натисніть на "Сделать ставку"
5. Введіть з допомогою лічильника введіть від’ємне значення, 0, більше за бюджет і натисніть "Сделать предложение"

Очікуваний результат:
Користувач сповіщений про те, що введені дані не є

[2015-05-21 09:35] #353 closed, assigned to nobody

[2015-05-21 10:09] YuraOvramets-SoftServe opened #412 "NewTend->Завершення тендера. Після натиснення кнопки "Закончить торги" сторінка не перезавантажується"
Передумови:
1. Закупівля в періоді "Рассмотрен" з визначеним переможцем і завантаженим договором
 і в якому вже доступна можливість завершити торги

Кроки:
1. Залогіньтесь, як закупівельник, який оголошував закупівлю
2. Знайдіть закупівлю і перейдіть до секції "Торги"
3. Натисніть кнопку "Закончить торги"

Очікуваний результат:
Після натиснення кнопки сторінка опрацьовує зміни. Після опрацювання с

[2015-05-21 10:22] S-Shevchenko commented on #121
Задача в работе

[2015-05-21 10:23] lerich commented on #127
Задача в работе

[2015-05-21 10:24] S-Shevchenko commented on #135
задача в работе

[2015-05-21 10:42] S-Shevchenko commented on #159
Задача устаревшая. Исправлено с новым функционалом.

[2015-05-21 10:42] #159 closed, assigned to lerich

[2015-05-21 10:43] S-Shevchenko commented on #129
задача в работе

[2015-05-21 10:49] #409 closed, assigned to nobody

[2015-05-21 11:23] #370 closed, assigned to nobody

[2015-05-21 11:42] hkhim opened #413 "NewTend. Редагування закупівлі. Відсутня кнопка, яка дозволяє завантажувати нові документи."
1. Залогуватися на http://dev23.newtend.com/cabinet/customer як Закупівельник.
2. Перейти на http://dev23.newtend.com/openprocurement/#/home/page/1 і вибрати свою закупівлю в періоді Уточнення, яка має прикріплені документи.
3. Перейти на вкладку "Документи"

Очікуваний результат:
У вкладці "Документи" є кнопка "Загрузить Документ", яка дозволяє користувачеві завантажити нові документи до закупівл

[2015-05-21 11:51] kvskkvsk commented on #362
Обнаружено, что public-bid.com.ua и http://dev23.newtend.com создают тендера без mode=test следовательно в тестовом режиме на Неткаст этих тендеров нет.

[2015-05-21 12:11] znakharenko commented on #362
This option is switchable in NEWTEND, seems you are using user with disabled test mode.

[2015-05-21 12:58] znakharenko commented on #413
It is present actually, however it is placed below green bar :)
Layout issue, will be fixed soon.

[2015-05-21 13:24] YuraOvramets-SoftServe opened #414 "NewTend->Завантаження документації. Кнопка для завантаження документації наполовину схована"
1. Залогуватись в NewTend, як Закупівельник
2. Створити тендер без додавання документації
3. Перейти до секції "Документы"

Очікуваний результат:
Текст, що до тендеру не прикріплений ні один документ повинен бути присутнім і кнопка "Загрузить документ" повинна бути повністю видимою

![image](https://cloud.githubusercontent.com/assets/12292125/7749387/c5582e3e-ffd5-11e4-90ef-0aca67d5fc68.png)

Факт

[2015-05-21 13:24] hkhim opened #415 "NewTend. Редагування закупівлі. Зміни в закупівлі не зберігаються, якщо до неї прикріплений хоча б один документ."
1. Залогуватися на Залогуватися на http://dev23.newtend.com/cabinet/customer як Закупівельник.
2. Перейти на http://dev23.newtend.com/openprocurement/#/home/page/1 і вибрати свою закупівлю в періоді Уточнення, яка має прикріплені документи > Редагувати > Зробити зміни у полях закупівлі > Опублікувати

Очікуваний результат:
Зміни збережені і закупівля відображається з новими даними.

Актуальний рез

[2015-05-21 13:51] #316 closed, assigned to nobody

[2015-05-21 13:52] #318 closed, assigned to nobody

[2015-05-21 13:54] #330 closed, assigned to nobody

[2015-05-21 14:13] YuraOvramets-SoftServe commented on #332
Проблема тільки з E-Tender. Неткаст і Public-bid відображають зміни файлів коректно.

![image](https://cloud.githubusercontent.com/assets/12292125/7750380/6cad45b0-ffdc-11e4-9dc2-8ff775b72871.png)

Результати в ЦБД:

![image](https://cloud.githubusercontent.com/assets/12292125/7750397/92880d2e-ffdc-11e4-8d13-ba7f0fcb8bb0.png)

[2015-05-21 14:15] YuraOvramets-SoftServe commented on #390
@myroslav , підкажіть, будь ласка, чи файл audit.yaml має додавтись до тендерної документації після завершення аукціону?

[2015-05-21 14:17] #317 closed, assigned to nobody

[2015-05-21 14:20] #310 closed, assigned to nobody

[2015-05-21 14:32] #321 closed, assigned to nobody

[2015-05-21 14:47] #413 closed, assigned to nobody

[2015-05-21 15:33] #415 closed, assigned to nobody

[2015-05-22 08:52] YuraOvramets-SoftServe opened #416 "NewTend->Створення закупівлі(Не ігровий режим). Поле "Заказчик" порожнє."
1. Залогуйтесь в NewTend як Закупівельник в "Не ігровому режимі" (login - openprocboss@mailinator.com pass - 123123)
2. Оголосіть закупівлі з валідними даними

Очікуваний результат:
Поле "Заказчик" містить назву замовника

Фактичний результат:
Поле "Заказчик" порожнє і в ЦБД назва замовника не передається

![image](https://cloud.githubusercontent.com/assets/12292125/7767163/eb5a95b0-0078-11e5-88d5

[2015-05-22 09:12] znakharenko commented on #416
I've missed to enter short name for this Company :)
Fixed, please try to create a new tender and recheck.

[2015-05-22 09:27] #416 closed, assigned to nobody

[2015-05-22 10:42] w-be opened #417 "Newtend. ІЕ11. Не працює додавання документу до закупівлі."
http://dev23.newtend.com/openprocurement/#/tender/c06ddf13163540aeb612aec1c2cc97fa/documents
openprocurement@mailinator.com / 123123

Відтворюється тільки ІЕ11.
1. Залогуйтесь
2. Створіть закупівлю
3. Зачекайте до періода уточнень
4. Перейдіть до документів закупівлі
5. Натисніть на кнопку Загрузить Документ

Очікувано: З'являється попап загрузки документа.

Фактично: кнопка зникає секунд на 10. П

[2015-05-22 12:03] darchik commented on #153
Тестовый сервер находится по адресу http://dz.dz-test.net

[2015-05-22 12:03] #153 closed, assigned to darchik

[2015-05-22 12:03] darchik commented on #146
Fixed
![2015-05-22 15 03 32](https://cloud.githubusercontent.com/assets/5691919/7770150/c2f44e66-0093-11e5-8bc8-a1326d54b0b4.png)

[2015-05-22 12:03] #146 closed, assigned to darchik

[2015-05-22 12:04] darchik commented on #143
Данная проблема исчезнет при вводе в эксплуатацию ITEM's.

[2015-05-22 12:04] #143 closed, assigned to darchik

[2015-05-22 12:04] prozorro-support commented on #143
_Comment from Zendesk by a.hlyakin@smartweb.com.ua at 2015-03-04 09:57:18 UTC:_

<p>Все верно. Так будет и с другими тендерами, я так понимаю, с Элеганса. </p>

<p>Этот текст относится к описанию всего тендера. Мы его не парсим т.к. есть описание item’а, которое мы и СМАРТ используем. Это в перспективе перехода на 0.7 в таком случае актуально использовать так. </p>

<p>--
<br />Andrii Khliakin
<br

[2015-05-22 12:04] prozorro-support commented on #143
_Comment from Zendesk by a.hlyakin@smartweb.com.ua at 2015-03-04 09:57:18 UTC:_

<p>Все верно. Так будет и с другими тендерами, я так понимаю, с Элеганса. </p>

<p>Этот текст относится к описанию всего тендера. Мы его не парсим т.к. есть описание item’а, которое мы и СМАРТ используем. Это в перспективе перехода на 0.7 в таком случае актуально использовать так. </p>

<p>--
<br />Andrii Khliakin
<br

[2015-05-22 12:07] darchik commented on #25
![2015-05-22 15 07 25](https://cloud.githubusercontent.com/assets/5691919/7770195/56b9e9bc-0094-11e5-8a8a-64ae11519234.png)

[2015-05-22 12:07] #25 closed

[2015-05-22 12:11] YuraOvramets-SoftServe commented on #333
Зараз статуси змінюються коректно, але є одне питання:

Якщо при створенні тендера в полі "Начало периода уточнений" вказати, н-д завтрашній день, то після збереження статус тендера буде "Уточнение", але по факту ніхто не зможе задавати питання, бо період уточнень починається з завтрашнього дня. Тому було б добре залишати статус  "Опубликовано", поки не настане період уточнень.

[2015-05-22 12:22] znakharenko commented on #333
We are mapping CDB statuses, so tender status is active.enquiries and this is equal to our "Уточнение". Will improve this later.

[2015-05-22 12:44] w-be opened #418 "NewTend. IE11. Непрацює редагування закупівлі в статусі уточнення"
http://dev23.newtend.com/openprocurement/tenders#/tender/c06ddf13163540aeb612aec1c2cc97fa/edit
openprocurement@mailinator.com / 123123

Відтворюється тільки ІЕ11.
1. Залогуйтесь
   2.Створіть закупівлю
   3.Зачекайте до періода уточнень
2. Відкрийте закупівлю врежимі редагування.
3. Змініть щось.
4. Натисніть Опубликовать
5. Зачекайте деякий час (3хв, можна менше)
6. Перегрузіть сторінку

Очікуван

[2015-05-22 14:21] #374 closed, assigned to nobody

[2015-05-22 14:30] hkhim opened #419 "NewTend. Відміна пропозиції. Описка у тексті діалогу відміни пропозиції."
1. Залогуватися на http://dev23.newtend.com/cabinet/customer як Постачальник.
2. Зробити пропозицію на закупівлю.
3. Відмінити пропозицію.
   Актуальний результат:
   Пропущена буква у слові "Вы"
   ![default](https://cloud.githubusercontent.com/assets/12292248/7772642/2a2cb0f0-00a8-11e5-8c60-3718e3674372.png)

[2015-05-22 14:38] hkhim opened #420 "NewTend. Неможливо редагувати пропозицію в ІЕ11."
Передумови:
Користувач використовує ІЕ11.
1. Залогуватися на http://dev23.newtend.com/cabinet/customer як Постачальник.
2. Перейти на http://dev23.newtend.com/dz/provider/#/home/page/ і зробити пропозицію до закупівлі.
3. Натиснути "Изменить ставку" і ввести інше значення.

Очікуваний результат:
Нове значення ставки буде збережене.

Актуальний результат:
Сторінка довго вантажиться (15 хв. приблизн

[2015-05-22 14:54] #358 closed, assigned to nobody

[2015-05-22 15:39] #342 closed, assigned to znakharenko

[2015-05-22 15:39] #314 closed, assigned to znakharenko

[2015-05-22 15:39] #312 closed, assigned to znakharenko

[2015-05-22 15:39] #394 closed, assigned to znakharenko

[2015-05-22 15:39] #414 closed, assigned to nobody

[2015-05-22 15:40] #412 closed, assigned to nobody

[2015-05-22 15:40] #373 closed, assigned to znakharenko

[2015-05-22 15:40] #357 closed, assigned to znakharenko

[2015-05-22 15:40] #336 closed, assigned to znakharenko

[2015-05-25 08:19] YuraOvramets-SoftServe opened #421 "Неткаст->Редагування закупівлі. Не має можливість скасувати внесені зміни"
1. Залогуватися на http://dz2.byustudio.in.ua як Закупівельник
2. Оголосити тендер з валідними даними
3. В періоді "Обговорення" натисніть кнопку "Редагувати"
4. Внесіть якісь зміни в тендер, але не зберігайте їх

Очікуваний результат:
Користувач повинен мати можливість скасувати внесені зміни

Фактичний результат:
Користувач має можливість зберегти зміни і відмінити тендер, замість того, щоб скас

[2015-05-25 08:32] w-be opened #422 "Неткаст. Домашня сторінка. Стурбований смайлик захопив сторінку, стало не зручно читати текст."
http://www.dz2.byustudio.in.ua/
1. Зайдіть на домашню сторінку Неткаст.

Очікувано: Все виглядає дружньо для користувача.

Фактично: Використаний задній фон (стурбований смайлик) погано контрастує з текстом, текст читати не зручно. Також смайл помітно меншого розміру ніж фон який він займає, з'являється піксилізація.
![image](https://cloud.githubusercontent.com/assets/11888281/7794302/7da97cb0-02d

[2015-05-25 09:10] kvskkvsk commented on #422
Почистите кеш и обновите страницу

[2015-05-25 09:19] w-be opened #423 "Неткаст. Реєстрація користувача. Несхожість перевірки цифрових полів."
http://www.dz2.byustudio.in.ua/registration/buyers

Пропоную зробити валідацію на поле Поштовий Індикс таку ж як і на поле Код ЄДРПОУ / ІПН - на рівні доступності вводу: фіксована кількість знаків (5) та тільки цифри.

![image](https://cloud.githubusercontent.com/assets/11888281/7794546/61cd7304-02d4-11e5-8d5a-01fcd4c4b22c.png)

[2015-05-25 09:28] w-be opened #424 "Неткаст. Реєстрація. Не коректна перевірка поля Факс."
http://www.dz2.byustudio.in.ua/registration/sellers
1. Зайдіть на сайт.
2. Перейдіть до реєстрації користувача.
3. Помістіть курсор в поле Факс
4. Перемістіть курсор в інше поле

Очікувано: Поле Факс залишиться не підсвіченим.

Фактично: Поле Факс починає підсвічуватись оранжевим начебто воне є обов'язковим для заповнення.

![image](https://cloud.githubusercontent.com/assets/11888281/7794909/46b18

[2015-05-25 09:40] w-be opened #425 "Неткаст. Реєстрація. Чекбокси погодження з умовами не впливають на можливість реєстрації."
http://www.dz2.byustudio.in.ua/registration/sellers
1. Зайдіть на сторінку реєстрації нового користувача.
2. Заповніть всі поля допустимими значенями.
3. Залишіть чекбокси погодженя з умовами порожніми
4. Натисніть Зареєструватись

Очікувано: обов'язкові чекбокси підсвічуються оранжевим.

Фактично: обов'язкові чекбокси підсвічуються оранжевим, але система пириходить до наступного кроку: перевірки

[2015-05-25 09:46] hkhim opened #426 "Неткаст. Нелокалізоване повідомлення у діалозі підтвердження відміни закупівлі."
1. Залогуватися на http://dz2.byustudio.in.ua як Постачальник.
2. Подати пропозицію > Відмінити подану пропозицію.

Очікуваний результат:
Діалог підтвердження відміни пропозиції українською мовою.

Актуальник результат:
Діалог підтвердження відміни пропозиції нелокалізований.
![2015-05-25 12_25_34- -](https://cloud.githubusercontent.com/assets/12292248/7795276/0503828c-02dc-11e5-9832-0dd14d4e1a0a.

[2015-05-25 09:49] hkhim opened #427 "Неткаст. Відміна пропозиції. Після відміни пропозиції з'являється некоректне повідомлення."
1. Залогуватися на http://dz2.byustudio.in.ua як Постачальник.
2. Подати пропозицію до закупівлі.
3. Відкликати пропозицію.

Очікуваний результат:
З'являється повідомлення про те, що пропозицію відкликано.

Актуальний результат:
З'являється повідомлення про те, що пропозицію прийнято.
![2015-05-25 12_48_44- -](https://cloud.githubusercontent.com/assets/12292248/7795349/bce0abe6-02dc-11e5-8fbd-a28a

[2015-05-25 10:27] kvskkvsk commented on #425
Исправлено

[2015-05-25 10:34] kvskkvsk commented on #427
Исправлено

[2015-05-25 10:48] kvskkvsk commented on #424
Исправлено

[2015-05-25 10:54] hkhim commented on #407
Побачила, що поля підсвічуються червоним=)
Тоді виникає питання про те, що поля з невалідними даними підсвічуються дуже тьмяно. Це підкреслення важко помітити.

[2015-05-25 10:58] YuraOvramets-SoftServe opened #428 "Неткаст->Додавання документації(IE). Неможливо додати документацію до закупівлі."
1. Залогуватися на http://dz2.byustudio.in.ua як Закупівельник через браузер Internet Explorer
2. Перейти до оголошення закупівлі
3. У секції Тендерна документація додайте файл

Очікуваний результат:
Файл доданий

Фактичний результат:
З’являється індикатор завантаження і сторінка постійно вантажиться. Результат валідний для всіх випадків додавання файлу (при поданні пропозиції, при відповіді на ск

[2015-05-25 11:38] kvskkvsk commented on #428
Если это ИЕ10 и в имени файла есть кириллические буквы, то он этого и не сделает, глючит его.

[2015-05-25 12:27] YuraOvramets-SoftServe commented on #428
Тестую в ІЕ11, взяв файл з іменем "Silent" - сторінка вантажиться вже ~40 хв

[2015-05-25 12:27] #422 closed, assigned to nobody

[2015-05-25 12:32] #425 closed, assigned to nobody

[2015-05-25 12:36] #424 closed, assigned to nobody

[2015-05-25 13:12] znakharenko commented on #360
Unable to reproduce.
Please recheck and clarify step #5: Перейдіть до списку тендерів

[2015-05-25 13:26] kvskkvsk commented on #428
Сам механизм работает, но в ИЕ действительно наблюдаются залипания при отправке файла, правда, не всегда. При этом сам ИЕ не выдаёт каких-либо ошибок по сети или яваскрипту.

[2015-05-25 13:48] YuraOvramets-SoftServe commented on #360
Більше не відтворюється

[2015-05-25 13:48] #360 closed, assigned to nobody

[2015-05-25 14:08] kvskkvsk commented on #388
Уже возможно

[2015-05-25 14:12] hkhim commented on #427
В мене далі відтворюється.

[2015-05-25 14:48] YuraOvramets-SoftServe commented on #428
Тобто це проблема в самому ІЕ і ми неможемо її вирішити?

[2015-05-25 15:40] #410 closed, assigned to nobody

[2015-05-26 07:17] kvskkvsk commented on #427
Почистите кеш и обновите страницу. Все работает.

[2015-05-26 10:52] w-be opened #429 "Неткаст. Задоволення скарги. Іконка скачати документ трохи накладається на назву документа."
http://www.dz2.byustudio.in.ua/tenders/3938/complaints
1. У постачальника є закупівля з незадоволеною скаргою
2. Зайдіть постачальником
3. Зайдіть в закупівлю з незадоволеною скаргою
4. Перейдіть до скарги
5. Натисніть задовільнити
6. Впишіть довгий текс в поле Назва документа
7. Завантажте документ

Очікувано: контроли не накладаються один на одного.

Фактично: Іконка скачати документ трохи накла

[2015-05-26 12:23] znakharenko commented on #348
Answer works as edit. This is not limited by CDB.
We've improved UI, so previous answer on particular question is placed in the text area.

[2015-05-26 13:41] w-be opened #430 "Неткаст. ІЕ11. Оголошення закупівлі. Неможливо оголосити закупівлю з 2 CPV/ДКПП."
http://www.dz2.byustudio.in.ua/tenders/3997/edit

Відтворюється тільки в ІЕ11.
1. Зайдіть замовником
2. Перейдіть до створення закупівлі
3. Заповніть всі поля
4. Додайте ще 1 придмет закупки
5. Заповніть додаткову закупівлю
6. Натисніть Опублікувати

Очікувано: Закупівля опублікована.

Фактично: Закупівля не опублікована. Клас CPV підсвічується Оранжевим. CPV і ДКПП обрізані.

![image](https://clo

[2015-05-26 14:08] kvskkvsk commented on #430
Какой CPV у первой позиции?
По правилам ЦБД у всех позиций должна быть одинаковая группа, т.е. первые 3 цифры CPV должны быть во всех позициях одинаковые

[2015-05-26 14:13] znakharenko commented on #348
@myroslav could you clarify, is it ok that we have edit answer functionality?

[2015-05-26 14:13] znakharenko commented on #406
@myroslav please answer this question

[2015-05-26 14:21] w-be commented on #430
Коли в CPV перші 3 цифри однакові то працює. Виходить правильно, що не зберігає. Пропоную дадати детальніше пояснення - якесь повідомлення.

[2015-05-26 15:30] hkhim commented on #427
Тепер інше неправильне повідомлення:
![2015-05-26 17_28_22- -](https://cloud.githubusercontent.com/assets/12292248/7816149/563c65a2-03d5-11e5-9dd5-4f7a13391406.png)

[2015-05-26 15:55] hkhim opened #431 "Неткаст. Реєстрація. Неможливо зареєструвати мейл з цифрами у його імені"
1. Зайти на сторінку реєстрації http://www.dz2.byustudio.in.ua/registration/sellers
2. Ввести електронну пошту, яка містить цифри.

Очікуваний результат:
Користувач з такю поштою може бути зареєстрований.

Актуальний результат:
Така пошта не проходить валідації.
![2015-05-26 18_51_13-](https://cloud.githubusercontent.com/assets/12292248/7816737/b5f8741a-03d8-11e5-9f27-097ce06362a1.png)

[2015-05-26 16:16] hkhim opened #432 "Неткаст. Кваліфікація. При визначенні переможця при додаванні документу текст іконка валідації накриває текст назви документу."
1. Залогуватися на http://dz2.byustudio.in.ua як Закупівельник.
2. Перейти на закупівлю зі статусом "Кваліфікація" > Визначити переможця.
3. У вікні додавання документу ввести довгу назву документа.

Очікуваний результат:
Іконка валідації не повинна приховувати введений текст.

Актуальний результат:
Іконка валідації накладається на введений текст.
![2015-05-26 19_08_37- -](https://cloud.githubuser

[2015-05-27 07:06] kvskkvsk commented on #431
struby4a@ukr.net уже есть в системе

[2015-05-27 08:42] kvskkvsk commented on #428
Проверили еще раз. Проблема в самом ИЕ. Причем она не проявляется, если открыта "Панель разработчика" - кнопка F12

[2015-05-27 08:42] #431 closed, assigned to nobody

[2015-05-27 09:14] hkhim opened #433 "Неткаст. Після реєстрації користувача неможливо виконати жодних дій з майданчиком."
Точних кроків не знаю, в мене це сталося так:
1. Зареєструватися на http://dz2.byustudio.in.ua
2. Погодитися з умовами угоди.
3. Натиснути плючик, щоб поповнити рахунок.

Актуальний результат:
При натисканні плюсика відкривалося пусте вікно.
Після того як закрила це вікно і обновила сторінку, на майданчику неможливо зробити жодних дій і вилогуватися.
![2015-05-27 12_01_36-mozilla firefox](https://

[2015-05-27 09:49] hkhim opened #434 "Неткаст. Учасник. Поповнення рахунку. Опечатка в слові."
1. Залогуватися на http://dz2.byustudio.in.ua як Учасник.
2. Натиснути на плюсик, щоб поповнити рахунок.

Актуальний результат:
Появляється вікно. У слові "згенеровано" граматична помилка:
![2015-05-27 12_45_40--](https://cloud.githubusercontent.com/assets/12292248/7833334/ae197762-046e-11e5-9948-fbf0e5ac55c8.png)

[2015-05-27 09:52] hkhim commented on #433
Те саме після поповнення рахунку, підтвердження поповнення з адмінки, після перезавантаження сторінки.

[2015-05-27 09:54] kvskkvsk commented on #433
Tester@dz2.byustudio.in.ua предназначен лишь для подтверждения оплаты и договоров в тестовом режиме
В админке есть кнопка выход.
Потом идете на сайт и авторизируетесь как другой ТЕСТЕР, который был действительно зарегистрирован через сайт

[2015-05-27 10:28] YuraOvramets-SoftServe commented on #411
Було б добре також унеможливити ввід суми, яка перевищує бюджет.

[2015-05-27 10:30] znakharenko commented on #411
It should work. Could you provide steps that fail described scenario. Link to tender.

[2015-05-27 10:34] YuraOvramets-SoftServe commented on #411
Прошу вибачення, після рефрешу сторінки сценарій не відтворюється.

[2015-05-27 10:34] #411 closed, assigned to nobody

[2015-05-27 10:42] #388 closed, assigned to nobody

[2015-05-27 10:48] YuraOvramets-SoftServe commented on #366
Колеги, звертаюсь до NewTend, Public-Bid і E-Tender.

Чи є можливість якось стандартизувати одиниці виміру? Бо виходить так, що на деяких майданчиках поле Одиниці виміру просто порожнє

[2015-05-27 10:49] hkhim opened #435 "Неткаст. Отримання лінки на аукціон. Нелокалізований текст лінки та текст вікна введення коду"
1. Залогуватися на http://dz2.byustudio.in.ua як Учасник.
2. Вибрати закупівлю із статусом Аукціон.
3. Прогортати закупівлю донизу, де є лінка для отримання коду на аукціон.

Актуальний результат:
Лінка має нелокалізовану назву.
Якщо натиснути на лінку, то відкривається вікно із нелокалізованим текстом.
![2015-05-27 13_46_53- - 100 ff](https://cloud.githubusercontent.com/assets/12292248/7834370/2d

[2015-05-27 10:52] znakharenko commented on #366
As I've said at https://github.com/openprocurement/frontend/issues/310
We are syncing units with http://opendata.org.ua/dataset/recommended-units-of-measure

[2015-05-27 10:53] #428 closed, assigned to nobody

[2015-05-27 11:02] YuraOvramets-SoftServe opened #436 "Неткаст->Оголошення закупівлі. Підтвердіть, будь ласка, що макс. сума бюджету не повинна передищувати 9999999.99"
Якщо так, то було б добре виводити повідомлення на етапі оголошення закупівлі при введенні в поле "Максимальний бюджет" суми більшої, ніж 9999999.99 грн.

[2015-05-27 11:22] hkhim opened #437 "Неткаст. Отримання коду на аукціон. Смс-код приходить двічі."
1. Залогуватися на http://dz2.byustudio.in.ua як Учасник.
2. Подати пропозицію на закупівлю (впевнитися, що це не єдина пропозиція до цієї закупівлі)
3. Дочекатися періоду аукціону.

Актуальний результат:
Коли починається період аукціону, на номер учасника приходить смс з кодом доступу на аукціон.
Коли він заходить на закупівлю і натискає на лінку, де можна ввести код, за декілька секунд приходить

[2015-05-27 11:27] hkhim opened #438 "Неткаст. Отримання смс коду для аукціону. Нелокалізований текст у повідомленні."
1. Залогуватися на http://dz2.byustudio.in.ua як Учасник.
2. Вибрати закупівлю із поданою пропозицією, яка в періоді аукціону > Отримати смс код для участі в аукціоні.

Очікуваний результат:
Текст смс повідомлення українською мовою.

Актуальний результат:
Текст повідомлення нелокалізований:
![screenshot_2015-05-27-14-12-18](https://cloud.githubusercontent.com/assets/12292248/7834862/7de4438e-047c-

[2015-05-27 12:38] kvskkvsk commented on #437
Автоматом код не приходит. Только после нажатия на ссылку. Специально проверено.

Да.

[2015-05-27 13:17] #438 closed, assigned to nobody

[2015-05-27 13:18] #437 closed, assigned to nobody

[2015-05-27 13:18] kvskkvsk commented on #436
Увеличено до 99999999999.99
Думаю этого точно хватит.

[2015-05-27 13:18] #435 closed, assigned to nobody

[2015-05-27 13:23] #436 closed, assigned to nobody

[2015-05-27 13:29] hkhim opened #439 "Неткаст. Нелокалізоване повідомлення при відміні перемоги."
1. Залогуватися як Закупівельник на http://dz2.byustudio.in.ua
2. Вибрати закупівлю із статусом "Підписання договору"
3. Вибрати опцію "Відмінити перемогу"

Очікуваний результат:
Діалог підтвердження відміни перемоги має бути українською мовою

Актуальний результат:
Діалог підтвердження відміни перемоги нелокалізований:
![2015-05-27 16_25_33- -](https://cloud.githubusercontent.com/assets/12292248/

[2015-05-27 14:37] w-be opened #440 "Неткаст. ІЕ11. Подання пропозиції. Кнопка Зберегти не працює."
http://www.dz2.byustudio.in.ua/tenders/4055
1. Залогуйтесь постачальником
2. Знайдіть закупівлю в статусі подання пропозицій
3. Відкрийте її
4. Спробуйте додати свою пропозицію.

Очікувано: Створюється пропозиція

Фактично: Сторінка зависає.

Також неможливо змінити чи відкликати пропозицію. Додати Документ.
![image](https://cloud.githubusercontent.com/assets/11888281/7838710/085d08d8-0497-11e5-95

[2015-05-27 15:38] kvskkvsk commented on #440
Исправлено

[2015-05-28 09:22] #440 closed, assigned to nobody

[2015-05-28 11:42] w-be opened #441 "Неткаст. Подача/Зміна пропозиції.Пропоную змінити валідацію поля Цінова Пропозиція."
http://www.dz2.byustudio.in.ua/tenders/3640

Пропоную заборонити вводити не цифрові значення та від'ємні цифри в поле.
Дозволити тільки арабські цифри, кому, крапку.
Таксамо, як це реалізовано на сторінці створення закупівлі.
1. Зайдіть за постачальника
2. Знайдіть закупівлю в періоді подачі пропозиції
3. Відкрийте закупівлю
4. Спробуйте подати не цифрову суму

Очікувано: в цифрове поле можна ввес

[2015-05-28 11:47] w-be opened #442 "Неткаст. Подача/Зміна пропозиції.В полі Цінова Пропозиція кома не заміняється на крапку."
http://www.dz2.byustudio.in.ua/tenders/3640

Заміна кома на крапку реалізована на сторінці створення закупівлі, отже і тут мала б.
1. Зайдіть за постачальника
2. Знайдіть закупівлю в періоді подачі пропозиції
3. Відкрийте закупівлю
4. Спробуйте вписати суму з комою (12,45)

Очікувано: кома автоматично заміниться на крапку.

Фактично: Кома залишається, сума валідується як значення неправильного фор

[2015-05-28 12:20] kvskkvsk commented on #442
Уточните, пожалуйста, т.к. тут это поле ведет себя также - проверенно FF.

[2015-05-28 12:20] kvskkvsk commented on #441
Уточните, пожалуйста, т.к. тут это поле ведет себя также - проверенно FF.

[2015-05-28 12:35] w-be opened #443 "Неткаст. Подача/Зміна пропозиції. Пропоную додати до кнопки Зберегти перевірку чи поле Цінова Пропозиція проходить валідацію."
http://www.dz2.byustudio.in.ua/tenders/3640
1. Зайдіть за постачальника
2. Знайдіть закупівлю в періоді подачі пропозиції
3. Відкрийте закупівлю
4. Введіть нормальну сумму з пробілом на початку стрічки, чи з 3 знаками після коми " 23.45", "56.111".
5. Натисніть кнопку Зберегти.

Проблема: користувач може подумати, що внесене значення збережене.
Коли введене неправильне число з'являється повідомлен

[2015-05-28 12:52] kvskkvsk commented on #442
Проявлялось после подачи/сохранения предложения.
Исправлено

[2015-05-28 12:52] kvskkvsk commented on #441
Проявлялось после подачи/сохранения предложения.
Исправлено

[2015-05-28 13:33] #433 closed, assigned to nobody

[2015-05-28 13:40] #419 closed, assigned to nobody

[2015-05-28 15:37] myroslav commented on #406
Можна завантажувати кілька документів, договір, додатки, інші документи, які стосуються контракту.

[2015-05-28 15:37] #406 closed, assigned to nobody

[2015-05-28 15:48] myroslav commented on #390
Такий документ з'являється в кожному тендері після закінчення аукціону

[2015-05-28 15:48] #390 closed, assigned to nobody

[2015-05-28 16:15] myroslav commented on #167
Обов'язковими з точки зору ЦБД є кінцеві строки подачі запитань та кінцевий строк подачі пропозицій. Початкові строки можна не вказувати. Майданчик має право вимагати більше даних ніж вимагає ЦБД

[2015-05-28 16:15] #167 closed, assigned to lerich

[2015-05-29 11:07] YuraOvramets-SoftServe opened #444 "Неткаст->Аукціон. Дивна поведінка функціональності участі в аукціоні"
Передумови:
1. Всі дії робити з одного браузера (я використовув GC).
2. Мати зареєстрованого Постачальника з правильним моб. номером, щоб мати можливість отримати смс з кодом аукціону.

Кроки:
1. Залогуватись в http://dz2.byustudio.in.ua як Закупівельник.
2. Створити тендер з валідними даними
3. Дочекатись періоду прийому пропозицій
4. Перелогінитись під Постачальником (Постачальник1)
5. Зробити с

[2015-05-29 11:49] hkhim opened #445 "Неткаст. Реєстрація. Можливо зареєструвати той самий номер телефону для різних користувачів. Чи ця поведінка є нормальною?"
1. Зайти на http://dz2.byustudio.in.ua
2. Заресєтрувати користувача.
3. Зареєструвати нового користувача, вказавши той самий номер телефону.

Актуальний результат:
Неткаст дозволяє реєструвати різних користувачів на той самий номер телефону.

Питання:
Чи це зроблено лише для тестового режиму?
Чи для реальних закупівель така поведінка є нормальною?

[2015-05-29 11:55] hkhim opened #446 "Участь в аукціоні. Нетипова поведінка, коли роблячи ставку, користувач ставить крапку або кому"
1. Залогуватися на http://dz2.byustudio.in.ua > перейти до аукціону як Учасник.
2. Зробити ставку > ввести значення із крапкою.
3. Зробити ставку > ввести значення із комою.

Актуальний результат:
Користувач може ввести крапку, натиснувши на клавішу із крапкою двічі. Те саме з комою на латинській розкладці.

Коли користувач вводить кому на кириличній розкладці, введені перед тим значення затирають

[2015-05-29 12:43] kvskkvsk commented on #444
Площадка в этом случае не причем. Она лишь выдает ссылки на аукцион, которые генерирует ЦБД. И переход на сам аукцион в новом окне и на другом сайте, а как они уж там проверяют авторизацию нам не известно. Вероятно в куки записывается факт авторизации и все.

[2015-05-29 12:47] kvskkvsk commented on #445
Да. Телефоны не уникальные поля. Только адрес электронной почты.
Мобильный только для информирования СМС, а остальные для подстановки при создании тендера.
У компании могут быть куча подразделений, которые проводят закупки, а контроль, скажем, только у директора
Ну и для закупщиков особая схема подписания договора с непосредственным участием администрации, ну и, соответственно, проверкой данных ко

[2015-05-29 14:00] #445 closed, assigned to nobody

[2015-06-02 11:38] PaulBoroday commented on #439
Fixed

[2015-06-02 11:39] PaulBoroday commented on #434
Fixed

[2015-06-02 11:41] PaulBoroday commented on #426
Fixed

[2015-06-02 11:59] PaulBoroday commented on #397
Fixed

[2015-06-02 11:59] PaulBoroday commented on #401
Fixed

[2015-06-02 12:14] PaulBoroday commented on #328
Fixed

[2015-06-03 12:44] kvskkvsk commented on #423
Готово

[2015-06-04 08:22] hkhim commented on #439
Схожа поведінка:
![2015-06-04 11_21_31- -](https://cloud.githubusercontent.com/assets/12292248/7979917/0847cdf4-0aac-11e5-964b-c2cdf31400bb.png)

[2015-06-04 08:25] hkhim commented on #434
Репродюситься:
![2015-06-04 11_24_57-- 3](https://cloud.githubusercontent.com/assets/12292248/7979951/69012866-0aac-11e5-924a-41ccddea0775.png)

[2015-06-04 08:28] #426 closed, assigned to nobody

[2015-06-04 08:44] #442 closed, assigned to nobody

[2015-06-04 08:45] #441 closed, assigned to nobody

[2015-06-04 08:56] #423 closed, assigned to nobody

[2015-06-04 09:02] w-be commented on #322
Наразі взагалі немає LiveTex сервіса, трохи раніше бачив його вертикльним зправа.
![image](https://cloud.githubusercontent.com/assets/11888281/7980584/66df1fc0-0ab1-11e5-951a-3cd23ac6e562.png)

[2015-06-04 09:02] #322 closed, assigned to nobody

[2015-06-04 09:06] #319 closed, assigned to nobody

[2015-06-04 09:08] #311 closed, assigned to nobody

[2015-06-04 09:21] #305 closed, assigned to nobody

[2015-06-04 09:30] w-be commented on #320
Просто змінити пароль можливо; неможливо змінити якщо користувач не пм'ятає старий пароль.
![image](https://cloud.githubusercontent.com/assets/11888281/7981065/1b421fd2-0ab5-11e5-9790-1163177d48bc.png)

[2015-06-04 09:59] w-be commented on #325
Наразі поля Офіційний Сайт і Факс не є обов'язковими до заповнення.
![image](https://cloud.githubusercontent.com/assets/11888281/7981696/5ac431a0-0ab9-11e5-81e3-6083278b8bbe.png)

[2015-06-04 09:59] #325 closed, assigned to nobody

[2015-06-04 10:05] #306 closed, assigned to nobody

[2015-06-04 10:10] w-be commented on #327
Зараз виводиться договір майданчика.
![image](https://cloud.githubusercontent.com/assets/11888281/7981898/d6885162-0aba-11e5-9dad-540081a36d6b.png)

[2015-06-04 10:10] #327 closed, assigned to nobody

[2015-06-04 10:13] #328 closed, assigned to nobody

[2015-06-04 10:32] hkhim opened #447 "Неткаст. Некоректна сума оплати участі в закупівлі."
1. Залогуватися на http://dz2.byustudio.in.ua  як Учасник.
2. Перейти до закупівлі у період подання пропозицій.

Актуальний результат:
Сума оплати за участь у закупівлі 170 грн. на сайті.
![2015-06-04 13_29_00- - 1](https://cloud.githubusercontent.com/assets/12292248/7982231/115718f2-0abe-11e5-9634-0d43b3ac2c0a.png)

Очікуваний результат:
У технічному завданні вказано, що сума оплати за участь в з

[2015-06-04 11:49] hkhim opened #448 "NewTend. Відміна закупівлі. Після підтвердження відміни закупівлі діалог не зникає"
1. Залогуватися на http://dev23.newtend.com/openprocurement/#/home/page/1 як Закупівельник
2. Вибрати закупівлю > відмінити її

Актуальний результат:
Закупівля відмінена.
Діалог підтвердження відміни закупівлі не зникає.
![2015-06-04 14_31_06- - openprocurement openprocurement](https://cloud.githubusercontent.com/assets/12292248/7983437/d88b92d6-0ac8-11e5-89e9-6b3f4a494e7b.png)

Очікуваний результ

[2015-06-05 09:12] maksimmaksimov commented on #240
@Mykhailo-Shtabaliuk-SoftServe сделали данные поля "идентичными", на сколько это было возможно.

[2015-06-05 09:34] maksimmaksimov commented on #265
Исправлено.

[2015-06-05 10:41] maksimmaksimov commented on #273
Исправлена.

[2015-06-08 09:05] #307 closed, assigned to nobody

[2015-06-08 10:05] #399 closed, assigned to nobody

[2015-06-08 10:15] w-be commented on #362
Підтвержую: всі вище згадані майданчики в тест середовищі працюють на версії ЦБД 0.8, і мають доступ до всіх закупівель цієї ЦБД.

[2015-06-08 10:15] #362 closed, assigned to nobody

[2015-06-08 11:17] kvskkvsk commented on #320
Добавлена возможность получения старого пароля на СМС

[2015-06-08 11:20] kvskkvsk commented on #356
Она давно там есть. При выборе необходимо держать нажатой кнопку Ctrl

[2015-06-08 13:08] w-be commented on #447
Поремонтовано:
![image](https://cloud.githubusercontent.com/assets/11888281/8035340/647ee7e8-0df8-11e5-887e-f16dc9e3b28f.png)

[2015-06-08 13:08] #447 closed, assigned to nobody

[2015-06-09 14:15] w-be commented on #365
Все одно 1 гектар замість 1.5; "1,5" підкреслює червоним.
![image](https://cloud.githubusercontent.com/assets/11888281/8059907/07f06ed8-0ecb-11e5-817d-8a51ed039eae.png)

[2015-06-09 14:43] w-be commented on #309
Текст добавили, хрестик лишили великий.
![image](https://cloud.githubusercontent.com/assets/11888281/8060523/92235f72-0ece-11e5-91e4-2d4a5d782578.png)

[2015-06-09 14:43] #309 closed, assigned to nobody

[2015-06-10 16:24] znakharenko commented on #365
Float(decimal) values are prohibited, only integers are allowed.
Could you explain what do you mean under (на інших майданчиках, це поле підтримує також дробові числа)?
Please refer to http://api-docs.openprocurement.org/en/latest/standard/item.html

"quantity:

integer

OpenContracting Description: The number of units required"

[2015-06-11 08:55] hkhim opened #449 "Неткаст. IE11. Відміна закупівлі. Некоректні назви кнопок у діалозі підтвердження відміни."
1. Залогуватися на http://www.dz2.byustudio.in.ua як Закупівельник у ІЕ11.
2. Перейти на закупівлю у статусі "Підписання договору" > Відмінити її

Очікуваний результат:
Діалог підтвердження відміни має кнопки з українськими назвами.

Актуальний результат:
В ІЕ11 діалог підтвердження має кнопки з двома однаковими нелокалізованими назвами.
![2015-06-11 11_36_24- - internet explorer](https://cloud.gi

[2015-06-11 09:33] #356 closed, assigned to nobody

[2015-06-11 11:00] #346 closed, assigned to nobody

[2015-06-11 12:38] maksimmaksimov commented on #366
@w-be В public-bid единицы измерения добавили

[2015-06-11 16:25] znakharenko commented on #343
It is possible to enter decimal numbers, they should be cut to two decimals after point.

[2015-06-12 08:26] kvskkvsk commented on #449
Исправлено

[2015-06-12 09:47] #449 closed, assigned to nobody

[2015-06-12 10:22] w-be commented on #366
@znakharenko Перепровірив NewTend, послідовно змінюючи одиниці виміру в закупівлі і порівнюючи з рекомендованим списком.
В словнику NewTend є 2 значення: "блок", 2-ге неправильне:
JSON закупівлі: https://api-sandbox.openprocurement.org/api/0.8/tenders/730c1e3a36f3463abda7af99dac21590
![image](https://cloud.githubusercontent.com/assets/11888281/8128139/28a49a8c-1105-11e5-91ac-9e40e161d723.png)

Рек

[2015-06-12 12:39] w-be opened #450 "Newtend. Деталі закупівлі. Якщо в одиницях виміру закупівлі вказаний тільки код одиниці виміру або правильний код і не правильне і'мя, одиниці виміру не відображаються."
Узгоджено з Мирославом.

http://dev23.newtend.com/dz/#/tender/94ffe180019d459787aafe290cd300e2/overview
0. Створена закупівля, з одиницями виміру в яких не вказане ім'я одиниць виміру, або містить не правильне ім'я одиниць виміру.
1. Зайти на майданчик
2. Знайти закупівлю
3. Відкрити деталі

Очікувано: Одиниці виміру пребмета (units) відображаються, якщо код вказаний вірно.

Фактично: Одиниці вимі

[2015-06-12 12:54] w-be opened #451 "Неткаст. Створення закупівлі. Одиниці виміру кількості задаються тільки кодом."
http://www.dz2.byustudio.in.ua/tenders/4536
1. Залогінтесь як замовник
2. Створіть закупівлю
3. Відкрийте JSON закупівлі https://api-sandbox.openprocurement.org/api/0.8/tenders/94ffe180019d459787aafe290cd300e2
4. Розпарсіть текст - http://chris.photobooks.com/json/

Очікувано: одиниці виміру (unit) мають code i name атрибути.

Фактично: одиниці виміру (unit) мають тільки code властивість.

Примітк

[2015-06-12 13:13] kvskkvsk commented on #451
http://api-docs.openprocurement.org/uk_UA/latest/standard/item.html#unit
Обязательное поле только лишь code
А http://standards.openprocurement.org/unit_codes/recommended/uk.json библиотека для расшифровки этих кодов

[2015-06-12 13:22] myroslav commented on #451
Ви праві, поле не обов'язкове, але якщо ви його заповните, то інформація в системі буде повніша, в тому числі це допоможе уникнути інших складних помилок, так як при подачі інформації ви взаємодієте не тільки з ЦБД а й з багатьма іншими системами

[2015-06-12 13:55] myroslav commented on #450
Важливо, щоб майданчик коректно відображав одиницю у випадку, коли не заповнена назва.

Пропонований пріоритет при відображенні назви одиниції:
- Unit.name
- з Unit.code використовуючи http://opendata.org.ua/dataset/recommended-units-of-measure
- з Unit.code використовуючи ваш власний набір одиниць
- з Unit.code використовуючи http://opendata.org.ua/dataset/codes-for-units-of-measure (неперекладен

[2015-06-12 14:17] kvskkvsk commented on #451
Добавлено

[2015-06-12 14:38] kvskkvsk commented on #334
Исправлено

[2015-06-15 09:55] znakharenko commented on #366
@w-be NEWTEND, duplicate "block" unit was removed

[2015-06-15 12:53] w-be commented on #365
Так ви праві - дупустиме тільки ціле значення, на одному іншому майданчику є баг.

[2015-06-15 12:54] w-be commented on #365
Однак даний баг варто виправити.

[2015-06-15 13:02] w-be opened #452 "Public-bid. Створення закупівлі. Допускаються не цілі значення кількості одиниць"
Баг відповідно до:
http://api-docs.openprocurement.org/en/latest/standard/item.html
quantity: integer

https://public-bid.com.ua/test/#action=purchases_card&year=2015&id=c5992805-da09-4af8-85aa-2ab9eac56f6e
1. Зайдіть на майданчик як закупівельник
2. Відкрийте форму створення закупівлі
3. Спробуйте ввести в поле Кількість 12.3
4. Заповніть інші обов'язкові поля
5. Збережіть закупівлю

Очікувано: Н

[2015-06-15 13:27] maksimmaksimov commented on #452
@w-be думаю, что вопрос больше к Мирославу, чем к нам. У нас по требованиям в поле "Кількість" допускается дробное значение.
@myroslav, судя по API количество должно быть целым, но по факту ЦБД принимает дробное число - закупка в ЦБД объявляется, никаких ошибок при этом не получаем.

[2015-06-16 10:28] w-be commented on #451
Перепровірив, тепер всюди добавляється name. Але name береться з словника майданчика і трохи відрізняється від рекомедноданого словника.
Словник майданчика є інформативним та зрозумілим. Він, за деякими винятками, виглядає так: key; symbol_uk рекомендованого словника плюс, якщо в кінці крапка то вона упускається. Приклад: "E48"; "посл".
![image](https://cloud.githubusercontent.com/assets/11888281/

[2015-06-16 13:44] w-be commented on #320
Працює добре.

[2015-06-16 13:44] #320 closed, assigned to nobody

[2015-06-16 14:07] w-be commented on #326
@kvskkvsk виглядає ніби цей функціонал забрали з майданчика - підтвердіть, будьласка.

[2015-06-16 14:09] kvskkvsk commented on #427
Изменено

[2015-06-16 14:15] kvskkvsk commented on #326
Заказчиком было принято решение, что это излишне в этом месте. Частично эту информацию было перенесено на страницу тендера в состоянии приема предложений. Пользователь ее видит в случае нажатия подачи предложения

[2015-06-16 14:23] w-be commented on #326
Дякую, закриваю.

[2015-06-16 14:23] #326 closed, assigned to nobody

[2015-06-16 14:30] #427 closed, assigned to nobody

[2015-06-16 14:33] w-be commented on #334
@kvskkvsk kvskkvsk
Кнопка ВЗЯТИ УЧАСТЬ у постачальника
![image](https://cloud.githubusercontent.com/assets/11888281/8185424/00bf14b6-144d-11e5-8502-7f4eb3aa539f.png)
веде на http://www.dz2.byustudio.in.ua/tenders
![image](https://cloud.githubusercontent.com/assets/11888281/8185487/6430227e-144d-11e5-80a1-01d01d9f165f.png)
а треба, мабуть, на http://www.dz2.byustudio.in.ua/tenders/current

[2015-06-16 14:34] hkhim opened #453 "Неткаст. Відміна пропозиції. Описка у слові."
1. Залогуватися на http://www.dz2.byustudio.in.ua/ як Постачальник.
2. Відмінити зроблену пропозицію

Актуальний результат:
Описка у діалозі підтвердження відміни.
![2015-06-16 17_27_29- 1](https://cloud.githubusercontent.com/assets/12292248/8185549/c504d176-144d-11e5-931e-47eb7f4a3954.png)

[2015-06-16 14:41] kvskkvsk commented on #334
Верно.
Исправлено.

[2015-06-17 14:52] kvskkvsk commented on #453
Исправлено

[2015-06-18 09:38] #334 closed, assigned to nobody

[2015-06-19 14:32] hkhim commented on #393
Пофіксано

[2015-06-19 15:14] hkhim opened #454 "ЕЛЕГ. Відсутній блок причини відміни закупівлі та супроводжуючі документи, якщо закупівля створена на іншому майданчику."
1. Створити закупівлю на Неткасті > відмінити її, вказавши причину і додавши документи
2. Залогуватися на http://uat.e-tender.biz/ і знайти створену закупівлю на Неткасті.

Очікуваний результат:
На E-Tender є присутній блок з  причиною відміни закупівлі та прикріпленими документами.
![2015-06-19 18_10_18-](https://cloud.githubusercontent.com/assets/12292248/8256261/86ff0140-16ae-11e5-97df-93e8024c

[2015-06-19 15:19] #453 closed, assigned to nobody

[2015-06-19 15:44] w-be opened #455 "ПРОМ. Список закупівель. Не відображаються закупівлі з інших майданчиків."
http://my.dz-test.net/cabinet/purchases/state_purchase/list
робота в [тестовому] режимі
1. Залогінтесь
2. Знайдіть та відкрийте закупівлю строрену на іншому майданчику (UA-2015-06-19-000113, "[тест] відміна неткаст")

Очікувано: закупівля відображається в списку.

Фактично: закупівля не відображається.

Примітки: На майданчику відображається помітно менше закупівель ніж на інших майданчиках .
Заку

[2015-06-19 16:07] w-be commented on #393
В даній закупівлі : http://www.dz2.byustudio.in.ua/tenders/4884 є причина відміни та немає документа.
Відображення причини відміни без документа не працює.
![image](https://cloud.githubusercontent.com/assets/11888281/8257210/a49a0d2a-16b4-11e5-94c7-245165c0e9dd.png)
При відміні, прикріплення докумету може бути, як не обов"язковим, так і обов"язковим.
Відображення причини відміни без документа є об

[2015-06-22 08:01] kvskkvsk commented on #393
Исправлено

[2015-06-22 09:14] #393 closed, assigned to nobody

[2015-06-22 12:18] hkhim opened #456 "Неткаст. Відміна закупівлі на етапі аукціону"
1. Залогуватися на http://www.dz2.byustudio.in.ua/ як Закупівельник
2. Перейти на закупівлю в етапі аукціону

Актуальний результат:
Відсутня можливість відмінити закупівлю на етапі аукціону.

Питання:
У технічному завданні вказано, що "Отменить закупку можно на любом этапе «активной» закупки."
Чи аукціон вважається етапом "активної" закупівлі?
Чи повинна бути можливість відмінити закупівлю на етап

[2015-06-22 12:51] S-Shevchenko commented on #248
не воспроизводится.

[2015-06-22 12:53] #248 closed, assigned to nobody

[2015-06-22 14:03] S-Shevchenko commented on #201
Не воспроизводится.

[2015-06-22 14:06] #201 closed, assigned to nobody

[2015-06-22 14:48] kvskkvsk commented on #456
Чи аукціон вважається етапом "активної" закупівлі?
Не известно

Чи повинна бути можливість відмінити закупівлю на етапі аукціону?
Тоже не известно.
С нашей стороны отсутствие этой кнопки именно в период аукциона, который не зависит от площадки, сделано специально во избежание каких-либо накладок на стороне ЦБД в момент самого аукциона.
Если для ЦБД этот вопрос отрегулирован технически и не будут в

[2015-06-23 10:54] hkhim opened #457 "NewTend. Відміна тендера. Не всі документи підвантажуютья при додаванні їх як протоколу відміни."
1. Залогуватися на http://dev23.newtend.com/openprocurement/ як Закупівельник > Оголосити закупівлю
2. Відмінити закупівлю > Вказати причину > завантажити два документи (docx)
   ![2015-06-23 13_40_21- - openprocurement openprocurement](https://cloud.githubusercontent.com/assets/12292248/8304470/cd565ed8-19ae-11e5-9974-bb000ee6feb7.png)

Актуальний результат:
Завантажився лише один документ:
![201

[2015-06-23 11:46] w-be opened #458 "ПРОМ. Відміна закупівлі. Не можливо прикріпити файл при відміні."
http://my.dz-test.net/cabinet/purchases/state_purchase/view/1568
1. Залогуватись закупівельником.
2. Створити нову закупівлю.
3. Відмінити закупівлю додаючи документ - рішення про відміну.

Очікувано: документ можливо додати, відмінена закупівля міститиме документ.

Фактично: після додавання документ показується червоне повідомленння про помилку. Після відміни документи не є прикріпленими.

![imag

[2015-06-23 11:56] w-be commented on #458
не відтворюється на прод

[2015-06-23 12:44] lerich commented on #181
Виправлено

[2015-06-23 12:44] #181 closed, assigned to nobody

[2015-06-23 12:59] S-Shevchenko commented on #191
Исправлено

[2015-06-23 12:59] #191 closed, assigned to nobody

[2015-06-23 13:01] S-Shevchenko commented on #194
Не воспроизводится

[2015-06-23 13:01] #194 closed, assigned to nobody

[2015-06-23 13:45] S-Shevchenko commented on #195
В работе.

[2015-07-01 09:30] hkhim commented on #345
Підтвердіть, що це нормальний вигляд вікна відміни закупівлі:
![2015-07-01 12_24_59-](https://cloud.githubusercontent.com/assets/12292248/8451520/8ad23c6e-1fec-11e5-851e-2e6543d60cd4.png)

Пропоную, щоб документ підвантажувався автоматично без натискання кнопки "Додати". Це збиває з пантелику користувача, і він, вибравши документ і не натиснувши кнопки "Додати" може думати, що документ завантажени

[2015-07-01 10:02] hkhim commented on #405
Нумерацію тижнів забрано

[2015-07-01 10:02] #405 closed, assigned to nobody

[2015-07-01 10:04] hkhim commented on #377
Неправильна локалізація місяців у календарі. Майданчик сам російськомовний, а назви місяців у календарі - українські

[2015-07-01 10:36] #448 closed, assigned to nobody

[2015-07-01 10:38] hkhim commented on #439
Пофіксано
![2015-07-01 13_38_22-](https://cloud.githubusercontent.com/assets/12292248/8452768/7d539146-1ff6-11e5-8b80-832ca84ddf69.png)

[2015-07-01 10:38] #439 closed, assigned to nobody

[2015-07-01 10:39] #434 closed, assigned to nobody

[2015-07-02 08:48] znakharenko commented on #450
The logic is following:
- Name from Unit.code using http://opendata.org.ua/dataset/recommended-units-of-measure
- Unit.name if code is not found
- Unit.code if code is not found and Unit.name is empty

[2015-07-03 07:50] S-Shevchenko commented on #454
Спасибо. В работе.

[2015-07-03 07:51] S-Shevchenko commented on #224
Спасибо. Задача в работе

[2015-07-03 07:58] S-Shevchenko commented on #239
@myroslav Задачка на public-bid. Прошу перевести.

[2015-07-03 12:03] hkhim commented on #175
Працює

[2015-07-03 12:03] #175 closed, assigned to nobody

[2015-07-03 12:19] #177 closed, assigned to nobody

[2015-07-03 12:31] hkhim commented on #182
Додана валідація при реєстрації

[2015-07-03 12:31] #182 closed, assigned to nobody

[2015-07-03 12:43] hkhim commented on #185
Якщо пароль більше 20 символів, то немає кнопки "Змінити пароль"
![2015-07-03 15_41_47-](https://cloud.githubusercontent.com/assets/12292248/8499300/2f2606ac-219a-11e5-9238-b084c802041f.png)

[2015-07-03 12:43] #185 closed, assigned to nobody

[2015-07-03 12:51] hkhim commented on #186
![2015-07-03 15_49_04-](https://cloud.githubusercontent.com/assets/12292248/8499397/11b0b10c-219b-11e5-9370-cc06c8b74df6.png)

[2015-07-03 12:51] #186 closed, assigned to nobody

[2015-07-03 13:18] hkhim commented on #192
Чи має бути можливість для користувача, який не пройшов модерацію, створювати тендери у тестовому режимі?
![2015-07-03 16_16_36-](https://cloud.githubusercontent.com/assets/12292248/8499818/290cd3d6-219f-11e5-9e36-3828e647798f.png)

![2015-07-03 16_17_16-](https://cloud.githubusercontent.com/assets/12292248/8499820/2ec2af80-219f-11e5-975d-1a26856107d8.png)

[2015-07-03 14:18] hkhim commented on #239
Коли вікно не є максимізоване, відсутній горизонтальний скрол

[2015-07-06 08:48] w-be commented on #450
Зараз при правильному коді і не правильному імені одиниці виміру товару, відображається правильне ім'я з словника майданчика Ньютенд.

[2015-07-06 08:48] #450 closed, assigned to znakharenko

[2015-07-06 08:54] w-be commented on #366
По NEWTEND більше нема питань по одиницям виміру.

[2015-07-06 08:54] #366 closed, assigned to nobody

[2015-07-06 10:06] hkhim opened #459 "Ньютенд. Створення закупівлі. Адреса доставки. Поля допускають невалідні значення"
1. Залогуватися на http://dev23.newtend.com/openprocurement/#/home/page/1 як Закупівельник > Оголосити закупівлю
2. Натиснути на "Адрес доставки" > ввести у поля "Регіон" і "Населений пункт" цифрові значення або будь-які спецсимволи.
3. У поле "Поштовий код" ввести алфавітні значення/спецсимволи/цифрові значення, довші, ніж 5 символів.

Очікуваний результат:
Поля  "Адрес доставки", "Регіон" і "Нас

[2015-07-06 11:09] znakharenko commented on #459
@myroslav We are following CDB structure http://api-docs.openprocurement.org/en/latest/standard/organization.html#address

Please explain, do we need to implement our own validation rules?
I'm not sure this is correct approach.

Address
Schema
streetAddress:

string

OpenContracting Description: The street address. For example, 1600 Amphitheatre Pkwy.
locality:

string

OpenContracting Description

[2015-07-06 12:54] #265 closed, assigned to nobody

[2015-07-06 13:12] #417 closed, assigned to nobody

[2015-07-06 13:26] w-be opened #460 "NewTend. Перегляд Закупівлі. Документи. Час від часу сторінка не догружається з помилкою."
http://dev23.newtend.com/openprocurement/tenders#/tender/c06ddf13163540aeb612aec1c2cc97fa/edit
openprocurement@mailinator.com / 123123

1.Залогуйтесь
2.Створіть закупівлю
3.Переходьте по табам меню: Описание-Уточнения-Торги-Документы
Примітка: Помилка не відтворюється якщо переходити Описание-Документы

Очікувано: З'являється вміст таби Документи: "Загрузить документ", і вже додані документи.

Фак

[2015-07-06 13:28] #418 closed, assigned to nobody

[2015-07-06 13:39] znakharenko commented on #460
This is temp issue. I'll update you when it will be solved.

[2015-07-07 10:05] znakharenko commented on #460
Solved

[2015-07-07 10:06] znakharenko commented on #377
Datepicker design changed

[2015-07-07 10:10] #460 closed, assigned to znakharenko

[2015-07-07 10:22] #377 closed, assigned to nobody

[2015-07-07 10:27] hkhim opened #461 "NewTend. Створення тендера. Неправильна локалізація місяців у календарі."
1. Залогуватися на http://dev23.newtend.com/openprocurement

2. Перейти до сторінки створення тендера > до блоку з датами > розгорнути календар

Очікуваний результат:
Мова календаря російська, так як весь майданчик російськомовний.

Актуальний результат:
Назви місяців у календарі - українською мовою.
![2015-07-07 13_27_23- - openprocurement openprocurement](https://cloud.githubusercontent.com/asse

[2015-07-07 10:55] hkhim opened #462 "NewTend. Створення закупівлі. Неправильна година доставки при багатопредментому тендері."
1. Залогуватися на http://dev23.newtend.com/openprocurement

2. Створити тендер > вказати дати доставки, при цьому годину доставки не редагувати, а залишити поточну.

Очікуваний результат:
Година доставки у додатковому предметі закупівлі така ж, як тоді, коли тендер створювався.

Актуальний результат:
Година доставки опублікованого тендера не така, як година доставки ще неопублікованого тендера.
!

[2015-07-07 13:02] hkhim opened #463 "ЕЛЕГ. Створення або редагування закупівлі. При заміні файлу відбувається додавання нового файла, а не заміна існуючого."
1. Залогуватися на http://uat.e-tender.biz/ як Закупівельник.
2. Перейти до тендера у періоді уточнень > Додати документи > Замінити поданий документ.

Очікуваний результат:
Документ є замінений на новий, при цьому користувач бачить назву старого документа і новий документ.

Актуальний результат:
Додається новий файл, попередній файл при цьому не видаляється.
![2015-07-07 15_53_49-](https://cloud.

[2015-07-17 12:53] w-be opened #464 "ЕЛЕГ. Деталі закупівлі. Неможливо задати запитання в перідоді уточнення."
http://uat.e-tender.biz/#/tenderDetailes/762dec1a5b2b4c049fa1392fa4e4a343
користувач: Provider2/Qa123456
1. Зологінтесь провайдером(постачальником)
2. Відрийте закупівлю в статусі Період Уточнень
3. Прогорніть сторінку

Очікувано: Є можливість задати питання (кнопка Задати Питання).

Фактично:Немає можливості задати питання.

![image](https://cloud.githubusercontent.com/assets/11888281/8747373/fa7

[2015-07-17 13:04] lerich commented on #464
Re: [frontend] ЕЛЕГ. Деталі закупівлі. Неможливо задати запитання в перідоді уточнення. (#464)

Так и должно быть.
Если организация не прошла модерацию, вопросы и др. делать нельзя

С уважением,Валерий Несмашный
E-tender

http://uat.e-tender.biz/#/tenderDetailes/762dec1a5b2b4c049fa1392fa4e4a343
користувач: Provider2/Qa123456

Зологінтесь провайдером(постачальником)
Відрийте закупівлю в статусі Пер

[2015-07-21 09:00] w-be commented on #464
@lerich дякую за інформацію.
Для автоматизованих тестів потрібно щоб користувач(організація) пройшов модерацію.
Колись був нам наданий адмін: operator1; зараз він вже не адмін.
Чи можна у вас попросити іншого адмін-користувача, або просто підтвердіть модерацію Provider2 ?

[2015-08-03 13:28] w-be opened #465 "ПРОМ. Логін. Неможливо залогінитись."
http://my.dz-test.net/cabinet/sign-in
1. Зайти на Логін сторінку
2. Спробувати ввести логін

Очікувано:
Поля логін, пароль доступні для вводу.

Фактично:
Поля логін, пароль не доступні. (сірі).

![image](https://cloud.githubusercontent.com/assets/11888281/9038329/24c47822-39fc-11e5-886d-c235a2a7859d.png)

[2015-08-11 08:01] w-be opened #466 "Неткаст. Задати Запитання. Слово "Зміст" написано не правильно."
Steps to reproduce:
1.  Зайти під юзером із роллю «Учасник».
2.  Знайти тендер, поточний статус якого = «Обговорення».
3.  Клікнути на лінк Обговорення.

Actual result: Слово «Зміст» у словосполученні «Зміст запитання» написано неправильно (довитися додаток.)

![image](https://cloud.githubusercontent.com/assets/11888281/9192909/ea668c02-4017-11e5-8611-20c2fecacb27.png)

[2015-08-26 10:28] w-be opened #467 "NewTend. Пошук закупівлі. Не знаходиться щойно створена закупівля по UAid."
http://dev23.newtend.com/openprocurement/#/tender/b6c089dbd62a4bea9fca0477ee67f9f5/overview
        login: openprocurement@mailinator.com
        password: 123123
1. Залогуйтесь в аплікацію
2. Створіть закупівлю.
3. Переконайтесь що закупівля створена - відображається в списку закупівель.
4. Введіть UAid в стрічку пошуку

Очікувано: В списку закупівель залишиться 1 закупівля з відповідним UAid.

Ф

[2015-08-26 12:08] fashust commented on #467
поскольку сервер тестовый, авторотация поисковых индексов отключена, индексы обновляются в "ручном режиме")
для автоматизации будет удобней использовать прямую ссылку на тендер
ссылка имеет следующий вид - http://dev23.newtend.com/dz/#/tender/tender_id
tender_id - приходит в ответ после создания тендера в поле response

[code]

[2015-09-01 16:05] w-be opened #468 "ЕЛЕГ. Редагування закупівлі. Не активна кнопка Зберегти Зміни після внесення змін."
http://uat.e-tender.biz/#/updateTender/96deba61c68543f8957526bbe4fe4ff7
Misha2/ Password1

_Кроки до відтворення:_
1. залогуватись замовником
2. перейти у вкладку мої закупівлі
3. вибрати закупівлю яка знаходиться в статусі "період уточнень", або створити нову закупівлю і перейти на цю ж закупівлю
4. натиснути елемент "редагувати закупівлю"
5. внести будь-які валідні зміни
6. натиснути елемент "зб

[2015-09-10 06:48] S-Shevchenko commented on #468
В работе

[2015-09-22 10:52] yboi opened #469 "ЕЛЕГ. Редагування закупівлі. Немає кнопки "Додати предмет""
https://public-bid.com.ua/test/#action=purchases_card&year=2015&id=e6ffb9c4-cd56-4ead-8b0c-748571d7f7c7
yaroslav1boyko@gmail.com  /  Password1
версія 2.3.5
Кроки до відтворення:
1. залогуватись замовником
2. перейти у вкладку закупівлі
3. створити нову закупівлю і перейти на цю ж закупівлю
4. натиснути елемент "відкрити детальну інформацю"
5. натиснути елемент "Додати предмет"

Очікуваний результа

[2015-09-22 10:59] yboi opened #470 "ЕЛЕГ. Присвоєння № для створеного тендера"
https://public-bid.com.ua/test/#action=purchases_card&year=2015&id=e6ffb9c4-cd56-4ead-8b0c-748571d7f7c7
yaroslav1boyko@gmail.com / Password1
версія 2.3.5
Кроки до відтворення:
1. залогуватись замовником
2. перейти у вкладку закупівлі
3. створити нову закупівлю і зберегти її
4. подивитись який номер присвоїть

Очікуваний результат:
присвоїть № UA-2015-09-14-000036    (для прикладу № UA-2015-09-14-0

[2015-09-22 12:22] w-be opened #471 "Ua-tender. Створення закупівлі. Створюється 2 лоти замість 1."
http://dev.zakupki.com.ua/tender/47
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Залогінтесь
2. Натисніть Создать тендер
3. Заповніть всі обов'язкові поля - Має бути тьльки 1 лот
4. Натисніть Создать
5. Відкрийте щойно створену закупівлю в статусі Черновик
6. Натисніть Опублікувати
7. Відкрийте закупівлю через API ЦБД по ID (Исходник в sandbox):
https://api-sandbox.openprocurement.org/api/0

[2015-09-22 13:01] w-be opened #472 "Ua-tender. Редагування закупівлі. Не можливо додати лот"
http://dev.zakupki.com.ua/tender/47
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Знайдіть вже створений тендр в статусі обговорення.
2. Відкрийте його
3. Натисніть редагувати
4. Дотайте ще 1 лот
5. заповніть поля 2-го лота
6. Натисніть Сохранить

Очікувано: Можна додати лот. З'являється повідомленя, накшталт: Зміни успішні.

Фактично: З'вляється помилка.
![image](https://cloud.githubusercon

[2015-09-22 13:08] w-be commented on #472
Такаж помилика при відкритті щойноствореної чернетки з декількома(3-ма) лотами. Лінка: http://dev.zakupki.com.ua/tender/48

[2015-09-22 13:56] w-be opened #473 "Ua-tender. Створення закупівлі. Не публікується інформація про місце та дати поставки."
http://dev.zakupki.com.ua/tender/42
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Залогуйтесь
2. Створіть закупівлю
3. Опублікуйте закупівлю
4. Відкрийте закупівлю через ЦБД API в fire fox (бравзер сам парсить json)
https://api-sandbox.openprocurement.org/api/0.8/tenders/28588430cd344582a693fc55d7357dc3

Очікувано: json має типову структуру.

Фактично: Невистачає груп тегів в групі Items: de

[2015-09-22 13:58] nevdaha commented on #57
Вопрос всё еще открыт.
Сейчас поиск по tender ID невозможен, в объявлении отображается на вкладке Анализ/№ в ЦБД. Поиск реализован по полям: внутренний 6-значный номер, организатор, категория, статус.
Следует переработать поиск по параметрам указанным в комментариях выше.

[2015-09-23 08:25] yboi opened #474 "ЕЛЕГ. Закупівля не переходить в потрібний стан"
https://public-bid.com.ua/test/#action=purchases&t=1442994820601
yaroslav1boyko@gmail.com / Password1
версія 2.3.5
Кроки до відтворення:
1. залогуватись замовником
2. перейти у вкладку закупівлі
3. створити нову закупівлю і перейти на цю ж закупівлю
4. дочекатись Дата початку реєстрації пропозицій

Очікуваний результат:
Статус закупівлі - "очікування пропозицій"

Фактичний результат:
Статус закупі

[2015-09-24 08:16] w-be opened #475 "Ua-tender. Створення закупівлі. Кожен тип придмета закупівлі представлений 2 рази."
http://dev.zakupki.com.ua/tender/42
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Залогуйтесь
2. Перейдіть до створеня закупівлі
3. Перевірте вміст випадайки Тип придмета закупівлі.

Очікувано: Кожен тип є 1 раз в випадайці.

Фактично: Кожен тип є 2 рази в випадайці.

![image](https://cloud.githubusercontent.com/assets/11888281/10068327/47fde8cc-62ac-11e5-8cb3-a4988064544b.png)

[2015-09-24 11:53] #475 closed, assigned to nobody

[2015-09-24 12:10] w-be commented on #471
Перевідкриваю, відтворюється на свіжій закупівлі: http://dev.zakupki.com.ua/tender/56
![image](https://cloud.githubusercontent.com/assets/11888281/10072977/276a08b2-62ce-11e5-828e-0595ac4375f7.png)

[2015-09-24 12:11] #473 closed, assigned to daartkote

[2015-09-25 08:44] w-be opened #476 "Ua-tender. Картка закупівлі. Закупівля не відображається в період Аукціону."
http://dev.zakupki.com.ua/tender/59
Закупівельник: vbilos@softserveinc.com / Qw123456
Постачальник1: biviktorqc@gmail.com / Qw123456
Постачальник2:  bi.viktorqc@gmail.com / Qw123456

Відтворення:
1. Створіть та опоблікуйте закупівлю, період подачі пропозицій повинен мати десь 10хв.
2. Залогінтесь в іншому бравзері закупівельником1.
3. Перейдіть на форму подачі пропозиції: http://dev.zakupki.com.ua

[2015-09-25 08:59] w-be opened #477 "Ua-tender. Створення/Редагування закупівлі. "З'їджають" поля при зменшені вікна."
http://dev.zakupki.com.ua/tender/47
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Залогінтесь
2. Натисніть створити закупівлю
3. Звузьте вікто бравзера трошки менше ніж в двічі.

Очікувано: При зменшені ширини з"являється горизонтальний скрол. Контроли не змінюють розмік і розташування.

Фактично: Деякі контроли змінюють розмір та "переходять на наступну стрічку".
![image](https://cloud.gith

[2015-09-25 09:11] yboi opened #478 "Publicbid неможливість скасувати цінову пропозицію"
https://public-bid.com.ua/test/#action=purchases&t=1442994820601
yaroslav1boyko@gmail.com / Password1
версія 2.3.5
Кроки до відтворення:
1. залогуватись замовником
2. перейти у вкладку закупівлі
3. відсортувати закупівлі по статусу "Очікування пропозицій"
4. відкрити закупівлю і натиснути кнопку зареєреструвати пропозицію
5. натиснути на кнопку "Мій кабінет"
6. перейти у вкладку "Мої пропозиції"
7

[2015-09-28 09:56] w-be commented on #477
Тепер все виглядає супер!

[2015-09-28 09:58] #471 closed, assigned to w-be

[2015-09-28 10:09] #472 closed, assigned to w-be

[2015-09-29 09:51] w-be opened #479 "Ua-tender. Обговорення закупівлі. Запитання не з"являється на картці закупівлі."

[2015-09-29 14:07] #479 closed, assigned to nobody

[2015-09-29 15:11] w-be opened #480 "Ua-tender. Учасники. Лишні кнопки: Опубликовать та Редактировать."
http://dev.zakupki.com.ua/tender/59
Закупівельник: vbilos@softserveinc.com / Qw123456

Відтворення:
1. Створити закупівлю.
2. Задати запитання іншим користувачом
3. Подати цінову пропозицію іншим користувачом.
4. Повернутись до закупівлі коли вона в статусі Кваліфікація
5. Прейти на таби Вопросы, Учасники

Очікувано: немає кнопок Опубликовать та Редактировать.

Фактично: присутні кнопки Опубликова

[2015-09-30 09:56] w-be opened #481 "Ua-tender. Картка закупівлі - Stand Still період. На картці очікування не видно документів по рішенню відміни."
http://dev.zakupki.com.ua/tender/70
id= e52cc15b19b64fd6805ec1d8d78440cc
Закупівельник: vbilos@softserveinc.com / Qw123456
Постачальник1: biviktorqc@gmail.com / Qw123456
Постачальник2: bi.viktorqc@gmail.com / Qw123456

Відтворення:
1. Створіть та опоблікуйте закупівлю, період подачі пропозицій повинен мати десь 10хв.
2. Залогінтесь в іншому бравзері закупівельником1.
3. Перейдіть на форму подачі п

[2015-09-30 10:04] #476 closed, assigned to w-be

[2015-09-30 10:07] w-be opened #482 "Ua-tender. Створення закупівлі. Краш якщо поля CPV та ДКПП заповнені не корекними данними."
http://dev.zakupki.com.ua/tender
Закупівельник: vbilos@softserveinc.com / Qw123456

Відтворення:
1. Перейдіть до створення закупівлі.
2. Заповніть всі поля крім CPV та/або ДКПП валідними данними.
3. наберіть беззмістовний набур літер в ці поля (фівфівфів)
4. Натисніть Создать

Очікувано: З"явиться повідомлення про недопустимий форммат даних

Фактично: З"явиться Error Exeption.

![image](https://cl

[2015-09-30 11:03] w-be opened #483 "Ua-tender. Відміна закупівлі. Не видно доданих документів при Активації відміні закупівлі"
http://dev.zakupki.com.ua/tender/59
Закупівельник: vbilos@softserveinc.com / Qw123456

Відтворення:
1. Відкрити свою створену закупівлю не в кінцевому статусі
2. Натиснути Отменить
3. Завантажити декілька документів
4. Ввести коментар до відміни.
5. Зберегти
6. Відкрити Заявку на отмену

Очікувано: Видно всі додані до відміни документи.

Фактично: Додані до відміни документи не відображаються

![i

[2015-09-30 12:07] yboi opened #484 "ЕЛЕГ. Відсутня кнопка Створити закупівлю"
http://e-tender.biz/#/
Owner1/ Password1

Кроки до відтворення:
1. залогуватись замовником
2. перейти у вкладку мої закупівлі
3. Натиснути кнопку "Створити закупівлю"

Очікуваний результат:
- Логінимось успішно
- Кнопка створити закупівлю відображається і працює

Фактичний результат:
Неможливо створити тендер, відсутня кнопка "Створити закупівлю"
1. переходимо на домашню сторінку, бачимо що є один

[2015-10-01 09:08] #482 closed, assigned to nobody

[2015-10-01 09:10] #480 closed, assigned to nobody

[2015-10-01 09:15] #483 closed, assigned to nobody

[2015-10-01 09:25] w-be commented on #481
Документи повинні відображатись в рядку (треба його додати) Документы решения.
Або перейменувати лейбл Документы предложения -> Документы решения
![image](https://cloud.githubusercontent.com/assets/11888281/10217246/42944292-6837-11e5-9344-07082c48babc.png)

[2015-10-01 09:33] w-be commented on #477
Нова кнопка ламає header:
![image](https://cloud.githubusercontent.com/assets/11888281/10217471/8f494cd0-6838-11e5-9dd4-6f808ddd42a4.png)

[2015-10-01 11:14] w-be opened #485 "Ua-tender. Реальний режим закупівель. Можливо перейти в реальний режим закупівель без модерації."
http://dev.zakupki.com.ua/
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Зайдіть на сайт
2. Створіть користувача(закупівельника)
3. Спробуйте створити закупівлю в реальному режимі.

Очікувано:  Без підтверженя зі сторони сайту (модерації), що даний користувач є представником реальної організації (державної), не можна створювати реальні закупівлі.

Фактично: Користувач сам оберає в якому режи

[2015-10-02 08:39] #477 closed, assigned to w-be

[2015-10-02 08:41] #481 closed, assigned to nobody

[2015-10-06 08:58] w-be opened #486 "Ua-tender. Реєстрація нового користувача. Щойно створений користувач не може залогінитись."
http://dev.zakupki.com.ua/organization/create
b.iviktorqc@gmail.com / Qw123456

Відтворення:
1. Зайдіть на сайт
2. Зайдіть на форму створення нового користувача.
3. Заповніть форму підходящими данними.
4. Підтвердіть реєстрацію.
5. Попробуйте залогінитись, щойно створеним користувачом.

Очікувано: Користувач залогований в тестовому режимі, може створювати і переглядати тендери  в тестовому режимі.

[2015-10-06 09:32] w-be opened #487 "Ua-tender. Stand Still період. Неможна відмінити перемогу учасника."
http://dev.zakupki.com.ua/tender/59/bids
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Зайдіть на сайт
2. Зайдіть на закупівлю з статусом Пропозиції Розглянуто.
3. Перейдіть на вкладку Участники
4. Спробуйте відмінити перемогу Учасника

Очікувано: Є можливість відмінити перемогу і дискваліфікувати претендента навіть після визнання його переможцем.
прув лінк:
https://docs.google.com/document/

[2015-10-06 09:51] w-be opened #488 "Ua-tender. Картка закупівлі. Різне оформлення вкладок закупівлі."
http://dev.zakupki.com.ua/
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Зайдіть на сайт
2. Зайдіть на закупівлю з заявкою на відміну в статусі квалифікація
3. Перейдіть по існуючим вкладкам.

Очікувано: Впладки оформлені однаково: є контроли переходу по вкладкам, однакові вертикальні відступи до контолів в заголавку сторінки.

Фактично: На табах різні вертикальні відступи в заголовку сторін

[2015-10-06 09:52] w-be commented on #488
Баг не критичний, можна відстрочити, або не виправляти. Не впливає на Прийомку(acceptance).

[2015-10-06 10:22] #485 closed, assigned to nobody

[2015-10-06 12:56] w-be opened #489 "Ua-tender. Картка закупівлі. Закупівля не переходить в наступний стан."
http://dev.zakupki.com.ua/tender/91
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Зайдіть на сайт
2. Створіть Закупівлю з малим часом обговорення (2хв)
3. Почекайте до закінчення часу обговорення

Очікувано: Закупівля перейшла до періоду Реєстрації Попозицій, а потім до періоду Аукціону.

Фактично: Закупівля не змінює статус(паріод), та лишається в періоді обговорення.

Також закупівля http:

[2015-10-06 13:01] w-be opened #490 "Ua-tender. Підписання договору. Договір не можливо підписати."
http://dev.zakupki.com.ua/contract/70/edit
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Зайдіть на сайт
2. Зайдіть на закупівлю з Переможцем торгів.
3. Перейдіть на вкладку Договор
4. Підтвердіть підписання договору.

Очікувано: Закупівля стає завершеною.

Фактично: З"являється помилка-виняток.

![image](https://cloud.githubusercontent.com/assets/11888281/10309057/ec311230-6c42-11e5-98a6-69

[2015-10-07 06:07] AlexRudenko commented on #57
Готово (Id,Number) добавили. Поиск по ним тоже есть. Задание закрываю.
![image](https://cloud.githubusercontent.com/assets/10192570/10330208/d106b088-6cd2-11e5-9465-ff497709d5e9.png)

[2015-10-07 06:07] #57 closed, assigned to AlexRudenko

[2015-10-08 07:42] S-Shevchenko commented on #484
@yboi Дякую. Неможливо створити тендер та подати запитання коростувачам,  які не пройшли модерацію. Дивись коментар @lerich https://github.com/openprocurement/frontend/issues/464

[2015-10-08 07:53] S-Shevchenko commented on #176
Задача не актуальна.
Добрий день, Шпигель Генрих Петрович!
Ми раді Вас вітати на ресурсі E-tender.

На нашому порталі Ви можете:
- Розмісти інформацію про Вашу компанію.
- Створити персональний сайт та отримати можливість просування компанії в пошукових мережах.
- Організовувати процес закупівлі товарів та послуг та приймати участь у них.
  Для подальшої роботи з ресурсом E-tender пропонуємо Вам з

[2015-10-08 07:53] #176 closed, assigned to nobody

[2015-10-08 07:55] S-Shevchenko commented on #463
Дякую.Виправлено.

[2015-10-08 07:55] #463 closed, assigned to nobody

[2015-10-08 07:56] S-Shevchenko commented on #332
Дякую.Виправлено

[2015-10-08 07:56] #332 closed, assigned to nobody

[2015-10-08 08:14] w-be commented on #487
http://dev.zakupki.com.ua/tender/91/bids
1. Відміна перемоги повинна мати можливість доддавання документу.
2. Наступний(чи цей самий) не стає претинденотом.
![image](https://cloud.githubusercontent.com/assets/11888281/10360986/c36dbbd4-6dad-11e5-86e0-23e377aba269.png)

[2015-10-08 08:21] w-be commented on #486
З"являєьться такий месадж:
![image](https://cloud.githubusercontent.com/assets/11888281/10361109/9e090a5a-6dae-11e5-9552-f00f30be0808.png)
Закупівля не створюється.
Зі старим користувачем теж саме.

[2015-10-08 12:53] #489 closed, assigned to daartkote

[2015-10-08 12:56] #486 closed, assigned to nobody

[2015-10-09 07:09] #454 closed, assigned to nobody

[2015-10-12 09:26] w-be opened #491 "Ua-tender. Підписання договору. Не можна підписати договір."
http://dev.zakupki.com.ua/contract/activate/5
vbilos@softserveinc.com / Qw123456
Закупівля: 78c1c56391e942028ece686b34816e43 (http://dev.zakupki.com.ua/tender/75)

Відтворення:
1. Зайдіть на сайт
2. Зайдіть Закупівлю в стані "Пропозиції розглянуто"
3. Перейдіть на вкладку Договір
4. Заповніть всі поля, додайте 3 файли.
5. Збережіть результати роботи.
6. Підтвердіть підписання договогу.

Очікувано:

[2015-10-12 09:28] w-be commented on #491
Дублікат №490.

[2015-10-12 09:28] #491 closed, assigned to daartkote

[2015-10-12 09:30] w-be commented on #490
Error-Exention після натискання кнопки Подписать:
![image](https://cloud.githubusercontent.com/assets/11888281/10425022/ebdaa9ec-70dc-11e5-8b9d-fc0eb8120437.png)

[2015-10-15 08:59] #487 closed, assigned to daartkote

[2015-10-15 09:25] w-be opened #492 "Ua-tender. Завершена закупівля. Можливо почати відміну закупівлі, коли закупівля завершена."
http://dev.zakupki.com.ua/tender/75
vbilos@softserveinc.com / Qw123456

Відтворення:
1. Залогінтесь
2. Знайдіть закупівлю зі статусом Завершена
3. Спробуйте відмінити закупівлю: створіть заявку на відміну, підтвердіть цю заявку.

Очікувано: не можливо почати процедуру відміни, якщо закупівля в кінцевому стані.

Фактично: Можливо створити заявку на відміну, розглянути її та підтвердити. Але оскільк

[2015-10-16 08:21] #165 closed, assigned to lerich

[2015-10-16 08:43] #224 closed, assigned to nobody

[2015-10-16 10:02] #490 closed, assigned to daartkote

[2015-10-16 10:02] #492 closed, assigned to daartkote

[2015-10-16 21:51] selurvedu commented on #484
@yboi, не все так погано. Справа в тому, що production-сервер змінив адресу на http://bid.e-tender.biz/, а тестовий – на http://bid.uat.e-tender.biz/. Стара адреса http://uat.e-tender.biz/ зараз показує таку саму "welcome page", як і http://e-tender.biz/ .

[2015-10-16 22:44] myroslav commented on #484
@S-Shevchenko було б добре, якби http://uat.e-tender.biz/ була хоч якось інтегрована з http://bid.uat.e-tender.biz/, бо зараз всі посилання ведуть на продуктивній сайт і дізнатися про існування http://bid.uat.e-tender.biz/ непросто.

Зауважу, що оскільки зараз тестове та продуктивні середовища переплетені є потенційна можливість загнати дані з тестів в продуктивну ЦБД.

[2015-10-19 10:57] yboi opened #493 "UAtender. Редагування Закупівлі. Неможливо видалити додаткові позиції закупівлі."
http://dev.zakupki.com.ua/tender
vbilos@softserveinc.com / Qw123456
Кроки до відтворення:
1. залогуватись замовником
2. натиснутина кнопку "Создать тендер"
3. ввести валідні дані у поля
4. натиснути кнопку "Добавить лот" і заповнити поля котрі появились (можна це виконати декілька раз)
5. натиснути на кнопку "Создать"
6. перейти у вкладку "Мои тендеры"
7. відкрити шойно створений тендер
8. натисну

[2015-10-19 14:01] #407 closed, assigned to SlaOne

[2015-10-20 12:51] yboi opened #494 "UAtender. Створення/Редагування закупівлі. Збереження закупівлі без Адреси поставки."
http://dev.zakupki.com.ua/tender
vbilos@softserveinc.com / Qw123456
Кроки до відтворення:
1. залогуватись замовником
2. натиснутина кнопку "Создать тендер"
3. ввести валідні дані у поля
![2015-10-19 13_38_26](https://cloud.githubusercontent.com/assets/13013223/10607119/02c2c068-7740-11e5-8652-fc478a2f9dab.png)
1. натиснути кнопку "Добавить лот" і заповнити поля котрі появились (можна це виконати д

[2015-11-23 15:19] w-be opened #495 "NewTend.Подача пропозиції неможлива."
http://dev23.newtend.com/dz/#/tender/fa813a43be034547b7592cc50355cacd/overview
login: openprocurement@mailinator.com
password: 123123

Відтворення:
1. Залогуйтесь провайдером
2. Знайдіть закупівлю в встатусі подача пропозицій
3. Відкрийте її
4. Подайте пропозицію

Очікувано: Пропозицію можна подати.

Фактично: Пропозицію не можливо подати. Відсутні відповідні контроли.
![image](https://cloud.githu

[2015-11-23 16:02] SlaOne commented on #495
Відтворення:
1. Залогуйтесь провайдером.
You should Log in as PROVIDER in the first. The screen you attached - is from Customer's cabinet.

[2015-11-23 16:09] SlaOne commented on #408
![accepted](https://cloud.githubusercontent.com/assets/15046328/11341918/3aa4bb98-920d-11e5-8cc9-319fcf33076f.jpg)
problem fixed

[2015-11-23 16:09] #408 closed, assigned to SlaOne

[2015-11-23 16:11] SlaOne commented on #361
fixed

[2015-11-23 16:11] #361 closed, assigned to SlaOne

[2015-11-23 16:15] SlaOne commented on #333
We got hints to the current statuses, nowadays, so user may see what's going on with tender.
You may find Hints by placing the cursor to "status" field.

[2015-11-23 16:15] #333 closed, assigned to SlaOne

[2015-11-24 10:22] w-be commented on #495
@SlaOne Вибачте скріншот дійсно був від Закупівельника, Ось від провайдера, не працює всеодно
![image](https://cloud.githubusercontent.com/assets/11888281/11363989/ed1ba80c-92a5-11e5-8be4-02b0ff51eebd.png)

[2015-11-24 10:23] w-be commented on #495
можливо питання в старих (чи поганих) користувачах, я маю таких:
Закупівельник/Ігровий режим
openprocurement@mailinator.com
Pwrd: 123123
Постачальник/Ігровий режим
qtest@mailinator.com
Pwrd: 123123
Постачальник/Режим реальних закупівель
openprocboss@mailinator.com
Pwrd: 123123

[2015-11-24 10:52] SlaOne commented on #495
дело не столько в "пользователе", сколько в режиме тендера.
предложенный вами тендер, похоже, создан не в "Тестовом" режиме. Соответственно Вы не можете сделать предложение "Тестовым" пользователем в "Не Тестовый" тендер.
У меня же получилось сделать ставку "Не Тестовым" пользователем в предоставленный вами тендер.
![bid_made](https://cloud.githubusercontent.com/assets/15046328/11364577/e172b744-9

[2015-11-24 11:05] w-be opened #496 "ПРОМ. Створення закупівлі. Непрацює кнопка додати неціновий показник"
http://my.dz-test.net/cabinet/purchases/state_purchase/add
користувач:
vbilos@softserveinc.com
Qw123456

Відтворення:
1. Заклогінтесь на майданчик як закупівельник
2. Відкрийте форму створення закупівлі
3. Натисніть кнопку "+ Додати Показник" в секції "Створення якісного показника"

Очікувано: З"являються контроли додавання не цінового показника.
Фактично: Нічого не трапляється.

Примітка: такаж п

[2015-11-24 13:52] w-be commented on #495
@SlaOne Ви абсолютно праві. Так на тестові тендери, я можу створювати ставки. Проблема дійсно в не відповідності користувачів: Тестовий - Не тестовий.
Та зараз я вже не можу створити тестовий тендер. видає помилку:
![image](https://cloud.githubusercontent.com/assets/11888281/11368244/55aaa48e-92c1-11e5-90c0-7bbe6b275ce7.png)
Тож блокуюча проблема: неможливо створити закупівлю тестовим закупівельни

[2015-11-25 11:16] w-be opened #497 "NewTend. Сворення закупівлі не можливе новоствореним користувачом."
Користувач:
biviktorqc@gmail.com / 3M9EJcQDQk
1. Вікриваєм аплікацію по лінці: http://dev23.newtend.com/
2. Логінемось
3. Переходимо до кабінету закупівуельника: копіюєм лінку в адресну стрічку + Ентер. Лінка: http://dev23.newtend.com/openprocurement/#/home/page/1
4. Натискаєм стрворити закупівлю.
5. Заповнюєм всі поля.
6. Натискаєм Опублікувати.

Очікувано: створюється тестова закупівля.
Фактично

[2015-11-25 11:17] w-be commented on #495
виношу в окрему багу, цю закриваю.

[2015-11-25 11:17] #495 closed, assigned to nobody

[2015-11-25 11:27] SlaOne commented on #497
ответ в консоли приходит какой? "not a government company"???
вновь созданные пользователи, на нашем сервисе, не имеют обозначение Гос Компания!
Вновь созданные пользователи должны пройти валидацию в колл-центре, после чего им устанавливается флаг - Гос компания, после чего можно создавать торги.
Так что поведение - ожидаемое и правильное.
могу переключить вашего пользователя.

[2015-11-25 11:46] w-be commented on #497
@SlaOne так, переключіть будь-ласка.

[2015-11-25 11:55] w-be opened #498 "ЕЛЕГ. Мій кабінет незавантажуєтья "Мої закупівлі"."
User: misha2 / Password1
link: http://bid.uat.e-tender.biz/#/profile

Відткорення:
1. Залогінитись в систему Закупівельником.
2. Пернейти до меню Мої Закупівлі.

Очікувано: Меню загрузилось. Є можливість натиснути кнопку Створити Закупівлю.

Фактично: З"являється помилка в сервер ерор в нижньому правому куті. Завантаження зависає. Кнопка Створити Закупівлю неактивна.

![image](https://cloud.github

[2015-11-25 12:15] SlaOne commented on #497
user - ten2312@mailinator.com, pass - 123123 - гос компания, тестовый, может создавать тендеры
user - ten2315@mailinator.com, pass - 123123 - тестовый, поставщик, не может создавать тендеры
вашего пользователя переключил в тестовый, гос компания, может создавать тендеры.
путь в кабинет провайдера - http://dev23.newtend.com/dz/provider

[2015-11-25 12:32] lerich commented on #498
Проверяйте, работает

[2015-11-25 13:55] #498 closed, assigned to nobody

[2015-11-26 12:49] w-be commented on #497
Дякую за наданих користувачів - якраз те що треба.

[2015-11-26 12:49] #497 closed, assigned to nobody

[2015-11-26 13:03] w-be opened #499 "NewTend. Картка закупівлі. Підкажіть як кваліфікувати переможця."
Користувач:
ten2312@mailinator.com, pass - 123123
Лінка: http://dev23.newtend.com/dz/#/tender/f19a1eaecd3948c3a9800eaea4100f44/auction

Підкажіть, будь-ласка, як кваліфікувати переложця?
Етап - кваліфікація переможця, Тендер відкрито тим хто створював, через меню мої закупівлі. Взяло участь 3 учасника 1 з них є не підтверженим(не кваліфікованим) перможцем. Скріншот на табі торги. Може на ньютенді,

[2015-11-26 13:21] SlaOne commented on #499
тайм аутов - нет. сейчас перепроверим, что к чему, в понедельник работало. может связано с изменениями на тестовом сервере

[2015-11-26 13:31] w-be opened #500 "Newtend. Кваліфікація переможця. Версія для друку не містить даних по неціновим показникам."
Користувач: ten2312@mailinator.com, pass - 123123
http://dev23.newtend.com/dz/tender/f19a1eaecd3948c3a9800eaea4100f44/print/

Відтворення:
1. Залогуватись закупівельником.
2. Відкрити свою закувівлю в періоді кваліфікації
3. Натиснути табу/лінк версія для друку.

Очікувано: версія для друку має всю ту саму інформацію що і звичайна версія.

Фактично: Версія для друку не містить нецінових показників

[2015-11-26 13:32] SlaOne commented on #499
тендер по какой-то причине не засинкался (работаем над устранением подобных причин). можете проверять. теперь работает

[2015-11-26 13:32] w-be commented on #500
частина опис закупівлі:
![image](https://cloud.githubusercontent.com/assets/11888281/11424109/f0fce4be-9452-11e5-9931-07d04dcad4f2.png)

[2015-11-26 13:36] SlaOne commented on #500
we'll improve in some time

[2015-11-26 14:18] #499 closed, assigned to SlaOne

[2015-11-30 13:33] w-be opened #501 "Період уточнення. Не можна задати питання. Немає контролів."
https://pmarket-rc.privatbank.ua/app_dev.php/business/tenders
Тендер ID:  UA-2015-11-27-000002

Відтворення:
1. Залогінтесь в аплікацію провайдером
2. Знайдіть закупівлю в періоді уточнення
3. Відкрийте її
4. Перейдіть на вкладку уточнення

Очікувано: є можливість задати питання.

Фактично: на основній табі та табі уточнення не має ніяких контролів - задати питання.

![image](https://cloud.githubu

[2015-11-30 13:50] w-be opened #502 "Період уточнення. Не можна оскаржити закупівлю. Натискання кнопки не працює."
https://pmarket-rc.privatbank.ua/app_dev.php/business/tenders
Тендер ID: UA-2015-11-27-000002

Відтворення:
1. Залогінтесь в аплікацію провайдером
2. Знайдіть закупівлю в періоді уточнення
3. Відкрийте її
4. Перейдіть на вкладку Жалобы
5. Натисніть кнопку Подать жалобу

Очікувано: Відкривається форма подачі скарги.

Фактично: Нічого не відбувається.

[2015-11-30 14:04] #496 closed, assigned to Rzaporozhets

[2015-11-30 14:07] yboi opened #503 "ПРОМ. Створення закупівлі. Закупівля не отримує TenderID"
http://my.dz-test.net/cabinet/purchases/state_purchase/add
користувач:
vbilos@softserveinc.com
Qw123456

Відтворення:
1. Заклогінтесь на майданчик як закупівельник
2. Відкрийте форму створення закупівлі
3. Введіть усі потрібні дані (валідні)
4. Збережіть закупівлю

Очікувано: Закупівля отримує TenderID: "приклад" UA-2015-10-19-000032
Фактично: ID: ожидание...
TenderID: ожидание...
![2015-11-30 16

[2015-11-30 14:23] Rzaporozhets commented on #503
Fixed

2015-11-30 16:08 GMT+02:00 yboi notifications@github.com:

##

---

Best regards,

Zaporozhets Roman

QA Automation Engineer

Prom.ua, Tiu.ru, Deal.by, Satu.kz

address: Kharkivske Highway, 201/203, office 316, 02000, Kiev, Ukraine

phone: +38 (067) 99-416-00

skype: zaporogech

[2015-11-30 14:24] Rzaporozhets commented on #503
Fixed

[2015-11-30 14:24] #503 closed, assigned to nobody

[2015-11-30 15:26] w-be opened #504 "IE. Картка закупівлі - Не відображаються значення полів."
https://pmarket-rc.privatbank.ua/app_dev.php/business/tenders
Тендер ID: UA-2015-11-27-000002

Відтворення:
1. Зайдіть в аплікацію в ІЕ 11
2. Знайдіть закупівлю
3. Відкрийте її

Очікувано: Картка закупівлі нормально відображається.

Фактично: Не відображаються значення полів.

Версія ІЕ:
![image](https://cloud.githubusercontent.com/assets/11888281/11475608/f4abbe6e-9786-11e5-9e05-ac7f3a0ab169.png)

[2015-11-30 17:20] w-be opened #505 "Пошук закупівлі, та картка закупівлі. Багатопредметний тендер представлений, як набір однопридметних закупівель."
https://pmarket-rc.privatbank.ua/app_dev.php/business/tenders
Тендер ID: UA-2015-11-27-000002 (багатопридметний тендер)

Відтворення:
1. Зайдіть в аплікацію
2. Знайдіть закупівлю по UA_id
3. Відкрийте її

Очікувано: Знаходиться одна закупівля, яка при відкриті містить 2(чи більше) блоків предмет закупівлі, з розрахунку 1 блок на 1 предмет.

Фактично: Багатопридметний тендер відображаєьться, як спи

[2015-12-01 10:59] w-be opened #506 "Відмінена закупівля. Не відображається причина та час відміни закупівлі."
https://pmarket-rc.privatbank.ua/app_dev.php/business/tenders
Тендер ID: UA-2015-12-01-000005-1

Відтворення:
1. Зайдіть в аплікацію
2. Знайдіть закупівлю по UA_id
3. Відкрийте її

Очікувано: Якщо закупівля в статусі Відмінена, відображеється час і причина відміни.

Фактично: На картці закупівлі, чи на табі, чи в попапі, немає інформації про відміну: час і причина.

![image](https://cloud.githubus

[2015-12-01 11:18] sergejbondik commented on #502
При нажатии на кнопку вызывается функция написания письма через почтовый клиент.

[2015-12-01 11:30] sergejbondik commented on #504
Поддержка данного браузера - обязательное условие?
Стандартно поддерживаем Firefox, Chrome

[2015-12-01 11:37] yboi opened #507 "E-tender. Подача цінової пропозиції. Дублювання полів нецінових показників."
homepage: "http://bid.uat.e-tender.biz/#/login"
login: Misha2
password: Password1

Кроки до відтворення:
1. залогуватись
2. перейти у вкладку "Торговельний майданчик"
3. відкрити закупівлю яка в статусі "Очікування пропозицій"
4. подати цінову пропозицію і нецінову пропозицію:
      - Реєстрація цінової пропозиції
      - Реєстрація нецінових пропозицій
5. Натиснути "Реєстрація пропозиції"

Очікув