[2015-01-20 17:34] andriykucherenko opened #1 "#P01 Вопросы не передаются в/из ЦБД"
@AlexRudenko утверждает, что с их стороны все нормально и ЦБД присваивает айдишки вопросам, размещенным через СМАРТ. Так что, похоже, проблема на стороне ПРОМ

[2015-01-20 17:35] andriykucherenko opened #2 "Не работает поиск по справочникам CPV-ДК"

[2015-01-20 17:37] andriykucherenko opened #3 "Заказчику не видно поступающих вопросов"

[2015-01-20 17:37] andriykucherenko opened #4 "Заказчику не видно поступающих вопросов"

[2015-01-20 17:54] andriykucherenko opened #5 "Неочевидна для користувача ознака того, що документ (не) розміщений у ЦБД"
Статус "Объявлено" присвоюється ще до отримання ID від ЦБД. У випадку збою на ЦБД, клієнт може не зрозуміти, що оголошення про торги не опубліковане.

[2015-01-20 17:55] andriykucherenko opened #6 "В оголошенні на сайті не видно стартової ціни та кроку понижуючого аукціону"

[2015-01-20 17:57] andriykucherenko opened #7 "Не видно пропозиції, поданої учасником"
Після повідомлення "Пропозиція прийнята" подивитись її учасник не може

[2015-01-20 17:58] andriykucherenko opened #8 "Строк поставки має бути не обов'язковим для заповнення"

[2015-01-21 07:51] AlexRudenko commented on #7
Может. Необходимо еще раз зайти в тендер, нажать кнопку "Подать предложение" и стоимость подтянется из поданного ранее предложения

[2015-01-21 07:55] AlexRudenko commented on #6
Андрей, все видно.
![image](https://cloud.githubusercontent.com/assets/10192570/5832833/9e348964-a153-11e4-934a-929935b901af.png)

[2015-01-21 11:06] andriykucherenko commented on #7
Стоимость подтянется, но документа не видно. Это может сильно смущать
участников.
21 січ. 2015 09:51, користувач "AlexRudenko" notifications@github.com
написав:

[2015-01-21 11:10] andriykucherenko commented on #6
Видно только на момент подачи предложения. Но плановая стоимость - важный
элемент принятия участником решения о том, подавать или не подавать
предложение вообще на данные торги.

Решать, конечно же вам, но на конкурирующих площадках участники видят эту
инфу сразу. А вы скрываете ее аж до момента завершения периода уточнений.
Совершенно непонятно, почему
21 січ. 2015 09:55, користувач "AlexRudenko"

[2015-01-21 11:17] AlexRudenko commented on #7
Андрей, это стандартная схема, которую используют все наши поставщики. И еще никто вопроса по поводу документов не поднимал. Считаю пока что можно этой опцией пренебречь.

[2015-01-22 14:51] #7 closed, assigned to AlexRudenko

[2015-01-22 15:11] andriykucherenko opened #9 "В процессе квалификации в тонком клиенте не вижу вложенных документов"

[2015-01-22 15:14] andriykucherenko commented on #9
Тендеры 000055 и 000063

[2015-01-22 15:43] andriykucherenko opened #10 "При нажатии кнопки Расчет, появляется ошибка "Отсутствуют допустимые режимы расчета.""
Тендеры 000055 и 000063
Выбираю "зеленую" строчку, все в соответствии с докой. Статус тендеров "5.Квалифик"

[2015-01-22 15:57] andriykucherenko opened #11 "Проблемы в квалификации торгов, созданных через ПРОМ"
Торги: UA-2015-01-20-000010
На ПРОМ они находятся в статусе "Тендер не состоялся"
на СМАРТ я их вообще не вижу
по ЦБД Мирослав пишет следующее:  має внутрішній id 50e592f8839b493fbef5b9dd221d699c, і він в стані active.qualification - тобто чекає на рішення кваліфікаційної комісії, по award-у 3f46634c3ed846a396629169e7ae597a

[2015-01-22 18:48] dmarghania opened #12 "Bugs Prom.Ua"
1 – Numbers and Symbols

![image](https://cloud.githubusercontent.com/assets/10658369/5862093/674190f6-a288-11e4-998c-2d8a906ebdbc.png)

2 – Error opening announced tender
![image](https://cloud.githubusercontent.com/assets/10658369/5862108/80257128-a288-11e4-90d0-583eb5700daa.png)

![image](https://cloud.githubusercontent.com/assets/10658369/5862128/9b9c8dec-a288-11e4-87c5-f7ec2773e059.png)

3 –

[2015-01-23 09:00] andriykucherenko opened #13 "ЭЛЕГ - не открылись торги, пришедшие с ПРОМ"
![image](https://cloud.githubusercontent.com/assets/9398532/5872032/03cdcb36-a2ef-11e4-9f1a-2ec26bc74e39.png)

[2015-01-23 09:27] andriykucherenko opened #14 "На СМАРТ не пришли вопросы с ПРОМ и ЭЛЕГ"
Торги 1-ПРОМ-АК-01    8ed22c214e564f16aa9808009b2d91d7
Вопрос ПРОМ-АК-01: 0c07419c1e584377be38b749e469acce
запитання ЕЛЕГ-СВ-01: 2cc4a24015344e50a9185a9a84d7f8bb

[2015-01-23 09:32] myroslav commented on #12
@dmarghania: разработчики будут очень признательны, если в будущем каждая ошибка будет отдельным issue. Так можна будет по одной закрывать, и каждой назначить отдельный приоритет.

[2015-01-23 09:36] #1 closed, assigned to darchik

[2015-01-23 10:15] darchik commented on #12
1. дело в том что мы выгружаем все единицы измерений, которые были переданы на ЦБД вместе с тендером. Их каждая площадка обзывает как хочет. Здесь больше просьба для всех площадок - нормально переименовывать.

[2015-01-23 10:21] darchik commented on #12
1. уже этой ошибки нет, временная ошибка была
2. это к ЦБД. Эти поля в ЦБД необязательны и на этом все настаивали. Я согласен что дата поставки может быть необязательна, но файл - обязателен.
3. размер файла ограничен ЦБД. Мирослав обещал увеличить лимит.
4. Такой лог мы не ведем пока...
5. Все статусы автоматические, кроме перехода с квалификации на подписание договора / тендер не состоялся. Толь

[2015-01-23 10:26] andriykucherenko opened #15 "Вопрос на ПРОМ от СМАРТ пришел, а ответ - нет"
1-СМАР-АК-01
Вопрос СМАР-АК-03

[2015-01-23 10:29] andriykucherenko commented on #15
Мирослав пишет: в ЦБД по 1-СМАР-АК-01 (59b1fbcadf504dba86492b66388cfed4) питанню Вопрос СМАР-АК-03 (2d12d716f74b4219878b492cffdd5362) відповіді ще нема
А в тонком клиенте ответ есть:
![image](https://cloud.githubusercontent.com/assets/9398532/5873081/6c798a6a-a2fb-11e4-883b-016cffa8384f.png)

[2015-01-23 10:34] AlexRudenko commented on #15
Не установлена галочка
![image](https://cloud.githubusercontent.com/assets/10192570/5873146/2c04deb6-a2fc-11e4-9202-244059f029c0.png)
Закрывай вопрос

[2015-01-23 10:49] #15 closed, assigned to AlexRudenko

[2015-01-23 10:51] andriykucherenko opened #16 "не обновляется страница торгов на ЭЛЕГ"
![image](https://cloud.githubusercontent.com/assets/9398532/5873392/7fb7c5e4-a2fe-11e4-96be-d6965436bdde.png)

[2015-01-23 11:09] andriykucherenko opened #17 "ЕЛЕГ: не могу создать профиль"
Заполнил все поля. Кстати, в почтовом индексе у нас только пять знаков :)
В любом случае, в конце получил ошибку:

![image](https://cloud.githubusercontent.com/assets/9398532/5873628/19875674-a301-11e4-9761-b057b098a2c3.png)

[2015-01-23 11:15] S-Shevchenko commented on #13
Исправили
Причина ошибки: не открывались торги, из-за того что не был заполнен профиль. Пользователь вошел в систему и перешел на просмотр деталей тендера

[2015-01-23 11:20] andriykucherenko opened #18 "Не видно маркера новых вопросов/ответов в списке закупок"
Видно только в карточке. Но это означает, что закупкщикам нужно несколько раз в день мониторить все свои торги. Мне кажется, есть смысл добавить новый признак еще и в списке:

![image](https://cloud.githubusercontent.com/assets/9398532/5873769/9341fd24-a302-11e4-8a45-854958075ec1.png)

[2015-01-23 11:21] #13 closed, assigned to lerich

[2015-01-23 11:21] #16 closed, assigned to lerich

[2015-01-23 11:46] andriykucherenko opened #19 "ПРОМ: Не прошли вопросы"
Торги 1-СМАР-АК-02
От ПРОМ не прошел вопрос ПРОМ-АК-04
на ПРОМ не прошли вопросы/ответы ЕЛЕГ-СВ-03 и СМАР-АК-05
Проблема явно на стороне ПРОМ, т.к. ЕЛЕГ и СМАР корректно обменялись вопросами и ответами

[2015-01-23 11:47] #14 closed, assigned to AlexRudenko

[2015-01-23 11:52] andriykucherenko opened #20 "Не открываются мои коммерческие предложения, которые видно по ссылке"
Ошибка: The page cannot be displayed

![image](https://cloud.githubusercontent.com/assets/9398532/5874163/f32f7686-a306-11e4-97ca-e1f8c2a516fc.png)

[2015-01-23 12:00] andriykucherenko opened #21 "Неправильное название даты в списке"
Должно быть: дата завершения подачи предложений
А сейчас: дата аукциона

![image](https://cloud.githubusercontent.com/assets/9398532/5874259/1688c6b8-a308-11e4-83ff-de8acbc65bfd.png)

[2015-01-23 12:05] andriykucherenko opened #22 "Торги перешли в статус Аукцион, а ссылка не присвоилась"
Ни публичная (пусто) и персональная (некликабельный текст "Аукцион проходит по ссылке)

![image](https://cloud.githubusercontent.com/assets/9398532/5874313/d1a13e30-a308-11e4-833e-b17467f99079.png)

[2015-01-23 12:11] andriykucherenko opened #23 "Не прошло через ЦБД предложение, поданное на своей же площадке"
Статус не изменился: (по состоянию на 14:10 то же самое)

![image](https://cloud.githubusercontent.com/assets/9398532/5874333/f819c15e-a308-11e4-9d2c-bd7a4f2fb80d.png)

Предложение я подавал и через ПРОМ (см ниже) и через СМАР:

![image](https://cloud.githubusercontent.com/assets/9398532/5874391/7bdc4188-a309-11e4-8355-3f46d3255eb2.png)

На СМАР предложение от ПРОМ не попало:
![image](https://clou

[2015-01-23 12:14] S-Shevchenko commented on #17
Исправили.
Валидация "Повна назва" +  "Індекс"

[2015-01-23 12:15] andriykucherenko commented on #23
UPD: в 14:13 этот аукцион получил "правильный" статус - Квалификация.
Проблема в том, что на тендеры, объявленные через ПРОМ, вы запрещаете подавать предложение точно в момент, определенный в объявлении торгов. А по тендерам, пришедшим с других площадок, есть задержка по времени- см второй снизу скриншот, я подал уточнение в 14:02

[2015-01-23 12:19] andriykucherenko commented on #23
UPD2: уточнение, которое я подавал в 14:02 и система "съела" без ошибок, сейчас пропало:
![image](https://cloud.githubusercontent.com/assets/9398532/5874487/dbf9d64c-a30a-11e4-8da9-ce7e5303358c.png)

@darchik, обрати внимание

[2015-01-23 12:29] andriykucherenko opened #24 "В тонком клиенте не видно файла-вложения на этапе квалификации"

[2015-01-23 12:58] andriykucherenko opened #25 "Необходимо показывать статус "Ожидается" при подаче предложения до подтверждения ЦБД"

[2015-01-23 13:01] #22 closed, assigned to darchik

[2015-01-23 13:07] darchik commented on #2
Не может быть. :) Поиск работает. Проверь еще раз. Он может немного тупить, если медленный инет.
![2015-01-23 15 07 34](https://cloud.githubusercontent.com/assets/5691919/5875073/98133728-a311-11e4-886b-77f0b3724579.png)

[2015-01-23 13:09] andriykucherenko opened #26 "Запаздывает переход статуса"
Аналогично проблеме, которую ПРОМа, которую мы только что обсуждали голосом
Тендер, созданный на ПРОМ в 15:00 (момент завершения приема заявок) изменил статус, а на СМАР продолжает быть в статусе "Прием предложений":

![image](https://cloud.githubusercontent.com/assets/9398532/5875077/a789c316-a311-11e4-847f-f83d2a277f86.png)

[2015-01-23 13:22] darchik commented on #4
Имеется ввиду визуально уведомлений о новых вопросах?! На странице тендера они подствечиваются. В общем списке скоро будет иконка функционировать.

[2015-01-23 13:24] AlexRudenko commented on #26
У нас был отключен дэмон. Все нормально

[2015-01-23 13:24] #26 closed, assigned to AlexRudenko

[2015-01-23 13:38] darchik commented on #21
Исправим

[2015-01-23 13:43] andriykucherenko opened #27 "После завершения аукциона аттачменты не открываются через сайт"
Торги 1-ПРОМ-АК-02

![image](https://cloud.githubusercontent.com/assets/9398532/5875514/7c74d76a-a316-11e4-909e-16b6bac37b6e.png)

[2015-01-23 13:44] andriykucherenko opened #28 "После завершения аукциона статус торгов не изменился"
`id`: `dbf161224e6549a9851f761f3565e0cf`

Аукцион закончился в 15:36
В 15:44 статус по-прежнему "Аукцион" а не "Квалификация"

![image](https://cloud.githubusercontent.com/assets/9398532/5875529/be3d8430-a316-11e4-9f09-c80098f08898.png)

[2015-01-23 13:54] #11 closed, assigned to darchik

[2015-01-23 13:56] #4 closed, assigned to darchik

[2015-01-23 13:56] #10 closed, assigned to AlexRudenko

[2015-01-23 13:57] andriykucherenko opened #29 "Не получил ссылку на аукцион"

[2015-01-23 14:50] AlexRudenko commented on #27
Кнопка "Квалификационные документы" служит для добавления документов. Для просмотра необходимо нажимать на кнопку "Результаты тендера"
![image](https://cloud.githubusercontent.com/assets/10192570/5876446/de78ab04-a31f-11e4-8d99-b906bade4c7e.png)

[2015-01-23 14:54] AlexRudenko commented on #24
Уже пофиксили
![image](https://cloud.githubusercontent.com/assets/10192570/5876517/7b4981a6-a320-11e4-8823-7a62238f0e9f.png)

[2015-01-23 14:55] AlexRudenko commented on #23
Была проблема с неверным форматом электронного адреса. Исправили.

[2015-01-24 10:04] andriykucherenko opened #30 "Не відбулося перепланування тендеру при "збої" в ЦБД"
1-ЕЛЕГ-СВ-02
торги находятся в статусе "Аукцион" по состоянию на 24.01.15 12:02
При переходе по ссылке на страницу аукциона видим, что аукцион завершился накануне, в 16:42

[2015-01-24 10:07] andriykucherenko opened #31 "Не отображаются торги 1-ПРОМ-АК-02"
`id`: `dbf161224e6549a9851f761f3565e0cf`

На ПРОМ и ЕЛЕГ они есть. на СМАР - нет.
Статус "тендер не состоялся" - верный (не было подано предложений)

[2015-01-24 10:14] andriykucherenko commented on #17
Что означает Валидация "Повна назва" + "Індекс"?
Я опять получил быстро исчезнувшую ошибку "Интернал еррор...", которую я даже не успел заскриншотить. Обычный пользователь точно не разберется, что у него пошло не так.

[2015-01-24 10:25] andriykucherenko commented on #17
![image](https://cloud.githubusercontent.com/assets/9398532/5887031/1a2d2022-a3c4-11e4-96b4-d5de162b9fd8.png)

[2015-01-24 10:28] darchik commented on #22
Бывало такое, но ссылки потом появлялись. Мы протестируем еще этот кейс.

[2015-01-24 10:30] darchik commented on #19
Это исправили.

[2015-01-24 10:30] #19 closed, assigned to darchik

[2015-01-24 10:32] darchik commented on #18
Все верно, для этого на списке есть значек с сообщением. Он будет в понедельник-вторник.

[2015-01-24 10:32] #18 closed, assigned to darchik

[2015-01-24 10:34] myroslav commented on #30
Тендер `699dc15d9c9947999c6e83121729a714` має відбутися о 2015-01-23T16:15:00+02:00 і це пов'язане з тим, що ЦБД не працювала вчора, в той момент, коли мав відбуватся аукціон (не вдалося результати аукціону внести в ЦБД), відповідно ЦБД його перепланувала "через добу". Що буде сьогодні в 16:15 - це треба "дожити" :) і побачимо, чи аукціон відбудеться знову.

[2015-01-24 10:34] #12 closed, assigned to darchik

[2015-01-24 10:36] #2 closed, assigned to darchik

[2015-01-24 10:41] andriykucherenko commented on #30
Виходить, така позаштатна ситуація у нас некоректно відпрацьовує.
На Майданчику дата стара: https://my.prom.ua/cabinet/purchases/state_purchase/view/462
І на сторінці аукціону все вже відбулось: http://auction-sandbox.openprocurement.org/tenders/699dc15d9c9947999c6e83121729a714
тільки фактичного "Розкриття" не відбулось в кінці аукціону

[2015-01-24 10:46] myroslav commented on #30
З точки зору ЦБД - стан є "очікування результатів аукціону", є неточність, що http://auction-sandbox.openprocurement.org/tenders/699dc15d9c9947999c6e83121729a714 показує результати попередньої спроби, а мав би показувати "попрожній" аукціон, ми з цим розберемося.

[2015-01-24 11:32] DimasSmartTender commented on #31
Можно получить идентификатор тендера в ЦБД?

[2015-01-24 11:44] AlexRudenko commented on #31
Андрей, мы включились в работу
Просьба комуницировать и со мной и с Дмитрием

[2015-01-24 18:20] myroslav commented on #30
Є більше інформації: не відпрацював механізм перепланування у випадку "позаштатної ситуації". Зараз розбираємося чому, чи через те, що коли відбувалося перепланування не працювала ЦБД, чи через те, що тендер мав "турбо режим"...

[2015-01-24 20:57] myroslav commented on #30
Оскільки в момент закінчення аукціону не працювало API, то він не мав можливості повернути результату, відповідно аукціон вважається таким, який не відбувся, і має відбутися його перепланування, щоб його провести ще раз.

Підтверджено помилку в функціоналі перепланування (він не мав обробки випадку "API недоступне").

[2015-01-25 08:11] myroslav commented on #31
`id`: `dbf161224e6549a9851f761f3565e0cf`

[2015-01-25 10:55] DimasSmartTender commented on #31
Я искал именно отмененный тендер, судя по вопросу.
На самом деле в ЦБД статус "active.awarded", у нас он добавлен "23.01.15 13:11".
![image](https://cloud.githubusercontent.com/assets/10280562/5891224/23372eb0-a491-11e4-91d5-09a4a91883ae.png)
![image](https://cloud.githubusercontent.com/assets/10280562/5891240/5ef3711a-a492-11e4-96f6-0842c5d93088.png)

[2015-01-25 11:09] myroslav commented on #31
@andriykucherenko: тендер `UA-2015-01-23-000004 (dbf161224e6549a9851f761f3565e0cf)`: `1-ПРОМ-АК-02`  в ЦБД є в статусі `active.awarded` який може означати або те, що очікується підписання контракту, або відкинули всі пропозиції, і йде stand-still період, під час якого можна подати скаргу на рішення про відкидання пропозицій.

Є ставка `ecb6680ccd9a46cea4ff7f0d81bc9d13` по якій є award `6c2f6fdf9ed

[2015-01-25 20:18] andriykucherenko opened #32 "Не прошел вопрос ПРОМ-АК-05 к торгам 1-СМАР-АК-04, с ПРОМ на СМАР"
ID торгов:  53604802633a4dc5abbc93d719313f85
На ПРОМ я вижу два вопроса к торгам:

![image](https://cloud.githubusercontent.com/assets/9398532/5893072/7b9869ea-a4df-11e4-8cc1-227cd24db80b.png)

в тонком клиента СМАР - только один:
![image](https://cloud.githubusercontent.com/assets/9398532/5893087/f6056278-a4df-11e4-986a-ed35b99f7f16.png)

@myroslav , глянь, плз, у кого проблема?

[2015-01-25 20:37] myroslav commented on #32
В ЦБД тільки 1 запитання `53604802633a4dc5abbc93d719313f85`: `"Вопрос СМАР-АК-04"`. Тендер в стані `active.tendering` і не приймає більше запитань. Запитання можна було подавати до `2015-01-25 21:00`.

[2015-01-25 20:38] #9 closed, assigned to AlexRudenko

[2015-01-25 20:38] #24 closed, assigned to AlexRudenko

[2015-01-25 20:38] #27 closed, assigned to AlexRudenko

[2015-01-25 20:41] myroslav commented on #30
Конкретно цей тендер ми вчора ввечері "штовхнули", і аукціон відбувся, тендер перейшов в кваліфікацію. Цей issue я закрию, коли ми виправимо код, щоб такого більше не траплялося.

[2015-01-25 21:00] myroslav commented on #32
Імовірно при подачі запитання "вилетіла" наступна помилка, принаймні вона в нас зафіксована о `2015-01-25 17:43:38.735 UTC`:

[code]

Пов'язано з некоректними даними по автору запитання.

Неуспішність подачі запитання жодним чином не прокомунікувано.

[2015-01-26 04:15] #31 closed, assigned to AlexRudenko

[2015-01-26 10:39] myroslav opened #33 "G"

[2015-01-26 10:39] myroslav opened #34 "G"

[2015-01-26 10:40] #34 closed, assigned to nobody

[2015-01-26 10:40] #33 closed, assigned to nobody

[2015-01-26 10:43] myroslav opened #35 "Затримка з переходом тендеру в стан active.tendering"
Проблема виникає при `enquiryPeriod.endDate < tenderPeriod.startDate`. Це можна побачити на прикладі тендерів `77e96da646e2412b8b28a304baa1dca3` та `44d152f80a7e493a94d0964c52c7e15d`

[2015-01-26 11:09] myroslav commented on #35
Проблема була відзвітована @mxvoloshin і по `44d152f80a7e493a94d0964c52c7e15d` маємо наступний звіт:

[code]

`77e96da646e2412b8b28a304baa1dca3` тендер з `tenderPeriod.startDate`: `2015-01-26T09:07:00+00:00` "висить" в стані `active.enquiries`, хоча час переходу в стан `active.tendering` вже минув. В log є тільки:

[code]

[2015-01-26 11:12] myroslav commented on #35
![44d152f80a7e493a94d0964c52c7e15d](https://files.gitter.im/openprocurement/frontend/eSGv/1.png)

[2015-01-26 11:41] kroman0 commented on #35
Була помилка в планувальнику. Вже виправлена. Тендер `77e96da646e2412b8b28a304baa1dca3` переключився в active.tendering.

[2015-01-26 11:45] #35 closed, assigned to myroslav

[2015-01-26 14:46] darchik commented on #32
Исправлено.

[2015-01-26 14:46] #32 closed, assigned to darchik

[2015-01-26 15:14] #30 closed, assigned to myroslav

[2015-01-26 16:18] darchik commented on #28
У нас синхронизация раз в 10 минут. Судя по вводным данным, надо было еще 2 минуты подождать и статус бы изменился.

[2015-01-26 16:18] #28 closed, assigned to darchik

[2015-01-26 16:57] darchik commented on #21
Исправлено.

http://grab.by/E8si

[2015-01-26 16:57] #21 closed, assigned to darchik

[2015-01-27 10:54] AlexandrStarodubtsev opened #38 "Элеганс не работают фильтры по времени"

[2015-01-27 11:44] darchik commented on #8
Исправлено в ближайшем обновлении.

[2015-01-27 11:44] #8 closed, assigned to darchik

[2015-01-28 10:12] andriykucherenko opened #39 "ДУС: При попытке поставить цену выше начальной, нас выкинуло из аукциона."
При попытке поставить цену выше начальной, нас выкинуло из аукциона.
Forbidden
Access denied: access_denied

[2015-01-29 12:04] myroslav commented on #39
Ми пробували зрозуміти, чи це від нас, чи не від нас, і не придумали, коли таке могло статися і за якої умови.

Нам принаймні треба ID аукціону, про який іде мова, а бажано screenshot і приблизний час, коли це сталося.

Більше я по цій задачі не зможу нічого сказати :(

Чи можемо ми просити замовників одразу цю інформацію нотувати?

[2015-01-29 16:18] andriykucherenko opened #40 "Не пришел на ПРОМ вопрос ЕЛЕГ-АК-01 к торгам 1-ПРОМ-АК-12"

[2015-01-29 16:27] darchik commented on #40
![2015-01-29 18 26 43](https://cloud.githubusercontent.com/assets/5691919/5961303/6a80b47a-a7e4-11e4-9dfc-8cfc55352ed8.png)
Он?

[2015-01-29 16:32] andriykucherenko commented on #40
Скажи честно, руками протолкнул? ))
А если серьезно, то да, долетело. Странно то, что по другим торгам мы уже обменялись вопросами-ответами, а по этим торгам вопрос затупил... интересно, почему?
Но тикет закрываю

[2015-01-29 16:32] #40 closed, assigned to darchik

[2015-01-29 16:43] andriykucherenko opened #41 "Запрет редактирования вопроса"
Можно сделать в два шага - черновик (не публикуется, но можно менять) и чистовик (публикуется, но нельзя менять)

[2015-01-29 16:53] #17 closed, assigned to lerich

[2015-01-29 16:54] #38 closed, assigned to lerich

[2015-01-29 17:12] andriykucherenko opened #42 "Проблеми з отриманням лінку на аукціон"
Торги a687f0fb524f463499f8e569a3e89f10
на ПРОМ нема лінку
на ЕЛЕГ лінки є, але не відкриваються
публічний: http://auction-sandbox.openprocurement.org/tenders/a687f0fb524f463499f8e569a3e89f10
лінк учасника: http://auction-sandbox.openprocurement.org/tenders/a687f0fb524f463499f8e569a3e89f10/login?bidder_id=27013db4077e4f1091aa1a9c3dd38b0a&hash=835a22414cec5ef114c7ad47d6c5ca13e5278274

якщо я зарано

[2015-01-29 17:17] yuliyaSoftserve opened #43 "Тендер. Секція - Документи -Який перелік типів файлів які можна завантажити у аплікацію?"

[2015-01-29 17:19] yuliyaSoftserve opened #44 "Тендер. Секція - Документи - Який максимальний розмір файла можна завантажити у аплікацію?"

[2015-01-29 17:20] yuliyaSoftserve opened #45 "Тендер. Секція - Документи - Чи є якісь обмеження на кількість файлів які можна завантажити для тендера?"

[2015-01-29 17:21] yuliyaSoftserve opened #46 "Тендер. Секція - Документи - Чи є валідація на вмістиме файла який ми завантажуємо?"

[2015-01-29 17:23] yuliyaSoftserve opened #47 "Пошук за номером тендера (вкладка «Торгівелький майданчик») – працює тільки якщо внести весь номер – як критерій пошуку. Підтвердіть чи це є коректна поведінка"

[2015-01-29 17:24] yuliyaSoftserve opened #48 "Пошук в довіднику (вікно «Класифікатор ДКПП») – пошук відбувається або по коду товару або по назві, пошук за критерієм – код+ назва – не відбувається. Чи це є очікувана поведінка?"

[2015-01-29 17:28] yuliyaSoftserve opened #49 "Тендер. Яка максимальна кількість питань може бути додана для тендера?"

[2015-01-29 17:28] yuliyaSoftserve opened #50 "При яких умовах тендер міняє статус з «Заявки» на «Помилковий»?"

[2015-01-29 17:29] yuliyaSoftserve opened #51 "Чи можна в подальшому якось працювати з Помилковими тендерами? Чи це передбачено в поточній реалізації?"

[2015-01-29 17:30] yuliyaSoftserve opened #52 "Чи є можливість видалити Помилкові тендери?"

[2015-01-29 17:31] yuliyaSoftserve opened #53 "Тендер. Час «Початку аукціону» - визначається автоматично. Який алгоритм визначення?"

[2015-01-29 17:32] yuliyaSoftserve opened #54 "На яку кількість користувачів розрахована система, які одночасно можуть залогуватись в систему?"

[2015-01-29 17:52] myroslav commented on #42
ПРОМ мав отримати посилання, в ЦБД є посилання auctionURL, і відповідно по ньому мав би бути видимий аукціон.

Підтверджую, що є проблеми в самого аукціону, зараз розбираємося, з чим це пов'язано

[2015-01-29 18:42] myroslav commented on #42
Зараз поки не відбувається аукціон (через проблеми) відбувається перепланування аукціону, і майданчики мають періодично отримувати нову дату проведення аукціону.

[2015-01-29 19:33] myroslav commented on #42
Частину проблеми вирішили, після перепланування URL вже будуть робочі, але аукціони ще не йдуть.

[2015-01-29 20:10] myroslav commented on #42
Аукціони запустили

[2015-01-29 21:03] darchik commented on #40
Ничего не трогал :) Завтра попрошу глянуть лог, может найдем причину.

[2015-01-29 21:19] myroslav commented on #53
Зараз алгоритм наступний:

Це коротко, насправді зараз є деякі компроміси між "точністю" та зручністю, і тому алгоритм може давати перекривання по часу.

[2015-01-29 21:22] myroslav commented on #52
Тендер можна скасовувати, після скасування він залишається в системі в скасованому статусі. В залежності від реалізації конкретного майданчика може вводитися статус "чорновик", в якому аукціон не потрапляє в Центральну Базу Даних (ЦБД), і тоді майданчик може пропонувати можливість знищувати такий Тендер (до публікації в ЦБД).

[2015-01-29 21:23] myroslav commented on #51
Будь який тендер можна скасувати. Якщо ви розшифруєте термін  "помилковий тендер" - то розповім більше.

[2015-01-29 21:24] myroslav commented on #50
В ЦБД немає статусу "Помилковий" якщо майданчик реалізує такий статус - то буду вдячний за розшифровку.

[2015-01-29 21:25] myroslav commented on #49
Зараз обмежень на рівні ЦБД немає.

[2015-01-29 21:26] myroslav commented on #46
ЦБД не перевіряє вмісту файлів.

[2015-01-29 21:27] myroslav commented on #45
ЦБД не обмежує кількість файлів.

[2015-01-29 21:28] myroslav commented on #44
Зараз на рівні ЦБД діє обмеження в 1Мб, але за кілька днів ми піднесемо обмеження до 50Мб.

[2015-01-29 21:29] myroslav commented on #43
Рекомендовано користуватися PDF і в крайніх випадках XLS. Поки що обмежень ЦБД на тип файлу не накладає.

[2015-01-30 07:31] AlexRudenko commented on #23
Вопрос решен

[2015-01-30 07:31] #23 closed, assigned to AlexRudenko

[2015-01-30 10:27] yuliyaSoftserve opened #55 "Чи робились перевірки – завантаження файлу - на рівні бази даних і на S3?"

[2015-01-30 11:36] S-Shevchenko commented on #50
Майданчик - e-tender
Заявка - active.enquiries
Помилковий -  unsuccessful

[2015-01-30 14:02] myroslav commented on #50
Кращий прееклад статусу `active.enquiries` - "Період уточнень", "Уточнення", "Питання/відповіді".

Заявки подаються в період `active.tendering`, який можна перекласти як "Прийом/подача заявок/пропозицій".

Кращий преклад татусу `unsuccessful` є "**Неуспішний**" цей стан набувається у виападку коли:
1. не було жодної пропозиції, тоді одразу після періоду прийому пропозицій тендер туди потрапляє
2.

[2015-01-30 14:04] lerich commented on #50
Давайте вынесем это в доку на украинском языке и сделаем на всех площадках одинаково

[2015-01-30 14:28] myroslav commented on #50
Давайте: https://drive.google.com/open?id=17bTdLCnOnT8fu5dIyBez3i1mVym_OiSdUXXAHf6RSuA

[2015-01-30 14:29] #42 closed, assigned to myroslav

[2015-01-30 16:03] yuliyaSoftserve commented on #52
Дякую, мене цікавить чи є можливість скасувати помилковий тендер для майданчика №3 (http://services.e-tender.biz:99/#/)? якщо так то вкажіть де саме

[2015-01-30 16:05] yuliyaSoftserve commented on #51
я мала на увазі статус - "Помилковий", при яких вхідних даних тендер має такий статус?

[2015-01-30 20:41] lerich commented on #52
на етендере помилковый тендер скасувуется заказчиком, внизу кнопка "Відмінити тендер"

[2015-01-30 20:54] myroslav commented on #51
Виглядає, що це "неуспішний" тендер (`unsuccessful`), цей статус є "термінальний", і з нього неможливо вийти. Цей статуцс свідчить, що не вдалося знайти постачальника.

[2015-01-31 12:31] #53 closed, assigned to lerich

[2015-01-31 12:35] andriykucherenko opened #56 "Не могу внести имейл в профиль"
Захожу в редактирование профиля, вношу имейл, получаю сообщение что профиль изменен. Однако, имейл не записывается

[2015-01-31 15:48] andriykucherenko opened #57 "Выводить ID тендера в объявлении"
Также, должна быть возможность искать тендер по ID

[2015-02-01 10:13] dmarghania commented on #57
Чтоб принцип "все видят все" был реально реализован в системе, на площадках поиск закупок должен осуществляться по следующим показателям:
1. Номер закупки ( ID)
2. Закупщик (Поиск с 3-го символа названия)
3. Поставщик (Поиск с 3-го символа названия)
4. Статус закупки
5. Коды классификаторов (Поиск с 3-го символа названия)
6. Дата статуса (когда была объявлена, когда аукцион  итд.)
7. Объявленная ц

[2015-02-02 14:49] yuliyaSoftserve opened #58 "Який алгоритм визначення переможця?"

[2015-02-02 14:50] yuliyaSoftserve opened #59 "Видалення тендера. Коли користувач (замовник) видалить тендер – чи означає це що і всі завантажені документи для даного тендера також будуть видалені з системи (з бази даних і з S3)?"

[2015-02-02 15:28] yuliyaSoftserve opened #60 "Крок 1.Користувач зареєстрований як замовник (юридична особа). Крок 2. Він редагує свій профіль і вказує що він - учасник (фізична особа, відмітити «Замовник»). Всі створені ним тендери пропадають. Чи не потрібно на цьому етапі додатково проінформувати користувача що після таких змін він не буде мати можливості працювати з свореними тендерами і не буде мати можливості їх створювати? Чи є можливість в цього користувача знову стати замовником? Крок 3. Коли я спробувала поредагувати його вказавши ті ж дані що були в Крок1, я отримала повідомленні – «Помилка –"

[2015-02-02 15:40] lerich commented on #29
Работает

[2015-02-02 15:40] #29 closed, assigned to lerich

[2015-02-02 15:40] lerich commented on #41
Убрали редактирование

[2015-02-02 15:40] #41 closed, assigned to lerich

[2015-02-02 15:48] lerich commented on #47
Да, мы сделали чтобы поиск был только по всему номеру

[2015-02-02 15:48] #47 closed, assigned to lerich

[2015-02-02 16:34] myroslav commented on #58
Пропозиції розглядає кваліфікаційна комісія закупівельника, але тільки від дешевшої пропозиції до дорожчої. Як тільки серед пропозицій знаходиться така, яка задовільняє критерії закупівельника - її автор визнається "переможцем".

Між подачою початкових пропозицій і етапом, коли відбувається їх розгляд є етап аукціону, де в 3-х раундах учаники можуть знизити свої ставки (від своїх початкових). В ко

[2015-02-02 16:35] myroslav commented on #59
Тендер видати неможна. Його можна тільки скасувати. Вся документація скасованого тендера залишається в системі і його можна і побачити, і завантажити документацію. З системи інформація не видаляється.

[2015-02-02 16:37] myroslav commented on #60
З точки зору ЦБД та сама юридична особа може бути і замовником і постачальником (іншим державним організаціям). Якщо цього не реалізовує якийсь з майданчиків - то це їх usability недолік.

[2015-02-03 12:10] yuliyaSoftserve opened #61 ""Internal Server Error" при спробі відновити пароль і вказати інший email ніж той який вказали при реєстрації"
![default](https://cloud.githubusercontent.com/assets/10761162/6019925/8bace416-abae-11e4-9681-ce58e124c566.png)

[2015-02-03 12:24] yuliyaSoftserve opened #62 "При третій спробі залогуватись з невірним паролем - зявляється додатковий елемент на формі - "Я не робот" і reCAPCHA. Чи це є очікувана поведінка аплікації?"
![recapcha](https://cloud.githubusercontent.com/assets/10761162/6020079/49d92f20-abb0-11e4-89bc-aab6bd9ad0f3.png)

[2015-02-03 12:24] andriykucherenko opened #63 "СМАР дублирование аттача при подаче уточненного предложения"

[2015-02-03 12:26] andriykucherenko opened #64 "СМАР не видно даты и времени подачи аттача в предложении"
Необходимо визуально четко выделить файлы,  поданные после завершения приема предложений

[2015-02-03 12:28] lerich commented on #62
это так сделали для того, чтобы не подбирали пароль

[2015-02-03 12:28] #62 closed, assigned to nobody

[2015-02-03 17:07] andriykucherenko opened #65 "В окне вопроса убрать упоминания про обжалование и возможность вложить файл"

[2015-02-03 17:17] myroslav commented on #39
Я поки не маю додаткової інформації від замовника. Якщо її не буде до кінця тижня, то буду закривати цей Issue.

[2015-02-03 17:19] andriykucherenko opened #66 "Продакшн не настроен"
e-tender.biz - not found

[2015-02-04 08:19] #58 closed, assigned to nobody

[2015-02-04 08:22] lerich commented on #44
установили 50Мб, было 100Мб

[2015-02-04 08:22] #44 closed, assigned to lerich

[2015-02-04 08:23] lerich commented on #49
обмежень немає

[2015-02-04 08:23] #49 closed, assigned to lerich

[2015-02-04 08:23] #52 closed, assigned to lerich

[2015-02-04 08:24] lerich commented on #51
Функциональность ЦБД

[2015-02-04 08:24] #51 closed, assigned to lerich

[2015-02-04 08:25] lerich commented on #66
сейчас доступ по порту e-tender.biz:99, после развертывания нового инстанса будет без указания порта

[2015-02-04 08:26] lerich commented on #50
сделали

[2015-02-04 08:26] #50 closed, assigned to lerich

[2015-02-04 08:31] lerich commented on #46
вопрос актуальный, нужно решить, как не дать загрузить вирус в систему

[2015-02-04 08:32] lerich commented on #56
убрали

[2015-02-04 08:32] #56 closed, assigned to lerich

[2015-02-04 08:59] DimasSmartTender commented on #65
Сделано

[2015-02-04 08:59] #65 closed, assigned to DimasSmartTender

[2015-02-04 16:14] yuliyaSoftserve opened #67 "Не має можливості створити тендер - відсутня кнопка "Створити тендер""
В режимі навчання не має кнопки щоб "Створити тендер"

![button_createtender_notavailable](https://cloud.githubusercontent.com/assets/10761162/6043901/75b04f96-ac98-11e4-871e-203e2190f59e.png)

[2015-02-04 17:02] yuliyaSoftserve opened #68 "При реєстрації нового користувача на його профайлі не має галочки замовник"
![customer](https://cloud.githubusercontent.com/assets/10761162/6045088/210b75ee-aca0-11e4-8605-495b3caa508d.png)

[2015-02-05 09:19] lerich commented on #67
временно отключали возможность создания роли заказчик. Сейчас включили назад.

[2015-02-05 09:19] #67 closed, assigned to nobody

[2015-02-05 09:22] lerich commented on #48
да, поиск происходит либо по коду, либо на названию, о чем укажем в инструкции.

[2015-02-05 09:22] #48 closed, assigned to lerich

[2015-02-05 15:59] yuliyaSoftserve opened #69 "При повторному вході, на Авторизації галочка "Запам'ятати мене" не запамятовує пароль."
![default](https://cloud.githubusercontent.com/assets/10761162/6063493/6a202ef8-ad60-11e4-840a-0cd5bdc20ccf.png)

[2015-02-05 17:15] yuliyaSoftserve opened #70 "Як можна взнати код тендера?"
Для того щоб отримати дані про тендер з бази даних, можна використати URL -
http://services.e-tender.biz:99/#/tenderDetailes/e7cd0eb88433433c93681b8a417f1c5d , де e7cd0eb88433433c93681b8a417f1c5d - це код тендера

[2015-02-05 17:20] yuliyaSoftserve opened #71 "Не можливо залогуватись з новим паролем в систему"
1. На "Авторизація" вибрати "Забув пароль"
2. Внести електронну адресу яка була вказана при реєстрації користувача
3. Відновити пароль
4. Спробувати залогуватись з новим паролем - як результат "не вірний пароль або логін"

[2015-02-05 17:23] lerich commented on #70
В деталях рядом со словом Тендер есть UA-2015-02-05-000011, это и есть уникальный идентификатор в рамках ЦБД.  e7cd0eb88433433c93681b8a417f1c5d - это уникальный идентификатор в рамках площадки

[2015-02-05 17:23] #70 closed, assigned to nobody

[2015-02-06 09:29] yuliyaSoftserve opened #72 "Час в Internet Explorer браузері не співпадає з Chrome та Firefox браузерами під час аукціону"
![timenotcorrectininternetexplorer](https://cloud.githubusercontent.com/assets/10761162/6077509/5cd8b02e-adf8-11e4-9a17-cb01910184c4.png)

[2015-02-06 09:39] yuliyaSoftserve opened #73 "Замовник і учасник які подали однакові пропозиції по 100 грн, не мають можливості їх редагувати під час аукціону, в жодному раунді."
![cannotchangesum](https://cloud.githubusercontent.com/assets/10761162/6077168/d3976e5c-adf4-11e4-9d2a-6323ea565a4c.png)

[2015-02-06 09:44] #39 closed, assigned to myroslav

[2015-02-06 11:22] yuliyaSoftserve opened #74 "Де саме зберігається інформація про користувачів системи? чи є можливість переглянути її?"
Мене цікавить конкретний юзер - usertest_1
Чи його імейл - usertest_1@mailinator.com?
Коли останній раз була зміна паролю для цього юзера?
чи новий пароль - TestTest1

[2015-02-06 12:10] lerich commented on #74
Такого пользователя нет. по этому емайлу есть пользователь usertest1
Время последней модификации по этому пользовалю 2015-02-05 19:06:26.107
пароль верный

[2015-02-06 12:10] #74 closed, assigned to nobody

[2015-02-06 13:21] yuliyaSoftserve opened #75 ""Авторизація". Для того щоб залогуватись новим користувачем потрібно вручну витерти дані (логін і пароль) попереднього користувача"
Крок 1. Логуємся як юзер1
Крок 2. виходимо з аплікації
Крок3. В тому ж вікні бровзера пробуємо залогуватись новим користувачем
як результат в вікні "Авторизація" відображаються логін і пароль користувача з Крок1.
Для того щоб залогуватись новим користувачем потрібно вручну витерти дані (логін і пароль) попереднього користувача

[2015-02-06 13:29] lerich commented on #75
Каким браузером? Спасибо

[2015-02-06 14:09] yuliyaSoftserve commented on #75
FireFox v 35.0.1

[2015-02-06 15:52] yuliyaSoftserve opened #76 "Довідник. Чи є можливість відмінити виділений товар в довіднику?"

[2015-02-06 16:17] yuliyaSoftserve opened #77 "При яких умовах тендер має статус "Немає даних"?"
![-](https://cloud.githubusercontent.com/assets/10761162/6082743/42e38e58-ae2c-11e4-8446-3fccfa9922d3.png)

[2015-02-07 00:50] myroslav commented on #73
Аукціон має 2 варіанти:
- перегляд
- участь

Чи скористалися ви посиланням для участі?

[2015-02-09 08:58] S-Shevchenko commented on #77
Статус "Немає даних" виникає під час синхронізації з ЦБД(відразу після створення тендера)

[2015-02-09 09:16] yuliyaSoftserve commented on #73
Це була участь

[2015-02-09 09:52] yuliyaSoftserve opened #78 "Учасник, що подав заявку, та прийняв участь в аукціоні, не має можливості редагувати ціну, під час своєї черги, і не позначений як - "Ви""
![auction_comparison](https://cloud.githubusercontent.com/assets/10761162/6103986/fdd57c04-b051-11e4-8186-fcc164a82609.png)

[2015-02-09 10:02] yuliyaSoftserve opened #79 "Чи можливо, щоб аукціони проходили в один і той же час?"
![3_auctions_simultaneously](https://cloud.githubusercontent.com/assets/10761162/6104130/8b5f7344-b053-11e4-8715-443923be1732.png)

[2015-02-09 10:19] yuliyaSoftserve opened #80 "Яка валідація на поле ціни, при створенні Тендера? Чи можна вписувати пробіли?"
![leading_following_spaces](https://cloud.githubusercontent.com/assets/10761162/6104375/9b9d4432-b055-11e4-82a1-349f7203d423.png)

[2015-02-09 10:46] yuliyaSoftserve opened #81 "Після проведення аукціону, замовник має можливість "Визначити переможця" - двічі."
1. Після закінчення аукціону, замовник (який оголосив тендер) повинен перейти у свій кабінет.
2. На закладці "Мої тендери" вибрати назву тендера, зі статусом "Кваліфікація переможця" по якому проходив аукціон.
3. У вікні "Тендер", у нижній частині вікна нажати кнопку "Визначити переможця".
4. У вікні "Переможець", завантажити файл, та нажати кнопку "Підтвердити".
5. Замовник повертається на попере

[2015-02-09 11:21] yuliyaSoftserve opened #82 "Замовник у своєму кабінеті, не може бачити тендери, на які він подавав свої пропозиції, та брав участь в аукціоні."
Замовник і учасник подали свої пропозиції, та приймали участь у аукціоні. Але учасник може бачити список тендерів, на які він подавав свою пропозицію у своєму кабінеті, а  замовник - може бачити тільки ті тендери, які він створив, а ці, в яких приймав участь - не може побачити.
![participant_client_tenders](https://cloud.githubusercontent.com/assets/10761162/6105256/d60cd4ea-b05d-11e4-921b-1c323d0

[2015-02-09 12:18] myroslav commented on #79
Якщо ви вказали різні CPV коди (з різних груп) то Аукціони можуть відбуватися одночасно. Логіка "розводить" аукціони по часу тільки якщо в них вказано CPV з однієї групи

[2015-02-09 12:21] myroslav commented on #78
Аукціон має 2 варіанти перегляду, як спостерігач та як учаник. Якщо відвідувач потрапив на аукціон за загальним посиланням перегляду аукціону, то він не має можливості взяти участь. Для участі в кожного з учасників є своє посилання для участі, і відповідальність майданчика доставити це посилання в зручний, зрозумілий і безпечний спосіб учаснику.

[2015-02-09 12:23] myroslav commented on #73
Якби це була участь, то учасник був би позначений як "Ви"... Тому я роблю висновок, що учасник потрапив на перегляд аукціону як спостерігач.

[2015-02-09 12:56] yuliyaSoftserve opened #83 "Коли замовник, той що створив тендер, в "Період уточнень", завантажив файл, то нажавши на нього - файл не відкривається, а замовника навігується на початок сторінки."
Якщо замовник завантажить, ще один файл, то другий файл - можна відкрити при натисканні на нього, перший файл - відкрити неможливо.
![waiting_stage](https://cloud.githubusercontent.com/assets/10761162/6106632/bdb1f494-b06b-11e4-98ce-dd6768cfd8b1.png)

[2015-02-09 13:15] yuliyaSoftserve opened #84 "Чи повинне випадаюче меню - заховуватися, у віконному режимі при натисненні кнопки меню і виборі пункту з цього меню?"
Чи користувач повинен повторно нажимати кнонку меню, щоб випадаюче меню заховалося?

![popup_menu_window_mode](https://cloud.githubusercontent.com/assets/10761162/6106910/38a7f304-b06e-11e4-9fba-2fd314d1cf63.png)

[2015-02-09 13:38] yuliyaSoftserve commented on #78
Це не був відвідувач, це був власне учасник, який подав свою пропозицію на тендер, і за 5 хв. до початку аукціону перейшов за посиланням "Прийняти участь в аукціоні".

[2015-02-09 13:46] yuliyaSoftserve commented on #73
У мене є 2 учасники та 1 замовник (і ще один той що створив тендер), усі подали свої пропозиції на участь в аукціоні, і всі перейшли за посиланням "Прийняти участь в аукціоні", причому в Хромі, Експлорері та ФаєрФоксі, за 5 - 10хв. до початку аукціону, і жоден з них (окрім замовника, що створив тендер - він дійсно не має право редагувати ціну, лише переглядати як проходить аукціон), не мав можливо

[2015-02-09 14:17] yuliyaSoftserve opened #85 "Чим відрізняється тендер з "Включаючи ПДВ" і без ПДВ?"
![create_tender](https://cloud.githubusercontent.com/assets/10761162/6107805/a6df5558-b076-11e4-9678-cdfdffaf75dc.png)

[2015-02-09 14:21] yuliyaSoftserve commented on #73
Ця проблема була сьогодні глибше досліджена в https://github.com/openprocurement/frontend/issues/78.

[2015-02-09 17:20] yuliyaSoftserve commented on #79
Скажіть будь-ласка, а під CPV групою слід розуміти перші 3 цифри (XXX) у цьому коді (XXX00000-Y)?

[2015-02-10 15:21] yuliyaSoftserve opened #86 "Тендер в статусі "Закупівля не відбулась" та "Відмінена закупівля", в полі "Початок аукціону" вказано "Буде визначено після завершення періоду уточнень""
Коли не було подано жодної пропозиції, тендер ніколи не перейде в статус "Період Аукціону". Тому коректно було б, в полі "Початок аукціону" відображати назву "Аукціон не проводився".

Такий же статус поля "Початок аукціону": "Аукціон не проводився" ми маємо, коли на тендер була подана 1 пропозиція, яка автоматично стала переможцем, і відповідно аукціон не проводився.

![purchase_not_sold](https://

[2015-02-11 12:18] yuliyaSoftserve opened #87 "Чи коректна поведінка що після завершення аукціону замовник (у себе в кабінеті) бачить тільки переможця? А не всіх учасників аукціону і їх цінові пропозиції? А після оголошення пареможця - вже усіх учасників?"
![winner](https://cloud.githubusercontent.com/assets/10761162/6146771/cc2066da-b1f8-11e4-8747-63ede365ddbb.png)

[2015-02-11 14:01] yuliyaSoftserve commented on #87
Не пізніше ніж через годину після завершення аукціону в оголошенні про закупівлю мають бути опубліковані всі пропозиції. Всі назви учасників і файли-вкладення мають бути публічні і повинні коректно відкриватись. (з документації)

[2015-02-11 14:01] #87 closed, assigned to nobody

[2015-02-12 09:15] yuliyaSoftserve opened #88 "Після проведення аукціону, і відхиленні всіх пропозицій, тендер не переходить в статус "Відмінена закупівля", а в - "Пропозиції розглянуто"."
![incorectstatus](https://cloud.githubusercontent.com/assets/10761162/6164455/14621efc-b2a8-11e4-863e-dc26a6bc124b.png)

[2015-02-12 12:52] yuliyaSoftserve opened #89 "Чи повинна бути можливість додавати файли, на етапі створення тендера?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 1, 010-Розміщення оголошення про закупівлю, ст.2,
зазначено, що замовник повинен додати вкладені файли на етапі створення оголошення.

[2015-02-12 13:05] yuliyaSoftserve opened #90 "Чи повинна бути можливість додавати файли для учасника, коли він задає запитання, на етапі коли тендер перебуває в стадії "Період уточнень"?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 1, 030 – Запитання, ст.3,
зазначено, що учасник повинен додати вкладені файли на етапі задання запитання.

[2015-02-12 13:15] yuliyaSoftserve opened #91 "Чи повинно з'являтися повідомлення про нове запитання (яке створив учасник), коли зайти під обліковим записом Замовника?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 1, 040 – Відповідь, ст.4,
зазначено, що замовник повинен побачити повідомлення про нове запитання, коли він зайде під своїм обліковим записом.

[2015-02-12 13:33] yuliyaSoftserve opened #92 "Чи учасник повинен бачити факт зміни оголошення, (коли замовник додав нові файли на стадії "Період уточнень"), що нові додані файли позначені як - актуальна версія, а файли, завантажені напередодні позначено як - застаріла версія?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 2, 050 – Внесення змін в оголошення торгів, ст.4,
зазначено, що учасник повинен бачити факт зміни оголошення, тобто нові додані файли чітко видно як актуальну версію. Файли, завантажені напередодні видно як застарілу версію.

[2015-02-12 13:51] yuliyaSoftserve opened #93 "Чи учасник повинен бачити, що старі файли, зазначені як "неактуальні", коли він додав нові файли до своєї пропозиції на тендер, на етапі "Період уточнень", коли пропозиція подана і майданчик підтвердив її розміщення у ЦБД?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 3, 070 – Уточнення пропозиції, ст.5,
зазначено, що учасник (після додавання нових файлів) повинен бачити старі файли, зазначені як неактуальні, і нові файли, коли пропозиція подана і майданчик підтвердив її розміщення у ЦБД.

[2015-02-12 14:18] yuliyaSoftserve opened #94 "Чи учасник повинен потрапити на сторінку «Ви – єдиний учасник, який подав пропозицію по цьому оголошенню закупівлі. Закупівля переводиться у статус кваліфікації», якщо на аукціон була подана лише одна пропозиція, при переході тендера в статус "Період аукціону"?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 4, 100 – Отримання посилання на аукціон, ст.6,
зазначено, що якщо на аукціон була подана лише одна пропозиція, учасник має потрапити на сторінку «Ви – єдиний учасник, який подав пропозицію по цьому оголошенню закупівлі. Закупівля переводиться у статус кваліфікації».

[2015-02-12 14:47] lerich commented on #90
делали запрос в ЦБД, говорили, что опечатка

[2015-02-12 16:29] myroslav commented on #88
Наразі в ЦБД для обох варіантів є один і той самий стан. Розглядається його розділення на два окремих підстани, щоб зняти двозначність. Зараз майданчикам рекомендовано цей "двозначний" стан називати "Пропозиції розглянуто".

Через 1 добу тендер перейде в статус "Неуспішний".

[2015-02-12 16:58] #72 closed, assigned to myroslav

[2015-02-13 10:26] yuliyaSoftserve opened #95 "Чи повинно з’явитись попередження про нове підключення на сторінці аукціону, якщо зайти на сторінку аукціону з іншого браузеру?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 4, 110 – Участь у аукціоні, ст.7,
зазначено, що якщо зайти на сторінку аукціону з іншого пристрою або з іншого браузеру, має з’явитись попередження про нове підключення.

[2015-02-13 10:35] yuliyaSoftserve opened #96 "Після проведення аукціону, чи повиннна система дозволити замовнику дискваліфікувати чи визнати переможцем учасника, без зазначення текстового обґрунтування (зараз такої можливості немає) та вкладення файлу?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 4, 120 – Визначення переможця, ст.8,
зазначено, що система не повинна дозволити дискваліфікувати чи визнати переможцем учасника, без зазначення текстового обґрунтування та вкладення файлу.

[2015-02-13 10:41] yuliyaSoftserve opened #97 "Уточніть будь-ласка, де саме в кабінеті Замовника, потрібно зареєструвати контракт, пропозицію-переможця тендера?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 4, 140 – Реєстрація контракту, ст.9,
зазначено, що в кабінеті Замовника, потрібно вибрати пропозицію-переможця, і виконати реєстрацію контракту. Проте, на даний момент такої можливості немає.

[2015-02-13 11:25] yuliyaSoftserve opened #98 "Після проведення аукціону і прийняти рішення про дискваліфікацію учасника. Не зрозуміло де саме повинно бути зазначено, що його пропозиція має перейти в стан "Дискваліфікована"?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 4, 120 – Визначення переможця, ст.8,
зазначено, що система має зазначити пропозицію як дискваліфіковану і запропонувати наступну за ціною пропозицію.

[2015-02-13 11:32] yuliyaSoftserve opened #99 "Чи очікувана поведінка відображення одиниць виміру замовлення на аукціоні - на іншій мові, а ніж при створенні тендера?"
При створенні тендера ми маємо мождивість обирати одиниці виміру замовлення тільки українською мовою. При розміщенні пропозицій на цей тендер, одиниці виміру замовлення теж відображаються на українській мові. Але при переході на аукціон - одиниці виміру замовлення - відображаються на англійській мові. (Причому що мова, на якій має відбуватися аукціон, вказана як українська)
![amount](https://cloud

[2015-02-13 16:27] yuliyaSoftserve opened #100 "Дублікація відповідей в замоника у тендері, після переходу тендера зі статусу "Період уточнень" у статус "Учікування пропозицій"."
Дублікація відтворюється тільки в тендері замовника, у тендері учасників - дублікації немає.

![doublication_questions](https://cloud.githubusercontent.com/assets/10761162/6190897/f9f877ee-b3ad-11e4-9fcf-601440f1dc82.png)

[2015-02-16 08:53] yuliyaSoftserve commented on #88
На даний час, після очікування більше ніж 1 доби, статус тендера не перейшов у "Неуспішний".

![no_changes](https://cloud.githubusercontent.com/assets/10761162/6208968/d2cc4a34-b5c8-11e4-813d-a4e6270ce928.png)

Ми маємо таку ж ситуацію, з визначенням переможця, статус тендера, теж залишається в статусі "Пропозиції розглянуто

![winner_not_changed](https://cloud.githubusercontent.com/assets/1076116

[2015-02-16 09:00] yuliyaSoftserve opened #101 "Запитання можна задавати, після того, як переіод запитань завершився"
1. Залогуватися замовником.
2. Зайти в кабінет, нажати кнопку "Створити тендер".
3. В полі "Дата закінчення прийому запитань:" вказати певний час.
4. В полі початку "Період прийому заявок:" вказати час на 10 хв пізніше від часу закінчення прийому запитань:"
5. В полі закінчення "Період прийому заявок:" вказати час на 30 хв пізніше від часу початку "Період прийому заявок:"
6. Заповнити всі обов'язк

[2015-02-16 10:04] yuliyaSoftserve opened #102 ""Internal Server Error" при створенні тендера"
![error](https://cloud.githubusercontent.com/assets/10761162/6210004/dfc1254c-b5d3-11e4-8be7-e77969de2fe4.png)

[2015-02-16 10:11] lerich commented on #102
пожалуйста сообщите uri
У нас сейчас продакшин на e-tender.biz, www.e-tender.biz и на e-tender.biz:99

[2015-02-16 10:21] yuliyaSoftserve opened #103 "У "Кабінеті" -> "Профіль" ->"Реєстраційні дані" з'явилася нова кнопка "Відправити на модерацію", що саме має відбуватися, коли користувач нажме цю кнопку?"
![send_moderation](https://cloud.githubusercontent.com/assets/10761162/6210229/3dbb358c-b5d6-11e4-91a7-3914b4828529.png)

[2015-02-16 10:26] yuliyaSoftserve commented on #102
http://e-tender.biz:99/

[2015-02-16 12:59] yuliyaSoftserve opened #104 "На сторінці "Авторизації" зник чек-бокс "Запам'ятати мене""
![remember_me](https://cloud.githubusercontent.com/assets/10761162/6212309/57a33ede-b5ec-11e4-9713-e5d6c87ff2de.png)

[2015-02-16 14:52] yuliyaSoftserve opened #105 "Тестове середовище для майданчика e-tender.biz"
це потрібно для тестування негативних сценаріїв

[2015-02-16 14:57] myroslav commented on #105
п.Юлі потрібне середовище, яке працює з sandbox-ом, щоб не "псувати" картинку в тестових аукціонах на production.

[2015-02-16 15:14] lerich commented on #105
ок, завтра сделаем

[2015-02-16 15:52] yuliyaSoftserve commented on #81
У ході подальшого тестування виявилося, що якщо вручну зробити рефреш сторінки, то зявляється кнопка - "Контракт"

![contractrefresh](https://cloud.githubusercontent.com/assets/10761162/6214875/9053e612-b604-11e4-85b0-01b1c860db11.png)

[2015-02-17 14:30] yuliyaSoftserve opened #106 "Не має можливості створити тендер - відсутня кнопка "Створити тендер" для нового користувача"
![no_button](https://cloud.githubusercontent.com/assets/10761162/6229764/b63a5064-b6c2-11e4-8fc6-b86250f2e4ca.png)

Раніше вже був заведений такий дефект
https://github.com/openprocurement/frontend/issues/67

[2015-02-17 15:16] yuliyaSoftserve opened #107 "Редагування чекбоксу не зберігаються за першим разом"
1. При заповненні профілю користувача, в полі "Фізична/юридична особа:" обрати "Юридична особа"
2. Заповнити всі поля, і встановити чекмарк в "Державний замовник" чекбоксі.
3. Нажати кнопку "Зберегти зміни"
4. В "Реєстраційних даних" нажати кнопку "Редагувати профіль"
5. Чекмарк в "Державний замовник" чекбоксі - не встановлений, встановити знову чекмарк "Державний замовник"
6. Нажати кнопку "Збере

[2015-02-17 17:32] myroslav opened #108 "Форма звітування про проблему"
Офіційна форма http://ppr.org.ua/povidomlennya-pro-problemu/ поламана. Варто відновити її роботу.

[2015-02-17 17:33] myroslav commented on #108
@SergeyShevchenko1 підписуйтеся на нотифікації, щоб знати коли проблему буде усунуто

[2015-02-18 08:12] S-Shevchenko commented on #107
Спасибо, взяли в работу.

[2015-02-18 08:26] S-Shevchenko commented on #108
@myroslav Підписаний.

[2015-02-18 08:46] S-Shevchenko commented on #106
Цей користувач пройшов модерацію оператора?

[2015-02-18 08:51] yuliyaSoftserve commented on #106
Ні, не пройшов

[2015-02-18 09:27] S-Shevchenko commented on #104
Задача внесена в ближайший билд.

[2015-02-18 09:43] yuliyaSoftserve opened #109 "Після реєстрації нового користувача, система не направляє повідомлення для подальшої активації, на адресу електронної пошти користувача."
Було здійснене очікування на повідомлення для подальшої активації протягом більше 20 хвилин.

![no_acknowledge](https://cloud.githubusercontent.com/assets/10761162/6245085/59bd7c66-b763-11e4-9dce-396c0d986e1a.png)

[2015-02-18 11:54] S-Shevchenko commented on #105
@yuliyaSoftserve @myroslav
Юля, Створив тестове середовище:
http://services.e-tender.biz:99/#/
Модерує оператор:

Логін: operator1
Пароль: 123qwe

Пошта оператора: operator1testetender@i.ua
Пароль: 1111!@#

[2015-02-18 14:04] S-Shevchenko commented on #109
Письмо пришло?

[2015-02-18 14:09] S-Shevchenko commented on #106
Скорее всего данный пользователь не прошел модерацию оператора и не может создавать тендер.
Окружение для тестирования:
http://services.e-tender.biz:99/#/

[2015-02-18 14:29] yuliyaSoftserve commented on #109
Зараз, повідомлення для подальшої активації на скриньку користувача вже приходить, але
користувач не може зайти в систему під своїм логіном.

![unsuccessful_registration](https://cloud.githubusercontent.com/assets/10761162/6248731/3b47eae6-b78b-11e4-83b8-acc22b476c21.png)

[2015-02-18 14:39] yuliyaSoftserve commented on #105
Скажіть будь-ласка url та сама що і на майданчик?

[2015-02-18 14:42] S-Shevchenko commented on #103
У нас появилась новая роль(оператор) специально для апрува пользователей.
Нажимая на кнопку мы отправляем на апрув оператору.

Для тестирования заходите на  сайт
http://services.e-tender.biz:99/#/
Оператор:
Логин: оoperator1
Пароль: 123qwe

[2015-02-18 15:04] S-Shevchenko commented on #109
Ваш запит не був активований....Ви можете надалі проводити тестування на сайті http://services.e-tender.biz:99/#/

[2015-02-18 15:47] lerich commented on #105
http://services.e-tender.biz:99/
Обратите внимание в начале "services". Это разные машины

[2015-02-18 15:49] lerich commented on #105
на продакшин e-tender.biz (или www.e-tender.biz или e-tender.biz:99) без слова services

[2015-02-18 15:49] #105 closed, assigned to lerich

[2015-02-18 17:00] OksanaPakholok opened #110 ""Internal Server Error" при підписанні контракту"
1. Зайти замовником у свій тендер, який має статус "Пропозиції розглянуто"
2. Натиснути кнопку "Контракт" у нижній частині вікна.
3. В полі "Опис" додати опис.
4. Натиснути кнопку "Додати документ" і добавити його.
5. Натиснути кнопку "Підписати"

![sign_contract](https://cloud.githubusercontent.com/assets/11062040/6252182/22ee2eae-b7a1-11e4-8608-353142de003c.png)

[2015-02-18 17:04] OksanaPakholok opened #111 ""Помилка при експортуванні до ЦБД" при збереженні змін у контракті"
1. Зайти замовником у свій тендер, який має статус "Пропозиції розглянуто"
2. Натиснути кнопку "Контракт" у нижній частині вікна.
3. В полі "Опис" додати опис.
4. Натиснути кнопку "Додати документ" і добавити його.
5. Натиснути кнопку "Зберегти зміни"

![save_contract](https://cloud.githubusercontent.com/assets/11062040/6252134/c22a1650-b7a0-11e4-80d3-4c299c1ef62b.png)

[2015-02-19 09:37] OksanaPakholok opened #112 "У статусах Тендера, де є розділ "Заявки" - файли не завантажуються"
У статусах Тендера: Пропозиції розглянуто, Очікування пропозицій (в учасника який подав пропозицію, у тендері), Кваліфікація переможця (в учасника), Відмінена закупівля (на деяких етапах), Завершена закупівля, у розділі "Заявки" (під зеленою лінією), файли не завантажуються у Firefox та InternetExplorer бравзерах. (В Chrome бравзері - файли завантажуються).
Це відтворюється і втестовому середовищі

[2015-02-19 09:42] S-Shevchenko commented on #110
Спасибо, знаем... разбираемся.

[2015-02-19 10:09] OksanaPakholok opened #113 "Чи однакові версії тестового середовища і продакшину?"
Вчора на тестовому середовищі були помічені наступні речі:
1. Після створення тендера, і подачі пропозицій, після переходу тендера в статус "Період аукціону", час проведення аукціону було встановлено того ж дня, через 15 хв (Хоча насправді, час проведення аукціону - повинен бути встановлений на наступний день після 11 год)

![auction_time](https://cloud.githubusercontent.com/assets/11062040/626474

[2015-02-19 10:21] OksanaPakholok opened #114 "Уточніть будь-ласка, на якому скріні оператор може відхиляти, приймати заявки на реєстрацію?"
![operator](https://cloud.githubusercontent.com/assets/11062040/6264999/c5c70cf0-b831-11e4-9236-78407ee9403a.png)

[2015-02-19 10:30] S-Shevchenko commented on #113
@OksanaPakholok  Версии одинаковые,  только на тестовом окружении стоит быстрый режим -аукцион начинается через 15 мин (для ускоренного тестирования)

[2015-02-19 10:37] S-Shevchenko commented on #114
@OksanaPakholok
Очень просто, нужно зайти под оператором и прописать в адресной строке:
http://services.e-tender.biz:99/#/profiles
![image](https://cloud.githubusercontent.com/assets/10655287/6265191/091a1cde-b834-11e4-91df-173fb5205119.png)

[2015-02-19 10:38] S-Shevchenko commented on #114
@OksanaPakholok
![image](https://cloud.githubusercontent.com/assets/10655287/6265202/1fd985fe-b834-11e4-9672-31e36f92cc02.png)

[2015-02-19 10:58] OksanaPakholok commented on #113
Дякую

[2015-02-19 12:39] OksanaPakholok commented on #114
Дякую

[2015-02-19 13:20] lerich commented on #114
закрываю

[2015-02-19 13:20] #114 closed, assigned to nobody

[2015-02-19 13:34] OksanaPakholok opened #115 "При створенні тендера дублікація одиниць виміру при повторному виборі"
![doublication_measurements_unit](https://cloud.githubusercontent.com/assets/11062040/6267445/b3f5af3e-b84c-11e4-8ea3-80dc9636b305.png)

[2015-02-19 13:56] OksanaPakholok opened #116 ""Internal Server Error" на валідацію полів "Повний доступний бюджет закупівлі" та "Мінімальний крок аукціону""
1. При створенні тендера в поля "Повний доступний бюджет закупівлі" та "Мінімальний крок аукціону" ввести значення для прикладу 05
2. Заповнити решту полів валідними даними.
3. Натиснути кнопку "Створити тендер"

![bad_validation](https://cloud.githubusercontent.com/assets/11062040/6267771/ade7780e-b84f-11e4-9c17-dd5372152058.png)

[2015-02-19 14:30] lerich commented on #113
Закриваю.

[2015-02-19 14:30] #113 closed, assigned to nobody

[2015-02-19 14:30] OksanaPakholok opened #117 "При створенні профіля, дублікація особи при повторному виборі"
![doublication_person](https://cloud.githubusercontent.com/assets/11062040/6268348/a83dd6f0-b854-11e4-9252-437701684b40.png)

[2015-02-19 14:44] OksanaPakholok commented on #117
Здається, що це проблема всіх однотипних дроп-боксів. Така ж проблема при створенні чи редагуванні профілю, повторному виборі значень "Області" та "Міста"

![doblications_district_town](https://cloud.githubusercontent.com/assets/11062040/6268517/257923ee-b856-11e4-8784-e6edfab5f42e.png)

[2015-02-19 14:45] OksanaPakholok commented on #115
Проблема глибше досліджена у https://github.com/openprocurement/frontend/issues/117

[2015-02-19 14:50] OksanaPakholok commented on #68
Ця проблема перевірена і вже вирішена. Не репродюситься. ЇЇ можна закривати

[2015-02-19 15:07] S-Shevchenko commented on #115
Спасибо, знаем,  в работе.

[2015-02-19 15:22] S-Shevchenko commented on #116
Спасибо, взяли в работу

[2015-02-19 15:26] OksanaPakholok commented on #109
Ця проблема перевірена і вже вирішена. Не репродюситься. ЇЇ можна закривати

[2015-02-19 15:31] S-Shevchenko commented on #117
Спасибо. Drop-down list по всему сайту.  В работе.

[2015-02-19 15:38] lerich commented on #68
Закриваю.

[2015-02-19 15:38] #68 closed, assigned to nobody

[2015-02-19 15:48] OksanaPakholok commented on #106
Було створено нового користувача, як юридична особа, з відзначеним чебоксом "Державний замовник". Користувач подав заявку на модерацію, натиснувши кнопку "Відправити на модерацію". Зайшовши під логіном operator1 заявка була підтвержена.

Результат: користувач-замовник немає можливості створювати тендер.

![no_possibility_create_tender](https://cloud.githubusercontent.com/assets/11062040/6269940/34

[2015-02-19 15:56] S-Shevchenko commented on #106
Выложил актуальную версию. проверь пожалуйста...

[2015-02-19 16:18] OksanaPakholok commented on #106
Так, зараз вже є можливість у замовника створювати тендери, причому і до модерації і після

![newtender](https://cloud.githubusercontent.com/assets/11062040/6270591/a21b5450-b863-11e4-82e2-9dd731ecf74b.png)

[2015-02-19 17:40] OksanaPakholok commented on #112
На даному етапі, уся вище подана інформація залишається актуальною, але зявляється повідомлення "Internal Server Error"

![server_error](https://cloud.githubusercontent.com/assets/11062040/6272262/1a066526-b86f-11e4-8fe9-cba643dd7361.png)

[2015-02-20 08:13] myroslav commented on #108
Згідно з листом від Андрія, проблема усунута. Відповідальні від майданчиків отримали URL з таблицею, де реєструватимуться звіти про помилку в електронній пошті в листі з заголовком "Re: Е-Тендер".

[2015-02-20 08:13] #108 closed, assigned to andriykucherenko

[2015-02-20 08:22] lerich commented on #109
Закриваю.

[2015-02-20 08:22] #109 closed, assigned to nobody

[2015-02-20 08:25] lerich commented on #103
Закриваю.

[2015-02-20 08:25] #103 closed, assigned to nobody

[2015-02-20 09:40] S-Shevchenko commented on #89
Да, На данный момент работает так:
После создания тендера, заходим  и добавляем файлы к тендеру.
![image](https://cloud.githubusercontent.com/assets/10655287/6284060/0c69361a-b8f5-11e4-8a7d-1f230cd8e06e.png)

[2015-02-20 09:41] lerich commented on #89
Закриваю.

[2015-02-20 09:41] #89 closed, assigned to nobody

[2015-02-20 09:45] S-Shevchenko commented on #97
Після визначення Замовником Переможця, на сторінці відповідного тендеру з’являється кнопка "Контракт" . Натиснувши на дану кнопку відкриється вікно, в якому Замовник додає договір та натискає "підписати".
![image](https://cloud.githubusercontent.com/assets/10655287/6284165/ef9a6986-b8f5-11e4-8b42-17ea9d657cd9.png)

[2015-02-20 09:47] lerich commented on #97
Закриваю.

[2015-02-20 09:47] #97 closed, assigned to nobody

[2015-02-20 09:55] S-Shevchenko commented on #106
В ближайшем билде закроем данную возможность, юзер может
создавать тендер в тестовый режиме, только тогда, когда пройдет первичную модерацию.

[2015-02-20 09:56] lerich commented on #106
Закриваю.

[2015-02-20 09:56] #106 closed, assigned to nobody

[2015-02-20 10:23] myroslav commented on #98
Дискваліфікати може тільки замовник. Імовірно постачальник після дискавліфікації його пропозиції має це якимось чином це побачити.

[2015-02-20 10:26] myroslav commented on #96
Зараз ЦБД надає можливість подати один (чи кілька) документів в рішення кваліфікаційної комісії) на підтвердження рішення. Додаткового текстового поля для цього немає. ЦБД дозволяє дискваліфікувати навіть без зазначення причин. Учасник, який вважає таке рішення неправомірним може його оскаржити, і при задоволенні скарги замовник змушений буде знову розглядати пропозицію учасника.

[2015-02-20 10:27] myroslav commented on #95
Так, повинно з'являтися, якщо аукціон відкривається не для перегляду (анонімного) а для участі.

[2015-02-20 10:29] myroslav commented on #90
На етапі уточнень ні долучати документи до питань ні подавати свою пропозицію (і там долучати документи) не можна.

[2015-02-20 10:34] myroslav commented on #94
На мою думку - існування сторінки і формулювання тексту - це є на розгляд майданчику, що реалізує відповідний функціонал.

ЦБД при закінченні періоду подачі пропозицій і наявності єдиної пропозиції скасовує проведення аукціону, і пропускає його одразу розпочинаючи період кваліфікації з розглядом цінової пропозиції єдиного учасника. Вважаю поведінку майданчику описану в формулюванні цього Issue - р

[2015-02-20 10:37] myroslav commented on #91
Вважаю, що ця рекомендація є рівня SHOULD а не рівня MUST. Ця рекомендація покращує рівень Usability системи до того, який вважається прийнятним більшістю Замовників (всі ми зайняті люди)

[2015-02-20 11:16] S-Shevchenko commented on #115
Закрываем. Основная задача :
https://github.com/openprocurement/frontend/issues/117

[2015-02-20 11:16] lerich commented on #115
Закриваю.

[2015-02-20 11:16] #115 closed, assigned to lerich

[2015-02-20 12:12] lerich commented on #77
Закриваю.

[2015-02-20 12:12] #77 closed, assigned to nobody

[2015-02-20 12:18] S-Shevchenko commented on #69
Неактуально. Функционал временно убран.

[2015-02-20 12:19] lerich commented on #69
Закриваю.

[2015-02-20 12:19] #69 closed, assigned to nobody

[2015-02-20 12:45] OksanaPakholok opened #118 "Скажіть будь-ласка чому на тестовому середовищі, майданчик в Internet Explorer бравзері відрізняється по тенднрах від майданчиків в Chrome та Firefox бравзерах?"
![chrome_firefox](https://cloud.githubusercontent.com/assets/11062040/6286316/f59ddd18-b90e-11e4-852d-7aaf6e97060e.png)
![explorerfirefox](https://cloud.githubusercontent.com/assets/11062040/6286324/0c349bd4-b90f-11e4-9076-42b0d890b3d0.png)

[2015-02-20 13:26] OksanaPakholok opened #119 "Чи повинна кнопка "Очистити" на майданчику, в розширеному фільтрі очищати поле "Пошук за номером тендера"?"
![clearbutton](https://cloud.githubusercontent.com/assets/11062040/6286864/d348d0aa-b914-11e4-8edf-b145f2e44229.png)

[2015-02-20 13:58] OksanaPakholok opened #120 "Після створення тендера, на майданчику зайшовши в нього і нажавши на кнопку "Редагувати тендер" у "Період Утонень", час зменшується на 2 години від часу при створенні тендера, та значення у класифікаторах зникають"
![editing](https://cloud.githubusercontent.com/assets/11062040/6287308/32df6be2-b919-11e4-8334-a8ba0e455d76.png)

[2015-02-20 15:23] myroslav commented on #93
не обов'язково, що слово "неактуальні" має бути, але має бути механізм, який відобразить різницю між останньою версією документу і всіма попередніми. Тобто є вимоги:
- Потрібно бачити, як останню версію файлу так і попередні версії
- має бути чітка ідентифікація останньої актуальної версії і неактуальних попередніх

Допускається, варіант, що майданчик буде вимагати від користувача якоїсь дії (напр

[2015-02-20 15:26] myroslav commented on #92
Користувач має мати доступ як до останньої версії, так і до попередніх, і ідентифікація часу завантаження кожної з версій не має складати труднощів.

Майданчик може забезпечувати відслідковування змін, які були "з останнього візиту" чи з "вчора" але реалізація цієї функції є необов'язковою.

[2015-02-20 15:26] myroslav commented on #79
так, 3 перші цифри

[2015-02-20 15:33] myroslav commented on #85
відповідним "прапорцем" помічаються тендери в ЦБД і відповідно ця інформація повинна візуалізуватися постачальникам. При подачі цінової пропозиції постачальнику важливо знати, чи сума, яку він сподівається отримати від замовника за свої товари та послуги включає ПДВ, чи ні.

[2015-02-20 15:38] myroslav commented on #78
При перегляді аукціону від імені учасника відповідний учасник в таблиці аукціону має мати прописаний "Ви". Такі URL доступні як `participationUrl` в кожному з Bid-ів учасників за короткий час після початку періоду аукціону. Майданчик зобов'язаний отримати таку URL і передати відповідному учаснику для участі.

Загальна `Tender.auctionUrl` - це адреса перегляду анонімного відвідувача, без права голо

[2015-02-20 15:39] myroslav commented on #76
якого з майданчиків стосується це питаня?

[2015-02-20 15:40] myroslav commented on #71
якого з майданчиків стосується ця проблема?

[2015-02-20 15:44] myroslav commented on #60
якого з майданчиків стосуцється цей звіт?

[2015-02-20 17:41] myroslav commented on #54
Кожен з майданчиків має свої обмеження.

Щодо модуля аукціонів - на даний момент одночасно переглядати та брати аукціони може точно до 1000 чоловік. Для більшої кількості  одночасних відвідувачів потрібно донастроювати сервер, що обслуговує модуль аукціонів.

[2015-02-20 18:03] OksanaPakholok opened #121 "Учасник не може подати пропозицію на тендер, у різних вікнах одного бравзера"
1. Зайти замовником, та створити тендер.
2. Зайти учасником у іншому вікні, того ж бравзера (пр. Firefox), і в періоді "Очікування пропозицій" внести цінову пропозицію, добавити файл та натиснути кнопку "Реєстрація пропозиції".
3. Перейти на майданчик, зайти знову у цей же тендер, поки він перебуває у періоді "Очікування пропозицій"

Очікуваний результат: попередня ціна повинна зберігатись.
Дійсни

[2015-02-23 07:42] S-Shevchenko commented on #120
Спасибо. Знаем. Находиться в работе.
Отображается некорректно в браузерах IE, FF.
P.S. Классификаторы не исчезают, а отображаются выше (так реализовано)

[2015-02-23 09:53] S-Shevchenko commented on #100
Спасибо,есть такая задача в работе.

[2015-02-23 11:24] OksanaPakholok opened #122 "При створенні тендера, у словниках, чи очікувана поведінка не відображення усіх значень, при частково введеному коді класифікатора?"
При введенні у поле "Оберіть класифікатор" - текстового значення - відображаються значення  які співпадають на початку, всередині та кінці;
при введенні - числового значення - відображаються значення, які співпадають лише на початку.

![filter_search](https://cloud.githubusercontent.com/assets/11062040/6326736/7dfc40b4-bb5d-11e4-8a31-4227c3f4bdfa.png)

[2015-02-23 11:39] lerich commented on #122
Да, так закладывалось в систему. Поиск производится по алгоритму, что код начинается с этой цифры

[2015-02-23 11:39] #122 closed, assigned to nobody

[2015-02-23 13:05] OksanaPakholok opened #123 "При створення тендера з описом у 200 символів, на аукціоні, нажавши кнопку "Меню", зникає скрол і немає можливості вибору мови"
![no_scroll](https://cloud.githubusercontent.com/assets/11062040/6328179/5226f140-bb6d-11e4-9437-0d1fc6def6e8.png)

[2015-02-23 13:53] OksanaPakholok commented on #121
Якщо перейти по лінці "Подивитись процедуру проведення аукціону", будемо мати наступну картину:
![twin_auction](https://cloud.githubusercontent.com/assets/11062040/6328752/49efa7f0-bb73-11e4-8742-1923e93718b2.png)

Ще один приклад, де було задіяно більше ніж один бравзер, (всі учасники і замовники
є різними особами)

![twin_auction_2](https://cloud.githubusercontent.com/assets/11062040/6328828/ff7

[2015-02-23 15:28] S-Shevchenko commented on #119
Нет.

[2015-02-23 15:37] S-Shevchenko commented on #123
@myroslav

[2015-02-23 17:41] OksanaPakholok opened #124 "При переході тендера зі статусу "Період уточнень" у статус "Очікування пропозицій", відповіді на питання в учасників - зникають"
Зображення нище показує тентери учасника та замовника на стадії "Період уточнень"

![tender_waiting](https://cloud.githubusercontent.com/assets/11062040/6333129/480c88c0-bb93-11e4-9028-6ac4f77b394a.png)

Нище показано тентери учасника та замовника у статусі "Очікування пропозицій"

![tender_checkin](https://cloud.githubusercontent.com/assets/11062040/6333133/4faf9d38-bb93-11e4-829e-675bdb4dc239.pn

[2015-02-23 17:44] OksanaPakholok commented on #119
Дякую за відповідь. Відповідь аплікації - очікувана.

[2015-02-23 17:44] #119 closed, assigned to lerich

[2015-02-24 07:42] S-Shevchenko commented on #124
Спасибо. Изменения выйдут в  ближайшем билде.

[2015-02-24 09:49] OksanaPakholok opened #125 "При підключенні нового учасника до аукціону, не з'являється повідомлення про нове підключення (при підключенні з іншого бравзеру)"
https://github.com/openprocurement/frontend/issues/95

![check_in_1](https://cloud.githubusercontent.com/assets/11062040/6346706/f41b2590-bc1a-11e4-98bb-4f20ff3c58eb.png)
![check_in_2](https://cloud.githubusercontent.com/assets/11062040/6346711/fcaea646-bc1a-11e4-9bb5-6b9a232eca11.png)

[2015-02-24 14:10] OksanaPakholok opened #126 "При створенні тендера, при внесенні в поле "Кількість" 10 значного числа, на подальших скрінах, кількість відображується нулем"
![10_digits](https://cloud.githubusercontent.com/assets/11062040/6350759/600ecd78-bc3f-11e4-9aa6-5879788bf5c1.png)

Питання актуальне у Chrome, Firefox, IE та Opera бравзерах

[2015-02-24 14:56] OksanaPakholok opened #127 "Створені тендери не відображаються у кабінеті замовника в Сhrome, IE та Opera бравзерах (у Firefox відображення коректне)"
Зображення нище показує відображення новоствореного тендера в Firefox бравзері. (Очікувана поведінка)

![ff_reflection](https://cloud.githubusercontent.com/assets/11062040/6351594/822a0746-bc45-11e4-84de-51ff0b190bcc.png)

Зображення нище показує відображення новоствореного тендера в інших бравзерах (і.е. Сhrome)

![brosers_reflections](https://cloud.githubusercontent.com/assets/11062040/6351638/c

[2015-02-24 15:21] OksanaPakholok opened #128 "Не коректне відображення інформації, при зміні мови, на аукціоні"
![translation](https://cloud.githubusercontent.com/assets/11062040/6352193/8e30e0d8-bc49-11e4-8ccc-143b2fbeaab8.png)

[2015-02-25 13:30] OksanaPakholok opened #129 "Серед 2 замовників, які залогувалися у різних вікнах одного бравзера, на майданчику, y новоствореному тендері учасника, що залогувався швидше, у колонці "Назва оргрнізації" відображаєть інформація іншого замовника."
1. Залогуватися в аплікацію замовником1 (пр. Сhrome бравзер).
2. Залогуватися в аплікацію замовником2 (пр. Сhrome бравзер, інше вікно).
3. Замовником1, зайти у кабінет і створити тендер.
4. Перейти на майданчик, і відшукати створений тендер.

Очікуваний результат: у колонці "Назва оргрнізації" повинна відображатися назва організації замовника, що створив тендер.
Реальний результат: у колонці "Назв

[2015-02-26 09:47] OksanaPakholok opened #130 "Новостворений тендер потрапляє на майданчик, із статусом "Немає даних" і залишається в цьому стані вже більше 3 годин"
Протестовано в Chrome, Firefox, IE та Opera.

![nodata](https://cloud.githubusercontent.com/assets/11062040/6389544/79a05e40-bdad-11e4-8703-bfa4631d0bea.png)

[2015-02-26 14:03] OksanaPakholok opened #131 "На майданчику, пошук тендера, з "Початковою сумою" від "0" до "0" - видає всі існуючі тендери."
![zero_search](https://cloud.githubusercontent.com/assets/11062040/6393235/ff9f4466-bdd0-11e4-8c12-21cb27027d14.png)

[2015-02-26 15:45] OksanaPakholok opened #132 "Пошук тендера за СPV кодом відображається некоректно"
Протестовано на майданчику та в кабінеті замовника у Firefox, Crome, IE та Opera бравзерах

![incorrect_cpv_search](https://cloud.githubusercontent.com/assets/11062040/6395141/2c45f290-bddf-11e4-9f6d-c418ac3123aa.png)

[2015-02-26 15:46] OksanaPakholok opened #133 "Пошук тендера за ДКПП кодом відображається некоректно"
Протестовано на майданчику та в кабінеті замовника у Firefox, Crome, IE та Opera бравзерах

![incorrect_dkpp_search](https://cloud.githubusercontent.com/assets/11062040/6395177/629e08c8-bddf-11e4-905c-7336b0a498b0.png)

[2015-02-27 08:47] OksanaPakholok opened #134 "Немає доступу до тестового середовища"
![no_access](https://cloud.githubusercontent.com/assets/11062040/6409554/fb1de7f6-be6d-11e4-8f98-0c48bba4967b.png)

[2015-02-27 09:34] OksanaPakholok commented on #99
Протестовано, зараз поведінка очікувана. Це питання можна закривати

![ukr_ok](https://cloud.githubusercontent.com/assets/11062040/6410089/4cfa758e-be74-11e4-8b41-52e87b8aa486.png)

Але відрите нове ішю https://github.com/openprocurement/frontend/issues/128
про те що на російські і англійській мові, некоректне відображення.

[2015-02-27 10:01] lerich commented on #134
Сори, тестовое окружение перенесено на services.e-tender.biz:100

[2015-02-27 10:01] #134 closed, assigned to nobody

[2015-02-27 10:07] S-Shevchenko commented on #131
Спасибо. Взяли в работу.

[2015-02-27 10:14] S-Shevchenko commented on #133
Спасибо. Взяли в работу.Идентичная задача по поиску по классификаторам. Аналогичная задача: #132

[2015-02-27 10:14] S-Shevchenko commented on #132
Спасибо. В работе.

[2015-02-27 10:25] S-Shevchenko commented on #130
Спасибо. Были остановлены  сервисы на 99 машине и тендер повис. Можно закрывать.
Тесовое окружение перенесено на http://services.e-tender.biz:100/#/.

[2015-02-27 10:27] lerich commented on #130
Закриваю.

[2015-02-27 10:27] #130 closed, assigned to nobody

[2015-02-27 11:18] OksanaPakholok opened #135 "Якщо у пошуку тендера, в поля "Початок прийому заявок" ввести дати, то чи повинен пошук виводити тендери з включаючи введеною датою, чи ні?"
![search](https://cloud.githubusercontent.com/assets/11062040/6411641/2299586e-be83-11e4-80bf-12dfb5d7a982.png)

[2015-02-27 13:09] OksanaPakholok commented on #134
Дякую, що повідомили

2015-02-27 12:01 GMT+02:00 Valeriy Nesmashnyy notifications@github.com:

[2015-02-27 13:37] OksanaPakholok opened #136 "Зайшовши в інтернет експлорері за ліком http://services.e-tender.biz:100/#/createProfile , щоб створити профайлер, і екран почав блимати"

[2015-02-27 14:02] OksanaPakholok opened #137 "Помилка при спробі зареєструвати пропозицію на тендер"
![registerproposal](https://cloud.githubusercontent.com/assets/11062040/6413609/043f4b28-be9a-11e4-8c9f-3c1754adf910.png)

[2015-02-27 14:03] OksanaPakholok commented on #137
Протестовано в Chrome бравзері

[2015-02-27 14:15] OksanaPakholok opened #138 "Тендер залишається в статусі "Зачекайте, закупівля обробляється " більше 20 хв"
![waiting](https://cloud.githubusercontent.com/assets/11062040/6413836/d2a92d16-be9b-11e4-8da3-3517ffb757ca.png)

[2015-02-27 14:37] OksanaPakholok opened #139 "Помилка при спробі додати документ до тендера і статусі "Період уточнень""
![cannotadddoc](https://cloud.githubusercontent.com/assets/11062040/6414286/ddb3c90c-be9e-11e4-8247-e5fb662b092a.png)

[2015-02-27 14:45] S-Shevchenko commented on #139
Спасибо. Знаем.

[2015-02-27 14:47] S-Shevchenko commented on #138
@OksanaPakholok  Заказчик еще создавал тендера? Они тоже провалились?

[2015-02-27 14:59] OksanaPakholok commented on #138
Так замовник створив ще один тендр, але він не провалився

[2015-02-27 15:12] OksanaPakholok commented on #138
Уточнення: Попередній комент відносився до іншого замовника, якщо створити тендер цим самим замовником, то новий тендер знову залишається у статусі "Зачекайте, закупівля обробляється "

![2_proposal](https://cloud.githubusercontent.com/assets/11062040/6414913/d751264a-bea3-11e4-8df7-f19fb266dfc5.png)

[2015-02-27 15:16] S-Shevchenko commented on #138
@OksanaPakholok  Можна скинуть логин и пароль  заказчика ? Спасибо.

[2015-02-27 15:20] OksanaPakholok commented on #138
Так можна
login: taraspr
password: tarasPR123

[2015-02-27 17:17] OksanaPakholok commented on #136
І продовжує блимати навіть через 4 год, якщо знову в InternetExplorer перейти за посиланням http://services.e-tender.biz:100/#/createProfile

![overlooping](https://cloud.githubusercontent.com/assets/11062040/6417287/2f3f664e-beb5-11e4-8f31-480ac0c6fde8.png)

[2015-02-27 18:10] OksanaPakholok commented on #60
ЕЛЕГ

[2015-02-27 18:17] OksanaPakholok commented on #71
ЕЛЕГ

[2015-02-27 18:20] OksanaPakholok commented on #76
ЕЛЕГ

[2015-02-27 18:25] OksanaPakholok commented on #85
Дякую. Питання можна закривати

[2015-02-27 18:29] OksanaPakholok commented on #90
Дякую. Питання можна закривати

[2015-03-02 08:28] S-Shevchenko commented on #139
Не воспроизводиться

[2015-03-02 08:28] lerich commented on #139
Закриваю.

[2015-03-02 08:28] #139 closed, assigned to nobody

[2015-03-02 08:30] S-Shevchenko commented on #137
@OksanaPakholok Пожалуйста проверьте.

[2015-03-02 08:33] S-Shevchenko commented on #138
@OksanaPakholok Пожалуйста проверьте.

[2015-03-02 08:39] S-Shevchenko commented on #136
Спасибо, взяли в работу

[2015-03-02 08:41] S-Shevchenko commented on #110
Не воспроизводиться.

[2015-03-02 08:42] #110 closed, assigned to lerich

[2015-03-02 08:42] S-Shevchenko commented on #116
Не воспроизводиться

[2015-03-02 08:42] #116 closed, assigned to lerich

[2015-03-02 08:44] S-Shevchenko commented on #104
Убрали данный функционал.

[2015-03-02 08:44] #104 closed, assigned to lerich

[2015-03-02 08:47] OksanaPakholok commented on #137
Провірено в Сhrome, Firefox, IE, Opera.
Зараз помилка відтворюється в IE

![error1](https://cloud.githubusercontent.com/assets/11062040/6437602/a73657dc-c0c9-11e4-84fe-13bdf664f141.png)

[2015-03-02 08:58] S-Shevchenko commented on #88
не воспроизводиться

[2015-03-02 08:59] #88 closed, assigned to lerich

[2015-03-02 09:01] S-Shevchenko commented on #102
Не воспроизводиться.

[2015-03-02 09:02] lerich commented on #102
Закриваю.

[2015-03-02 09:02] #102 closed, assigned to lerich

[2015-03-02 09:04] lerich commented on #99
Закриваю.

[2015-03-02 09:04] #99 closed, assigned to myroslav

[2015-03-02 09:07] OksanaPakholok commented on #138
Проблема актуальна в Chrome бравзері

![waiting1](https://cloud.githubusercontent.com/assets/11062040/6437864/5e610bda-c0cc-11e4-8987-94be1d25c24e.png)

[2015-03-02 09:41] S-Shevchenko commented on #86
Спасибо. Не актуально. Есть общая задача по переименованиям. Можно закрывать.

[2015-03-02 09:42] lerich commented on #86
Закрываю

[2015-03-02 09:42] #86 closed, assigned to lerich

[2015-03-02 09:42] S-Shevchenko commented on #80
Да, можно.

[2015-03-02 09:45] OksanaPakholok commented on #139
Прошу перевідкрити. Протестовано в Chrome, Firefox, IE, та Оpera.
Досі репродюситься в IE

![no_uploading_ie](https://cloud.githubusercontent.com/assets/11062040/6438441/a2b1770c-c0d1-11e4-827c-a3dc358b67bd.png)

[2015-03-02 09:59] S-Shevchenko commented on #71
не  воспроизводиться

[2015-03-02 10:00] lerich commented on #71
Закриваю

[2015-03-02 10:00] #71 closed, assigned to nobody

[2015-03-02 10:16] S-Shevchenko commented on #101
@myroslav Вопросы мы можем подавать только в статусе "Період уточнень". Если еще какие правила подачи вопросов через  ЦБД? Спасибо.

[2015-03-02 10:18] S-Shevchenko commented on #107
Не воспроизводиться.

[2015-03-02 10:18] lerich commented on #107
Закриваю

[2015-03-02 10:18] #107 closed, assigned to lerich

[2015-03-02 10:19] lerich commented on #86
закриваю

[2015-03-02 10:24] lerich commented on #111
не воспроизводиться

[2015-03-02 10:24] lerich commented on #111
Закриваю

[2015-03-02 10:24] #111 closed, assigned to lerich

[2015-03-02 10:27] S-Shevchenko commented on #81
Да, так реализовано(контракт)

[2015-03-02 10:45] S-Shevchenko commented on #138
@OksanaPakholok Спасибо. Связана с валидацией url в profile. Пожалуйста поменяйте на валидный урл http://www.mystart.com/

[2015-03-02 10:48] S-Shevchenko commented on #132
Можно закрывать как дубликат задачи 133.

[2015-03-02 10:48] #132 closed, assigned to nobody

[2015-03-02 10:50] lerich commented on #85
Закриваю.

[2015-03-02 10:50] #85 closed, assigned to nobody

[2015-03-02 10:52] S-Shevchenko commented on #84
Да, так реализовано.

[2015-03-02 10:52] lerich commented on #84
Закриваю

[2015-03-02 10:52] #84 closed, assigned to lerich

[2015-03-02 11:04] lerich commented on #112
@OksanaPakholok  Будь-ласка, перевірте, чи актуальна проблема?

[2015-03-02 11:06] S-Shevchenko commented on #82
Исправлено. Можно закрывать.

[2015-03-02 11:07] lerich commented on #82
Закриваю.

[2015-03-02 11:07] #82 closed, assigned to lerich

[2015-03-02 11:13] S-Shevchenko commented on #60
Да, есть такая задача. Спасибо. Можно закрывать.

[2015-03-02 11:13] lerich commented on #60
Закриваю.

[2015-03-02 11:13] #60 closed, assigned to lerich

[2015-03-02 11:22] S-Shevchenko commented on #118
@OksanaPakholok Пожалуйста проверьте, воспроизводиться задача?

[2015-03-02 11:25] lerich commented on #85
Закриваю

[2015-03-02 11:33] S-Shevchenko commented on #76
@OksanaPakholok Нет необходимости, так как можно выбрать другой, который больше нужен.

[2015-03-02 11:33] lerich commented on #76
Закриваю

[2015-03-02 11:33] #76 closed, assigned to nobody

[2015-03-02 11:41] S-Shevchenko commented on #137
Спасибо, Взяли в работу. При прикреплению документов в браузере IE выбрасывает на главную страницу.

[2015-03-02 13:04] OksanaPakholok commented on #138
Дякую, перетестовано. Не репродюситься. Можна закривати

[2015-03-02 13:12] OksanaPakholok commented on #118
На тестовому середовищі http://services.e-tender.biz:100/#/
дані на майданчиках у Firefox, Chrome, IE та Opera бравзерах відображаються однаково.
Можна закривати

[2015-03-02 14:09] S-Shevchenko commented on #100
не воспроизводиться.

[2015-03-02 14:09] lerich commented on #100
Закриваю.

[2015-03-02 14:09] #100 closed, assigned to lerich

[2015-03-02 14:10] S-Shevchenko commented on #118
Спасибо, закрываем.

[2015-03-02 14:10] #118 closed, assigned to lerich

[2015-03-02 14:12] S-Shevchenko commented on #138
Спасибо, закрываем.

[2015-03-02 14:12] #138 closed, assigned to nobody

[2015-03-02 15:18] lerich commented on #66
настроен e-tender.biz

[2015-03-02 15:18] #66 closed, assigned to lerich

[2015-03-02 15:21] S-Shevchenko commented on #75
не бага. Можно закрывать

[2015-03-02 15:21] #75 closed, assigned to lerich

[2015-03-02 15:22] #43 closed, assigned to lerich

[2015-03-02 15:22] #45 closed, assigned to lerich

[2015-03-02 15:24] S-Shevchenko commented on #61
Не воспроизводиться. Можно закрывать

[2015-03-02 15:24] #61 closed, assigned to lerich

[2015-03-02 15:26] S-Shevchenko commented on #73
Дубликат  #78(актуальная таска).

[2015-03-02 15:26] #73 closed, assigned to lerich

[2015-03-02 15:30] S-Shevchenko commented on #78
не воспроизводится

[2015-03-02 15:30] lerich commented on #78
Закриваю

[2015-03-02 16:06] S-Shevchenko commented on #83
Не воспроизводится.

[2015-03-02 16:06] #83 closed, assigned to lerich

[2015-03-02 16:38] yuliyaSoftserve commented on #61
03/02/2015, http://services.e-tender.biz:100/#/, не відтворюється

[2015-03-03 12:31] OksanaPakholok opened #140 "Вкажіть будь-ласка обмеження для наступних полів"
1. Яка верхня границя полів: "Назва", "Повна назва", "Прізвище", "Ім’я" та "По-батькові" при заповненні профілю Замовника
2. Яку max кількість символів повинні містити поля: "Назва теми", "Питання", "Відповідь" при поданні питання, та відповіді на тендер?
3. Яку max кількість символів повинне містити поле: "Опис", при підписанні контракту?
4. Чи є валідація на поле "Вулиця, будинок, квартира" при

[2015-03-03 13:39] OksanaPakholok commented on #75
03/03/2015, http://services.e-tender.biz:100/#/login, перетестовано і відтворюється тільки у Firefox.

![firefox](https://cloud.githubusercontent.com/assets/11062040/6463503/59b469ca-c1bb-11e4-8aa0-b66c47938089.png)

Прошу підтвердження, що це не дефект

[2015-03-03 14:25] OksanaPakholok commented on #78
Перетестовано 03/03/2015 на http://services.e-tender.biz:100/#/, дефект репродюситься у Firefox, Opera, IE та Сhrome бравзерах. Прошу перевідкрити

![nocorrectlink](https://cloud.githubusercontent.com/assets/11062040/6464295/f0d36814-c1c1-11e4-8147-23a2ab16fc95.png)

[2015-03-03 14:27] OksanaPakholok commented on #78
@lerich

[2015-03-03 14:36] OksanaPakholok commented on #75
@lerich

[2015-03-03 15:13] myroslav commented on #78
@OksanaPakholok будемо вдячні за відео цього процесу, так як наші log-и свідчать про натискання кнопки "Ні"... Якщо можна, то запишіть відео з включеним Network Panel в Google Chrome Developer Toolbar (https://developer.chrome.com/devtools/docs/network).

[2015-03-03 15:17] OksanaPakholok opened #141 "ЕЛЕГ, у Firefox та IE бравзерах немає прев'ю документа при друкуванні"
![print_ff_ie](https://cloud.githubusercontent.com/assets/11062040/6465280/ce92a0a6-c1c8-11e4-80f0-e0e14413034d.png)

![print_chrome_opera](https://cloud.githubusercontent.com/assets/11062040/6465289/d8b08260-c1c8-11e4-881b-308f49eda887.png)

Протестовано 03/03/2015 у Firefox, IE, Opera та Chrome бравзерах
на http://services.e-tender.biz:100/#/

[2015-03-03 16:55] OksanaPakholok commented on #78
На жаль цей сайт не підтримує певні фомати, (дозволяє завантажити файли лише у форматах png, gif, та jpg.)

![do_not_support](https://cloud.githubusercontent.com/assets/11062040/6467060/82006ece-c1d4-11e4-825f-efc2f6c29c80.png)

[2015-03-03 17:14] prozorro-support opened #142 "Адреса учасника"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [21](https://prozorro.zendesk.com/agent/#/tickets/21)
**Priority:** normal
**Zendesk assignee:** Служба підтримки/A

**Original ticket content:**

Вітання,

https://api.openprocurement.org/api/0.6/tenders/1cc3856fed764f7b9b985e11012cb3f6/bids/974c9dc9a2bc49b6a179573de3f230aa має всю адресу в одному полі streetAddress:

{
"coun

[2015-03-03 17:14] prozorro-support commented on #142
_Comment from Zendesk by myroslav@quintagroup.com at 2015-03-03 15:55:42 UTC:_

<p>Вітання,</p>

<p><a href="https://api.openprocurement.org/api/0.6/tenders/1cc3856fed764f7b9b985e11012cb3f6/bids/974c9dc9a2bc49b6a179573de3f230aa" rel="nofollow" target="_blank">https://api.openprocurement.org/api/0.6/tenders/1cc3856fed764f7b9b985e11012cb3f6/bids/974c9dc9a2bc49b6a179573de3f230aa</a> має всю адресу в

[2015-03-03 17:14] prozorro-support commented on #142
_Comment from Zendesk by myroslav@quintagroup.com at 2015-03-03 17:07:37 UTC:_

<p>Цей bid прийшов з IT-Enterprise (smarttender.biz), то ж &quot;закидую&quot; цю задачу їм.</p>

[2015-03-03 17:29] OksanaPakholok commented on #78
Відео можна перглянути тут:
http://screencast.com/t/0aemJpAzrHe

[2015-03-03 17:56] OksanaPakholok commented on #81
Прошу переглянути відео, і підтвердити, що дефекту немає, і що поведінка аплікації є очікувана
http://screencast.com/t/YgiRrzqV00iy

@lerich

[2015-03-03 18:10] myroslav commented on #128
Зараз одиниці виміру мають відображатися "якісніше", було викладене оновлення модуля аукціонів.

Крім того якість відображення інформації залежить від якості даних в базі даних, які в базу даних вносить майданчик. Система підтримує 3 мови:
- українська (property, наприклад `title`)
- англійська (property_en, наприклад `title_en`)
- російська (property_ru, наприклад `title_ru`)

Якщо майданчик не р

[2015-03-03 18:16] myroslav commented on #125
Імовірно ця прроблема буде вирішена разом з #78. Модуль аукціону не розпізнає вас як учасника через "специфічну" конфігурацію мережі.

[2015-03-03 18:19] #123 closed, assigned to myroslav

[2015-03-03 18:29] OksanaPakholok commented on #128
Пропоную переглянути відео, де показано як відображаються одиниці виміру на аукціоні, на тестовому середовищі, та на продакшині (не залогованим користувачем)

http://screencast.com/t/5lgXEUA7J2

[2015-03-04 09:32] prozorro-support opened #143 "Синхронізація опису"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [25](https://prozorro.zendesk.com/agent/#/tickets/25)
**Priority:** normal
**Zendesk assignee:** Служба підтримки/Мирослав

**Original ticket content:**

Тендер d945b04bb731476d86d400c8554280a1 має опис "крісла офісні ISO chrome\n> 4 ніжки, м’яке сидіння і спинка.\n> Матеріал каркасу –хромований метал, колір –хром\n> Оббивка –

[2015-03-04 09:32] prozorro-support commented on #143
_Comment from Zendesk by myroslav@quintagroup.com at 2015-03-04 09:32:33 UTC:_

<p>Тендер d945b04bb731476d86d400c8554280a1 має опис &quot;крісла офісні ISO chrome\n&gt; 4 ніжки, м’яке сидіння і спинка.\n&gt; Матеріал каркасу –хромований метал, колір –хром\n&gt; Оббивка – з тканини або шкірзамінників, колір –чорний, сірий\n&gt; \n&gt; Доставка з 1.04.15 до 30.04.15 за адресою 79006, м.Львів, пл.Рин

[2015-03-04 09:44] prozorro-support opened #144 "Опис Тендер-а"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [26](https://prozorro.zendesk.com/agent/#/tickets/26)
**Priority:** normal
**Zendesk assignee:** Служба підтримки/Мирослав

**Original ticket content:**

Тендер d945b04bb731476d86d400c8554280a1 має

Заголовок: "Офісне крісло для відвідувачів"
Опис: "крісла офісні ISO chrome\n> 4 ніжки, м’яке сидіння і спинка.\n> Матеріал карка

[2015-03-04 09:44] prozorro-support commented on #144
_Comment from Zendesk by myroslav@quintagroup.com at 2015-03-04 09:44:42 UTC:_

<p>Тендер d945b04bb731476d86d400c8554280a1 має </p>

<p>Заголовок: &quot;Офісне крісло для відвідувачів&quot;
<br />Опис: &quot;крісла офісні ISO chrome\n&gt; 4 ніжки, м’яке сидіння і спинка.\n&gt; Матеріал каркасу –хромований метал, колір –хром\n&gt; Оббивка – з тканини або шкірзамінників, колір –чорний, сірий\n&gt; \

[2015-03-04 09:45] myroslav commented on #144
![screenshot-smarttender biz 2015-03-04 11-37-39](https://cloud.githubusercontent.com/assets/883905/6481171/f7de1db4-c263-11e4-8936-1c8f5b220e14.png)

[2015-03-04 09:50] prozorro-support opened #145 "Мова одиниць виміру"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [27](https://prozorro.zendesk.com/agent/#/tickets/27)
**Priority:** normal
**Zendesk assignee:** Служба підтримки/A

**Original ticket content:**

В поле Tender.items[0].unit.name потрібно записувати українську назву одиниці виміру, а англійську записувати в Tender.items[0].unit.name_en (російську відповідно в Tender.items[0].

[2015-03-04 09:50] prozorro-support commented on #145
_Comment from Zendesk by myroslav@quintagroup.com at 2015-03-04 09:50:46 UTC:_

<p>В поле Tender.items[0].unit.name потрібно записувати українську назву одиниці виміру, а англійську записувати в Tender.items[0].unit.name_en (російську відповідно в Tender.items[0].unit.name_ru)</p>

<p>ЦБД та Аукціон</p>

[2015-03-04 09:57] prozorro-support commented on #143
_Comment from Zendesk by a.hlyakin@smartweb.com.ua at 2015-03-04 09:57:18 UTC:_

<p>Все верно. Так будет и с другими тендерами, я так понимаю, с Элеганса. </p>

<p>Этот текст относится к описанию всего тендера. Мы его не парсим т.к. есть описание item’а, которое мы и СМАРТ используем. Это в перспективе перехода на 0.7 в таком случае актуально использовать так. </p>

<p>--
<br />Andrii Khliakin
<br

[2015-03-04 12:24] OksanaPakholok commented on #139
@lerich

[2015-03-04 14:16] prozorro-support opened #146 "Телефон контактної особи замовника"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [29](https://prozorro.zendesk.com/agent/#/tickets/29)
**Priority:** normal
**Zendesk assignee:** Служба підтримки/A

**Original ticket content:**

В тендері  c1f80c7ea8094151a364b7957e1a865f є контактна особа (включно з телефоном), і її телефон не відображається на http://dz.prom.ua/view/1100

[2015-03-04 14:16] prozorro-support commented on #146
_Comment from Zendesk by myroslav@quintagroup.com at 2015-03-04 14:16:28 UTC:_

<p>В тендері  c1f80c7ea8094151a364b7957e1a865f є контактна особа (включно з телефоном), і її телефон не відображається на <a href="http://dz.prom.ua/view/1100" rel="nofollow" target="_blank">http://dz.prom.ua/view/1100</a></p>

<p>ЦБД та Аукціон</p>

[2015-03-04 14:20] prozorro-support opened #147 "Контактна особа замовника"
This Github issue is synchronized with Zendesk,

**Zendesk ticket ID:** [30](https://prozorro.zendesk.com/agent/#/tickets/30)
**Priority:** normal
**Zendesk assignee:** Служба підтримки/A

**Original ticket content:**

В тендері c1f80c7ea8094151a364b7957e1a865f є інформація про контактну особу (включно з телефоном), інформації про контактну особу немає на http://e-tender.biz/#/tenderDetailes/c1f80

[2015-03-04 14:20] prozorro-support commented on #147
_Comment from Zendesk by myroslav@quintagroup.com at 2015-03-04 14:20:33 UTC:_

<p>В тендері c1f80c7ea8094151a364b7957e1a865f є інформація про контактну особу (включно з телефоном), інформації про контактну особу немає на <a href="http://e-tender.biz/#/tenderDetailes/c1f80c7ea8094151a364b7957e1a865f" rel="nofollow" target="_blank">http://e-tender.biz/#/tenderDetailes/c1f80c7ea8094151a364b7957e1a86

[2015-03-04 17:53] myroslav commented on #143
Мова йде про те, що не потрібно чекати 0.7 (щоб повноцінно цю інформацію вносити), а потрібно додати відображення такої інформації якщо вона присутня в ЦБД

[2015-03-04 17:53] prozorro-support commented on #143
*Comment from Zendesk by a.hlyakin@smartweb.com.ua at 2015-03-04 09:57:18 UTC:*

<p>Все верно. Так будет и с другими тендерами, я так понимаю, с Элеганса. </p>

<p>Этот текст относится к описанию всего тендера. Мы его не парсим т.к. есть описание item’а, которое мы и СМАРТ используем. Это в перспективе перехода на 0.7 в таком случае актуально использовать так. </p>

<p>--
<br />Andrii Khliakin
<br

[2015-03-05 09:53] S-Shevchenko commented on #147
Спасибо, взяли в работу.

[2015-03-05 12:55] DimasSmartTender commented on #6
Добрый день! Добавлено поле "Начальная ставка".
![image](https://cloud.githubusercontent.com/assets/10280562/6505109/6e2c737e-c347-11e4-8901-2e9d6c5e3067.png)

[2015-03-05 14:04] OksanaPakholok opened #148 "ЕЛЕГ, у IE8 - немає доступу на продакшин і sandbox"
![ie_8_production](https://cloud.githubusercontent.com/assets/11062040/6506233/1a09117a-c352-11e4-99be-da539e0c3076.png)

![ie_8_sandbox](https://cloud.githubusercontent.com/assets/11062040/6506244/2cbf6a12-c352-11e4-9140-47867d0f0b16.png)

[2015-03-05 15:10] #6 closed, assigned to AlexRudenko

[2015-03-05 16:02] OksanaPakholok commented on #44
Скажіть будь-ласка, який на даний момент максимальний розмір файла, що можна завантажити у аплікацію?
@myroslav

[2015-03-06 00:04] prozorro-support commented on #143
_Comment from Zendesk by a.hlyakin@smartweb.com.ua at 2015-03-04 09:57:18 UTC:_

<p>Все верно. Так будет и с другими тендерами, я так понимаю, с Элеганса. </p>

<p>Этот текст относится к описанию всего тендера. Мы его не парсим т.к. есть описание item’а, которое мы и СМАРТ используем. Это в перспективе перехода на 0.7 в таком случае актуально использовать так. </p>

<p>--
<br />Andrii Khliakin
<br

[2015-03-06 08:53] OksanaPakholok opened #149 "ЕЛЕГ, Чи може учасник (замовник) подавати свою пропозицію (внісши ціну) на тендер, без прикріпленого файлу?"

[2015-03-06 10:59] OksanaPakholok opened #150 "ЕЛЕГ, при реєстрації, поле "Логін" приймає значення "_" (нижнє підкреслення)"
![underscore_login](https://cloud.githubusercontent.com/assets/11062040/6524271/78e33dde-c400-11e4-8437-b98cb15ba1fa.png)

Репродюситься в Firefox, Chrome, IE та Оpera

[2015-03-06 13:30] S-Shevchenko commented on #149
Так, був реалізований функціонал за проханням замовників.
Тепер подати пропозицію можна  без прикріплення документів

[2015-03-06 13:59] lerich commented on #149
Закриваю.

[2015-03-06 13:59] #149 closed, assigned to nobody

[2015-03-06 14:06] S-Shevchenko commented on #148
@OksanaPakholok  Згідно вимог  ТЗ розроблення велося з версій IE 10 ...

[2015-03-06 14:40] OksanaPakholok commented on #148
У "Регламент роботи майданчика", а саме п.5 "Загальні характеристики Системи. Режим роботи Системи", ст. 5, зазначено:
"Доступ до інформації, що розміщується в Системі, може бути здійснений за допомогою використання поширених веб-оглядачів, включаючи Internet Explorer версії 6.0 і вище."
@SergeyShevchenko1

[2015-03-06 14:59] S-Shevchenko commented on #148
@OksanaPakholok  Дякую, нам дуже приємно з вами працювати.

[2015-03-06 15:03] S-Shevchenko commented on #148
Внесли зміни в регламент.

[2015-03-06 15:04] #148 closed, assigned to nobody

[2015-03-06 17:50] OksanaPakholok opened #151 "ЕЛЕГ, чи очікувана поведінка, що замовник (учасник) може задавати пусті запитання до тендера, в періоді уточнень?"
![empty_question](https://cloud.githubusercontent.com/assets/11062040/6530485/f872cd60-c439-11e4-8ad9-206208e7faee.png)

[2015-03-06 19:40] OksanaPakholok opened #152 "ЕЛЕГ, прінти працюють некоректно"
Усі нище подані сторінки були роздруковані на принтері (без зміни розміру) та відскановані.
У всіх бравзерах після доданих файлів, відображається - шлях доданих файлів, до пропозиції, і до тендера.

Примітка: у файлі Proba.docx (13.5 MB) та Proba2.docx (27.0 MB) шлях не відображається

1) Firefox

![ff_proposal](https://cloud.githubusercontent.com/assets/11062040/6532070/7851c21e-c446-11e4-96f1-23

[2015-03-06 20:32] myroslav commented on #44
На production - 50Мб брутто, тобто 50Мб вже має не "влізти", а 49Мб ще має пустити. На sandbox - 1Мб брутто, відповідно 1000Кб - має пройти.

[2015-03-06 21:28] myroslav commented on #151
ЦБД не накладає обмеження.

[2015-03-10 15:24] yuliyaSoftserve opened #153 "Тестове середовище для майданчика ПРОМ"

[2015-03-10 15:25] yuliyaSoftserve opened #154 "Тестове середовище для майданчика СМАР"

[2015-03-10 15:55] yuliyaSoftserve opened #155 "Додайте лейбу з номером білда для тестового середовища майданчика ПРОМ"

[2015-03-10 15:56] yuliyaSoftserve opened #156 "Додайте лейбу з номером білда для тестового середовища майданчика СМАР"

[2015-03-10 16:40] OksanaPakholok commented on #151
Дякую за відповідь

[2015-03-10 16:40] #151 closed, assigned to nobody

[2015-03-10 16:43] OksanaPakholok opened #157 "ЕЛЕГ, на аукціоні, учасник має можливість змінити ціну на "-1""
![minus_bid](https://cloud.githubusercontent.com/assets/11062040/6579806/44353e40-c755-11e4-9921-e7df0cc7853a.png)

[2015-03-10 17:36] OksanaPakholok commented on #112
Зараз файли не відкриваються тільки у Firefox та IE бравзерах

![ff_ie_greenline](https://cloud.githubusercontent.com/assets/11062040/6580975/9f98c5fc-c75c-11e4-8994-36f4c267c837.png)

@lerich

[2015-03-10 18:00] OksanaPakholok opened #158 "ЕЛЕГ, "Internal Server Error" при створенні тендера"
Зараз, був доданий новий функціонал, при створенні тендера - "Координати", і тільки одне обов'язкове поле - "Довгота". При заповненні тендера (усіх обов'язкових полів) виникає помилка.

![create_tender_new](https://cloud.githubusercontent.com/assets/11062040/6581410/6cd7497e-c75f-11e4-9e48-cf7784e5b199.png)

[2015-03-11 08:12] S-Shevchenko commented on #158
Дякую,помилка буде виправлена в поточному білді.

[2015-03-11 08:42] ktarasz commented on #157
вже проблема виправлена і зміни поступили на http://auction-sandbox.openprocurement.org/

[2015-03-11 09:58] OksanaPakholok commented on #157
03/11/2015, http://services.e-tender.biz:100/#/
Не репродюситься

[2015-03-11 09:58] #157 closed, assigned to myroslav

[2015-03-11 11:31] OksanaPakholok opened #159 "ЕЛЕГ, дублікація атачменту при підписанні контракту"
![duplication_contract_1](https://cloud.githubusercontent.com/assets/11062040/6595371/77a333a2-c7f2-11e4-9b93-dd6e37deee40.png)

Результат, при повторному нажатті кнопки "Контракт"

![duplication_contract_2](https://cloud.githubusercontent.com/assets/11062040/6595421/e03abe30-c7f2-11e4-9b78-0e7338aee801.png)

[2015-03-11 17:43] OksanaPakholok opened #160 "ЕЛЕГ, учасник не бачить факту зміни та версійності файлів, що замовник змінив чи видалив в "Період уточнень""
![notvisible_changedfiles](https://cloud.githubusercontent.com/assets/11062040/6602735/38264e74-c826-11e4-885e-912688e6a369.png)

Посилання на https://github.com/openprocurement/frontend/issues/92

[2015-03-11 18:04] OksanaPakholok opened #161 "ЕЛЕГ, Замовник, що зайшов під своїм обліковим записом, не бачить повідомлення про нове запитання (яке створив учасник)"
![no_message](https://cloud.githubusercontent.com/assets/11062040/6603252/88fe17ac-c829-11e4-97b3-4e13bb358efd.png)

Посилання на https://github.com/openprocurement/frontend/issues/91

[2015-03-11 18:32] OksanaPakholok opened #162 "ЕЛЕГ, кнопка "Анулювати переможця" не працює"
Після проведення аукціону, та відміненні переможця, при нажиманні кнопки "Анулювати переможця" - жодні зміни не відбуваються

![no_changes_dismissal](https://cloud.githubusercontent.com/assets/11062040/6603903/8e630186-c82d-11e4-88dd-eabc306892db.png)

[2015-03-12 09:10] S-Shevchenko commented on #161
Дякую, взяли в роботу

[2015-03-12 09:13] S-Shevchenko commented on #158
@OksanaPakholok Виправили, будь ласка перевірте.

[2015-03-12 09:15] S-Shevchenko commented on #133
@OksanaPakholok  Виправили, будь-ласка перевірте.

[2015-03-12 09:19] S-Shevchenko commented on #137
@OksanaPakholok Будь ласка, перевірте.

[2015-03-12 09:20] S-Shevchenko commented on #160
Дякую, задача в роботі.

[2015-03-12 10:14] OksanaPakholok commented on #158
Чи є певна валідація на поля координат?
Зараз помилки немає, але можна ввести наприклад таке "◄☼►"
Чи це очікувана поведінка аплікації?

@SergeyShevchenko1

[2015-03-12 10:29] OksanaPakholok commented on #158
Також поправти будь-ласка UI

![improvement](https://cloud.githubusercontent.com/assets/11062040/6616117/5715a5a4-c8b3-11e4-8d21-02e332dfdc0b.png)

[2015-03-12 10:35] lerich commented on #158
Валидации нет, так как не известно по каким правилам валидировать. Валидация должна быть по единым правилам с ЦБД. Вопрос поднимал на коле, но не получил ответа.

[2015-03-12 14:24] OksanaPakholok commented on #133
03/12/2015, http://services.e-tender.biz:100/#/  Перевірено. Не репродюситься.

[2015-03-12 14:24] #133 closed, assigned to lerich

[2015-03-12 14:36] OksanaPakholok commented on #137
03/12/2015, http://services.e-tender.biz:100/#/ Перевірено. Не репродюситься.

[2015-03-12 14:36] #137 closed, assigned to lerich

[2015-03-12 14:44] OksanaPakholok opened #163 "ЕЛЕГ, "Адреса доставки" не зберігається при редагуванні тендера, в періоді уточнень"
![adress_notsave](https://cloud.githubusercontent.com/assets/11062040/6620028/f1e538d8-c8d6-11e4-9620-d87cf66a03b3.png)

[2015-03-12 15:16] S-Shevchenko commented on #163
Дякую, завдання в роботі.
@lerich

[2015-03-12 17:01] OksanaPakholok opened #164 "ЕЛЕГ, учасник не бачить факту зміни та версійності файлів, при подачі нових файлів (чи заміні існуючих) до своєї пропозиції на тендер, на етапі "Очікування пропозицій""
![active_tendering_no_changes](https://cloud.githubusercontent.com/assets/11062040/6623176/ff65c9f6-c8e9-11e4-925f-6abce3370f01.png)

Посилання на https://github.com/openprocurement/frontend/issues/93

[2015-03-12 17:19] OksanaPakholok commented on #124
03/12/2015, http://services.e-tender.biz:100/#/ Перевірено. Не репродюситься.

[2015-03-12 17:19] #124 closed, assigned to lerich

[2015-03-12 17:48] OksanaPakholok opened #165 "ЕЛЕГ, "Internal Server Error" при додаванні файлів великого об'єму"
При завантаженні файлу 87MB.pdf - аплікація видає помилку.

![error_big_file](https://cloud.githubusercontent.com/assets/11062040/6624302/1b6628d8-c8f1-11e4-975a-b300396e7fb7.png)

Згідно зазначеного у https://github.com/openprocurement/frontend/issues/44, аплікація поводить себе коректно, але при завантаженні файлів великих розмірів - аплікація поводить себе не зовсім коректно, а саме -  видає по

[2015-03-13 08:35] S-Shevchenko commented on #165
Дякую. взяли в работу.

[2015-03-13 09:37] OksanaPakholok commented on #158
На даний час, на етапі створення тендера, при заповненні всіх обовязкових полів, тендер не створюється (залишається у тому ж стані)

![same_position](https://cloud.githubusercontent.com/assets/11062040/6636060/1e47954e-c975-11e4-86b8-19b561f32480.png)

@lerich

[2015-03-13 11:40] OksanaPakholok opened #166 "ЕЛЕГ, як саме і де повинно бути зазначено, що пропозиція учасника є дискваліфікована?"
На даному етапі, після відміни пропозиції, ні в кабінеті замовника, ні в кабінеті учасника (пропозицію, якого відмінили) не зазначено, про відміну його пропозиції.

![disqualified](https://cloud.githubusercontent.com/assets/11062040/6637709/6ef977da-c986-11e4-84b0-eacc883c7cfa.png)

Посилаючись на https://github.com/openprocurement/frontend/issues/98

[2015-03-13 17:14] OksanaPakholok opened #167 "ЕЛЕГ, вкажіть будь-ласка, які поля при створенні тендера є обов'язковими?"

[2015-03-13 17:35] OksanaPakholok opened #168 "ЕЛЕГ, Після відмінення учасником пропозиції, коли тендер перебуває у періоді "Очікування пропозицій" при подачі пропозиції, а потім її відміні, чи повинна пропозиція бути зазначена як "Анульована"?"
У тестовому сценарії: http://ppr.org.ua/files/TestScripts_v1.00_Phase2.pdf,
ДЕНЬ 3, 080 – Відміна пропозиції, ст.5,
зазначено, що після відміни пропозиції, пропозиція повинна бути зазначена як "Анульована"

[2015-03-13 18:04] OksanaPakholok commented on #158
https://github.com/openprocurement/frontend/issues/167

[2015-03-16 10:05] myroslav commented on #153
Андрію, чи є якісь прогнози по строках запуску такого середовища?

[2015-03-16 10:06] myroslav commented on #154
Олексію, чи є якісь прогнози по строках доступності такого середовища?

[2015-03-16 18:09] OksanaPakholok opened #169 "ЕЛЕГ, користувач не має можливості задавати запитання, коли тендер перебуває на етапі "Період уточнень""
Згідно "Регламенту роботи майданчика", п. 1. "Визначення понять", ст.1  "Користувач – відвідувач, який перейшов за посиланням http://e-tender.biz/ в мережі Інтернет без проходження процедури реєстрації"

Згідно "Регламенту роботи майданчика", п. 8. "Запитання", ст. 7, "Всі Користувачі мають право задавати питання Замовнику щодо оголошеної закупівлі протягом періоду, визначеного Замовником в оголош

[2015-03-17 08:39] lerich commented on #169
Да, совершенно верно! Надо переделать на "Зареєстрований Користувач". Учтем
в новой версии инструкции и регламента.

2015-03-16 20:09 GMT+02:00 OksanaPakholok valeriy.nesmashnyy@gmail.com:

##

С уважением,
Мельник Иванна

[2015-03-17 10:46] S-Shevchenko commented on #166
Спасибо, знаем.

[2015-03-19 08:51] OksanaPakholok opened #170 "ЕЛЕГ, немає доступу до тестового середовища на http://services.e-tender.biz:100/#/"

[2015-03-19 09:06] lerich commented on #170
Извините, тестовое окружение переносится на другую машину. Напишим когда закончим работы.

[2015-03-19 09:25] lerich commented on #80
Взяли в работу

[2015-03-19 09:31] lerich commented on #81
Взяли в работу, спасибо

[2015-03-20 09:15] darchik commented on #153
Мирослав, дам ответ в ближайшее время. Извиняюсь за долгий ответ. Только увидел сообщение.

[2015-03-20 18:24] myroslav commented on #168
@andriykucherenko, чи потрібно нам притримуватися буквальних назв в подібних випадках? Якщо потрібно, то маємо розробити документацію про цінові пропозиції на зразок https://drive.google.com/open?id=17bTdLCnOnT8fu5dIyBez3i1mVym_OiSdUXXAHf6RSuA, і вимагати слідування цим вимогам.

Якби хтось питався моєї думки :) - то НМСД, таку вимогу можна робити рекомендаційною (MAY), а не обов'язковою (SHOULD).

[2015-03-20 18:29] myroslav commented on #167
Є обмеження, які накладає ЦБД, починати варто з http://api-docs.openprocurement.org/en/latest/standard/tender.html і далі по посиланнях, обов'язкові поля позначаються як _required_.

Майданчик має право (MAY) вимагати більше полів як обов'язкові, згідно з іншими бізнес процесами, які пов'язані з їх бізнес процесами (наприкад при реєстрації вимагати URL сайту організації).

Залишу це повідомлення я

[2015-03-24 13:07] RudDaryna commented on #93
Підкажіть, будь-ласка, чи є   загальноприйняте правило щодо відображення "неактуальних" файлів?

[2015-03-31 11:14] yuliyaSoftserve commented on #170
@lerich  @myroslav  Прошу повідомити чи є апдейти щодо цього запиту?

[2015-03-31 11:33] lerich commented on #170
добрый день. Сори. Новое тестовое окружение uat.e-tender.biz

[2015-03-31 11:33] #170 closed, assigned to lerich

[2015-04-02 10:24] yuliyaSoftserve opened #171 "Скажіть будь-ласка оператора для тестового середовища uat.e-tender.biz"
@lerich Скажіть будь-ласка оператора для тестового середовища uat.e-tender.biz

[2015-04-02 11:50] S-Shevchenko commented on #171
@yuliyaSoftserve @lerich

operator1
Oo123456

[2015-04-03 11:22] Mykhailo-Shtabaliuk-SoftServe opened #172 "ЕЛЕГ, скажіть будь-ласка чи є у вас мок-апи (макети) згідно яких реалізовувався юзер інтерфейс ?"
http://uat.e-tender.biz/#/

[2015-04-03 12:11] Mykhailo-Shtabaliuk-SoftServe opened #173 "ЕЛЕГ, кнопки розширеного пошуку мають різний стиль"
При розширених параметрах пошуку кнопка "Згорнути" має повністю заокруглені кути, кнопка пошук має гострі кути, а кнопка очистити має зліва гострі кути, а зправа заокруглені

![untitled](https://cloud.githubusercontent.com/assets/11783631/6981969/b4fa938e-da13-11e4-823a-0445e0327f4e.png)

[2015-04-03 12:19] Mykhailo-Shtabaliuk-SoftServe opened #174 "ЕЛЕГ, питання стосовно безпеки"
http://uat.e-tender.biz/#/
Обмін даними відбувається по протоколу http, тобто і логін і пароль передаються в нешифрованому вигляді, чи планується імплементація безпеки і якщо так, то як саме ?
![security](https://cloud.githubusercontent.com/assets/11783631/6982055/de11302e-da14-11e4-8586-81afc101cc76.png)

[2015-04-03 12:37] Mykhailo-Shtabaliuk-SoftServe opened #175 "ЕЛЕГ, неможливо скористатись аудіо капчею при відновленні паролю, тільки у IE"
http://uat.e-tender.biz/#/sendEmail
Відтворюється тільки у Internet Explorer 11

[2015-04-03 12:57] Mykhailo-Shtabaliuk-SoftServe opened #176 "ЕЛЕГ, лист активації на сайті"
![untitled](https://cloud.githubusercontent.com/assets/11783631/6982302/a1c37c18-da18-11e4-9ca1-0f62873d22f1.png)
1. Чи повинен лист активації звертатись до користувача по логіну чи по імені ?
2. Прошу підтвердити, що текст в листі є коректний.
3. Чи повинна бути присутня 5 стрічка щодо створення персонального сайту в цьому листі ?
4. Чи повинен бути відсутній номер телефону служби підтримки
5. Чи

[2015-04-03 14:25] Mykhailo-Shtabaliuk-SoftServe opened #177 "ЕЛЕГ, Відновлення паролю. Користувач може змінити пароль залишивши поле "Підтвердіть пароль" порожнім."
http://uat.e-tender.biz/#/sendEmail
1. Надішліть запит на відновлення паролю на пошту, перейдіть по посиланню
2. Введіть в поле "Пароль:" Password1
3. Поле "Підтвердіть пароль" залиште пустим
4. Натисніть кнопку "Змінити пароль"

Пароль змінено успішно

[2015-04-03 14:53] Mykhailo-Shtabaliuk-SoftServe opened #178 "ЕЛЕГ, Відновлення паролю. Пароль менше 8-ми символів невалідується коректно"
1. Надішліть запит на відновлення паролю на пошту, перейдіть по посиланню
2. Введіть в поле "Пароль:" Passw1
   2.1. Під полем червоне повідомлення: "Довжина паролю має бути 8-20 символів."
3. В поле "Підтвердіть пароль" введіть: Passw1
   3.1. Під полем червоне повідомлення: "Паролі не збігаються."
4. Натисніть кнопку "Змінити пароль"

Результат:
1. Пароль змінено успішно, незважаючи на повідомле

[2015-04-03 15:11] Mykhailo-Shtabaliuk-SoftServe opened #179 "ЕЛЕГ, Відновлення паролю. Пароль кирилицею невалідується коректно"
1. Надішліть запит на відновлення паролю на пошту, перейдіть по посиланню
2. Введіть в поле "Пароль:" Пароль12
   2.1. Під полем червоне повідомлення: "Має бути хоча б одна літера верхнього та нижнього регістра та один нелітеральний знак (цифра або символ)."
3. В поле "Підтвердіть пароль" введіть: Пароль12
   3.1. Під полем червоне повідомлення: "Паролі не збігаються."
4. Натисніть кнопку "Змінити

[2015-04-06 07:48] Mykhailo-Shtabaliuk-SoftServe opened #180 "ЕЛЕГ, Відновлення паролю. Пароль який відповідає всім вимогам неможливо встановити"
1. Надішліть запит на відновлення паролю на пошту, перейдіть по посиланню
2. Введіть в поле "Пароль:" Password1Password112
3. В поле "Підтвердіть пароль" введіть: Password1Password112
4. Натисніть кнопку "Змінити пароль"

Результат:
1. При першому натисканні отримуєм повідомлення "Будь ласка відновіть пароль спочатку"
2. При другому натисканні отримуєм помилку як на скріншоті
![untitled](https://c

[2015-04-06 08:29] Mykhailo-Shtabaliuk-SoftServe commented on #180
Бага в процесі дослідження, бо відтворються тільки за умови, що вікно провисіло добу відкритим в браузері і після цього неможливо встановити ніякий пароль, для користувача.

[2015-04-06 09:09] Mykhailo-Shtabaliuk-SoftServe opened #181 "ЕЛЕГ, Якщо пароль складається з пробілів, то система пропускає його і є можливість створити юзера з таким паролем"
1. Перейдіть по цьому посиланню http://uat.e-tender.biz/#/register
2. Введіть валідні дані, в поле Пароль: введіть "        " - 8 пробілів
3. В поле Підтвердіть пароль: "        " - 8 пробілів
4. Натисніть кнопку Реєстрація
   Результат:
5. Ми отримуєм зареєстрованого користувача який неможе залогінитись в систему

[2015-04-06 09:27] Mykhailo-Shtabaliuk-SoftServe opened #182 "ЕЛЕГ, при реєстрації немає перевірок для паролю, таких як при відновленні паролю"
1. Перейдіть по цьому посиланню http://uat.e-tender.biz/#/register
2. У поле пароль введіть: "password"
3. У поле Підтвердіть пароль введіть також "password"

Результат:
У кроці-2 повинна відбуватись перевірка:
1. На кількість символів (вона відбувається)
2. Присутність верхнього та нижнього реєстру
3. Присутність одного нелітерального знаку,
 Так, як це відбувається при відновленні паролю:
"Має б

[2015-04-06 09:43] Mykhailo-Shtabaliuk-SoftServe opened #183 "ЕЛЕГ, Логін пейджа, кнопка "Логін" не повинна з'являтись при першому введеному символі у поле Пароль"
1. Перейдіть по цьому посиланню http://uat.e-tender.biz/#/login
2. Введіть валідний логін
3. Введіть в поле "Пароль:" "1"

Результат:
Нам стала доступна кнопка "Логін", хоча вона неповинна зявлятись оскільки пароль не відповідає умовам, таким як при реєстрації, та при відновленні паролю

[2015-04-06 09:54] Mykhailo-Shtabaliuk-SoftServe opened #184 "ЕЛЕГ, Реєстрація, відсутній скрол бар для прокрутки Угоди користувача (тільки ІЕ 11)"
1. Перейдіть по цьому посиланню http://uat.e-tender.biz/#/register
2. Відкрийте Угоду користувача.

Результат:
Угоду користувача можна прочитати, тільки натискаючи на стрілки мишкою, скроллер не працює.
![untitled](https://cloud.githubusercontent.com/assets/11783631/7002995/11c96834-dc5c-11e4-96ac-3e9b0503ff7e.png)

[2015-04-06 12:46] Mykhailo-Shtabaliuk-SoftServe opened #185 "ЕЛЕГ, Відновлення паролю. Пароль більше 20 символів невалідується коректно"
1. Надішліть запит на відновлення паролю на пошту, перейдіть по посиланню
   Введіть в поле "Пароль:" "Strictly21symbol11111" - пароль містить 21 символ
   2.1. Під полем червоне повідомлення: "Довжина паролю має бути 8-20 символів."
2. В поле "Підтвердіть пароль" введіть: "Strictly21symbol11111"
   3.1. Під полем червоне повідомлення: "Паролі не збігаються."
3. Натисніть кнопку "Змінити пароль".

[2015-04-06 14:26] Mykhailo-Shtabaliuk-SoftServe opened #186 "ЕЛЕГ, Реєстрація. При неунікальному логіні, зявляється помилка з текстом: "Користувач з таким ім'ям вже існує""
1. В мене зареєстрований користувач з логіном misha
2. Я намагаюсь зареєструвати ще одного користувача, з таким самим логіном

2.1. З'являється повідомлення з текстом, що "Користувач з таким ім'ям вже існує"
А має з'являтись "Користувач з таким логіном вже існує"

[2015-04-06 14:56] Mykhailo-Shtabaliuk-SoftServe opened #187 "ЕЛЕГ, Якщо перша активація пройшла неуспішно, користувач не має другої спроби, отримання листа на активацію"

[2015-04-06 14:59] Mykhailo-Shtabaliuk-SoftServe opened #188 "ЕЛЕГ, Відсутня валідація на унікальність емейлу при заповненні/редагуванні профіля"
1. Зареєструйте користувача1 з емейлом1.
2. Зареєструйте користувача2 з емейлом2.
3. При заповненні профілю користувача2 можна вказати емейл для повідомлень для користувача1

Результат:
Користувач1 отримав два емейли, а користувач два залишився без унікального емейлу для відновлення паролю

[2015-04-06 15:33] Mykhailo-Shtabaliuk-SoftServe opened #189 "ЕЛЕГ, лист відновлення паролю"
![untitled](https://cloud.githubusercontent.com/assets/11783631/7006576/f98af736-dc8a-11e4-9fd4-0eb381ac2be2.png)
1. Чи повинен лист до мене звертатись, по повній назві компанії, чи по мому імені?
2. Прошу підтвердити, що текст в листі є коректний

[2015-04-07 11:27] Mykhailo-Shtabaliuk-SoftServe commented on #172
Особливо цікавлять наступні пункти:
![image](https://cloud.githubusercontent.com/assets/11783631/7022037/4b05ecba-dd30-11e4-8578-624db9eafbd4.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7022045/61feda80-dd30-11e4-9ec6-5dcf4e93f068.png)
1. На головній сторінці внизу таблиці не вистачає нижньої лінії.
   ![image](https://cloud.githubusercontent.com/assets/11783631/7022083/c7b5f

[2015-04-07 13:57] Mykhailo-Shtabaliuk-SoftServe opened #190 "ЕЛЕГ, Яке мінімальне розширення монітора має підтримуватись ?"

[2015-04-08 08:08] S-Shevchenko commented on #181
Спасибо. взяли в работу....

[2015-04-08 08:10] S-Shevchenko commented on #177
Спасибо, в работе.

[2015-04-08 08:11] S-Shevchenko commented on #188
Спасибо. взята в работу.

[2015-04-08 08:12] S-Shevchenko commented on #187
В работе.

[2015-04-08 08:13] S-Shevchenko commented on #185
Спасибо. взята в работу.

[2015-04-08 08:14] Mykhailo-Shtabaliuk-SoftServe opened #191 "ЕЛЕГ, Редагування профілю. Після первинної модерації поля профілю розширюються на всю ширину таблиці"
![image](https://cloud.githubusercontent.com/assets/11783631/7041242/5e9f8ac8-dde0-11e4-9fb6-0af0f6524267.png)

[2015-04-08 08:17] S-Shevchenko commented on #191
Спасибо, в работе. Воспроизводиться и  во время создания профиля.

[2015-04-08 08:21] S-Shevchenko commented on #186
Спасибо, взяли в работу

[2015-04-08 12:02] Mykhailo-Shtabaliuk-SoftServe opened #192 "ЕЛЕГ, Створення закупівлі. Користувач який непройшов жодної модерації, має можливість створювати закупівлі"
1. Зареєструйте нового користувача
2. Заповніть профіль нового користувача
3. Перейдіть за посиланням http://uat.e-tender.biz/#/createTender

Результат:
Користувач який непройшов, жодної модерації, створює тендери.

[2015-04-08 15:02] Mykhailo-Shtabaliuk-SoftServe opened #193 "ЕЛЕГ, Період уточнень. Можливо задавати пусті запитання, та давати пусті відповіді"
![image](https://cloud.githubusercontent.com/assets/11783631/7048008/cd9c84fc-de18-11e4-97cc-f1947df5a41d.png)
@S-Shevchenko
@lerich
Питання вже піднімалось. Та оскільки ЦБД не накладає обмежень, чи реалізовані якісь валідації самим майданчиком?

[2015-04-09 13:36] Mykhailo-Shtabaliuk-SoftServe opened #194 "ЕЛЕГ, Email валідатор пропускає невалідні електронні пошти."
![image](https://cloud.githubusercontent.com/assets/11783631/7067790/9c920fbc-ded6-11e4-90b9-a8fc54522a73.png)

[2015-04-09 13:50] Mykhailo-Shtabaliuk-SoftServe opened #195 "ЕЛЕГ, Створення закупівлі. При виборі класифікатора CPV чи ДКПП кнопка enter виконує некоректні дії."
![image](https://cloud.githubusercontent.com/assets/11783631/7068065/821e0e04-ded8-11e4-9177-efb2cafe33e8.png)
1. Залогуйтесь в систему з правами держзамовника.
2. Перейдіть за посиланням http://uat.e-tender.biz/#/createTender
3. Натисніть по кнопці Довідка (біля класифікатора CPV або ДКПП)
4. У вікіні, що з'явилось введіть назву якогось продукту та натисніть Enter

Результат:
Як зображено на скрі

[2015-04-09 15:13] Mykhailo-Shtabaliuk-SoftServe opened #196 "ЕЛЕГ, Модерація користувача. Підтвердіть будь-ласка, що листи, які отримують користувачі у разі успішної і неуспішної модерації містять коректний текст."
![image](https://cloud.githubusercontent.com/assets/11783631/7069784/742a9d2a-dee3-11e4-9a2d-b7982232dad3.png)
1. Чи повинен лист приходити, з пошти etendermail@yandex.ru ?
2. Чи повинен лист звертатись до мене за полем Повна Назва ?
3. Чи повинен містити коментар залишений модератором ?
4. Чи повинен бути номер служби підтримки в листі ?
5. Чи повинна тема листа бути написана великими буквами ?

[2015-04-09 15:35] Mykhailo-Shtabaliuk-SoftServe opened #197 "ЕЛЕГ, Модерація. Для чого реалізована подвійна модерація ?"
![image](https://cloud.githubusercontent.com/assets/11783631/7070346/0f06728a-dee7-11e4-85ac-3e45bbf28c81.png)
На скріншоті відображено, що після реєстрації користувач має одну кнопку знизу для подачі заявки на модерацію, але з якою метою потрібно проходити подвійну модерацію ?

[2015-04-10 10:29] Mykhailo-Shtabaliuk-SoftServe opened #198 "ЕЛЕГ, Угода користувача. Чи коректний текст в Угоді користувача?"
Текст угоди взято з http://e-tender.biz/#/register
Прошу звернути увагу на наступні пункти:
![image](https://cloud.githubusercontent.com/assets/11783631/7083774/75929952-df6e-11e4-8310-57508b597902.png)
1.Якщо взяти за приклад угоду джемейла, то кожен пункт та підпункт їхньої угоди користувача написані курсивом.
![image](https://cloud.githubusercontent.com/assets/11783631/7083761/4ba3f406-df6e-11e

[2015-04-10 11:05] Mykhailo-Shtabaliuk-SoftServe opened #199 "ЕЛЕГ, Створення закупівлі. Поля з датами поводяться некоректно, якщо спочатку вводити годину."
1. Залогіньтесь в систему за користувача який має право створювати тендери
2. Натисніть кнопку створити тендер (закупівлю)
3. У поле "Дата завершення прийому запитань введіть годину: "14:00"

Результат на скріншоті:
![image](https://cloud.githubusercontent.com/assets/11783631/7086351/73a16c44-df88-11e4-9dd9-e06c105ec1ad.png)
1. В полі з датою з'явилась початкова дата 01-01-1970
Очікуваний результа

[2015-04-10 12:20] Mykhailo-Shtabaliuk-SoftServe opened #200 "ЕЛЕГ, Закупівля. Відсутня можливість прикріпити файл при створені закупівлі (тендера)."
1. Залогіньтесь на сайт http://uat.e-tender.biz/ за користувача, який має змогу створювати закупівлі.
2. Перейдіть на сторінку створення закупівлі.
   ![image](https://cloud.githubusercontent.com/assets/11783631/7087487/a2988526-df94-11e4-91bd-34e71bee4250.png)
3. Незрозуміло, як прикріпити документ до закупівлі, хоча в "Регламент роботи електронного майданчика" сказано, що комплект електронних до

[2015-04-10 13:36] Mykhailo-Shtabaliuk-SoftServe opened #201 "ЕЛЕГ, Закупівлі зависають в статусі "Зачекайте, закупівля обробляється", якщо користувач був непідтвердженим модератором з першого разу."
1. Створіть користувача, активуйте акаунт
2. Подайте першу заявку на модерацію
3. Відмініть заявку оператором
4. Подайте ще раз заявку модератору
5. Підтвердіть користувача модератором
6. Створіть тендер в тестовому режимі (він зависне у стані "Зачекайте, закупівля обробляється")
7. Подайте заявку на модерацію, ще раз
8. Створіть тендер в режимі реальних закупівель (він також зависне у стані "Заче

[2015-04-10 15:30] Mykhailo-Shtabaliuk-SoftServe opened #202 "Public-bid, Реєстрація. Не приходить реєстраційний лист, який повинен містити ключ доступу."
Проходив реєстрацію трьома різними емейлами, та жоден лист реєстрації, який описаний в менюалі не прийшов.
misha.afk@meta.ua
misha.afk@gmail.com
misha.flow@meta.ua

[2015-04-14 09:13] Mykhailo-Shtabaliuk-SoftServe opened #203 "Public-bid, Реєстрація. Лист, що містить ключ-доступу, також містить pdf файл, вміст якого нечитабельний."
![image](https://cloud.githubusercontent.com/assets/11783631/7133814/9a7fc45e-e29f-11e4-8a43-9a0515b55e7a.png)

![image](https://cloud.githubusercontent.com/assets/11783631/7133795/71f52c04-e29f-11e4-88f7-72a9c55303e3.png)

[2015-04-14 09:20] Mykhailo-Shtabaliuk-SoftServe opened #204 "Public-bid, Реєстрація. Після проходження реєстрації, з ключем-доступу, користувач переадресований на сторінку з неповним контентом."
![image](https://cloud.githubusercontent.com/assets/11783631/7133901/8dbb77bc-e2a0-11e4-92d2-9a7118d5af92.png)
Після натискання кнопки "Так", залишається вікно без контенту сайту
![image](https://cloud.githubusercontent.com/assets/11783631/7133833/cfc42880-e29f-11e4-9102-7594cfbf4ef9.png)

[2015-04-14 09:55] Mykhailo-Shtabaliuk-SoftServe opened #205 "Public-bid, Головна сторінка у ІЕ(11) відображається некоректно"
![image](https://cloud.githubusercontent.com/assets/11783631/7134430/722b8c44-e2a5-11e4-9299-ee1a34b84284.png)

[2015-04-14 11:04] Mykhailo-Shtabaliuk-SoftServe opened #206 "Public-bid, Яке мінімальне розширення монітору має підтримуватись ?"

[2015-04-14 11:09] Mykhailo-Shtabaliuk-SoftServe opened #207 "Public-bid, При створенні закупівлі datepicker відображається некоректно."
![image](https://cloud.githubusercontent.com/assets/11783631/7135463/a18f8e72-e2af-11e4-8ef0-a056db0fb84b.png)

[2015-04-14 12:14] Mykhailo-Shtabaliuk-SoftServe opened #208 "Public-bid, Створення закупівлі. При створення закупівлі відсутня перевірка на коректність вказаних дат."
Знизу вказано, що:
1. Дата завершення періоду уточнень вказана ранішою, ніж дата створення закупівлі.
2. Дата завершення прийому пропозицій, вказана через годину після завершення прийому пропозицій, та все ж давніша від теперішньої дати.
![image](https://cloud.githubusercontent.com/assets/11783631/7136329/877e6748-e2b8-11e4-887b-b508a449ab1b.png)

[2015-04-14 12:50] Mykhailo-Shtabaliuk-SoftServe opened #209 "Public-bid, Питання стосовно безпеки"
http://public-bid.com.ua/
Обмін даними відбувається по протоколу http, тобто і логін і пароль передаються в нешифрованому вигляді, чи планується імплементація безпеки і якщо так, то як саме ?
![image](https://cloud.githubusercontent.com/assets/11783631/7136906/da03c382-e2bd-11e4-9469-66201e553172.png)

[2015-04-14 13:10] Mykhailo-Shtabaliuk-SoftServe opened #210 "Public-bid, Фільтрування закупівель працює некоректно"
1. Якщо радіобаттон в положенні "Мої закупівлі", то мій тендер в статусі "Зареєстрована" відображається
2. Якщо радіобаттон в положенні "Всі закупівлі", то мій тендер перестає відображатись
   ![image](https://cloud.githubusercontent.com/assets/11783631/7137008/c14b8a0e-e2be-11e4-94d4-416f59cfb2c0.png)

[2015-04-14 13:11] w-be opened #211 "Public-bid. Встановленя Паролю при реєстрації, Зміна Паролю. Валідація не є коректною."
З Інструкції користувача замовника:
"6. В формі «Зміна паролю» ввести та підтвердити новий пароль (Рис. 9).
Примітка. Пароль повинен містити літери верхнього та нижнього регістра та принаймні один, нелітеральний знак (цифра або символ). Довжина паролю має бути 8-20 символів"

адресса: http://public-bid.com.ua
Кроки відтворення:
1. Залогінитись в Мій Кабінет
2. Перейти до зміни паролю
3. Спробувати

[2015-04-14 13:19] w-be opened #212 "Public-bid. Потрібен користувач-адміністратор"
Щоб протестувати весь життєвий цикл тендеру(закупівлі) потрібні логін та пароль користувача-адміністратора.

[2015-04-14 13:48] Mykhailo-Shtabaliuk-SoftServe opened #213 "Public-bid, Чи коректна поведінка збереження сесії в межах браузера?"
1. Залогінитись за користувача в одному браузері
2. Закрити вкладу залогіненим користувачем
3. Відкрити нову вкладку та перейти за посиланням http://public-bid.com.ua/ (відображено знизу)
   ![image](https://cloud.githubusercontent.com/assets/11783631/7137956/dc6cc134-e2c5-11e4-9de5-5ac701114d8a.png)
4. Натиснути кнопку Реєстрація/ Вхід (відображено знизу)
   ![image](https://cloud.githubuserconte

[2015-04-14 14:09] Mykhailo-Shtabaliuk-SoftServe opened #214 "Public-bid, Тексти договорів з майданчиком відсутні, підтвердіть будь-ласка, що це коректна поведінка"
![image](https://cloud.githubusercontent.com/assets/11783631/7138393/cd233548-e2c8-11e4-987c-6c3652f828fc.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7138400/da928f94-e2c8-11e4-8494-85d73bcdbe49.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7138406/e662b092-e2c8-11e4-818b-ddbbe0baf64f.png)

[2015-04-14 14:20] Mykhailo-Shtabaliuk-SoftServe commented on #213
Також відтворюється при наступному сценарії:
1. Залогуйтесь в систему
2. Натисніть в браузері кнопку back (поверніться на одну сторінку назад)
3. Перейдіть на вкладку Закупівлі, та виберіть Моїй закупівлі
![image](https://cloud.githubusercontent.com/assets/11783631/7138672/767716a4-e2ca-11e4-8b47-28643d8a69d8.png)

[2015-04-14 14:36] RudDaryna commented on #206
1024x768

[2015-04-14 14:37] RudDaryna commented on #214
Тексти буде додано до четверга

[2015-04-14 14:37] w-be opened #215 "Public-bid. Встановлення Паролю. Чекбокс Ознака підтверженя."
Що означає чекбокс Ознака підтверження і чи потрібен він на формі?
В системі передбачено 3 стани для чекбоксів:
"не зазначено користувачем/системою",
"відчеканий"
"зачеканий"
Чекбокс в стані - "не зазначено користувачем/системою" і його не можна редагувати.

![untitled](https://cloud.githubusercontent.com/assets/11888281/7138792/1e18c3c6-e2cb-11e4-9234-a1156d78ec72.png)

[2015-04-14 14:56] Mykhailo-Shtabaliuk-SoftServe opened #216 "Public-bid, 1024x768 Титульна сторінка відображається обрізаною у всіх браузерах IE, Mozilla Firefox, Google Chrome"
![image](https://cloud.githubusercontent.com/assets/11783631/7139263/f871f900-e2cd-11e4-8a9c-5c8e1ce1571b.png)

[2015-04-14 15:07] Mykhailo-Shtabaliuk-SoftServe opened #217 "Public-bid, 1024x768 Сторінка авторизації. Розмір полів "Вкажіть e-mail" та "Пароль" неоднакової довжини. Тільки у ІЕ та Firefox"
![image](https://cloud.githubusercontent.com/assets/11783631/7139771/b94377b0-e2d0-11e4-9d48-5da66e1f29f7.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7139821/f5a49112-e2d0-11e4-9c1d-116de2c9089a.png)

[2015-04-15 06:43] Mykhailo-Shtabaliuk-SoftServe commented on #214
@RudDaryna, дякую, за відповідь
В четвер ще раз перевірю.

[2015-04-15 06:44] Mykhailo-Shtabaliuk-SoftServe commented on #206
Дякую, за відповідь і закриваю питання.

[2015-04-15 06:44] #206 closed, assigned to nobody

[2015-04-15 07:07] Mykhailo-Shtabaliuk-SoftServe opened #218 "Public-bid, 1024x768 Сторінка залогованого користувача обрізана."
![image](https://cloud.githubusercontent.com/assets/11783631/7153631/b95bb66e-e356-11e4-83ea-cd55ecab0604.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7153643/debde26a-e356-11e4-84ce-60c3c09fcb5b.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7153669/19aba308-e357-11e4-85b2-6a3b96936933.png)
Chrome Version 41.0.2272.118 m

[2015-04-15 07:19] Mykhailo-Shtabaliuk-SoftServe opened #219 "Public-bid, Підтвердіть будь-ласка, що дизайн реалізований вірно."
1. Перейдіть по посиланню http://public-bid.com.ua/ на скріншоті 1 зображено, вигляд закупівель для незалогованого користувача поля пошуку:  "Номер закупівлі", "Організація(ЄДРПОУ і скорочена назва)" заповнені зеленим кольором.
2. Залогуйтесь в систему, та зверніть увагу, що фоновий колір полів пошуку: "Номер закупівлі", "Організація(ЄДРПОУ і скорочена назва)", білий.
   Чи дійсно так була задуман

[2015-04-15 07:32] Mykhailo-Shtabaliuk-SoftServe opened #220 "Public-bid, 1024x768 Сторінка створення закупівлі, зайві скрол-бари"
1. Відкрийте ІЕ 11, та залогуйтесь за користувача з правом створювати закупівлі.
2. Перейдіть на сторінку створення закупівлі
   ![image](https://cloud.githubusercontent.com/assets/11783631/7154066/c566988a-e35a-11e4-9804-7ec5dcf28527.png)
3. Виконайте крок 1 та 2 тільки у браузері Firefox 37.0.1
   ![image](https://cloud.githubusercontent.com/assets/11783631/7154080/f321ab2a-e35a-11e4-8117-2a8a41

[2015-04-15 07:37] RudDaryna commented on #213
Це корректна поведінка системи.  Фільтр "Мої закупівлі" буде прибрано з публічної сторінки.

[2015-04-15 10:27] Mykhailo-Shtabaliuk-SoftServe opened #221 "Public-bid, Чи повинен користувач бути вилогуваним, при натисканні кнопки (back) в браузері ?"
1. Відкрийте будь-який браузер та перейдіть по посиланню http://public-bid.com.ua/
2. Залогуйтесь в систему та натисніть кнопку, як показано на скріншоті
   ![image](https://cloud.githubusercontent.com/assets/11783631/7156874/fb5703e0-e372-11e4-8e5b-5119fb0638c6.png)

[2015-04-15 10:34] Mykhailo-Shtabaliuk-SoftServe commented on #221
@RudDaryna прошу дати відповідь на питання.

[2015-04-15 10:39] Mykhailo-Shtabaliuk-SoftServe commented on #213
@RudDaryna другий випадок відтворення винесений окремим запитанням.
https://github.com/openprocurement/frontend/issues/221

[2015-04-15 10:48] Mykhailo-Shtabaliuk-SoftServe commented on #213
@RudDaryna Перше запитання все, ще потребує уточнень:
Якщо вкладка з сесією користувача була просто закрита в браузері, після цього була відкрита нова вкладка, то чи повинен користувач бути залогованим чи ні ?

[2015-04-15 13:34] Mykhailo-Shtabaliuk-SoftServe opened #222 "Public-bid, Створення закупівлі. Використання іноземного слова."
![image](https://cloud.githubusercontent.com/assets/11783631/7159753/10918838-e38d-11e4-8e5a-08efc45a22e5.png)
Слово "Шаг" українською мовою буде "Крок".

[2015-04-15 13:55] Mykhailo-Shtabaliuk-SoftServe commented on #210
Закупівля не була оголошена, тому й не відображалась, закриваю.

[2015-04-15 13:55] #210 closed, assigned to nobody

[2015-04-16 07:14] RudDaryna commented on #221
Ні, вилогуваним користувач має бути тільки у випадку натискання кнопки "Вихід"

[2015-04-16 07:51] RudDaryna commented on #214
@Mykhailo-Shtabaliuk-SoftServe  тексти ще не додано, я Вам напишу коли вони будуть доступні

[2015-04-16 08:35] Mykhailo-Shtabaliuk-SoftServe commented on #221
@RudDaryna дякую, за розяснення. Закриваю.

[2015-04-16 08:35] #221 closed, assigned to nobody

[2015-04-16 08:48] Mykhailo-Shtabaliuk-SoftServe commented on #222
Пофікшено. Закриваю

[2015-04-16 08:48] #222 closed, assigned to nobody

[2015-04-16 08:53] Mykhailo-Shtabaliuk-SoftServe opened #223 "Public-bid, Помилка запису до ЦБД, при спробі оголосити або додати як тестову закупівлю"
1. Залогуйтесь за користувача з правами створювати закупівлі
2. Заповніть форму закупівлі валідними даними
3. Натисніть Додати як тестову (Зявляється помилка: "Помилка запису до ЦБД" як зображено на скріншоті)
4. Натисніть Оголосити (Зявляється помилка: "Помилка запису до ЦБД" як зображено на скріншоті)
   ![image](https://cloud.githubusercontent.com/assets/11783631/7177392/01b34d4a-e42f-11e4-91f5

[2015-04-16 08:58] Mykhailo-Shtabaliuk-SoftServe commented on #207
![image](https://cloud.githubusercontent.com/assets/11783631/7177498/d4f71344-e42f-11e4-9319-f063359c9f81.png)

Пофікшено тепер відображається коректно. Закриваю.

[2015-04-16 08:58] #207 closed, assigned to nobody

[2015-04-16 10:17] Mykhailo-Shtabaliuk-SoftServe opened #224 "ЕЛЕГ, Створення закупівлі. Два повідомлення про помилку без пояснень причин помилки."
1. Залогуйтесь за користувача з правом створювати закупівлі.
2. Перейдіть на вкладку створення закупівлі, створіть закупівлю
3. Зайдіть в цю закупівлю, та добавте файлу спочатку коректного розширення *.pdf, а потім файл з розширенням *.png (недозволеного формату файлу)
   ![image](https://cloud.githubusercontent.com/assets/11783631/7178788/2e6bdd2e-e43a-11e4-98bc-2f03014e6c4e.png)
   Результат, лю

[2015-04-16 11:44] Mykhailo-Shtabaliuk-SoftServe opened #225 "Public-bid, Головна сторінка. Непрацює сортування колонок, для не авторизованого користувача."
1. Перейдіть за посиланням http://public-bid.com.ua
2. Натисніть на будь-який заголовок стовпця для сортування даних.
   ![image](https://cloud.githubusercontent.com/assets/11783631/7180093/df4674e0-e446-11e4-9278-96196209719d.png)
   Результат:
   Сортування не відбувається.

[2015-04-16 12:16] Mykhailo-Shtabaliuk-SoftServe opened #226 "Public-bid, Лист запрошення містить некоректне посилання."
1. Надішліть собі запрошення на тестову електронну пошту
2. Перейдіть за посиланням запрошення
   ![image](https://cloud.githubusercontent.com/assets/11783631/7180542/22ba49be-e44b-11e4-80c8-39e3d0ee1b67.png)
   ![image](https://cloud.githubusercontent.com/assets/11783631/7180571/81211d48-e44b-11e4-9d2d-77be17ccfc2f.png)

На цьому скріншоті зображено результат переходу за посиланням, яке містилось

[2015-04-16 12:23] Mykhailo-Shtabaliuk-SoftServe opened #227 "Public-bid, Сторінка реєстрації непрацює відтворюється тільки у ІЕ (11)"
1. Відкрийте Інтернет експлорер 11 версії, як зображено на скріншоті
2. Натисність кнопки Відновити пароль, Я новий користувач, Я маю запрошення, Вхід
   ![image](https://cloud.githubusercontent.com/assets/11783631/7180658/86999ae2-e44c-11e4-98db-32f8448313c8.png)
   Результат:
   Жодна кнопка не виконує жодних дій

[2015-04-16 12:34] Mykhailo-Shtabaliuk-SoftServe opened #228 "Public-bid, Неможливо зареєструвати користувача, відсутній контрол навпроти напису "Запис від автореєстрації""
![image](https://cloud.githubusercontent.com/assets/11783631/7180830/edf6fc06-e44d-11e4-9548-df7521891f20.png)

[2015-04-16 12:40] Mykhailo-Shtabaliuk-SoftServe commented on #219
Пофікшено, тепер всюди фоновий колір полів білий.

[2015-04-16 12:40] #219 closed, assigned to nobody

[2015-04-16 13:02] Mykhailo-Shtabaliuk-SoftServe opened #229 "Public-bid, Відсутня перевірка на унікальність емейлу при реєстрації."
1. Зареєструйтесь в системі
2. Зайдіть повторно на сторінку реєстрації угоди та введіть той самий емейл та пройдіть далі.

Результат:

Ви повторно отримуєте лист реєстрації, та можливість реєструватись з неунікальним емейлом.

[2015-04-16 13:09] Mykhailo-Shtabaliuk-SoftServe opened #230 "Public-bid, Реєстрація користувача. Реєстрація запрошеного користувача. Кількість угод відрізняється, та тексти угод відсутні/некоректні."
![image](https://cloud.githubusercontent.com/assets/11783631/7181339/a08310c2-e452-11e4-9917-95fded217266.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7181374/f0e8ebb8-e452-11e4-8eb6-aeb19473499a.png)

[2015-04-16 13:51] w-be opened #231 "Public-bid. Закупівля, Оскарженя.Відсутня нотифікація при оскаржені."
http://public-bid.com.ua/

При Обговорені система надсилає листи учасникам обговорення, що є нове питання/відповідь.

Чи планується така ж поведінка для нового оскарження/при рішені по оскарженю?

[2015-04-16 13:54] Mykhailo-Shtabaliuk-SoftServe opened #232 "Public-bid, Відсутня синхронізація між майднчиком та українським часом."
![image](https://cloud.githubusercontent.com/assets/11783631/7182321/429d5768-e459-11e4-9b6d-46a256f57769.png)

[2015-04-16 13:57] Mykhailo-Shtabaliuk-SoftServe commented on #232
Час останньої синхронізації відображається в іншому форматі, ніж час майданчика.

[2015-04-16 14:25] w-be opened #233 "Public-bid. Закупівля, Оскарженя. Неможливо подивитись історію оскаржень."
Після завершення закупівлі неможливо подивитись, що оскаржувалось, і які відповіді отримано.
Це робить сестему не зовсім прозорою.
Хоча мабуть і персональні дані варто було б приховувати.

[2015-04-17 08:10] RudDaryna commented on #226
Прохання повторити сценарій, на даний момент нам його відтворити не вдалось

[2015-04-17 10:07] Mykhailo-Shtabaliuk-SoftServe opened #234 "Аукціон, Дубльовані повідомлення під час аукціону"
1. Дойдіть до етапу аукціону з можливістю робити ставки (як учасник)
2. Введіть суму більшу, ніж дозволяє система (як показано на скріншоті)
   ![untitled4](https://cloud.githubusercontent.com/assets/11783631/7200134/a2c87ea2-e502-11e4-9134-472732529eea.png)
   Результат:
   Повідомлення про те що ваша ставка зависока, може заповнити все вікно аукціону.

[2015-04-17 10:11] Mykhailo-Shtabaliuk-SoftServe opened #235 "Аукціон, Під час аукціону повідомлення спостерігача не міняє мови, на мову обрану спостерігачем."
1. Зайдіть на аукціон як спостерігач
2. Змініть мову на будь-яку окрім тої, яка була за замовчуванням
   ![untitled2](https://cloud.githubusercontent.com/assets/11783631/7200193/4124a710-e503-11e4-8645-7aa6fd363749.png)

[2015-04-17 10:17] Mykhailo-Shtabaliuk-SoftServe opened #236 "Аукціон, Описка у тексті умов проведення аукціону."
![image](https://cloud.githubusercontent.com/assets/11783631/7200267/fb87acd8-e503-11e4-83eb-c794c2dc1846.png)

[2015-04-17 10:45] Mykhailo-Shtabaliuk-SoftServe commented on #226
@RudDaryna
Лист запрошення містить дві лінки:
Слово "реєстрації" містить - http://public-bid.com.ua/?action=registration&invited=1 - коректну лінку
Слово "посиланням" містить - http://public-bid.com.ua/?action=# - некоректну лінку, результат якої показано на скріншоті зверху.
![image](https://cloud.githubusercontent.com/assets/11783631/7200679/f3b2e096-e507-11e4-8bb2-81f1053a8e33.png)

[2015-04-17 12:40] Mykhailo-Shtabaliuk-SoftServe opened #237 "Public-bid, Назви кнопок при відміні закупівлі неоднозначні."
![image](https://cloud.githubusercontent.com/assets/11783631/7202093/a677aaae-e517-11e4-9aae-21f7fa13f6da.png)
Використання слова Відміна/Відмінити в одному повідомленні з двома різними функціями плутає користувача.

Очікуваний результат:
Повідомлення з текстом: "Ви дійсно бажаєте відмінити закупівлю?"
кнопки: "Так", "Ні"

[2015-04-17 14:00] RudDaryna commented on #233
Кнопка "Скарги" доступна після завершення закупівлі. Підкажіть, будь ласка, яка була проблема з переглядом скарг на прикладі.
Особисті дані приховаємо

[2015-04-17 14:32] DanilMarchyshyn commented on #211
Виправлено

[2015-04-17 14:38] DanilMarchyshyn commented on #232
Виправлено

[2015-04-17 14:38] DanilMarchyshyn commented on #227
Виправлено

[2015-04-17 14:39] DanilMarchyshyn commented on #223
Виправлено

[2015-04-17 14:40] DanilMarchyshyn commented on #220
Виправлено

[2015-04-17 14:42] DanilMarchyshyn commented on #218
Виправлено

[2015-04-17 14:42] DanilMarchyshyn commented on #217
Виправлено

[2015-04-17 14:43] DanilMarchyshyn commented on #216
Виправлено

[2015-04-17 14:44] DanilMarchyshyn commented on #203
Виправлено

[2015-04-17 14:45] DanilMarchyshyn commented on #204
Виправлено

[2015-04-17 14:46] DanilMarchyshyn commented on #208
Виправлено

[2015-04-17 15:01] w-be commented on #233
користувач: vbilos@softserveinc.com / qwertyu1
Картка закупівлі № UA-2015-04-16-000049
Закупівля в статусі: "Закупівля не відбулась"

[2015-04-17 15:02] Mykhailo-Shtabaliuk-SoftServe opened #238 "Public-bid, Як часто відбувається синхронізація ? І з чим вона саме вона відбувається з іншими майданчиками чи з ЦБД ?"
![untitled](https://cloud.githubusercontent.com/assets/11783631/7204533/b49e2fb8-e52b-11e4-8b3f-2ef6b14bb9c2.png)

[2015-04-17 15:06] Mykhailo-Shtabaliuk-SoftServe commented on #232
Перевірено, формат та час тепер співпадають.

[2015-04-17 15:06] #232 closed, assigned to nobody

[2015-04-17 15:09] Mykhailo-Shtabaliuk-SoftServe commented on #227
@DanilMarchyshyn досі відтворюється версія ІЕ 11.0.9600.17691
![image](https://cloud.githubusercontent.com/assets/11783631/7205091/650f0072-e52f-11e4-8c61-ed0631ab9631.png)
Маю два однакових ІЕ однакової версії, на одному відтворюється на другому не відтворюється...
Буду досліджувати

[2015-04-17 15:16] Mykhailo-Shtabaliuk-SoftServe commented on #223
Перевірено, більше не відтворюється. Закриваю.

[2015-04-17 15:16] #223 closed, assigned to nobody

[2015-04-20 07:27] Mykhailo-Shtabaliuk-SoftServe commented on #218
Перевірено. Закриваю.

[2015-04-20 07:27] #218 closed, assigned to nobody

[2015-04-20 07:33] Mykhailo-Shtabaliuk-SoftServe commented on #220
Перевірено. Закриваю.

[2015-04-20 07:33] #220 closed, assigned to nobody

[2015-04-20 07:51] Mykhailo-Shtabaliuk-SoftServe commented on #216
Перевірено. Закриваю.

[2015-04-20 07:51] #216 closed, assigned to nobody

[2015-04-20 07:53] Mykhailo-Shtabaliuk-SoftServe commented on #203
Перевірено, тепер текст читабельний. Закриваю.

[2015-04-20 07:53] #203 closed, assigned to nobody

[2015-04-20 07:58] maksimmaksimov commented on #238
Cинхронізація відбувається кожну хвилину з ЦБД

[2015-04-20 08:00] Mykhailo-Shtabaliuk-SoftServe commented on #238
@maksimmaksimov чому тоді виникає майже година різниці, між останньою синхронізацією та реальним часом ?

[2015-04-20 08:05] Mykhailo-Shtabaliuk-SoftServe commented on #204
Перевірено. Закриваю.

[2015-04-20 08:05] #204 closed, assigned to nobody

[2015-04-20 08:43] maksimmaksimov commented on #238
Якщо з боку ЦБД не було змін, то дата не змінюється

[2015-04-20 08:54] Mykhailo-Shtabaliuk-SoftServe commented on #238
Дякую, тепер зрозуміло. Закриваю

[2015-04-20 08:54] #238 closed, assigned to nobody

[2015-04-20 08:57] Mykhailo-Shtabaliuk-SoftServe opened #239 "ЕЛЕГ, 1024x768 На титульній сторінці обрізані назви колонок. У всіх браузерах."
![image](https://cloud.githubusercontent.com/assets/11783631/7226763/401ac0cc-e754-11e4-91b9-8137aa02d1c2.png)

[2015-04-20 09:01] maksimmaksimov commented on #230
1) Тексты угод ещё в разработке.
2) По количеству угод при регистрации пользователя (а) и при регистрации по приглашению (б) в системе реализовано следующим образом:
а) При регистрации пользователя, "Угода використання сервісу Public bid" доступна пользователю на форме регистрации договора и данный документ не отображается на форме регистрации пользователя;
б) При регистрации по приглашению пользо

[2015-04-20 09:10] maksimmaksimov commented on #229
Реализовано согласно требований к системе. Предполагается, что один пользователь может иметь несколько договоров в системе.

[2015-04-20 09:24] maksimmaksimov commented on #231
Данная ошибка известна и на данный момент проводятся работы по устранению.

[2015-04-20 09:28] maksimmaksimov commented on #209
Перешли на https

[2015-04-20 09:36] maksimmaksimov commented on #226
Данная ошибка воспроизводится на почтовике **Meta.ua**. Например на **i.ua** ссылка приходит корректная - см. скриншот.
![000282](https://cloud.githubusercontent.com/assets/8382283/7227497/d109d834-e759-11e4-85f9-cc4ca61aac45.jpg)

[2015-04-20 10:06] maksimmaksimov commented on #225
Исправлена

[2015-04-20 11:55] maksimmaksimov commented on #228
Ошибка исправлена

[2015-04-20 11:56] Mykhailo-Shtabaliuk-SoftServe commented on #228
Перевірено. Закриваю.

[2015-04-20 11:56] #228 closed, assigned to nobody

[2015-04-20 11:58] Mykhailo-Shtabaliuk-SoftServe commented on #229
@maksimmaksimov згідно інструкціями замовника учасника та спостерігача: "Будь-який користувач, що зареєстрував договір, призначається куратором даного договору", що суперечить неунікальності емейлу. Іншими словами:
1. Користувач з емейлом mshtab@softserveinc.com зареєстрував угоду А - (автоматично став куратором угоди А, отримав право запрошувати інших людей в цю угоду)
2. Користувач з емейлом msh

[2015-04-20 12:08] maksimmaksimov commented on #229
@Mykhailo-Shtabaliuk-SoftServe спасибо за пример, обсудим эту ситуацию с аналитиками.

[2015-04-20 13:16] Mykhailo-Shtabaliuk-SoftServe opened #240 "Public-bid, Сторінка реєстрації, підтвердіть будь-ласка що дизайн drop-down menu "Область" повинен відрізнятись від інших drop-down menu."
![image](https://cloud.githubusercontent.com/assets/11783631/7230648/831f7a74-e778-11e4-8d5b-36f88ea4f958.png)

[2015-04-20 13:46] maksimmaksimov commented on #205
Ошибка исправлена

[2015-04-20 13:47] Mykhailo-Shtabaliuk-SoftServe commented on #205
Перевірено. Закриваю.

[2015-04-20 13:47] #205 closed, assigned to nobody

[2015-04-20 14:03] maksimmaksimov commented on #226
@Mykhailo-Shtabaliuk-SoftServe ошибка исправлена. Просьба проверить

[2015-04-20 14:24] Mykhailo-Shtabaliuk-SoftServe commented on #226
@maksimmaksimov перевірено, тепер посилання http://public-bid.com.ua/?action=info веде на сторінку з контентом "Розділ в розробці". Закриваю.

[2015-04-20 14:25] #226 closed, assigned to nobody

[2015-04-20 15:00] Mykhailo-Shtabaliuk-SoftServe opened #241 "Public-bid. Період уточнень закупівлі. Відповідаючи на запитання після того як файл було прикріплено до відповіді, відсутня можливість змінити прикріплений файл."
1. Створіть тендер (закупівлю), почекайте поки закупівля буде в періоді Уточнень
2. Задайте  запитання щодо закупівлі
3. Даючи відповідь на запитання, прикріпіть файл
4. Спробуйте змінити прикріплений файл до відповіді
   ![image](https://cloud.githubusercontent.com/assets/11783631/7232948/0f21ee0e-e787-11e4-9b84-0e9ebc71c75a.png)
   Результат:
   Якщо користувач прикріпив помилково не той файл, й

[2015-04-20 15:03] Mykhailo-Shtabaliuk-SoftServe opened #242 "Public-bid, Період Уточнень. Відсутня перевірка на унікальність назви прикріпленого файлу."
![image](https://cloud.githubusercontent.com/assets/11783631/7233034/8825b272-e787-11e4-8312-e2dea250b0b4.png)

[2015-04-20 15:36] MaryanaDemtsyukh-SoftServe opened #243 "[ЕЛЕГ] При реєстрації учасника відображається помилка з текстом "An internal error occured during your request!""
Кроки для відтворення:
1. Відкрити лінку http://uat.e-tender.biz/#/
2. Перейти до Реєстрації
3. Заповнити обов'язкові текстові поля валідними даними
4. Клікнути на кнопку Реєстрація
Актуальний результат: помилка з текстом "An internal error occured during your request!" відображається в правому нижньому кутію (див. скріншот).
Очікуваний результат: учасник  повинен бути успішно зареєстрований в сис

[2015-04-21 07:53] MaryanaDemtsyukh-SoftServe opened #244 "[ЕЛЕГ] Помилка HTTP 404 Not Found відображається при переході за гіперпосиланням"
Кроки для відтворення:
1. Відкрити гіперпосилання http://uat.e-tender.biz у будь-якому бравзері
Актуальний результат: помилка HTTP 404 Not Found відображається при переході за вказаним гіперпосиланням.
Очікуваний результат: веб-сторінка необдхідного ресурсу повинна відображатись.

[2015-04-21 09:55] Mykhailo-Shtabaliuk-SoftServe commented on #225
Перевірено. Закриваю.

[2015-04-21 09:55] #225 closed, assigned to nobody

[2015-04-21 09:57] Mykhailo-Shtabaliuk-SoftServe commented on #202
Було пофіксано, перевіерно. Закриваю.

[2015-04-21 09:57] #202 closed, assigned to nobody

[2015-04-21 09:58] Mykhailo-Shtabaliuk-SoftServe commented on #208
Перевірено. Закриваю.

[2015-04-21 09:58] #208 closed, assigned to nobody

[2015-04-21 10:08] MaryanaDemtsyukh-SoftServe opened #245 "[ЕЛЕГ] Помилка "Invalid user name or password" відображається при логуванні попередньо зареєстрованим Учасником"
Кроки для відтворення:
1. Відкрити гіперпосилання http://uat.e-tender.biz у будь-якому бравзері
2. Клікнути на лейбу Вхід
3. Заповнити необхідні текстові поля валідними даними (напр. логін: tester пароль: 012345678 або логін: victor_qc пароль: 12345678)
4. Клікнути на кнопку Логін

Актуальний результат: помилка "Invalid user name or password" відображається при логуванні попередньо зареєстрованого

[2015-04-21 10:14] Mykhailo-Shtabaliuk-SoftServe opened #246 "Public-bid, Реєстрація користувача. Неможливо зареєструвати користувача, якщо користувач вказав в полі "Прізвище, ім'я та по батькові" вказав " ' " апостороф"
Кроки для відтворення:
1. Перейдіть за посиланням https://public-bid.com.ua/
2. Натисніть кнопку Реєстрація/Вхід
3. Натисніть кнопку Я новий користувач
4. Введіть коректний, валідний емейл в поле "Ваш унікальний e-mail"
5. В поле "Прізвище, ім'я та по батькові*" введіть: "Прізвищенко Мар'ян Батькович"
6. Поставте галочку згоди з умовами використання сервісу
7. Натисніть кнопку Далі
8. Залиште всі

[2015-04-21 10:48] RudDaryna commented on #242
Доброго дня,
вказана перевірка у нас не передбачена системою. Якщо це критично, її можна додати.

[2015-04-21 10:50] RudDaryna commented on #241
Зазначена можливість не передбачена системою, ми додамо вказаний функціонал.

[2015-04-21 11:09] Mykhailo-Shtabaliuk-SoftServe opened #247 "Public-bid, Мій кабінет. Діючі угоди. Некоректне згортання та розгортання, якщо у користувача більше однієї угоди."
1. Перейдіть за посиланням https://public-bid.com.ua
2. Залогуйтесь за користувача з:
   логіном: misha.a@meta.ua
   паролем: Password1
3. Зайдіть в > Мій кабінет > Діючі угоди
4. Натисніть на контрол для розгортання угоди №465, та угоди №440
5. Натисніть на загальну кнопку угоди 465 "Згорнути/розгорнути усі вкладки" двічі
6. Натисніть по кожній вкладці: Учасники угоди, Запрошення, Документація

О

[2015-04-21 11:23] maksimmaksimov commented on #212
@w-be данное замечание можно закрывать, параметры доступа админа были предоставлены в письме 14.04.

[2015-04-21 11:46] Mykhailo-Shtabaliuk-SoftServe commented on #209
Перевірено, тепер зловивши купу пакетів прочитати їх не вдається. Закриваю.

[2015-04-21 11:46] #209 closed, assigned to nobody

[2015-04-21 12:24] w-be commented on #212
Дякую.

[2015-04-21 12:24] #212 closed, assigned to nobody

[2015-04-21 12:47] MaryanaDemtsyukh-SoftServe commented on #244
Проблема ліквідована.

[2015-04-21 12:47] #244 closed, assigned to nobody

[2015-04-21 13:11] MaryanaDemtsyukh-SoftServe opened #248 "[ЕЛЕГ] Помилка відображається при навігації до останньої сторінки списку закупівель"
Кроки для відтворення:
1. Відкрити гіперпосилання http://uat.e-tender.biz у будь-якому бравзері
2. Перейти на вкладку Вхід
3. Заповнити необхідні текстові поля валідними даними Замовника (логін: Operator1 пароль: Oo123456)
4. Клікнути на кнопку Логін
5. Перейти на вкладку Торговельний майданчик
6. Перейти відразу на останню сторінку за допомогою навігації розміщеної під списком закупівель

Фактичн

[2015-04-21 13:36] Mykhailo-Shtabaliuk-SoftServe opened #249 "Public-bid, Реєстрація Організації. При спробі зареєструвати угоду з пустим полем ЄДРПОУ воно не підсвічується червоним, та з'являється повідомлення з невірним текстом."
1. Перейдіть за посиланням //public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач, заповніть поля та натисніть Далі
3. Натисніть Зареєструвати угоду, не заповнюючи жодне поле

Очікуваний результат:
3. Напис "ЄДРОПУ *" повинен бути підсвічений, як усі інші поля без даних
3. Повинно з’являтись повідомлення з текстом: "Поле обов’язкове для заповнення" біля поля "ЄДРПОУ"
Фактичний резул

[2015-04-21 13:54] Mykhailo-Shtabaliuk-SoftServe opened #250 "Public-bid, Реєстрація Організації. Поле ЄДРОПУ пропускає двоцифрові коди."
1. Перейдіть за посиланням //public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач, заповніть поля та натисніть Далі
3. Введіть в поле "ЄДРОПУ" : "11"
4. Залиште решту полів пустими та натисніть кнопку Зареєструвати угоду

Очікуваний результат:
4. Мало б зявитись повідомлення про помилку, що "введений код невірний" чи "Невірний формат поля"

Фактичний результат:
4. Система пропускає

[2015-04-21 14:01] maksimmaksimov commented on #250
@Mykhailo-Shtabaliuk-SoftServe в системе реализовано автоматическое добавление нулей в начало кода. Вы можете открыть список организаций (после авторизации) и найдете организацию с кодом 00000011

[2015-04-21 14:22] Mykhailo-Shtabaliuk-SoftServe opened #251 "Public-bid, Реєстрація Організації. Невірне текстове повідомлення для поля "Область *""
1. Перейдіть за посиланням //public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач, заповніть поля та натисніть Далі
3. Натисніть Зареєструвати угоду, не заповнюючи жодне поле
   ![image](https://cloud.githubusercontent.com/assets/11783631/7254304/eb46bae0-e84a-11e4-9524-d5aebdbcbdfc.png)

Очікуваний результат:
3. Біля поля "Область *" повинне зявитись повідомлення загального типу "П

[2015-04-21 14:32] Mykhailo-Shtabaliuk-SoftServe opened #252 "Public-bid, Реєстрація Організації. Поле "Адреса організації (індекс) *" пропускає 10 символів."
1. Перейдіть за посиланням //public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач, заповніть поля та натисніть Далі
3. Введіть в поле "Адреса організації (індекс)" : "123456789я"
4. Натисніть кнопку Зареєструвати угоду

Очікуваний результат:
4. Біля поля "Адреса організації (індекс)" повинне зявитись повідомлення: "Невірний формат поля"

Фактичний результат:
4. Система пропускає дес

[2015-04-21 14:47] Mykhailo-Shtabaliuk-SoftServe opened #253 "Public-bid. Реєстрація другої та кожної наступної угоди. З'являється повідомлення з некоректним текстом"
1. Перейдіть за посиланням https://public-bid.com.ua/
2. Натисніть Реєстрація/Вхід
3. Введіть email: misha.a@meta.ua та валідне прізвище імя
4. Натисніть Далі
5. Введіть валідні дані та натисніть Зареєструвати угоду
6. Залогуйтесь на пошту
   login: misha.a@meta.ua
   password: Password1
7. Дочекайтесь листа з ключем доступу, перейдіть на сторінку де потрібно ввести ключ та решту інформації.
8. Вв

[2015-04-21 14:48] maksimmaksimov commented on #253
Данное замечание известно и на данный момент проводятся работы по устранению.

[2015-04-21 15:03] Mykhailo-Shtabaliuk-SoftServe opened #254 "Public-bid, Мій кабінет. Мої організації. Некоректне відображення статусу"
![image](https://cloud.githubusercontent.com/assets/11783631/7255242/aede6584-e850-11e4-8df5-9bd95c17f5dc.png)
Незрозумілий формат відображення статусу, та значення позначене червоною стрілкою.

[2015-04-21 15:05] Mykhailo-Shtabaliuk-SoftServe commented on #250
@maksimmaksimov Перевірено, дійсно є. Закриваю.

[2015-04-21 15:05] #250 closed, assigned to nobody

[2015-04-21 15:14] Mykhailo-Shtabaliuk-SoftServe commented on #242
@RudDaryna це б на мою думку створило зручність для користувача. На випадок якщо йому треба прикріпити з десяток файлів, і що б не заплутатись і помилково не прикріпити той самий файл двічі.

[2015-04-21 15:34] Mykhailo-Shtabaliuk-SoftServe commented on #227
@DanilMarchyshyn було досліджено, що на особливому ІЕ 11.0.9600.17691, при дебагінгу вилазить наступна помилка
![image](https://cloud.githubusercontent.com/assets/11783631/7255849/95c7319e-e854-11e4-862b-f2fee2284db3.png)
Перевірте будь-ласка на совму тестовому ІЕ такої ж версії, можливо у вас також знайдеться такий самий браузер з такою ж помилкою.

[2015-04-21 16:04] maksimmaksimov commented on #254
Данная ошибка известна, будет исправлена.

[2015-04-22 07:32] Mykhailo-Shtabaliuk-SoftServe opened #255 "Public-bid, Реєстрація Організації. Незрозуміле текстове повідомлення для поля "Сайт""
1. Перейдіть за посиланням //public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач, заповніть поля та натисніть Далі
3. Введіть в поле сайт: "www.google.com.ua"
4. Натисніть зареєструвати угоду
   ![image](https://cloud.githubusercontent.com/assets/11783631/7269220/7e2b5228-e8da-11e4-896b-c23b4faa394a.png)
   Очікуваний результат:
5. Поле не повинно підсвічуватись, та повідомлення з

[2015-04-22 07:42] Mykhailo-Shtabaliuk-SoftServe opened #256 "Public-bid, Реєстрація Організації. Чи повинні поля обов'язкові для заповнення пропускати значення " " - один пробіл."
1. Перейдіть за посиланням //public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач, заповніть поля та натисніть Далі
3. Введіть у всі поля з червоними стрілочками по одному пробілу
4. Натисніть Зареєструвати угоду
   ![image](https://cloud.githubusercontent.com/assets/11783631/7269327/9e2b7584-e8db-11e4-97cf-65a187701701.png)
   Очікуваний результат:
5. Зазвичай поля які фігурують як

[2015-04-22 07:45] maksimmaksimov commented on #227
Спасибо, в работу взяли.

[2015-04-22 07:49] maksimmaksimov commented on #256
@Mykhailo-Shtabaliuk-SoftServe нет, такого быть не должно, данная ошибка известна. Будет исправлена.

[2015-04-22 07:59] Mykhailo-Shtabaliuk-SoftServe opened #257 "Public-bid, Сторінка реєстрації. Повідомлення про помилку переміщаються в залежності від довжини опису типу угоди."
1. Перейдіть за посиланням //public-bid.com.ua
2. Натисніть Реєстрація/Вхід > Я новий користувач
3. Поставте галочку в чек бокс "Я згоден з умовами угоди використання сервісу "Public Bid""
4. Натисніть Далі
   ![image](https://cloud.githubusercontent.com/assets/11783631/7269590/d7860356-e8dd-11e4-9c45-26b7428f5036.png)
   ![image](https://cloud.githubusercontent.com/assets/11783631/7269594/e4d88ba

[2015-04-22 08:30] Mykhailo-Shtabaliuk-SoftServe commented on #256
@maksimmaksimov ще одне поле, яке пропускає пробіл
![image](https://cloud.githubusercontent.com/assets/11783631/7269885/4004da04-e8e0-11e4-9c04-24b4db3ce35d.png)

[2015-04-22 08:32] maksimmaksimov commented on #256
Спасибо, принято.

[2015-04-22 09:44] Mykhailo-Shtabaliuk-SoftServe opened #258 "Public-bid, Підтвердження реєстрації, встановлення паролю. Описка у повідомленні про помилку."
1. Перейдіть за посиланням http://public-bid.com.ua/?action=change_pwd&activation_code=d55c79d9-2632-4f77-8f1f-7c239be67c50
2. Введіть в поле Новий пароль *: Password1
3. Введіть в поле Підтвердження паролю *: Password2
4. Натисніть Змінити пароль
   ![image](https://cloud.githubusercontent.com/assets/11783631/7271467/4d8dbda6-e8ec-11e4-9331-18099e7af0a9.png)
   Очікуваний результат:
5. Повідомлен

[2015-04-22 09:57] Mykhailo-Shtabaliuk-SoftServe opened #259 "Public-bid, Підтвердіть будь-ласка, що форма авторизації при появі повідомлень про помилку повинна зсуватись вліво."
![image](https://cloud.githubusercontent.com/assets/11783631/7271837/f6a86e52-e8ee-11e4-8998-bfb5a6b7a2b2.png)
![image](https://cloud.githubusercontent.com/assets/11783631/7271846/079af806-e8ef-11e4-8e09-1522e167ef50.png)

[2015-04-22 10:56] RudDaryna commented on #259
Доброго дня,
така поведінка системи нормальна

[2015-04-22 10:57] Mykhailo-Shtabaliuk-SoftServe commented on #259
Дякую за підтвердження. Закриваю.

[2015-04-22 10:57] #259 closed, assigned to nobody

[2015-04-22 11:06] maksimmaksimov commented on #241
@Mykhailo-Shtabaliuk-SoftServe возможность удаления прикрепленного файла добавили.

[2015-04-22 12:21] Mykhailo-Shtabaliuk-SoftServe opened #260 "Public-bid, Зареєстрований користувач. З діючою угодою в статусі Тимчасова, має можливість запрошувати користувачів в систему."
1. Зареєструйте користувача з тимчасовою угодою
2. Зайдіть в Мій кабінет > Діючі угоди > Учасники угоди
3. Надішліть запрошення в систему на будь-який доступний вам емейл
4. Залогуйтесь на емейл на який надіслано запрошення, та спробуйте завершити реєстрацію запрошеного користувача.

Очікуваний результат:
4. Користувач повинен бути успішно зерєстрований
![image](https://cloud.githubusercontent.com

[2015-04-22 12:29] Mykhailo-Shtabaliuk-SoftServe opened #261 "Public-bid, Мій кабінет. Діючі Угоди. Відсутнє найменше значення по замовчуванню для вікна надсилання запрошень користувачам."
1. Залогуйтесь в систему за учасника з можливістю надсилати запрошення
2. Мій кабінет > Діючі угоди > Відкрийте вікно надсилання запрошень
3. Зменшіть розмір поля запрошень до такого як на скріншоті
   ![image](https://cloud.githubusercontent.com/assets/11783631/7274227/b0712626-e903-11e4-8640-6ac1b6c4d0b8.png)
4. Закрийте це вікно за допомогою чорного хрестику
5. Натисніть повторно кнопку Надісла

[2015-04-22 12:39] maksimmaksimov commented on #260
@Mykhailo-Shtabaliuk-SoftServe подскажите, пожалуйста, при регистрации договора, в который вы пытаетесь пригласить пользователя, какое количество пользователей было указано?

[2015-04-22 12:47] Mykhailo-Shtabaliuk-SoftServe commented on #260
@maksimmaksimov було вказано значення за замовчуванням 1.
Якраз працюю над занесенням цього дефекту, що користувач з тимчасовою угодою в якій зазначений тільки один користувач може запрошувати інших користувачів.

[2015-04-22 12:48] maksimmaksimov commented on #260
У нас проверка выполняется в момент регистрации приглашенного пользователя, а не в момент отправки приглашения

[2015-04-22 12:49] maksimmaksimov commented on #261
Пользователю доступно изменение размеров данного окна, и соответственно пользователь не потерял возможность пользоваться данной функцией.

[2015-04-22 12:58] Mykhailo-Shtabaliuk-SoftServe commented on #260
@maksimmaksimov
Добре, тоді потрібно поправити текст повідомлення про помилку.
Також потрібно заборонити користувачеві з 1 людиною зазначеною в угоді надсилати запрошення.

[2015-04-22 13:02] Mykhailo-Shtabaliuk-SoftServe commented on #261
@maksimmaksimov Коли користувач починає працювати з вікном, йому доступний зправа знизу трикутник, який дозволяє змінювати розміри вікна.
На скріншоті в кроці 5 користувач немає можливості ним скористатись.

[2015-04-22 13:03] maksimmaksimov commented on #261
@Mykhailo-Shtabaliuk-SoftServe я данную ситуацию проверил в Opera, IE, FF и во всех браузерах я мог менять размер окна, в каком браузере у вас это получилось воспроизвести?

[2015-04-22 13:08] Mykhailo-Shtabaliuk-SoftServe commented on #261
@maksimmaksimov У браузері google chrome версія 42.0.2311.90 m

[2015-04-22 13:11] maksimmaksimov commented on #261
@Mykhailo-Shtabaliuk-SoftServe у меня идентичная версия браузера, и изменение размеров окна доступно
![000294](https://cloud.githubusercontent.com/assets/8382283/7275040/47732c4e-e90a-11e4-9742-9246dcfdbdb5.png)

[2015-04-22 13:14] Mykhailo-Shtabaliuk-SoftServe commented on #261
@maksimmaksimov у мому браузері все виглядає наступним чином:
![image](https://cloud.githubusercontent.com/assets/11783631/7275102/9d22274e-e90a-11e4-9b98-31040a9f9ed6.png)

[2015-04-22 13:20] maksimmaksimov commented on #261
Странно, уберем возможность менять размеры окна.

[2015-04-22 13:21] Mykhailo-Shtabaliuk-SoftServe commented on #261
@maksimmaksimov дякую, за розуміння

[2015-04-22 13:22] RudDaryna commented on #233
@w-be, у вказаній закупівлі були точно додані скарги?  Кнопка "Скарги" активна, перехід на картку перегляду скарг є, просто скарг немає.
![image](https://cloud.githubusercontent.com/assets/11630727/7275295/c6e7f2f6-e90b-11e4-8b2e-76366921cc56.png)

![image](https://cloud.githubusercontent.com/assets/11630727/7275273/96e1339c-e90b-11e4-88d4-bcce161c0257.png)

[2015-04-22 13:39] Mykhailo-Shtabaliuk-SoftServe opened #262 "Public-bid, Мій кабінет > Зміна Паролю. Залогований користувач, який незнає поточного паролю, може змінити пароль."
1. Залогуйтесь в систему за будь-якого існуючого користувача
2. Перейдіть в > Мій кабінет > Зміна паролю
3. В поле "Поточний пароль" введіть "  " - два пробіли
4. В поле "Новий пароль" введіть: Password2
5. В поле "Підтвердіть пароль" введіть: Password2
6. Натисніть кнопку змінити пароль

Очікуваний результат:
6. Користувачеві повинне з'явитись повідомлення про те що поточний пароль введено невірн

[2015-04-22 13:45] Mykhailo-Shtabaliuk-SoftServe opened #263 "Public-bid. Підтвердіть будь-ласка, що дане повідомлення про відсутність права на реєстрацію закупівлі реалізовано вірно."
1. Залогуйтесь в систему за користувача без ознаки держ реєстрації
2. Спробуйте створити закупівлю
   ![image](https://cloud.githubusercontent.com/assets/11783631/7275879/03b2a980-e90f-11e4-9139-0e17f35e5ffc.png)

[2015-04-22 13:47] RudDaryna commented on #263
все вірно

[2015-04-22 13:52] RudDaryna commented on #260
@Mykhailo-Shtabaliuk-SoftServe внесемо обмеження в систему для угод з вказаним 1 користувачем. В повідомлення внесемо зміни

[2015-04-22 14:07] Mykhailo-Shtabaliuk-SoftServe commented on #241
@maksimmaksimov дякую, перевірено. Закриваю.

[2015-04-22 14:07] #241 closed, assigned to nobody

[2015-04-22 14:16] Mykhailo-Shtabaliuk-SoftServe opened #264 "Public-bid, Період уточнень. Обговорення. Користувач який задав питання, не може завантажити файл, який був прикріплений до відповіді"
1. Перейдіть за посиланням та залогуйтесь в систему
2. Знайдіть закупівлю в періоді уточнень
3. Задайте запитання
4. Дайте відповідь користувачем, який створив закупівлю та прикріпіть файл
5. Попробуйте завантажити цей файл користувачем, який задав запитання

Очікуваний результат:
5. Повинна бути можливість завантажити файл, який є частиною відповіді
Фактичний результат:
5. Користувачеві відобража

[2015-04-22 14:24] Mykhailo-Shtabaliuk-SoftServe commented on #263
@RudDaryna дякую, закриваю.

[2015-04-22 14:24] #263 closed, assigned to nobody

[2015-04-22 14:27] maksimmaksimov commented on #215
@w-be чекбокс Ознака підтверження заменили на поле "Статус"

[2015-04-22 14:39] maksimmaksimov commented on #242
@Mykhailo-Shtabaliuk-SoftServe  т.к. у нас в системе уже реализовано удаление прикрепленных файлов при ответе на вопросы, если пользователь вдруг добавит 2+ раза один и тот же файл - он сможет без проблем его удалить.

[2015-04-22 14:49] Mykhailo-Shtabaliuk-SoftServe commented on #242
@maksimmaksimov згоден, реалізація можливості видаляти прикріплений файл, вирішила проблему. Закриваю.

[2015-04-22 14:49] #242 closed, assigned to nobody

[2015-04-23 08:44] w-be opened #265 "Publick-bid. IE10. Контроли трошки не на місці."
IE v. 10.0.9200.17267

На 11 версії все ок.
![image](https://cloud.githubusercontent.com/assets/11888281/7293383/54a4cbfe-e9ad-11e4-8c68-cc92e1428e67.png)

Зараз на 10 ІЕ все виглядає практично, як і на 11.
Питання більше чи взагалі 10 ІЕ підтримується?

[2015-04-23 09:07] w-be commented on #215
Перевірив, працює.

[2015-04-23 09:07] #215 closed, assigned to nobody

[2015-04-23 09:33] #211 closed, assigned to nobody

[2015-04-23 09:53] Mykhailo-Shtabaliuk-SoftServe opened #266 "Public-bid, Сторінка авторизації. Невірний текст у повідомленні про помилку, при введені коректної електронної адреси та некоректного паролю."
1. Перейдіть по посиланню https://public-bid.com.ua/
2. Натисніть на контрол Реєстрація/Вхід
3. Введіть адресу яка не зареєстрована у Public Bid та будь-який пароль
4. Натисніть кнопку Вхід, результат зображено на скріншоті
   ![image](https://cloud.githubusercontent.com/assets/11783631/7294524/cc3214e8-e9b6-11e4-92e4-45d3d7933a1f.png)
5. Введіть на цей раз коректну (зареєстровану адресу у Public

[2015-04-23 11:24] MaryanaDemtsyukh-SoftServe opened #267 "[Public-bid] Частина інформації залишається не відображеною після зменшення розміру вікна браузера"
Кроки для відтворення:
1. Перейти за гіперпосиланням https://public-bid.com.ua/
2. Перейти на Реєстрацію/Вхід
3. Вибрати "Я новий користувач"
4. Заповнити всі обов'якові поля валідними даними
5. Поставити галочку "Я згоден з умовами угоди..."
6. Перейти Далі
-> користувач знаходиться на сторінці "Картка організації"
7. Заповнити поле "ЄДРПОУ" валідним значенням (напр.0), яке вже збережене системою

[2015-04-23 12:33] w-be opened #268 "Publick-bid. Навігація по формах не враховує попередній стан."
користувач: bi.viktorqc@gmail.com / qwertyu1
1. Залогуйтися
2. Натисніть Тестові
3. Натисніть на 2-гу сторінку
4. Розгорніть закупівлю UA-2015-04-23-000018
5. Натисніть Обговорення
6. Натисніть Відмінити

Очікуваний результат:
Користувач потрапляє на крок назад в навігації - на картку закупівлі.

Фактичний результат:
Користувач потрапляє на головну сторінку. Фільтрація та сортування та розгорнуті

[2015-04-23 13:16] Mykhailo-Shtabaliuk-SoftServe opened #269 "Public-bid, Відновлення паролю. Приходить лист з некоректною лінкою, користувач не в змозі відновити пароль"
1. Зареєструйте користувача на https://public-bid.com.ua
2. Перейдіть на сторінку відновлення пароля, та введіть емейл зареєстрованого користувача
3. Натисніть Відновити пароль

Очікуваний результат:
3. Лист на пошті, з посиланням на відновлення паролю

Фактичний результат:
3. Лист містить некоректне посилання на відновлення паролю.
![image](https://cloud.githubusercontent.com/assets/11783631/7297

[2015-04-23 13:33] Mykhailo-Shtabaliuk-SoftServe opened #270 "Public-bid, Мій кабінет. Функція "Видалити мене з системи" працює некоректно"
1. Залогуйтесь в систему https://public-bid.com.ua/
2. Перейдіть в > Мій кабінет
3. Натисніть видалити мене з системи
4. Натисніть кнопку підтвердження "Видалити"

Очікуваний результат:
4. Користувач вилогований і більше не може залогуватись в систему. - базується на повідомленні з яким погодився користувач, текст повідомлення: "Ви дійсно бажаєте видалити свій обліковий запис з Public bid без можл

[2015-04-23 13:38] maksimmaksimov commented on #266
@Mykhailo-Shtabaliuk-SoftServe данное поведение системы абсолютно корректное. Просьба закрыть это замечание - в сообщении сказано, что неверный логин или пароль.

[2015-04-23 13:42] maksimmaksimov commented on #268
@w-be в данном случае ожидаемый результат не должен быть таким, как он указан. Почему должна открываться карточка закупки, если она не была открыта?

[2015-04-23 13:42] maksimmaksimov commented on #269
Ошибка известна, ведутся работы по исправлению.

[2015-04-23 13:43] Mykhailo-Shtabaliuk-SoftServe opened #271 "Public-bid, Реєстрація угоди. Тултіпи містять некоректні символи"
1. Перейдіть по силанню https://public-bid.com.ua/
2. Натисніть контрол Реєстрація/ Вхід
3. Натисніть Я новий користувач
4. Натисніть на дропдаун Тип угоди, та навігуйте курсор миші на кожен тип договороу зокрема

Очікуваний результат:
4. Спливаючі повідомлення без "<br>" - тегів
![image](https://cloud.githubusercontent.com/assets/11783631/7298361/c3b8ebfe-e9d7-11e4-822d-e6b2c13445c2.png)

Фактичн

[2015-04-23 13:45] maksimmaksimov commented on #270
@Mykhailo-Shtabaliuk-SoftServe а почему вы считаете, что пользователю выдается сообщение с некорректным текстом? У вас есть требование/спецификация/техническое задание, в котором сказано, какое должно быть сообщение? По-моему сообщение не является некорректным.

[2015-04-23 13:49] Mykhailo-Shtabaliuk-SoftServe commented on #266
@maksimmaksimov добре, оскільки ви підтвреджуєте, що дане повідомлення коректне, тоді закриваю.

[2015-04-23 13:49] #266 closed, assigned to nobody

[2015-04-23 13:56] maksimmaksimov commented on #270
Дополню так же, что пользователь фактически не удаляется из системы, ему только присваивается признак удаления. Так же, сообщение, которое появляется сейчас, полностью соответствует требованиям к системе.

[2015-04-23 14:09] Mykhailo-Shtabaliuk-SoftServe commented on #270
@maksimmaksimov Тому що коли користувач намагався видалитись, я очікував, що він буде вилогованим. Ні у мене немає, вимог та специфікацій.
Мене бентежить той факт, що після того, як користувач підтверджує своє бажання бути видаленим, він одразу ж бачить, що його обманули і залишили просто неактивним.
Варто проінформувати користувача, при процедурі видалення, що він не буде видаленим, а тільки пере

[2015-04-23 14:43] w-be commented on #268
@maksimmaksimov Під карткою закупівлі я мав наувазі розгорнуту закупівлю, в пофільтрованому та посортованому списку закупівель.
В принцепі така поведінка, як реалізована є нормальню. Ця поведінка є не оптимальною з точки зору зручності для користувача.Тобто:
- якщо переглядається 1 закупівля то можна відкрити деталі і все зручно подивитись: обговорення, скарги, результати.
- Але якщо користувач пр

[2015-04-23 15:00] Mykhailo-Shtabaliuk-SoftServe opened #272 "Public-bid, Неможливо змінити поточний пароль, на пароль зі спец символами"
1. Залогуйтесь за зареєстрованого користувача https://public-bid.com.ua/
2. Зайдіть в Мій кабінет
3. Перейдіть на сторінку зміни паролю
4. В поле поточний пароль введіть поточний пароль
5. В поле Новий пароль введіть: "Password!"
6. В поле Підтвердження паролю введіть: "Password!"
7. Натисніть кнопку Змінити пароль

Очікуваний результат:
7. Пароль залогованого користувача повинен бути змінений на

[2015-04-23 15:46] Mykhailo-Shtabaliuk-SoftServe opened #273 "Public-bid, Некоректна поведінка курсора при реєстрації угоди у полі "Прізвище, ім'я та по батькові*" (відтворюється тільки у Google Chrome Версія 42.0.2311.90 m)"
1. Перейдіть за посиланням https://public-bid.com.ua/
2. Натисніть контрол Реєстрація/Вхід
3. Введіть в поле  "Прізвище, ім'я та по батькові*": "Прфзвищкнко Іменюк Батькович"
4. Навігуючи стрілками клавіатури спробуйте змінити введене на "Прізвищенко Іменюк Батькович"

Очікуваний результат:
4. Курсор не повертається на в крайнє ліве положення після введення тексту
Фактичний результат:
4. При спроб

[2015-04-23 15:53] Mykhailo-Shtabaliuk-SoftServe opened #274 "Public-bid, Реєстрація угоди. Підтвердіть будь-ласка що повідомлення про помилку містить коректний текст."
1. Перейдіть за посиланням https://public-bid.com.ua/
2. Натисніть контрол Реєстрація/Вхід
3. В поле Прізвище, ім'я та по батькові\* введіть: "!"
4. Підтвердіть згоду з умовами угоди використання сервісу та натисніть Далі

Очікуваний результат:
4. Біля поля Прізвище, ім'я та по батькові\* з'явиться повідомлення про те, що Невірний формат поля
Фактичний результат:
4. Повідомлення з текстом: "Невірн

[2015-04-23 16:00] maksimmaksimov commented on #270
Я имел в виду сообщение со второго скриншота, а то, что пользователь остается авторизован - это ошибка, и её исправят.

[2015-04-23 16:01] maksimmaksimov commented on #268
@w-be розгорнута закупівля и карточка закупки - это совсем разные вещи в ситеме.

[2015-04-23 16:02] maksimmaksimov commented on #274
абсолютно корректный текст

[2015-04-23 16:04] Mykhailo-Shtabaliuk-SoftServe commented on #273
Така ж ситуація для всіх текстових полів на формі зображеній нижче
![image](https://cloud.githubusercontent.com/assets/11783631/7301438/58e29a50-e9eb-11e4-873f-c149edbeb8b1.png)

[2015-04-23 16:06] Mykhailo-Shtabaliuk-SoftServe commented on #274
@maksimmaksimov дякую, закриваю.

[2015-04-23 16:06] #274 closed, assigned to nobody

[2015-04-23 16:07] maksimmaksimov commented on #273
@Mykhailo-Shtabaliuk-SoftServe в принципе пользователь, если захочет что-то поменять в поле, он будет пользоваться backspace'ом, и ему не будет необходимости переводить курсор влево. Добавим эту ошибку на исправление на будущее

[2015-04-24 06:35] maksimmaksimov commented on #262
Исправлена, просьба проверить.

[2015-04-24 06:36] maksimmaksimov commented on #257
Исправлена, просьба проверить.

[2015-04-24 06:37] maksimmaksimov commented on #251
Исправлена, просьба проверить.

[2015-04-24 06:38] maksimmaksimov commented on #246
Исправлена, просьба проверить

[2015-04-24 07:02] maksimmaksimov commented on #256
Ошибка исправлена

[2015-04-24 07:24] Mykhailo-Shtabaliuk-SoftServe commented on #262
Перевірено, тепер система не пропускає два пробіли замість поточного паролю. Закриваю.

[2015-04-24 07:24] #262 closed, assigned to nobody

[2015-04-24 07:27] Mykhailo-Shtabaliuk-SoftServe commented on #257
Перевірено. Закриваю.

[2015-04-24 07:27] #257 closed, assigned to nobody

[2015-04-24 07:29] Mykhailo-Shtabaliuk-SoftServe commented on #251
Перевірено. Закриваю.

[2015-04-24 07:29] #251 closed, assigned to nobody

[2015-04-24 07:59] MaryanaDemtsyukh-SoftServe opened #275 "[Public-bid] [Реєстрація] Значення "Ознаки державної реєстрації" відображені булівським типом даних"
Веб-браузер: Google Chrome v.42.0.2311.90
                       Mozilla Firefox 37.0.2
Кроки для відтворення:
1. Відкрити гіперпосилання public-bid.com.ua
2. Перейти до Реєстрації
3. Заповнити форму Реєстрація угоди валідними даними
4. Перейти Далі
5. В поле ЄДРПОУ ввести значення (напр. "4")
-> відображається діалог з кодами ЄДРПОУ

Фактичний результат: Дані в колонці Ознака державної реєстрації

[2015-04-24 08:30] Mykhailo-Shtabaliuk-SoftServe commented on #246
Перевірено. Закриваю.

[2015-04-24 08:30] #246 closed, assigned to nobody

[2015-04-24 08:37] MaryanaDemtsyukh-SoftServe opened #276 "[Public-bid] [Реєстрація] Користувач не може ввести повну адресу так як поле "Деталізація адреси організації" приймає тільки 5 символів"
Веб-браузер: Google Chrome v.42.0.2311.90; Mozilla Firefox 37.0.2
Кроки для відтворення:
1. Відкрити гіперпосилання public-bid.com.ua
2. Перейти до Реєстрації
3. Заповнити форму Реєстрація угоди валідними даними
4. Перейти Далі
5. Ввести дані в поле "Деталізація адреси організації"

Фактичний результат: користувач не може ввести повну адресу так як поле "Деталізація адреси організації" приймає тіл

[2015-04-24 09:41] MaryanaDemtsyukh-SoftServe opened #277 "[Public-bid] [Реєстрація] Після введення неправильного ключа доступу користувач повертається на головну сторінку майданчика"
Веб-браузер: Google Chrome v.42.0.2311.90; Mozilla Firefox 37.0.2
Кроки для відтворення:
1. Відкрити гіперпосилання public-bid.com.ua
2. Перейти до Реєстрації
3. Заповнити форму Реєстрація угоди валідними даними
4. Перейти Далі
5. Заповнити форму Картка реєстрації валідними даними
-> на вказану пошту адресу приходить мейл з ключем доступу
6. Перейти за гіперпосиланням "продовження реєстрації", яке

[2015-04-24 09:42] Mykhailo-Shtabaliuk-SoftServe commented on #256
Перевірено. Закриваю.

[2015-04-24 09:42] #256 closed, assigned to nobody

[2015-04-24 09:43] maksimmaksimov commented on #267
@MaryanaDemtsyukh-SoftServe в принципе, необходимая информация об организации присутствует в выпадающем списке, не влазит только адрес организации, но его можно посмотреть, воспользовавшись прокруткой:
![000302](https://cloud.githubusercontent.com/assets/8382283/7316420/8b949086-ea7f-11e4-91af-0918297d6e19.png)

[2015-04-24 10:06] MaryanaDemtsyukh-SoftServe commented on #267
Так, зараз є можливість скористатись горизонтальним скролбаром.
Також є можливість переглянути адресу, однак дуже довгі адреси залишаються "обрізаними" і не переносяться в наступний рядок:
![default](https://cloud.githubusercontent.com/assets/11995699/7316779/9bb03e86-ea82-11e4-8ca6-6f62e8f8ec92.png)

[2015-04-24 10:09] maksimmaksimov commented on #267
Обратите, пожалуйста, внимание, что это тестовые данные и адрес написан одним словом, в котором содержится 100+ символов без (!) пробелов - не думаю что в реальной жизни существуют подобные адреса. А значения с пробелами отображаются корректно в данном выпадающем списке.

[2015-04-24 10:46] Mykhailo-Shtabaliuk-SoftServe opened #278 "Public-bid, Мій кабінет, Зміна паролю. Користувач більше не може встановити пароль довжиною у 8 символів."
1. Залогуйтесь за існуючого користувача у систему https://public-bid.com.ua/
2. Зайдіть в Мій кабінет
3. Перейдіть на функцію Змінити пароль
4. Введіть в поле Поточний пароль: поточний пароль коректний
5. Введіть в поле Новий пароль: "Passwor1" - 8 символів
6. Введіть в поле Підтвердження паролю: "Passwor1" - 8 символів
7. Натисніть кнопку Змінити пароль

Очікуваний результат:
7. Пароль користувач

[2015-04-24 10:48] Mykhailo-Shtabaliuk-SoftServe commented on #278
Якщо користувач існував з паролем у 8 символів при авторизації, він отримує повідомлення, яке є також некоректним.
![image](https://cloud.githubusercontent.com/assets/11783631/7317350/8bf18472-ea88-11e4-97b7-b268268c585f.png)

[2015-04-24 10:51] MaryanaDemtsyukh-SoftServe commented on #267
Перевірено з іншими тестовими даними. Проблема ліквідована.

[2015-04-24 10:51] #267 closed, assigned to nobody

[2015-04-24 10:57] Mykhailo-Shtabaliuk-SoftServe commented on #278
Неможливо залогуватись в систему за адміністратора, оскільки він має пароль довжиною у три символи
![image](https://cloud.githubusercontent.com/assets/11783631/7317474/d6d75e8e-ea89-11e4-8b5a-6b5c8fdf3b01.png)

[2015-04-24 11:05] Mykhailo-Shtabaliuk-SoftServe opened #279 "Public-bid. Період уточнень закупівлі. Файли прикріплені до відповіді не підсвічуються, а виглядають як простий текст."
1. Перейдіть по посиланню https://public-bid.com.ua
2. Знайдіть закупівлю UA-2015-04-24-000023
3. Перейдіть до обговорень

Очікуваний результат:
3. Назви прикріплених файлів відрізняються від звичайного тексту

Фактичний результат:
3. Вигляд прикріплених файлів такий самий, як і звичний текст і користувач може помилково не зауважити, що там міститься посилання на файл.
![image](https://cloud.githu

[2015-04-24 11:21] w-be opened #280 "Public-bid. Відновленя паролю. приходить 2 листа замість 1."
користувач vbilos@softserveinc.com
1. Зайдіть на public-bid
2. Натисніть Реєстрація/Вхід
3. Натисніть Відновити пароль
4. Введіть свою електронну адресу
5. Перевіряйте свою електрону адресу напротязі приблизно 10 хв

Очікувано: 1 лист з посиланням встановленя нового паролю

Фактично: 2 листа з однаковим вмістом. 2 приходить через 7хв після першого.
![image](https://cloud.githubusercontent.com/asse

[2015-04-24 11:27] maksimmaksimov commented on #278
Ошибка, относительно смены пароля в моем кабинете уже была заведена здесь https://github.com/openprocurement/frontend/issues/278

[2015-04-24 11:52] maksimmaksimov commented on #278
Ошибки исправлены, просьба проверить.

[2015-04-24 11:53] maksimmaksimov commented on #280
Просьба проверить данную ситуацию повторно, сегодня приблизительно в это же время, как вы получили сообщения, проводились работы в системе.

[2015-04-24 11:54] Mykhailo-Shtabaliuk-SoftServe commented on #278
Перевірно. Закриваю.

[2015-04-24 11:54] #278 closed, assigned to nobody

[2015-04-24 12:04] maksimmaksimov commented on #276
Исправлена, просьба проверить.

[2015-04-24 12:05] maksimmaksimov commented on #271
Исправлена, просьба проверить.

[2015-04-24 12:06] maksimmaksimov commented on #270
Исправлено удаление пользователя. Просьба проверить.

[2015-04-24 12:11] maksimmaksimov commented on #213
@Mykhailo-Shtabaliuk-SoftServe Если вкладка была закрыта, а потом снова открыта - пользователь остается залогиненым и его сессия хранится 30 минут. Т.е. данное поведение считается корректным.

[2015-04-24 12:12] Mykhailo-Shtabaliuk-SoftServe commented on #271
Перевірено. Закриваю.

[2015-04-24 12:12] #271 closed, assigned to nobody

[2015-04-24 12:18] maksimmaksimov commented on #255
Исправлено, просьба проверить.

[2015-04-24 12:19] maksimmaksimov commented on #252
Исправлено, просьба проверить

[2015-04-24 12:22] maksimmaksimov commented on #269
Ссылку поправили, просьба проверить.

[2015-04-24 12:23] maksimmaksimov commented on #258
Исправлено.

[2015-04-24 12:27] Mykhailo-Shtabaliuk-SoftServe commented on #270
Перевірено, тепер користувач при видаленні себе автоматично вилоговується з системи.
Під час процедури видалення у повідомленні пише, що користувача буде видалено з системи, а при спробі залогуватись користувач розуміє, що він не видалений, а тільки залишився без діючих договорів.

[2015-04-24 12:40] MaryanaDemtsyukh-SoftServe commented on #276
Перевірено. Дефект виправлено.

[2015-04-24 12:40] #276 closed, assigned to nobody

[2015-04-24 12:40] Mykhailo-Shtabaliuk-SoftServe commented on #213
@maksimmaksimov дякую за відповідь. Поведінка залишається некоректною при наступному сценарії:
1. Залогуйтесь в систему https://public-bid.com.ua/
2. Відкрийте в цьому ж браузері ще одну вкладку та перейдіть за посиланням https://public-bid.com.ua/
Очікуваний результат:
2. В правому верхньому куті користувач буде бачити свої дані, та контрол на вихід з системи
Фактичний результат:
2. Користувач ба

[2015-04-24 12:45] Mykhailo-Shtabaliuk-SoftServe commented on #255
Перевірено. Закриваю.

[2015-04-24 12:45] #255 closed, assigned to nobody

[2015-04-24 12:47] maksimmaksimov commented on #213
@Mykhailo-Shtabaliuk-SoftServe  не совсем так. В системе реализованы 2 страницы:
1) public-bid.com.ua
2) public-bid.com.ua/user (личный кабинет)
Первая доступна всем пользователям, вторая доступна только зарегистрированным пользователям. И если вы перейдете не по ссылке public-bid.com.ua, а по ссылке public-bid.com.ua/user - вы попадете в личный кабинет.
Т.е. данное поведение не является некоррект

[2015-04-24 12:51] Mykhailo-Shtabaliuk-SoftServe commented on #252
@maksimmaksimov Перевірено, тепер поле пропускає тільки 5 символів. Але досі пропускає не тільки цифри.
![image](https://cloud.githubusercontent.com/assets/11783631/7318960/c1e78f34-ea99-11e4-80eb-0d65c27cdbda.png)

[2015-04-24 12:58] maksimmaksimov commented on #252
Принято, в требованиях к системе не было предусмотрено никакой защиты от дурака в данном поле. Добавим.

[2015-04-24 13:10] maksimmaksimov commented on #237
Исправлено.

[2015-04-24 13:11] Mykhailo-Shtabaliuk-SoftServe commented on #213
@maksimmaksimov ці дві сторінки пересікаються, між собою і можуть заплутати користувача з наступним сценарієм:
1. Залогуйтесь в систему https://public-bid.com.ua за користувача з:
логіном: misha.a@meta.ua
паролем: Password1
2. Відкрийте ще одну вкладку в межах браузера та введіть https://public-bid.com.ua
3. На новій відкритій вкладці, Натисніть контрол Закупівлі
4. Натисніть кнопку Нова закупівля

[2015-04-24 13:12] maksimmaksimov commented on #270
Данное поведение считаем корректным. Согласно требований к системе, пользователь физически не удаляется из БД. Данное сообщение пользователю считаем корректным.

[2015-04-24 13:19] maksimmaksimov commented on #213
Пользователь пытается не из личного кабинета создать закупку. То что кнопка "Нова закупівля" доступна на странице public-bid.com.ua - является некорректным. Уберем.

[2015-04-24 13:29] Mykhailo-Shtabaliuk-SoftServe commented on #270
@maksimmaksimov добре, дякую за розяснення. Закриваю.

[2015-04-24 13:29] #270 closed, assigned to nobody

[2015-04-24 13:32] Mykhailo-Shtabaliuk-SoftServe commented on #213
@maksimmaksimov також хочу звернути увагу, що там присутній фільтр Мої закупівлі, також варто забрати.
![image](https://cloud.githubusercontent.com/assets/11783631/7319605/5a9bf6d4-ea9f-11e4-9e14-15bcc44c8ee2.png)

[2015-04-24 13:32] maksimmaksimov commented on #213
Принято

[2015-04-24 13:53] maksimmaksimov commented on #254
Исправлена

[2015-04-24 14:21] Mykhailo-Shtabaliuk-SoftServe commented on #269
Перевірено. Тепер лист приходить з коректною лінкою та є можливість змінити пароль. Закриваю.

[2015-04-24 14:21] #269 closed, assigned to nobody

[2015-04-24 14:30] Mykhailo-Shtabaliuk-SoftServe opened #281 "Public-bid, При повторному переході по посиланні відновлення паролю, користувач переадресований на сторінку з неповним контентом."
1. Надішліть запит на відновлення паролю існуючого користувача системи https://public-bid.com.ua/
2. Перейдіть по посиланню відновлення паролю, та змініть його на інший
3. Перейдіть повторно по посиланню відновлення паролю

Очікуваний результат:
3. Користувач буде повідомлений, що дана лінка відновлення паролю вже неактивна
Фактичний результат:
3. Користувач переадресований на сторінку з неповним

[2015-04-24 14:31] Mykhailo-Shtabaliuk-SoftServe commented on #258
Перевірено, тепер текст виглядає коректно "Новий пароль та підтвердження не співпадають." Закриваю.

[2015-04-24 14:31] #258 closed, assigned to nobody

[2015-04-24 14:37] Mykhailo-Shtabaliuk-SoftServe opened #282 "Public-bid, Створення закупівлі. Некоректне текстове повідомлення для поля кількість."
1. Залогуйтесь за користувача з правом створювати закупівлі в систему https://public-bid.com.ua/
2. Перейдіть на форму створення закупівлі
3. Заповніть всі поля окрім поля кількість валідними даними
4. В поле кількість введіть: 0 - нуль
5. Натисніть кнопку Зберегти

Очікуваний результат:
5. Користувач повинен бути повідомлений, що поле не може містити нульове значення

Фактичний результат:
5. Кори

[2015-04-24 14:47] Mykhailo-Shtabaliuk-SoftServe commented on #237
Перевірено. Закриваю.

[2015-04-24 14:47] #237 closed, assigned to nobody

[2015-04-24 14:54] maksimmaksimov commented on #282
Принято, ошибка известна (ранее была исправлена, но снова воспроизводится). В поле "Кількість" должна быть возможность ввода дробных значений (разделитель "точка"). Исправим.

[2015-04-27 06:42] maksimmaksimov commented on #264
Ошибка исправлена, проверить можно будет только на новых вопросах.

[2015-04-27 07:10] maksimmaksimov commented on #247
Изменили поведение при раскрытии информации об угоде, теперь одновременно может быть раскрыта информация только по одной угоде.

[2015-04-27 07:19] maksimmaksimov commented on #282
Ошибка исправлена.

[2015-04-27 07:21] maksimmaksimov commented on #279
Замечание исправлено.

[2015-04-27 07:52] Mykhailo-Shtabaliuk-SoftServe commented on #254
@maksimmaksimov
1. Незрозуміло, чому статус організації "Неактивний", можливо варто замінити на "Не підтверджений" адміністратором
2. Ознака державної реєстрації відображається як "true" можливо варто замінити на чекбокс чи на "Присутня" "Відсутня".
![image](https://cloud.githubusercontent.com/assets/11783631/7343417/1884ffd4-ecca-11e4-9e7b-e969169e45e7.png)

[2015-04-27 07:59] Mykhailo-Shtabaliuk-SoftServe opened #283 "Public-bid, Підтвердіть будь-ласка, що наступні поля відображаються вірно."
1. Зарєструйте нову організацію на ресурсі https://public-bid.com.ua/
2. Залогуйтесь куратором організації
3. Зайдіть в Мій кабінет та натисніть на Мої організації

Фактичний результат:
3. Вміст полів: "Повна назва організації", "Скорочена назва організації" та "Деталізація адреси організації" змінився на записи верхнім регістром.
![image](https://cloud.githubusercontent.com/assets/11783631/734363

[2015-04-27 08:15] maksimmaksimov commented on #283
Значения перечисленных полей не должны переводиться в верхний регистр. Ошибку исправим.

[2015-04-27 08:34] maksimmaksimov commented on #254
@Mykhailo-Shtabaliuk-SoftServe статус организации "Неактивний" устанавливается до того момента, пока пользователь не подтвердит регистрацию, как только пользователь подтвердил регистрацию, статус организации меняется на "Тимчасова".
По поводу true/false внесем изменения.

[2015-04-27 08:38] Mykhailo-Shtabaliuk-SoftServe commented on #247
Перевірено. Закриваю.

[2015-04-27 08:38] #247 closed, assigned to nobody

[2015-04-27 08:52] Mykhailo-Shtabaliuk-SoftServe opened #284 "Public-bid, Підтвердіть будь-ласка, що дане повідомлення для запрошеного користувача вірне."
1. Запросіть користувача куратором організації.
2. Перейдіть за посиланням з листа
3. Заповніть всі поля валідними даними
4. Натисніть кнопку продовження реєстрації

Очікуваний результат:
4. Користувач буде повідомлений про те що йому надіслано лист з лінкою для встановлення паролю
Фактичний результат:
4. Користувач отримує повідомлення: "Вітаємо, реєстрацію завершено, бажаємо приємного користуван

[2015-04-27 09:01] MaryanaDemtsyukh-SoftServe opened #285 "[Public-bid] [Реєстрація закупівлі] Підтвердіть що додавання документу до закупівлі в блоці "Документація" є обов'язковим"

[2015-04-27 09:02] maksimmaksimov commented on #285
Да, согласно требований к системе, добавление документов обязательно.

[2015-04-27 09:03] MaryanaDemtsyukh-SoftServe commented on #285
Зрозуміло. Дякую за інформацію

[2015-04-27 09:03] #285 closed, assigned to nobody

[2015-04-27 09:13] maksimmaksimov commented on #261
@Mykhailo-Shtabaliuk-SoftServe убрали возможность менять размер окна.

[2015-04-27 09:21] maksimmaksimov commented on #284
@Mykhailo-Shtabaliuk-SoftServe нет, данного сообщения для приглашенного пользователя быть не должно. Вносим изменения в сообщения при регистрации, будет исправлено.

[2015-04-27 10:28] Mykhailo-Shtabaliuk-SoftServe commented on #261
Перевірено. Закриваю.

[2015-04-27 10:28] #261 closed, assigned to nobody

[2015-04-27 11:06] Mykhailo-Shtabaliuk-SoftServe opened #286 "Public-bid, Створення закупівлі. Інформація про організацію відображається не повністю"
1. Залогуйтесь в систему за користувача з можливістю створювати закупівлі
2. Перейдіть в мій кабінет на сторінку як показано на скріншоті
   ![image](https://cloud.githubusercontent.com/assets/11783631/7346368/3c1c8e0a-ece6-11e4-8cc6-910f406e7186.png)
3. Перейдіть на сторінку створення закупівлі
   ![image](https://cloud.githubusercontent.com/assets/11783631/7346393/7feb574c-ece6-11e4-831f-977e52d

[2015-04-27 11:15] maksimmaksimov commented on #227
Не получается повторить ошибку

[2015-04-27 11:52] Mykhailo-Shtabaliuk-SoftServe opened #287 "Public-bid, Як має поводитись система за умови, що куратор (засновник організації, укладач договору) запросив ще одну людину в договір. Потім видалився з системи?"
1. Залогуйтесь в систему користувачем з угодою де фігурує більше однієї людини в договорі
2. Запросіть ще одну людину в затверджену угоду
3. Залогуйтесь знову за куратора цієї ж угоди з двома людьми та видаліться з системи

Фактичний результат:
Залишилась діюча угода без куратора, проте засновник оргнаізації та куратор тепер відсутній, що повинно відбуватись ?
1. Чи повинен запрошений користувач м

[2015-04-27 11:54] w-be opened #288 "Public-bid. Вікно підтверженя пропозиції. Відсутьна назва вікна та знак питання вкінці речення."
![image](https://cloud.githubusercontent.com/assets/11888281/7346842/074ca2c8-eceb-11e4-80b0-e617556dd9b5.png)
1. Знаходим закупівлю в статусі період прийому пропозицій.
2. Відкриваєм закупівлю
3. Заповняєм всі обов"язкові поля
4. Натискаємо Зареєструвати пропозицію

Очікувано:
а) В кінці запитання знак "?"
б) Вікно запитання має заголовок

Фактично:
а) В кінці запитання немає знаку "?"
б) Вікно з

[2015-04-27 11:57] RudDaryna commented on #287
@Mykhailo-Shtabaliuk-SoftServe,
1) Повинен мати змогу діяти в рамках угоди
2) Ні, куратором автоматично його призначено не буде, за необхідності він зможе написати запит до адміністратора, який зможе переназначити куратора.

[2015-04-27 11:59] maksimmaksimov commented on #288
@w-be заголовка не будет. Знак вопроса добавим